[2020-09-08 14:28] HighwayofLife commented on #445
I have not. I'll give that a try. Thanks!

[2020-09-08 14:30] HighwayofLife commented on #194
Yes, thank you I will give that a try. The users don't exist when I am creating the automation for initial configuration, so it makes it so that every user has to log in before I can apply automation which is obviously not ideal. I think the group ID would be perfect if that works.

[2020-09-08 19:13] rawmind0 commented on #434
Hi @hyunsun . Issues replicated, PR #447 should fix it.

[2020-09-08 19:14] rawmind0 commented on #443
Issue replicated, PR #447 should fix it.

[2020-09-08 19:15] rawmind0 commented on #444
Issue replicated, PR #447 should fix it.

[2020-09-09 08:34] Dids opened #448 "[Feature Request] Support node templates for custom providers/node drivers"
I use Hetzner Cloud as my primary cloud provider, which has a lot of official support for Kubernetes, as well as community support for Rancher UI/node drivers for template creation.

While I can create custom node templates through Rancher itself, I cannot do it through Terraform, as the Rancher Terraform provider only supports specific cloud providers when creating node templates.

Would it be po

[2020-09-09 11:45] Jasper-Ben commented on #417
As mentioned in my last comment, I resolved it, seemingly by removing the variables from the modules. The whole transition was kinda messy though, so I am not sure that's what did the trick in the end. But it works for us now.

[2020-09-09 12:32] rawmind0 commented on #448
This topics was previously discussed at #105 . There is no technical problem here, but every single node driver uses its own config, then every single node driver should be coded on the provider. It's a question of hands and priorities.

We are more than happy to collaborate and accept PR adding or improving features. In fact, Hetzner Cloud support was proposed in this PR #216 but unfortunately th

[2020-09-09 13:19] rawmind0 commented on #436
@armsnyder , have you tried adding [`wait`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app#wait) argument to the rancher2_app definitions??

[2020-09-09 14:21] rawmind0 commented on #436
@armsnyder nevermind my previous comment, wait is true by default. I've take a look and it seems that at some point, apps may get "active" status for a moment before install, generating a race condition.

PR #447 contains a patch that made the app to wait until `installing` and then wait until `active` on create/update. It should address this issue.

[2020-09-09 14:23] rawmind0 commented on #442
Please, reopen issue if needed.

[2020-09-09 14:23] #442 closed, assigned to nobody

[2020-09-09 14:26] #348 closed, assigned to nobody

[2020-09-09 14:33] rawmind0 commented on #375
Please, reopen issue if needed.

[2020-09-09 14:33] #375 closed, assigned to nobody

[2020-09-10 09:55] #434 closed, assigned to rawmind0

[2020-09-10 09:55] #436 closed, assigned to rawmind0

[2020-09-10 09:55] #443 closed, assigned to rawmind0

[2020-09-10 09:55] #444 closed, assigned to rawmind0

[2020-09-10 17:51] ivanov-aleksander opened #449 "Fails convert AzureKubernetesServiceConfig.tags of type map[string]string"
Rancher version: 2.3.5
terraform provider version: 1.10.2

I am trying to use data resource for getting information about AKS `cluster.`

[code]

Terraform plan and apply fails with error:

[code]

Related to Rancher API schema v3/schemas/azureKubernetesServiceConfig :

[code]

Currenly cluster that i want to use in data resource has such AzureKubernetesServiceConfig.tags
[code]

gz#16860

[2020-09-10 18:09] ivanov-aleksander commented on #449
If i set empty array in tags terraform will work correctly.
But if i set simple string in tags
[code]
terraform will fails with error

[code]

[2020-09-10 18:13] ivanov-aleksander commented on #449
It is strange because cluster has the same tags in appliedSpec.genericEngineConfig.tags and rancher provider converts this tags correctly

[2020-09-10 21:23] dnoland1 opened #450 "Monitoring-operator app not upgraded when version is set to new value"
To reproduce:
1. On Rancher v2.4.8 with terraform-provider-rancher2 v1.10.2, enable cluster monitoring when deploying a cluster. Use version 0.1.1. Example:
[code]
2. Run `terraform apply`, note older version of monitoring is available and Rancher UI shows that an update is available.
3. Change `version = "0.1.2"` and then `terraform apply`

Go to System project, Apps. Note that `cluster-monitorin

[2020-09-11 08:09] m4ce opened #451 "rancher2_role_template global context"
Is it possible to add support for the `global` context in `rancher2_role_template`?

When using `rancher2_global_role_binding`, one is unable to use custom global roles templates.

[2020-09-11 08:27] rawmind0 commented on #450
The provider is using Rancher go api client, in that case, calling the cluster monitoring functions, [`ActionDisableMonitoring`, `ActionEditMonitoring` and/or `ActionEnableMonitoring`](https://github.com/rancher/types/blob/release/v2.4/client/management/v3/zz_generated_cluster.go#L150) , [resource_rancher2_cluster](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resourc

[2020-09-11 08:38] rawmind0 commented on #451
@m4ce this issue is duplicated by #370 . Please, use #370 for your comments about this topic.

[2020-09-11 08:38] #451 closed, assigned to rawmind0

[2020-09-11 08:39] rawmind0 commented on #370
This feature will be added soon to the provider

[2020-09-11 08:40] m4ce commented on #451
thanks @rawmind0 and sorry for the dup.

[2020-09-11 08:49] rawmind0 commented on #449
@ivanov-aleksander , it seems tags definition is not done fine in your tf file. The tag field is a terraform map `map[string]interface{}` not a []string. Have you tried to define tags like??

[code]

[2020-09-11 08:58] rawmind0 commented on #335
@slessardjr   , the tag argument is a terraform map, `map[string]interface{}`, the go field is a `map[string]string`, not a `[]string`. Conversions are done properly with `toMapInterface` and `toMapString`. How are you defining your tags?? Have you tried something like that??

[code]

[2020-09-11 09:05] rawmind0 commented on #148
Use existing keypair on AWS node_pool is not supported from Rncher2, https://forums.rancher.com/t/aws-keypairs-when-creating-host/7357

[2020-09-11 09:05] #148 closed, assigned to nobody

[2020-09-11 09:08] rawmind0 commented on #212
Please, reopen issue if needed.

[2020-09-11 09:08] #212 closed, assigned to nobody

[2020-09-11 09:17] #232 closed, assigned to nobody

[2020-09-11 09:27] rawmind0 commented on #347
Please, reopen issue if needed.

[2020-09-11 09:27] #347 closed, assigned to nobody

[2020-09-11 09:41] rawmind0 commented on #417
Agreed, tf upgrade is being messy. It seems `terraform 0.13upgrade` is not working fine when applied on nested modules.

Please, reopen issue if needed.

[2020-09-11 09:41] #417 closed, assigned to nobody

[2020-09-11 14:29] hijmen opened #452 "Set PodSecurityPolicy for System Project with terraform"
We are using Terraform to rollout Istio in the System project. We have restrictive PodSecurityPolicies enabled in our cluster. According to this page we need an 'unrestricted' podsecuritypolicy for the System project: https://rancher.com/docs/rancher/v2.x/en/cluster-admin/tools/istio/setup/enable-istio-in-cluster/enable-istio-with-psp/
Am I missing something, or is this not possible with the curre

[2020-09-11 17:26] slessardjr commented on #335
That is exactly how I'm making my tags, but they are not in the UI of Rancher nor do they show up in Azure AKS. When I check the state I saw that the tags aren't maps by list of string in the state file.

Is the conversion happening to []string that shows up in the state file?

[2020-09-13 15:08] m4ce opened #453 "Disable src/dst checks"
The node_template resource supports an amazon ec2 config. It would be great if we could get the ability to disable source/dst checks on the nodes provisioned by Rancher. A typical use case would be the submariner gateways. They do require src/dst checks to be disabled. One is unable to automate the whole workflow without this option.

[2020-09-13 17:39] m4ce opened #454 "CoreDNS configuration"
I am trying to figure out how to add stubdomains to coredns. I could use `kubernetes_config_map` resource but the issue is that the configmap itself already exists and would need to be imported first, which sucks.

Is there any way one can configure stubdomains in coredns via this provider?

[2020-09-13 18:13] spencergilbert commented on #454
https://rancher.com/docs/rke/latest/en/config-options/add-ons/dns/  has some information on for the RKE configuration around dns - but the provider is fairly limited: https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#dns

[2020-09-14 07:49] fad3t commented on #450
Same issue here, running Rancher 2.4.6 - with Rancher provider 1.10.0 and Terraform 0.13.2.

[2020-09-14 07:57] fad3t commented on #435
Hi, I'm having the same issue when upgrading the provider from 1.10.0 to 1.10.1 or 1.10.2. I tried multiple Terraform 0.13.x releases, same problem. Here's the corresponding cluster definition:
[code]

[2020-09-14 08:54] rawmind0 commented on #450
Rancher2 provider v1.10.0 is not upgrading monitoring properly. PR [409](https://github.com/rancher/terraform-provider-rancher2/pull/409/commits/7ea4e0df1a9e61914ee439e6f4815a320f1dee00) should address the issue, provider up to v1.10.1, v1.10.2 if Rancher v2.4.8

[2020-09-14 09:01] rawmind0 commented on #453
I think this feature is not supported on Rancher2, is it?? The feature should be added on Rancher2 before.

[2020-09-14 09:05] rawmind0 commented on #452
You'd need to [import the system project](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project#import) and set proper [pod_security_policy_template_id](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project#pod_security_policy_template_id)

[2020-09-14 09:52] ivanov-aleksander commented on #449
@rawmind0  cluster was created from Rancher API and I only want get info from terraform.
Related to Rancher API schema v3/schemas/azureKubernetesServiceConfig  tags are "array[string]" :

[code]

[2020-09-14 09:57] m4ce commented on #453
@rawmind0 - let me create a request for it. Will link this issue.

[2020-09-14 11:02] ivanov-aleksander commented on #449
@rawmind0  i use data resource. There is no tags in it

[code]

[2020-09-14 12:54] bentastic27 opened #455 "Cluster monitoring to its own resource"
A user is running into an issue where they create a storage class via addon and enable monitoring (with persistence) via the cluster resource. The problem here is that monitoring is enabled before the user addons are created so the volumes for monitoring never get created.

Putting monitoring on its own resource (like logging is) should make this easier to work around.

[2020-09-14 18:32] rawmind0 commented on #435
@fad3t , thanks for your example. Finally i could reproduce the issue.

Submitted PR #456 to fix it. Once merged, cutting new 1.10.3 release.

[2020-09-14 19:40] #435 closed, assigned to rawmind0

[2020-09-15 06:52] sadhugit commented on #339
Any updates on this RFE.

[2020-09-15 09:26] fad3t commented on #435
Great, thanks a lot @rawmind0 !

[2020-09-15 10:52] rawmind0 commented on #320
@wd , same comment for you. Could you please try setting `hostname-override = ""` to disable it??

[2020-09-15 18:30] ams0 opened #457 "AKS defaults to AvailabilitySet"
AKS clusters default to `AvailabilitySet` instead of the more modern `VirtualMachineScaleSets`. I can see that the request sent to Azure doesn't even contain the appropriate key

[code]

There should be a `type` for the `AgentPoolType` (https://docs.microsoft.com/en-us/rest/api/aks/agentpools/createorupdate#agentpooltype) property in the agentpool profile.

[2020-09-15 18:42] rawmind0 commented on #457
The provider is not doing Azure request, it's done by rancher. Have you tested this config using Rancher UI?? Is working on it?? I'm guessing that the issue should be opened on [Rancher](https://github.com/rancher/rancher)

[2020-09-15 18:45] ams0 commented on #457
Ah! Makes sense now, afaict, rancher still doesn’t do VMSS. Thanks, I’m wrapping my head around rancher+AKS, lots to learn still.

—-
Live long and prosper
________________________________
From: Raúl Sánchez <notifications@github.com>
Sent: Tuesday, September 15, 2020 8:42:43 PM
To: rancher/terraform-provider-rancher2 <terraform-provider-rancher2@noreply.github.com>
Cc: Alessandro Vozza <Alessandr

[2020-09-16 04:33] wd commented on #320
@rawmind0 No I can't. But I found that I can remove it from rancher UI by edit cluster in yaml.

[2020-09-16 13:56] m4ce opened #458 "Node pools labels not working"
Tried to use node pools labels and I see the label in the resource state. However, if I deploy instances in that node pool (changing quantity > 0), the deployed instances don't get the labels.

[2020-09-16 14:07] m4ce commented on #458
hm - maybe I should've used node_templates labels :/ ?

[2020-09-16 15:17] m4ce commented on #453
I temporarily hacked it using the node template userdata :/

[2020-09-16 15:23] m4ce commented on #458
indeed - closing this issue. Node labels have to be defined in the rancher2_node_template resource.

[2020-09-16 15:23] #458 closed, assigned to nobody

[2020-09-16 15:42] m4ce opened #459 "Node's hostname"
is it possible to default the node's custom name to the node's hostname? After deploying many nodes, they are all coming up with `ip-x.x.x.x` hostname rather than the required hostname.

If I look at the node's API, I see the followings:

[code]

Would it be possible to default `name` to `hostname`?

[2020-09-16 17:41] lots0logs opened #460 "Resources Using Data Resource Props Are Recreated On Every Plan/Apply"
The project_id argument for the two resources is sourced from a rancher2_project data resource. It worked fine with previous versions of the provider. This is a recent regression.

[code]

***cc:*** @rawmind0

[2020-09-17 00:22] ajureeruja commented on #429
I'm also experiencing this problem.

[2020-09-17 08:36] rawmind0 commented on #459
Afaik no, it's using the node hostname. You could try adding [userdata]( https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#userdata) to update the node hostname when deployed.

[2020-09-17 10:44] rawmind0 commented on #460
This doesn't seem a regression. Depending how the datasource and its dependencies are defined , this may be the expected [datasource behaviour](https://www.terraform.io/docs/configuration/data-sources.html#data-resource-behavior). Terraform advices that datasources are updated on refresh stage (before apply) unless using "known after apply" values on them. Your ff plan is saying `module.k8s_cluste

[2020-09-17 10:53] hijmen commented on #452
We spin up entire clusters (including istio) all the time with a single comand, so an import would require a manual action.

We fixed the issue by adding an extra rolebinding with an 'unrestricted' podsecuritypolicy to the serviceaccounts in the istio-system namespace on top of the restricted policy using the kubernetes provider:

[code]

[2020-09-17 10:55] #452 closed, assigned to rawmind0

[2020-09-17 11:24] m4ce commented on #459
We already set the hostname in the ec2 userdata. If you see above, `hostname` is set correctly. It's just that the aws cloud provider seems to be reporting nodeName as the PTR of the internal VPC ip address..

[2020-09-17 14:35] rawmind0 commented on #440
@ryanelliottsmith , as [`upgrade_strategy.drain`](https://github.com/rancher/types/blob/release/v2.4/client/management/v3/zz_generated_node_upgrade_strategy.go#L12) go struct is defined as bool with json:"drain,omitempty" yaml:"drain,omitempty" on Rancher API, `drain = false` is treated as empty value and it's omitted on API request when json is marshalled. This issue should be open on [Rancher](h

[2020-09-17 17:33] ppiccolo opened #461 "unable to use project catalog"
Hi,

if I try to install an app that use a project (and cluster too) catalog, i got the following error:

[code]

when i use the same catalog but installed as Global everything work as expected

[2020-09-17 18:01] rawmind0 commented on #461
Hi @ppiccolo , are you passing `catalog_name` properly for scoped catalogs?? https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app#catalog_name

[2020-09-17 19:01] ppiccolo commented on #461
...no sorry my bad 😅

[2020-09-17 19:01] #461 closed, assigned to nobody

[2020-09-18 06:34] HighwayofLife commented on #445
That worked great!!

[code]

[2020-09-18 06:34] #445 closed, assigned to rawmind0

[2020-09-18 06:35] HighwayofLife commented on #194
That worked great!!

[code]

[2020-09-19 00:41] lots0logs commented on #460
I will look at this again on Monday and let you know. Thanks!

[2020-09-21 20:21] lots0logs commented on #460
I think my conclusion is incorrect. IF there is a bug its not what I thought. I will open a new issue if needed once I get to the bottom of it.

[2020-09-21 22:02] jlamillan opened #462 "Implement support for Oracle Container Engine for Kubernetes (OKE) in Rancher TF Provider"
Support for provisioning Oracle Container Engine for Kubernetes via the [OKE cluster driver](https://github.com/rancher-plugins/kontainer-engine-driver-oke) has been added to Rancher [as of 2.4+](https://github.com/rancher/rancher/pull/26780).

This issue is to help track implementing the changes need to create/update/destroy OKE clusters with the terraform provider.

[2020-09-21 22:02] jlamillan commented on #462
_PR forthcoming._

[2020-09-22 08:51] tibuntu opened #464 "Suggestion: rancher2_app should be deleted if the installation fails"
When a rancher2_app resource is applied for the first time, but the installation fails within the default 10 minute timeout, the rancher2 provider throws an error like this:

`Error: [ERROR] waiting for app (p-7sxs7:someapp) to be created: timeout while waiting for state to become 'active' (last state: 'installing', timeout: 10m0s)`

Now after fixing the actual cause (E.g. a faulty docker image ta

[2020-09-22 15:05] caiconkhicon commented on #464
I have a same problem.
I would expect it to behave like the "default" behaviour of Terraform: when a resource is created unsuccessfully, it is still a part of the TF state, and marked as "tainted". Thus, when we run TF the next time, the resource would be recreated.

[2020-09-23 07:41] tibuntu opened #465 "rancher2_user: Add argument to force password change upon first login"
Title says it all. It would be awesome, if we could force our users to change their passwords upon first login.

This is an existing feature, if a user is created via the Rancher UI, but it doesn't exist for the rancher2_user resource.

Please let me know if I can provide more inputs for this idea.

[2020-09-23 08:15] m4ce commented on #454
@spencergilbert - I've created a feature request with them, see https://github.com/rancher/rke/issues/2236.

[2020-09-23 15:07] ppiccolo opened #466 "Suggestion: Automatically encode to base64 values for secret"
Hi,

I think that will be useful to automatically encode values of secret passed to data property of rancher2_secret resource.

Take in consideration the following resource creation, where ` each.value["values"]` is a map

[code]

[2020-09-23 15:45] rawmind0 commented on #466
Hi, have you tried using terraform `base64encode()` function on each.value on your resource definition??

[code]

[2020-09-23 16:39] ppiccolo commented on #466
Hi,

I think that this will not work because in my case `each.value["values"]` is a map like : `{key1: "value1", key2: "value2" }` and if I apply `base64encode`on it, I'll get the whole map (key and value) encoded.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/secret

[2020-09-23 21:14] HighwayofLife commented on #339
Following up on this RFE to check on the status.

[2020-09-23 21:26] rawmind0 commented on #466
The change you are suggesting is a breaking change, requiring a resource schema update.

If `each.value["values"]` is  a map, for sure you could iterate over it using terraform configuration lang and get key/value pairs.

[2020-09-23 21:41] rawmind0 commented on #339
Just curiosity, what is the use case?? K8s cluster cacert should be already included in the generated [kube_config](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/data-sources/cluster#kube_config)

[2020-09-23 21:54] HighwayofLife commented on #339
We usually have to generate our own `kube_config` for downstream clusters for 2 primary reasons:
1. We front the Kube API with an Azure Load Balancer, and there isn't currently an option to specify this IP or hostname in RKE (that I'm aware of). An additional reason we front this with a load balancer (accepting traffice over 443 and routing traffic to all master/kube-api nodes on port 6443) is bec

[2020-09-23 22:37] rawmind0 commented on #465
The feature is there,but if this is added as configurable argument into the provider, it would generate a tf diff when the user has changed the password. The password is not readable from the Rancher API and couldn't be updated on tfstate

[2020-09-23 22:51] rawmind0 commented on #339
Are you using custom or imported RKE clusters?? RKE doesn't have the option but Rancher provide this option using [cluster_auth_endpoint](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#cluster_auth_endpoint)

Cluster generated `kube_config` should add all k8s master nodes, rancher `system_url` and all configured `cluster_auth_endpoint` as kube context, not j

[2020-09-24 00:12] bgagnon opened #467 "Cannot clear rke_config.cloud_provider.openstack_config from Terraform"
Assuming this starting Terraform resource:

[code]

transitioning to:

[code]

the Terraform plan is as expected, clearing every field in `rke_config.cloud_provider.openstack_config`:

[code]

After the operation however, the API object on the Rancher side still contains the unmodified `openstack_cloud_provider` contents.

A subsequent `terraform plan` shows the exact same changes (except `cloud_p

[2020-09-24 00:47] bgagnon commented on #467
For reference, support for `external` cloud provider was added in #364 and resolved #319

[2020-09-24 08:09] david-maumenee commented on #429
Be aware that if you re-input the LDAP service account credentials in the UI into "Your Username" and "Your Password" after log in with the local admin, **this service account become the rancher admin**.

https://github.com/rancher/rancher/issues/27620

The Rancher API that perform this is https://my-rancher-dns-name/v3/activeDirectoryConfigs/activedirectory?action=testAndApply
It takes 4 paramete

[2020-09-24 13:56] david-maumenee commented on #223
In my team we want to create rolebinding in namespace just after it's created with rancher provider.
Every one can have specific needs and I think rancher provider's team can't provide all kubernetes provider feature.

The use of two differents provider seems to be mandatory.
But you can use Rancher credential to get your kubernetes cluster credential from a rancher datasource.

In this exemple we

[2020-09-25 00:31] armsnyder commented on #436
@rawmind0 I saw this happen again, using the latest provider version 1.10.3 with Rancher version 2.4.8 and Terraform v0.12.29. Can we re-open this please?

[code]

[2020-09-25 03:12] armsnyder commented on #436
This is happening consistently for me now, using provider 1.10.3 with Rancher 2.4.8. I turned on debug logging in case it helps. The one that finishes creation before finished installing is `rancher2_app.istio`. Note that some of the logs might be from other rancher2_app resources being created simultaneously.

[code]

[2020-09-25 04:37] HighwayofLife commented on #339
We're using custom RKE generated clusters, (not imported). I think we do use the cluster with endpoint. I'll have to double check.

I think this is the case when generating a cluster via Rancher, but an RKE generated cluster AFAIK requires the 6443 port on the first master node IP.

I'm uncertain I'm understanding this fully. RKE doesn't take Azure AD config, does it?

When generating clusters for

[2020-09-25 08:08] armsnyder commented on #436
Bug is also present in versions 1.10.2 and 1.10.1. I wonder if the problem is some change to the API in Rancher 2.4.8.

[2020-09-25 19:48] lots0logs commented on #460
@rawmind0 I have a hunch as to what could be the problem.

Here is the data source in question:
[code]

You are right that it is by design that Terraform is behaving this way since the value of the `cluster_id` argument comes from the output of another resource. I wonder if its really necessary to require providing the cluster id though? Could that data provider simply take the name argument simil

[2020-09-25 22:11] armsnyder commented on #436
I haven't figured out how to run the acctests myself, but I added some new debug logs to the refresh functions and applied my config again.

It looks like Rancher 2.4.8 is immediately responding to the app creation with transitioning=no and state=active, even though in the UI the app doesn't finish creating until much later.

This is using provider v1.10.3, with some added debug logs:

[code]

[2020-09-28 10:04] rawmind0 commented on #460
Nope, due to project is scoped within cluster. As mentioned, have you consider to use `rancher2_cluster.cluster.system_project_id` attribute instead of datasource??

[2020-09-28 10:08] rawmind0 commented on #436
@armsnyder , i guess that this is working fine on Rancher version previous than v2.4.8, isn't it?? If Rancher API is really havng this behaviour, the bug may be at Rancher an not at the provider. I'll do some tests during the week.

[2020-09-28 12:59] rawmind0 commented on #462
PR #463 already merged. Please, reopen issue if needed.

[2020-09-28 12:59] #462 closed, assigned to rawmind0

[2020-09-28 13:01] rawmind0 commented on #457
Please, reopen issue if needed.

[2020-09-28 13:01] #457 closed, assigned to rawmind0

[2020-09-28 13:41] rawmind0 commented on #464
What provider version are you using??  Provider should save and taint tf state with created app before wait for installed, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_app.go#L64

[2020-09-28 15:50] rawmind0 commented on #339
If you are using `cluster_auth_endpoint`, you shouldn't need to edit kube config server, and the k8s cluster should be available at `cluster_auth_endpoint`, not just at first master node IP:6443

As mentioned, RKE doesn't take Azure AD config but Rancher does it. Generated cluster kube config should use same user used by tf provider.

Anyway, PR #468 is adding new computed `ca_cert` to `rancher2_c

[2020-09-28 19:21] armsnyder commented on #436
@rawmind0 Thanks. Which issue should I follow for updates? Can we re-open this one or is there another one?

[2020-09-28 20:05] HighwayofLife commented on #339
I'll check with our Rancher reps to get a bit more detail on this and make sure we're using this correctly. Rancher auths against Github Enterprise, but our Rancher provisioned clusters are setting up OIDC configuration to use Azure AD, so I don't know how that detail affects this configuration.

Awesome, thanks!! 👍

[2020-09-29 13:28] MG2R opened #469 "rancher2_app with version specified results in error to create"
I'm trying to deploy filebeat from the elastic Helm v3 repo. The relevant Terraform code is:

[code]

If this is the first time the app is deployed (i.e. the app is created, not upgraded), I can't specify the `template_version`. If I do specify it, I get the following error during `terraform apply`:

[code]

If I don't specify `template_version`, the creation works perfectly. Once the app is creat

[2020-09-29 16:15] MG2R commented on #469
Further usage/testing seems to suggest that it's because I'm creating the app in the same run where I add the catalog. This means the catalog has not yet been synced by Rancher by the time Terraform tries to start the app. Is there a way to add a delay there?

[2020-09-29 18:53] rawmind0 commented on #469
Using rancher2_catalog `refresh` argument should force the catalog refresh and should address this, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/catalog#refresh

[2020-09-29 19:58] sriddell commented on #438
This may not be the same problem, but i ran into something similar upgrading to 1.9.0 or beyond.  I tracked it down to the api for  v1beta1.metrics.k8s.io not being ready, because no metrics-service pods were running.

In my rke_config, I just had

monitoring {
  provider = "metrics-server"
}

Before 1.9.0, the replicas default appeared to be 1.

After 1.9.0, the default replicas appeared to be 0.

[2020-09-30 17:14] rawmind0 commented on #436
@armsnyder , the issue is on Rancher not on the provider. Apps state is refreshing in a distinct way on Rancher 2.4.6 and above. It seems that this has introduced a regression  when using rancher api to manage apps.

By the moment, please follow the related Rancher issue, https://github.com/rancher/rancher/issues/25564

[2020-09-30 22:08] lots0logs commented on #460
Yes, thank you for that btw!

[2020-09-30 22:08] #460 closed, assigned to rawmind0

[2020-10-01 16:23] rawmind0 commented on #438
@sriddell , good catch, thanks. PR #468 contains a patch to address this issue, setting `replicas = 1` if monitoring enabled.

@rosskirkpat , could you please test it to check if address your issue??

[2020-10-01 17:41] rawmind0 commented on #464
Suggestion accepted and included on PR #468

[2020-10-01 17:51] mcmcghee commented on #438
I had the same issue weeks back and can confirm this is what fixed it for me as well.

[2020-10-01 23:55] #339 closed, assigned to nobody

[2020-10-01 23:56] #438 closed, assigned to rawmind0

[2020-10-01 23:56] #464 closed, assigned to nobody

[2020-10-02 06:43] caiconkhicon commented on #464
Thanks. I will test the latest version and give feedback asap

[2020-10-02 08:21] supercoolgreatcoder opened #470 "Cannot specify SSL certificate bundle for rancher2"
It's not possible to specify ssl certificate bundle when configuring rancher2. I was able to specify those successfully using the following command:
`docker run -d -p 80:80 -p 443:443 -v $SSL/cacerts.pem:/etc/rancher/ssl/cacerts.pem -v $SSL/private.key.pem:/etc/rancher/ssl/key.pem -v $SSL/domain.cert.pem:/etc/rancher/ssl/cert.pem rancher/rancher:latest`
Is there anything similar in terraform confi

[2020-10-02 09:27] rawmind0 commented on #470
`docker run -d -p 80:80 -p 443:443 -v $SSL/cacerts.pem:/etc/rancher/ssl/cacerts.pem -v $SSL/private.key.pem:/etc/rancher/ssl/key.pem -v $SSL/domain.cert.pem:/etc/rancher/ssl/cert.pem rancher/rancher:latest`
Is there anything similar in terraform configuration?

Rancher tls config should be specified on [Rancher installation](https://rancher.com/docs/rancher/v2.x/en/installation/). This provider is

[2020-10-02 09:57] MG2R commented on #469
Doh, looked over that option. Sorry

[2020-10-02 09:57] #469 closed, assigned to nobody

[2020-10-05 05:33] tibuntu commented on #465
@rawmind0 that makes sense! Should I create an issue for the rancher/rancher repo to provide a value for the Rancher API like `changedInitialPassword: true` or even some hash? If I am not mistaken, you are a maintainer of the rancher/rancher repo, right?

[2020-10-05 07:59] rawmind0 commented on #465
@tibuntu , the problem is not on Rancher API. Rancher API already provides a user bool argument to force the user password change, [MustChangePassword](https://github.com/rancher/types/blob/release/v2.4/client/management/v3/zz_generated_user.go#L40). The problem is on terraform provider if `MustChangePassword` is a configurable argument. What'd happens if you set `MustChangePassword = true` and th

[2020-10-05 11:47] wd opened #472 "external_urls for etcd not working"
I'm trying to setup a cluster with external etcd cluster, and create a cluster with configs bellow
[code]

then run the register command on a node
[code]

I'll get this error

[code]

Does the `rancher2_cluster` support `external_etcd`?

[2020-10-05 11:49] wd commented on #472
If I register a node with `-etcd` argument in the register command, i'll get this error ```Cluster can't have both internal and external etcd```.

[2020-10-06 20:19] gregsidelinger commented on #370
Any ETA on when this will be added?

[2020-10-07 17:55] #418 closed, assigned to nobody

[2020-10-07 18:15] Caspila opened #474 "Allow creation of new Microsoft Teams notifier"
Hello,

I was looking forward to the fix provided in Rancher v2.4 to have a built-in notifier that works with Microsoft Teams (https://github.com/rancher/rancher/issues/15802)

However, it doesn't seem to be possible to create this new notifier via Terraform. Following what seems to be the standard, {type}_config, I tried using both `teams_config` and `msteams_config` within a `rancher2_notifier`

[2020-10-07 18:22] rawmind0 commented on #474
Hello @Caspila , no, this config is not valid since MS teams notifier is not yet supported by this provider, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/notifier

Working to support it soon.

[2020-10-07 22:39] angeloudy opened #475 "Can't enable cloud_provider"
I was trying to get persistent volume working on my kubernetes cluster made the following update to my terraform template:
[code]

After I ran terraform apply, it tried to upgrade the first controller node and failed and stuck there and the whole cluster became unavailable. Is this something I can update or has to be set on first deploy?

[2020-10-08 07:43] rawmind0 commented on #475
Cloud provider is something that you can update, but some preparations should be done at the provider before, https://rancher.com/docs/rke/latest/en/config-options/cloud-providers/aws/ https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/cloud-providers/amazon/

Also, cloud provider config seems incorrect, you should define name argument and avoid `aws_cloud_provider` if it's

[2020-10-08 13:22] caiconkhicon commented on #465
@rawmind0 : Can we make this parameter being "ignore_changes"? I mean, I expect the same behavior as the `password` field. Even though I set password in TF code, later when I change it on Rancher, TF won't ask me to change it back. Anyway, I want to force a new user to change his password once.

[2020-10-09 00:40] angeloudy commented on #475
@rawmind0 I think your syntax is for `rke up`, while my one is for terraform template, according to https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#cloud_provider

[2020-10-09 00:56] rawmind0 commented on #475
The syntax is the same. The cloud_provider link you attached, shows that `cloud_provider` has the `name` argument.

[code]

[2020-10-09 08:46] David-VTUK opened #476 "Active Directory provider requires local login to function"
# Problem Description

When leveraging the `"rancher2_auth_config_activedirectory" "activedirectory"` resource, local login to re-apply the configured settings is required for AD authentication to work

# Steps to recreate

## Create a AD auth config resource:

[code]

## Apply the configuration

[code]

## Refresh the Rancher login page, logging in via AD is now presented as an option:

![image](

[2020-10-12 10:20] rawmind0 commented on #465
@caiconkhicon , with this scope, you could set `MustChangePassword` just once. `password` is not generating diff due to the password can't be get from the rancher API.

[2020-10-12 14:45] wonderhoss opened #477 "Timeout not configurable for rancher2_bootstrap resource"
I am trying to provision a rancher instance on Azure compute and then using the `rancher2_bootstrap` resource to configure it.

This works as expected except during the initial terraform apply, the `rancher2_bootstrap` creation times out before the Azure instance is ready.
Waiting a couple more minutes and then re-applying terraform results in the boostrap being completed successfully.

It doesn't

[2020-10-12 16:11] rawmind0 commented on #477
You could configure the number of retries of provider connection, https://registry.terraform.io/providers/rancher/rancher2/latest/docs#retries

Anyway, if you are using modules, the best way would be don't init the rancher2 provider until the required resource are up and running. For example, if other other modules are deploying vm's and k8s cluster, don't init rancher2 provider untile the k8s clu

[2020-10-12 18:48] wonderhoss commented on #477
Ah, I'm going to give `retries` a go. Thank you very much!

I'm not sure module dependencies would work here because the time is actually spent in node boot, after the terraform run has already successfully completed.
The node is configured through `user_data` and just takes some time to install the systemd unit and then pull docker images.
There's no provisioner that would track this setup.

Unle

[2020-10-12 21:13] mcmcghee commented on #476
Also reported in #429

[2020-10-13 10:15] wonderhoss commented on #477
Sadly `retries` doesn't quite solve the problem. It does allow the provider to continue trying while the node boots, but unfortunately it has revealed a nasty race condition in Rancher's docker setup itself.
It begins listening on its socket before it is ready to receive bootstrapping.
The error received depends on timing, but two examples I have encountered are:

[code]

and

[code]

Again, wait

[2020-10-13 10:49] rawmind0 commented on #477
@gargath , for sure it's possible, but as mentioned, you better sync your tf modules. The module that install Rancher helm chart,  shouldn't return until Rancher is up and ready. The own provider is deploying a Rancher HA on a k3s cluster and doing bootstrap on acceptance test suite, https://github.com/rancher/terraform-provider-rancher2/blob/master/scripts/start_rancher.sh#L103

[2020-10-13 11:09] wonderhoss commented on #477
@rawmind0 I think that might be where the disconnect is.
I'm following a pattern I've used in the past where the application setup is done purely in user_data.
Terraform provisions a VM with a user_data script that sets up a systemd unit to run Rancher. There is no module doing helm stuff and there is no way (that I'm aware of) for terraform to wait for the instance to complete cloud-init.

Is the

[2020-10-13 11:36] rawmind0 commented on #477
The provider is waiting to auth until `<RANCHER_URL>/ping` is answering `pong`. At this point, it's going to do login. If getting error on login then throw error logically. What do you propose, retrying login forever no matter if you got `Unauthorized`  error??

Again, by the moment this can work but you should sync. Terraform can wait for cloud-init to finish adding this at vm's definition
[code]

[2020-10-13 11:42] wonderhoss commented on #477
As I said, I'd like to avoid using a provisioner for this.

What I'm proposing, though, is not to retry forever.

Instead, `/ping` should only start returning success once the server is ready for bootstrapping.
The errors I've encountered clearly isn't a "real" unauthorised but rather simply a timing issue with the internals of Rancher getting all set up.
Wait a minute and the errors go away.

Cur

[2020-10-15 06:10] angeloudy opened #478 "How to wait for cluster to be active"
I use rancher2 provider to create my kubernetes clusters.
I also would like to install some application after the cluster is created.
But I always get errors like this ```Error: [ERROR] Creating Namespace: Cluster ID c-9dmf5 is not active```
Is it possible to wait for the cluster to be active before I install anything?

[2020-10-15 07:47] rawmind0 commented on #478
There are 2 options to do that, that are explained at provider documentation:
- using `rancher2_namespace` [wait_for_cluster](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/namespace#wait_for_cluster) argument
- using [`rancher2_cluster_sync`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync)

[2020-10-16 20:00] abhi1693 commented on #393
@rawmind0 I am facing this exact same issue with `v1.10.3`. In my case, I only have a single default template. I'm trying to creating a newer one with slightly different configuration changes. If I give a new name, I get `Cannot update the clusterTemplateRevision until Clusters are referring it`. If I do not make changes to the name, as per terraform the update is a success however there is no cha

[2020-10-16 20:25] rawmind0 commented on #393
@abhi1693 , not fully understand what are you trying to do. If you can provide the intial cluster_template definition and the updated definition, it would be useful

[2020-10-20 12:46] julienym commented on #316
Hi we are having the same error msg, when trying to create rancher2_cluster_alert_rule.
We do use the cluster_sync+wait for monitoring...
---
Error: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [baseType=error, code=ServerError, message=if you want to use metric alert, need to enable monitoring for cluster c-v862q] from [https://rancher-dev.azure.ia.iafg.net/v3/clustera

[2020-10-20 12:56] julienym opened #479 "Creating alert after cluster_sync(wait for monitoring) gives us error."
Rancher 2.4.5
RKE Cluster: v1.16.15
Monitoring version: 0.1.1

Hi we are having the error msg, when trying to create rancher2_cluster_alert_rule.
We do use the cluster_sync+wait for monitoring...
---
Error: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [baseType=error, code=ServerError, message=if you want to use metric alert, need to enable monitoring for cluster c-v862

[2020-10-22 05:05] #466 closed, assigned to rawmind0

[2020-10-22 23:04] angeloudy commented on #479
I am having the same issue and it happens every time. I reckon even with `wait_monitoring`, it still not waiting long enough because every time if I ran `terraform apply` again, it works

[2020-10-23 12:08] rawmind0 commented on #429
Issue reproduced, working on fix.

[2020-10-23 12:12] rawmind0 commented on #476
@mcmcghee thanks for reporting. This issue is duplicated.

Already working on a fix for it. Please, follow issue #429

[2020-10-23 12:12] #476 closed, assigned to rawmind0

[2020-10-23 12:13] #478 closed, assigned to rawmind0

[2020-10-23 14:02] rawmind0 commented on #429
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/481 to fix this issue

[2020-10-23 14:32] sriddell opened #482 "Disabling cluster monitoring with a cluster_monitoring_input block set can result in false changes in plan."
If you change cluster monitoring from enabled to disabled with cluster_monitoring_input set in the terraform, and then remove the
cluster_monitoring_input from terraform, rancher2 provider keeps seeing it as a delta; if cluster monitoring is disabled, changes to cluster_monitoring_input are not set on the cluster.

Steps to reproduce:

Terraform 0.13.4 with rancher2 provider v1.10.3.

Initial terr

[2020-10-23 16:39] #429 closed, assigned to rawmind0

[2020-10-23 16:41] rawmind0 commented on #429
PR #481 merged.

[2020-10-23 21:31] grok-rv commented on #474
Hopefully it will be rolled out soon, as we are trying to use the same from rancher2_notifier for MS teams.

[2020-10-26 12:58] rawmind0 commented on #479
could you please provide tf file to reproduce the issue??

[2020-10-26 16:00] rawmind0 commented on #472
The provider should work fine with `external_etcd`. May be a config issue. Same config is working fine if you create the cluster from the ui?? Is controlplane connecting fine with the external etcd??

[2020-10-26 16:23] rawmind0 commented on #482
This is the expected behaviour. The way to edit cluster monitoring argument using the Rancher API is running [`cluster.editMonitoring()`](https://github.com/rancher/types/blob/release/v2.4/client/management/v3/zz_generated_cluster.go#L152) The function is exposed on the Rancher API just if the cluster has the monitoring enabled, so can't be executed if monitoring disabled. Due to that, changing th

[2020-10-26 17:27] #474 closed, assigned to rawmind0

[2020-10-26 17:27] rawmind0 commented on #474
PR #483 add this feature

[2020-10-26 23:35] #470 closed, assigned to rawmind0

[2020-10-26 23:43] #448 closed, assigned to rawmind0

[2020-10-27 00:09] wd commented on #472
It seems the provider successfully and correctly submitted the settings for the cluster. I think it's just because the rancher server didn't support it? I see [this code](https://github.com/rancher/rancher/blob/master/pkg/controllers/management/clusterprovisioner/provisioner.go#L894) will check if there is any machine has the etcd role, when we use external etcd, there will no machine has that rol

[2020-10-27 19:54] oxr463 opened #485 "is_default not being honored for private_registries resource"
Despite `is_default` being set to false, the newly created cluster still attempted to access the private registry when attempting to download system images, causing a failure since the private registry only contains customer application images.

[code]

versions:
  - terraform: 0.12.24
  - rancher2-terraform-provider: 1.10.3

gz#12537

[2020-10-27 20:00] oxr463 opened #486 "Define private_registries as a list[]"
How can multiple private registries be defined? Is this a supported configuration?

[code]

See also: https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_cluster_rke_config_private_registries.go

gz#12537

[2020-10-27 20:35] rawmind0 commented on #486
This is not a provider issue. Multiple registries can be added due to [`private_registries`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#private_registries) argument is defined as a list.

Please, take a look at [terraform docs](https://www.terraform.io/docs/configuration/attr-as-blocks.html#defining-a-fixed-object-collection-value) to know more about ter

[2020-10-27 20:54] rawmind0 commented on #485
[`is_default`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#is_default) is false by default and should work fine. Is the provider applying the config properly, have you checked if same cluster config at Rancher UI?? May be docker daemon at k8s nodes configured with a private registry??

[2020-10-27 20:55] oxr463 commented on #485
When the new cluster is launched, it never becomes available because it can't find all the images it needs to create the cluster.

[2020-10-27 20:57] rawmind0 commented on #485
You are not answering any of my questions

[2020-10-27 20:58] oxr463 commented on #486
@rawmind0 thank you, closing this issue.

**Update:** the latter did not work, but the previous one did.

[2020-10-27 20:58] #486 closed, assigned to nobody

[2020-10-27 23:47] rawmind0 commented on #479
PR #487 add a fix for this issue.

[2020-10-27 23:51] rawmind0 commented on #477
Agreed with you on that but this issue should be opened at rancher/rancher.

As workaround, i've added a fix on PR #487 , 3 retried if user/pass login fails when bootstrap.

[2020-10-28 11:08] ritheshgm opened #488 "rancher2_cluster_role_template_binding is not working with global admin token for user_id"
Hello Team,

We were trying to provide the cluster access for the user from AD, We were using global admin_token to perform this task. But it not working and getting below error

Error: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [baseType=error, code=ServerError, message=user.management.cattle.io "CN=XXXX,OU=1234,OU=Remote Sites,DC=XXX,DC=com" not found] from [https:/

[2020-10-28 12:54] rawmind0 commented on #488
Hi @ritheshgm , not fully understanding the issue. could you please provide tf file with what is working and what no??

May be this is related to https://github.com/rancher/terraform-provider-rancher2/issues/429 that has been fixed on PR #481 .

[2020-10-28 14:06] ritheshgm commented on #488
We are trying to create rancher2_cluster_role_template_binding by providing user_principal_id,

Main tf :

resource "rancher2_cluster_role_template_binding" "user_permission" {
name = "role-bind"
cluster_id = data.rancher2_cluster.cluster.id
role_template_id = "projects-view"
user_principal_id = "activedirectory_user://CN=XXXX,OU=1234,OU=Remote Sites,DC=XXX,DC=com"
}

provider.tf

provider "ranche

[2020-10-28 17:44] rawmind0 commented on #488
This may be this is related to #429 that has been fixed on PR #481 . Could you please build the provider from master and try if it fix the issue??

Don't understand what that means. Admin user token is not working to authenticate with Rancher or it's not finding ldap user??

[2020-10-29 04:23] angeloudy opened #489 "How to enable monitoring for default/system project"
When I create a project with `rancher2_project`, I can enable monitoring for that project by setting `enable_project_monitoring`.
Question is, how do I enable monitoring for the default or system project?

[2020-10-29 08:35] ahmedfourti opened #490 "rancher2_cluster [monitoring]"
Hello guys,

I faced an issue using monitoring config under resource "rancher2_cluster"

In the block rke_config we can provide a config for the monitoring which I did and set the provider to metric-server.
[code]
However the replicas is always set to 0 by default even if the provider has been set, this will create a replicaset to 0...
Maybe it sould get a default value when provider is set ?

[2020-10-29 10:29] rawmind0 commented on #490
Hi @ahmedfourti , this issue is duplicated with #438 .

Issue has been reproduced and a fix was already included at merged PR https://github.com/rancher/terraform-provider-rancher2/pull/468 and it will be available on next provider release. In the meanwhile, just adding [replicas](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#replicas) argument to the monit

[2020-10-29 10:29] #490 closed, assigned to rawmind0

[2020-10-29 10:31] rawmind0 commented on #489
The projects that hasn't been created with terraform, should be imported into it first

[2020-10-29 10:33] rawmind0 commented on #475
Please, reopen issue if needed

[2020-10-29 10:33] #475 closed, assigned to rawmind0

[2020-10-29 10:49] rawmind0 commented on #455
@bentastic27 , not fully understanding what do you mean with this. What `user addons` are you referencing, rke user addons??  If so,  are `rke user addons` really created after `rancher-monitoring` app?? Seem weird..

Could you please provide tf file to reproduce the issue?

[2020-10-29 12:33] julienym commented on #455
Hi @rawmind0

I think what is happening is that the monitoring app is deployed before the addons. Therefore the StorageClass mentionned in the cluster monitoring configuration are inexistent at that deployment time. While the addons are created after, the monitoring app will still get created - but would have error at the beginning waiting for the absent SC.

Here is the relevent part of the templ

[2020-10-29 12:52] ritheshgm commented on #488
Admin user token is not able to find ldap user. But it can able to search Ldap groups.

Working with admin token :
resource "rancher2_cluster_role_template_binding" "group_permission" {
  name = "role-binding-groups
  cluster_id = data.rancher2_cluster.cluster.id
  role_template_id = "projects-view"
  group_principal_id ="activedirectory_group://CN=X,OU=1234,OU=Messaging,OU=DirectoryApps,DC=XXX,DC

[2020-10-29 15:54] gregsidelinger opened #491 "Add support to install Apps from catalog.cattle.io.clusterrepos"
rancher2_app does not appear to be able to install apps from catalog.cattle.io.clusterrepos in Rancher 2.5.

[2020-10-29 15:57] rawmind0 commented on #491
No, it's not. `rancher2_app_v2` and `rancher2_catalog_v2` resources will provide Rancher 2.5 support , PR https://github.com/rancher/terraform-provider-rancher2/pull/473

[2020-10-29 16:10] gregsidelinger commented on #491
Sorry missed that there was an existing PR, I only looked for open issues.  Now I can't want for the next release.

[2020-10-29 17:11] #477 closed, assigned to nobody

[2020-10-29 17:11] #479 closed, assigned to rawmind0

[2020-10-29 20:15] #488 closed, assigned to rawmind0

[2020-10-29 20:15] #491 closed, assigned to nobody

[2020-10-29 20:16] rawmind0 commented on #488
Thanks for the clarification @ritheshgm .

The issue seems related to #429 , next provider release 1.10.4 includes a patch for it.

[2020-10-29 21:58] mitchellmaler opened #492 "[Documentation Bug] Formatting issues on the apps and marketplace guide examples"
While looking at the new documentation guide for the apps and marketplace I noticed the examples are not formatted correctly.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/guides/apps_marketplace

![Screen Shot 2020-10-29 at 4 55 57 PM](https://user-images.githubusercontent.com/4107699/97636889-bfce6580-1a07-11eb-901b-3ee6bb88547b.png)

[2020-10-30 00:49] angeloudy commented on #489
@rawmind0 The default & system project are created by rancher itself.
My goal is to have everything built from scratch when I run `terraform apply` with all the kubernetes clusters created, all the monitoring enabled, all the apps installed. If I have to manually import the default project, it won't work next time, because terraform will complain that the project already exists

[2020-10-30 11:08] m4ce commented on #370
@rawmind0 - any chance we could have this feature in the next release?

[2020-10-30 17:04] mikekuzak opened #493 "rancher2_bootstrap is failing on first tf run"
Hi

terrafrom 0.13.5

I'm using the docker provisoner to setup rancher, bootstrap and create a custom cluster.
[code]

This seems to fail on the first run, but is good on the second run.

[code]

I'm stuck on this at the moment. If I run it the second time it works.
Any advise pls ?
Thanks

[2020-10-30 17:09] rawmind0 commented on #493
This is issue may be related to https://github.com/rancher/terraform-provider-rancher2/issues/477

[2020-10-30 18:38] mikekuzak commented on #493
@rawmind0 As a temp. workaround I added a delay and it seems to work.

[code]

[code]

[2020-10-30 18:46] maggieliu opened #494 "update upgrade_strategy.drain to fix bug in terraform-provider-rancher2"
Need to support the changes mentioned here: https://github.com/rancher/rancher/issues/29058#issuecomment-719698075

[2020-10-30 21:00] mikekuzak opened #495 "rancher2_project wait_for_cluster not working"
Hi,

Terraform 0.13.5
I have provisioned a cluster, and trying to create a project via TF.

The Cluster is created in a module, the rancher2 provider is in the parent main.tf. Also in that parent main.tf I'm trying to create the project using the wait_for_cluster attribute.

[code]

Output:
[code]

[2020-10-31 19:18] lajos88 opened #496 "Linode node_template Label issue"
Hey,

I recently run into a problem with the Linode node_template.
The "label" property is a string property and it has a `default: false` value here:
https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_node_template_linode.go#L69

This means if I don't set anything to the "label" property in my terraform file it will be translated to "0" during the plan apply. This

[2020-10-31 19:20] lajos88 commented on #496
PR: https://github.com/rancher/terraform-provider-rancher2/pull/497

[2020-11-01 11:25] rawmind0 commented on #496
Hi @lajos88 , you are right, this default value was wrong. Merged your PR.

Please reopen issue if needed

[2020-11-01 11:25] #496 closed, assigned to rawmind0

[2020-11-01 11:26] rawmind0 commented on #492
Thanks for the advice @mitchellmaler . Working to address it

[2020-11-01 11:32] rawmind0 commented on #493
@mikekuzak , your issue seems related to https://github.com/rancher/terraform-provider-rancher2/issues/477 .  Best solution is sync your module, not starting rancher2 provider until Rancher is up and running. As an option, you can try with provider argument [retries](https://registry.terraform.io/providers/rancher/rancher2/latest/docs#retries). https://github.com/rancher/terraform-provider-rancher

[2020-11-01 13:02] mikekuzak commented on #493
I already have the reties, didn't help.

provider "rancher2" {
  alias     = "bootstrap"
  api_url   = "https://${var.rancher_api_url}"
  bootstrap = true
  insecure  = true
  retries   = 100
}

[2020-11-01 16:23] rawmind0 commented on #493
As mentioned, best option is to sync tf modules. Anyway, added a fix on PR #498 to configure number of user/pass login retries on bootstrap, based on `retries` provider argument

[2020-11-02 14:32] ghost opened #499 "Feature Request: rancher2_app_v2 - set_sensitive (Security information leakage)"
Hello,

at the moment im terraforming the new rancher 2.5 rancher-monitoring.
Sensitive information is leaked via the provider and there is no ability to fix that.

My Setup:
- Rancher 2.5
- rke Kubernetes created via the rancher ui with 1.18.10 k8s

Terraform:
[code]
rancher-monitoring.values.yml
[code]

When ever i change this password this is shown in the terraform output. I'm missing the featu

[2020-11-02 14:42] ghost opened #500 "Bug - rancher2_app_v2 is not idempotent"
Hello,

at the moment im terraforming the new rancher 2.5 rancher-monitoring.
When i apply the same code multiple times it want to change stuff over an over again and is therefore not idempotent.

My Setup:
- Rancher 2.5
- rke Kubernetes created via the rancher ui with 1.18.10 k8s

Terraform:
[code]
rancher-monitoring.values.yml
[code]

the apply of this code works without problems.
[code]

When a

[2020-11-02 15:44] ghost commented on #499
@rawmind0 when i understand your pr right everything from values is now sensitive right?

[2020-11-02 15:46] rawmind0 commented on #499
@oed-mertenss , yes. `values` is a string argument, and with PR is sensitive

[2020-11-02 15:51] rawmind0 commented on #500
Hi @oed-mertenss , what tf provider version are you using??  Not able to reproduce your issue with same config.

You can check it, but not generating a diff in my tests

This is just needed if rancher-monitoring is being reinstalled, as commented at https://registry.terraform.io/providers/rancher/rancher2/latest/docs/guides/apps_marketplace#examples-1

[2020-11-02 15:57] ghost commented on #499
Thanks that was :rocket: fast :+1:

[2020-11-02 16:15] ghost commented on #500
Regarding the provider version (i use latest):
[code]
I stripped the example down to the minimum:
[code]

Executing twice i get:
[code]

Regarding `alertmanagerSpec` i will analyse it later we should focus on the tickets topic i guess it will be fixed with the indempotence anyway.

I tried your example. First run = no problem.
Second run:
[code]

Who brings the global cattle thing in?

[2020-11-02 16:40] rawmind0 commented on #500
The provider is adding `global.cattle.cluster*`, but it's taken into account to supress resource diff,  https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_app_v2.go#L94

With same config, i'm not able to reproduce your issue

[code]

[2020-11-02 16:44] ghost commented on #500
Wired what im doing different. Can you please show your: `terraform providers`

[2020-11-02 16:46] rawmind0 commented on #500
[code]

[2020-11-02 17:03] ghost commented on #500
I have the same. I started from scratch with a complete new cluster but i still get the same problems.

[code]

Im using Ubuntu 18.04 and Terraform 0.13.4
Are you in the rancher slack? I would be happy if we can look on the problem together via screenshare (tomorrow)

[2020-11-02 18:34] rawmind0 commented on #500
Using cluster distinct than `local`, i was able to reproduce the issue. Found the issue cause and added a fix at PR #498

[2020-11-02 19:45] ajchiarello commented on #341
Just checking in on this - is shibboleth configuration on a roadmap somewhere?

[2020-11-02 21:22] sbirl opened #501 "auth_config_openldap: Difference between test_username and service_account_distinguished_name"
I noticed today that a new (to me) argument is required for `auth_config_openldap`: `test_username`.
I assigned it the same variable used to populate `service_account_distinguished_name`, but received a 401 Unauthorized from my LDAP server when executing the code.  I am hoping to understand why this occurred so that I can talk to my LDAP admins to see if permissions are lacking, but Im not sure wh

[2020-11-02 22:00] rawmind0 commented on #501
`test_username` and `test_password` are new arguments for openldap auth. They are used by Rancher to test openldap auth. You just need to provide a valid openldap user and password to test the user login to the auth provider. `service_account_distinguished_name` is the service account DN to do the openldap bind, not a username to test the login

[2020-11-03 08:05] ghost commented on #500
That sounds good :) Thanks! Can you may give me an estimate for the new version?

[2020-11-03 10:02] chihaiaalex commented on #500
Same here. Nice to hear that we already have a fix. 👍

[2020-11-03 14:09] sbirl commented on #501
Is there a recommended workaround for this?  Or how do I disable this?  We don't do application-specific test user accounts in our environment.

[2020-11-03 14:25] rawmind0 commented on #501
@sbirl, you just need to provide a valid user/password like is done at [Rancher UI](https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/openldap/#test-authentication) when you configure openldap auth. It's a requirement, due to Rancher is executing `testAndApply` function to test openldap config and login before apply. https://rancher.com/docs/rancher/v2.x/en/admin-settings/auth

[2020-11-03 14:53] rawmind0 commented on #500
Once we release Rancher v2.5.2, we'll merge PR #498 and we'll cut a new provider version

[2020-11-04 02:18] mitchellmaler opened #502 "Rancher 2.5 Fleet/Continious Delivery Resources/Datasources"
Request to add resources and datasources to manage fleet/continuous delivery in Rancher 2.5+

[2020-11-04 16:18] #501 closed, assigned to rawmind0

[2020-11-04 16:21] mitchellmaler opened #503 "App v2 Error Logs Missing on failed install"
Currently all we get is an error and the error code of the helm operation. Is it possible to dump the helm operation logs?

[code]

[2020-11-05 08:26] MG2R commented on #501
Did Rancher Server change something then? This wasn't the case previously when going through the API.

I'm reluctant to provide a "test user" as when you do this through the UI, the account principal of the test user and that of the built-in admin account get linked and all of a sudden the "test user" is the admin account.

[2020-11-05 11:41] Hkavya1215 opened #504 "unable to use annotations in configuring alerts"
My code is like below:
I have added the annotations but the message does not showup in slack notifier

resource "rancher2_cluster_alert_rule" "LowDiskSpace" {
  cluster_id = rancher2_cluster_alert_group.default.cluster_id
  group_id = rancher2_cluster_alert_group.default.id
  name = "LowDiskSpace"
  metric_rule {
    expression = <<EOF
      (node_filesystem_free_bytes{fstype=~"ext4|xfs"} / node_f

[2020-11-05 13:40] rawmind0 commented on #455
Hi @julienym , thanks for the info.

It seems a race condition that rke cluster is eventually getting `active` status (up and running), before rke user addons deployment is finished. RKE is doing a fire and forget when deploy k8saddons and user addons, https://github.com/rancher/rke/blob/3d9bf164c371b1bcf6c534579e3115baad7de361/cluster/cluster.go#L885 , which could cause this scenario if monitorin

[2020-11-05 13:54] rawmind0 commented on #495
Hi @mikekuzak , it seems your module is unable to connect to rancher API, `Get "https://sbox-k8s:9443/v3/clusters/c-vhzrj: dial tcp 10.132.194.37:9443: connect: connection refused"`

[2020-11-05 14:05] rawmind0 commented on #504
Using similar code, annotations are set properly at `rancher2_cluster_alert_rule`

[code]

Once it's created, i can see annotations set properly from Rancher API

[code]

[2020-11-05 21:26] ryanelliottsmith opened #505 "Upgrades to projectroletemplatebindings don't apply"
## Steps to reproduce:
* First, apply the following code to create a test-project and some projectroletemplatebindings
[code]
* Update the group_principal_id and re-apply:
[code]
* Note that `terraform plan` and `terraform apply` both show the expected changes:
[code]
[code]

## Expected result
The ProjectRoleTemplateBinding should be updated to reference the new groupPrincipalName

## Actual resu

[2020-11-05 21:28] ryanelliottsmith commented on #505
Likely resolved by https://github.com/rancher/terraform-provider-rancher2/pull/380

[2020-11-05 21:30] ryanelliottsmith commented on #505
Duplicate of https://github.com/rancher/terraform-provider-rancher2/issues/379

[2020-11-05 21:30] #505 closed, assigned to nobody

[2020-11-06 03:09] rawmind0 commented on #485
It seems the issue was related to the template config and not the provider. Please reopen if needed

[2020-11-06 03:09] #485 closed, assigned to nobody

[2020-11-06 07:27] Hkavya1215 commented on #504
When i run this, i am unable to see it in my notifier (slack) it does not take the annotation value, it displays the default value

![image](https://user-images.githubusercontent.com/9451731/98338026-83b28a80-202f-11eb-8f63-163963dd4138.png)

[2020-11-06 08:36] Hkavya1215 commented on #504
I want to pint the message like below in slack.

[FIRING:1] LowDiskSpace @
On abc device /dev/sdb2 mounted on / has low free space of 0.17552972404475542%

[2020-11-06 14:13] rawmind0 commented on #504
@Hkavya1215 , provider is setting annotations properly at Rancher API. Have you tested if same config is working from Rancher API??

The issue seems related with slack configuration at Rancher. It should be opened at rancher/rancher repo.

[2020-11-06 14:15] #495 closed, assigned to rawmind0

[2020-11-06 14:24] rawmind0 commented on #489
@angeloudy , i already know that default & system project are created by rancher. I understand your point, but it is what it is at the moment. To manage any resource from terraform you should import it first. Import can be done manually or automated, but for sure should be done just once.

[2020-11-06 14:25] rawmind0 commented on #482
Please, reopen issue if needed.

[2020-11-06 14:25] #482 closed, assigned to rawmind0

[2020-11-06 14:26] #384 closed, assigned to nobody

[2020-11-06 14:35] rawmind0 commented on #446
No RKE doesn't accept custom images by service. It's using `SystemImages.Kubernetes` for all services but etcd. `SystemImages.Kubernetes` can be customized at rke, but this provider is not supporting it by the moment.

[2020-11-06 14:42] #320 closed, assigned to nobody

[2020-11-06 14:45] rawmind0 commented on #246
Please, reopen issue if needed

[2020-11-06 14:45] #246 closed, assigned to nobody

[2020-11-06 14:56] rawmind0 commented on #391
@armsnyder, we had issues with non admin roles, but they seems addressed. The provider can be used with any access role level, but obviously some tasks will not be allowed based on access role.

At the moment, not easy to implement and i don't see much value on running provider acceptance test with distinct access roles.

[2020-11-06 14:56] #391 closed, assigned to nobody

[2020-11-06 15:00] rawmind0 commented on #472
@wd i guess this config should be supported at Rancher but not pretty sure on that. If provider is submitting settings properly, try opening the issue at rancher/rancher to check if this config is supported

[2020-11-06 15:00] #472 closed, assigned to rawmind0

[2020-11-07 12:33] #446 closed, assigned to rawmind0

[2020-11-09 20:06] mitchellmaler opened #508 "App v2 with Wait error: context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
Sometimes when deploying a app v2 with wait=true I receive this error:

[code]

Instead of directly exiting and ending the resource wait can it retry to connect a few times or even wait and retry?

[2020-11-10 10:27] Hkavya1215 opened #510 "secret alertmanager config gets overwritten"
I have enabled monitoring in rancher and trying to set alerts. I have configured alert group and alerts and i have also modified the Secret: alertmanager-cluster-alerting, but this config file always gets overwritten if there is any change in alerts. Please suggest

[2020-11-10 10:47] marino101 opened #511 "cattle-private-registry - cluster - rke_config - not gettting removed"
resource "rancher2_cluster" "cluster"
rke_config
    private_registries {
      url        = var...
      is_default = var...
      password   = ...
      user       = var...
    }

private registry for namespace cattle-system not getting removed
rancher provider latest
terraform 0.12.29

part plan output:

- private_registries {
              - is_default = true -> null
              - url

[2020-11-10 15:43] mchnwzrd opened #512 "Rancher 2.5.1 rancher2_app_v2 install of rancher-istio succeeds but returns unexpected value."
Hi!  Wanted to share an issue we are seeing when setting up internal Rancher apps via rancher2_app_v2.  Example code:

[code]

The install works but this error is returned failing our orchestration:

Provider produced inconsistent result after apply.

`When applying changes to rancher2_app_v2.rancher-istio[0], provider "registry.terraform.io/rancher/rancher2" produced an unexpected new value: Root

[2020-11-10 21:26] #379 closed, assigned to nobody

[2020-11-10 23:24] rawmind0 commented on #510
If you are using a file to provide secret, try using https://www.terraform.io/docs/configuration/functions/trimspace.html

[2020-11-10 23:34] rawmind0 commented on #512
Hi @mchnwzrd , when terraform shows errors like  `...produced an unexpected new value..` `...produced inconsistent plan..`, most of the times use to be related to modules sync or vars sync. I guess the issue may be related with `count = var.istio_enable ? 1 : 0`.  Terraform seems updating resource data in the meanwhile is applying. Error is saying that `rancher2_app_v2.rancher-istio` tf definition

[2020-11-10 23:45] rawmind0 commented on #511
what are the values of private_registries vars??

[2020-11-11 01:04] rawmind0 commented on #508
I don't think so, getting timeout. Http client timeout on waiting for app v2 requests is `10s` just to get helm operation from api. Is your Rancher overloaded?? Anyway, http client timeout has been extended to `60s`, included at PR #498

[2020-11-11 01:06] mitchellmaler commented on #508
Yea I started digging and I think the node the rancher replica I was hitting was overloaded. Thanks for increasing the timeout though!

[2020-11-11 01:06] #508 closed, assigned to nobody

[2020-11-11 08:13] marino101 commented on #511
enabled  = true
  url      = "index.docker.io"
  user = dockerloginuser001plain
  password = data.google_kms_secret.xyz.plaintext

[2020-11-11 09:38] #440 closed, assigned to rawmind0

[2020-11-11 09:38] #494 closed, assigned to rawmind0

[2020-11-11 09:38] #492 closed, assigned to rawmind0

[2020-11-11 09:38] #493 closed, assigned to nobody

[2020-11-11 09:38] #499 closed, assigned to nobody

[2020-11-11 09:38] #500 closed, assigned to nobody

[2020-11-11 09:38] #503 closed, assigned to nobody

[2020-11-11 09:44] rawmind0 commented on #511
If tf plan outs this diff, doesn't seem var values are these, the var values seems to be nil. `private_registries` should work fine and be idempotent, have you tested setting fixed values on privetr_regitries instead vars??

[2020-11-11 12:56] marino101 commented on #511
hi rawmind, thank you for your time, i hope i am not confusing you to much or myself for that matter. Setting the resource goes fine the issue we noticed is that the cattle registry is not getting removed from rancher when you remove the registry part from the rke_config. at least that was our experience.

[2020-11-11 13:47] rawmind0 commented on #511
Hi @marino101 , the first issue explanation was not so detailed. If your issue is removing private_registries (empty), this is a know issue, due to [PrivateRegistries at RancherKubernetesEngineConfig go struct](https://github.com/rancher/types/blob/release/v2.4/client/management/v3/zz_generated_rancher_kubernetes_engine_config.go#L48) is defined as `[]PrivateRegistry` with the json tags `json:"pri

[2020-11-11 14:41] caiconkhicon opened #514 "Terraform crashes after removing a revision from rke_cluster_template"
I accidentally deleted an RKE cluster template revision on the UI. Then I reran Terraform in order to recreate it. However, Terraform crashed with the error:
[code]

IMO, it should be possible to re-setup the infrastructure after it drifts way from the Terraform code.

[2020-11-11 14:43] caiconkhicon commented on #514
Another additional information: In order to workaround this issue, I tried creating another revision manually, but then TF fails with:
[code]

[2020-11-11 15:10] rawmind0 commented on #514
@caiconkhicon , obviously if there is a crash on the provider, there is a bug. Could you please attach full crash info and not just first 2 lines?? Crash info should point which line of code has caused the crash.

About that workaround, it should work if you update tfstate with the "new"  ClusterTemplateRevision ID. TF is using the old one and it's not able to find the "old".

[2020-11-11 15:22] caiconkhicon commented on #514
@rawmind0 : Sure, sorry I thought it was easier for your to see only the 2 important lines. This is the full log:
[code]

[2020-11-11 15:50] rawmind0 commented on #514
Thanks @caiconkhicon .

I was guessing where the issue is but this line help to confirm it easily, `2020-11-11T14:23:07.206Z [DEBUG] plugin.terraform-provider-rancher2_v1.10.4: 	/go/src/github.com/rancher/terraform-provider-rancher2/rancher2/structure_cluster_template.go:131 +0x1186
`

Working on a patch

[2020-11-11 17:14] rawmind0 commented on #514
PR #515 should address the issue

[2020-11-11 18:37] marino101 commented on #511
Ok thank you for the update and for your patience. have a nice day.

[2020-11-11 18:37] #511 closed, assigned to nobody

[2020-11-11 18:58] jacobwgillespie opened #516 "v1.10.5 invalid checksum"
It appears that the checksum hash may be invalid for the v1.10.5 release - this message is from CI, which is a `linux_amd64` environment:

[code]

The correct hash `484edfa558f922db9f2534210c3563d908a07021900b8a4e042345f8d360cf96` is present in the `SHA256SUMS` file [here](https://github.com/rancher/terraform-provider-rancher2/releases/tag/v1.10.5), but not on the Terraform Registry.

You can see

[2020-11-11 19:24] daanemanz commented on #516
I'm getting the same error when using the `rancher/rancher2` provider in one of our repos. Pinning to v1.10.4 works.

[2020-11-11 19:37] rawmind0 commented on #516
It's an issue on tf registry that is not updating tags properly. Cutting new release v1.10.6

[2020-11-11 20:13] #514 closed, assigned to rawmind0

[2020-11-11 20:38] rogersd commented on #516
Fantastic, thank you!

[2020-11-11 21:12] rawmind0 commented on #516
Just as curiosity, setting old source path `source = "terraform-providers/rancher2"` at version.tf, terraform apply gets the binary properly

[code]

Anyway, provider v1.10.6 is already published, and it should be downloaded fine as it was.

Please, reopen issue if needed.

[2020-11-11 21:48] mikekuzak commented on #516
@rawmind0 Is this just me ?

[code]

[2020-11-11 21:51] rogersd commented on #516
@mikekuzak Nope, I'm getting that too.

[2020-11-11 21:51] jacobwgillespie commented on #516
@mikekuzak it's not just you, but it looks like a cache issue, the CDN must have cached the 404. Appending a query parameter, like https://registry.terraform.io/v1/providers/rancher/rancher2/1.10.6/download/linux/amd64?a=b, does return the release. Not sure what can be done about it though, or if the cache will eventually expire.

[2020-11-11 21:56] jgreat opened #517 "1.10.6 release missing linux_amd64?"
Not sure if this is a terraform registry issue or something that can be fixed on this side, but my `terraform init` is failing with the 1.10.6.

1.10.6 output:

[code]

[2020-11-11 21:57] jacobwgillespie commented on #516
I opened an issue related to the cached 404 here: https://github.com/hashicorp/terraform/issues/26890

[2020-11-11 21:58] jgreat opened #518 "1.10.5 release bad checksum"
1.10.5 is giving me a bad checksum error when I try to `terraform init`

[code]

[2020-11-11 22:30] rawmind0 commented on #517
it seems a registry issue. It has been reported to hashicorp, binary seems not available for all archs, depending on provider source path working fine with "source = terraform-providers/rancher2” but failing for "source = rancher/rancher2”

https://github.com/rancher/terraform-provider-rancher2/issues/516#issuecomment-725663934

[2020-11-11 22:32] rawmind0 commented on #518
@jgreat , please follow #516 instead

[2020-11-11 22:32] #518 closed, assigned to nobody

[2020-11-11 22:39] rawmind0 commented on #516
Thanks @jacobwgillespie

Reopening issue

[2020-11-11 22:41] rawmind0 commented on #517
It seems related to #516 . Please follow thread there.

[2020-11-11 22:41] #517 closed, assigned to nobody

[2020-11-12 14:43] rawmind0 commented on #516
Hashicorp registry cache has been refreshed and rancher2 provider v1.10.6 should work properly on all archs. Tested on darwin and linux.

Please reopen issue if needed.

[2020-11-12 14:43] #516 closed, assigned to nobody

[2020-11-12 14:55] mikekuzak commented on #371
I'm doing something similar on-prem and I have a 'when = destroy' section.

[code]
node_destroy.sh does this:

[code]

But the Cluster will still show that node, looks like a node_delete operation is needed.

[2020-11-12 16:15] rogersd commented on #516
Looks good now, thanks!

[2020-11-13 02:14] dnoland1 commented on #450
Re-tested this on rancher2 terraform provider 1.10.6. Set version = "0.1.1" then changed it to version = "0.1.2". Same result, cluster-monitoring app upgraded:
<img width="615" alt="image" src="https://user-images.githubusercontent.com/468462/99015682-6b001400-250a-11eb-8c08-3f6233157d63.png">
monitoring-operating app not upgraded:
<img width="618" alt="image" src="https://user-images.githubuserco

[2020-11-13 08:44] MG2R opened #519 "Allow async update of k8s clusters"
Currently, when you upgrade a k8s cluster by changing the version in `rke_config`, Terraform waits for the upgrade to complete before returning. Would it be possible to have setting which allows Terraform to just issue the upgrade and move on? Waiting for the upgrade doesn't scale well. My test cluster with a mere 9 nodes already takes more than 10 minutes to complete.

In the UI I can "set and fo

[2020-11-13 17:58] MG2R opened #520 "How to deal with clusters not active during initial roll-out?"
I have a codebase to set up k8s clusters for different development environments with Rancher. This means I just need to provide the data of each environment to my own "rancher_cluster" module and Terraform will create clusters, projects, namespaces, rolebindings, etc... I'm using a Terraform output to get the token needed to join nodes to the cluster using the Docker command (I'm using custom node

[2020-11-13 18:13] abhi1693 opened #521 "Ability to add/edit/delete configmap"
I have a requirement of updating `tcp-services` under namespace `ingress-nginx`. I could not find any resource or data source to make this happen.

Interacting directly with config maps is something I believe most of us do on rancher and doing it with terraform would be a great addition to the platform.

[2020-11-15 07:59] alexzimmer96 commented on #521
Is there any reason you don't use the [kubernetes provider](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/resources/config_map)? As far as i understand, this provider is made to interact with rancher(2) and its API and not with the managed kubernetes clusters themselves.

[2020-11-15 12:57] abhi1693 commented on #521
@alexzimmer96 I only asked because rancher v3 APIs does interact with the config maps as I've used it via Python. In order to use the kubernetes provider, I need to add another provider out of my workflow. There is dependency of configuring the config map and it would be difficult to do it as the code will leave rancher and will have to come back here.

Your statement is contradictory to me as  ra

[2020-11-15 14:52] alexzimmer96 commented on #521
You're right. There is an API to manage ConfigMaps on Rancher Project level, like you can do with secrets. Under this circumstances, from my point of view, implementing the ConfigMaps as well makes sense.

[2020-11-15 15:21] abhi1693 commented on #521
@alexzimmer96 Would this be implemented or should I simply go for Kubernetes provider as you suggested?

[2020-11-15 15:35] abhi1693 opened #523 "rancher2_cluster_template tries to delete revision when changing configuration"
I have written a very simple code to create `rancher2_cluster_template` revision. When I update the revision code along with its name, terraform tries to delete the existing resource. This always fails as there are clusters using the previous revision as it first tries to remove them before creating a newer revision.

Now, this functionality does not work as to how a user would do the same from Ra

[2020-11-16 10:52] rawmind0 commented on #519
The provider not always wait until cluster is `active`, depends on the kind of cluster. On update, this providers waits until cluster reach same state it was, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_cluster.go#L324 Have you consider to extend the cluster tf timeout??

With your proposal, how to check if the upgrade has been run successfully or

[2020-11-16 11:00] rawmind0 commented on #520
Have you consider using [tf operating timeout](https://www.terraform.io/docs/configuration/resources.html#operation-timeouts) on resources?? From terraform perspective, the application is successfully when the resource has the same state that you define at tf file. How do you expect that Rancher apply necessary changes to a Rancher cluster that is not active?? I mean, how a namespaces can be creat

[2020-11-16 11:14] rawmind0 commented on #521
Rancher API has de ability to deal with k8s resources as configMap, secret, etc within projects, https://<RANCHER_IP>/v3/projects . BTM, this is not implemented at the provider due there is more priority work to do at the provider (like issues, bugs, new features,..), and there is an option to get this feature working, using [tf k8s provider](https://github.com/rancher/terraform-provider-rancher2/

[2020-11-16 11:14] #521 closed, assigned to nobody

[2020-11-16 11:24] rawmind0 commented on #523
You can't update cluster_template_revision that is already in use by any cluster, tf is doing what you are telling it to do at tf file. The provider is working exactly same way as the UI is doing. UI clone is actually creating a new cluster_template_revision with new values, same that you can do at tf file. You should always add a new cluster_template_revision or you could modify  cluster_template

[2020-11-16 13:50] MG2R commented on #520
As far I know, that wouldn't change the behavior here. Only make the time it takes to get Terraform to fail to be longer or shorter.

The way I see it, Terraform isn't responsible for creating a namespace in the k8s clusters. Terraform is responsible for setting up Rancher with a desired state. Rancher then goes and enforces that desired state on k8s clusters.

It would be nice if we could simply

[2020-11-16 13:57] MG2R commented on #519
Whether or not the upgrade is successful, is nothing Terraform can change, react to or deal with, so in my mind it makes no sense to wait for this condition. Again, how do you scale this? If I allow a single node to be offline at a time, updating a 9-node cluster takes about 12 minutes. What if I have a hundred nodes? I can't have Terraform wait for this.

I'm guessing the root difference between

[2020-11-16 14:35] rawmind0 commented on #520
When a custom cluster is created using the provider, it lets the cluster in `provisioning` state, not waiting for `active`. In that point, `cluster_registration_token` command can be obtained and be run on nodes in the meanwhile. If you are getting timeout on tf resources in the meanwhile nodes are getting up, afaik, setting a bigger timeout on tf resource would help on that. The behaviour would b

[2020-11-16 14:41] caiconkhicon opened #524 "Failure when updating rancher2_cluster_template"
**Rancher2 provider version**: 1.10.6

I have an RKE template with 6 revisions:
<img width="797" alt="Annotation 2020-11-16 153509" src="https://user-images.githubusercontent.com/2084577/99265015-7e202600-2821-11eb-8bf1-7be5ea3fb7c8.png">

I update it by replacing the first 2 revisions (1.16.6 and 1.17.2) in the TF code by 2 new revisions. Then I run `terraform plan` and `terraform apply`.

`terra

[2020-11-16 14:48] caiconkhicon commented on #524
One more thing I noticed from the output of the plan: the replaced revisions are wrong. They should be 1.16.6 and 1.17.2, not 1.18.3-rancher-2-5 and 1.18.3-rancher-2-6 (plus 1.16.6 and 1.17.2 are said to be deleted, not replaced).

[2020-11-16 14:55] MG2R commented on #520
This was a complete misunderstanding from my end. Just tried deleting a namespace with kubectl and indeed it also gets removed in rancher, so I rancher does not enforce a desired state. Can't believe I didn't know this before. Sorry.

So indeed, I'll have to roll out the nodes on-the-fly during the Terraform run. That's going to require some workflow changes.

It seems I was just misunderstanding

[2020-11-16 14:55] #520 closed, assigned to rawmind0

[2020-11-16 14:55] gregsidelinger commented on #27
I'm seeing this behavior with terraform 0.13 and the 1.10.4 provider so it looks like this bug is back.

[code]

[2020-11-16 14:58] rawmind0 commented on #519
Terraform should react if a config can't be applied, because one of the tasks that terraform should do is check the desired and real states and reconcile them if needed. Terraform is executing tasks in parallel if possible (assuring dependencies). Not fully understanding your point. To add nodes to a custom cluster, you don't need to update cluster from tf provider, just boot your nodes and execut

[2020-11-16 15:07] MG2R commented on #519
But two Terraform runs can't happen at the same time. Say my cluster update from 1.18 to 1.19 takes an hour because it's a big cluster. That means during that hour no other changes can be made with Terraform, even if it would be possible with kubectl/rancher ui, because the Terraform run is waiting for the entire cluster to be updated.

Example:

* Team member A starts the update from 1.18 to 1.19

[2020-11-16 15:14] rawmind0 commented on #27
@gregsidelinger , seems that your resource replace is coming from `~ cluster_id                = "local" -> (known after apply) # forces replacement` not from annotations not labels. Rancher internal annotations and labels diffs are suppressed but they are showed if there is another change on the resource.  Are you computing  `cluster_id` argument value??

[2020-11-16 15:14] MG2R commented on #519
Once the update has started, the desired state is already achieved, as the `rancher2_cluster` resource will already see the cluster as set to the correct version. The underlying nodes are not all running as the new version, but Rancher is taking care of it in the background. The API already reports the new version.

Try this: set up a cluster for version 1.18 with Terraform, then start updating it

[2020-11-16 15:39] rawmind0 commented on #519
For sure you have to wait. What happens if the update fails?? When or how do you noticed it??
Anyway, simple option here would be split tf files and states to decouple resources and tf execution, one with the "infra" and the cluster definition and another one for functional resources like namespaces, projects, apps,....

This is how terraform works. You define a desired state and terraform is in c

[2020-11-16 15:58] rawmind0 commented on #524
@caiconkhicon , template revisions are tricky due to they are managed by a terraform list, what it means that it's dependant of the order. Provider is shifting the list to set proper order, but sometimes the plan showed is not showed in an accurated way, but executing it fine.

Anyway, it seems there is a bug in the provider removing more than one template revision at once. You are trying to remov

[2020-11-16 16:34] MG2R commented on #519
Interesting. I hadn't considered this. I split my state files between logical groups of infra but indeed, an extra split here might make sense. Thank you for your time and elaborate answers. It's clear there's no code change to the provider necessary for this. I'll be able to work on this further now. Thank you again!

[2020-11-16 16:34] #519 closed, assigned to rawmind0

[2020-11-17 07:40] caiconkhicon commented on #524
@rawmind0 : thanks for your fast reply. I try it now and give you feedback soon.

[2020-11-17 07:58] caiconkhicon commented on #524
@rawmind0 : I tested like you suggested, so I reverted the change with the revision 1.17.2. Now `terraform apply` succeeded, but after that I check on the Rancher UI and nothing has changed!? Do you have any idea?

`terraform plan`
[code]

`terraform apply`
[code]

[2020-11-17 12:28] Schnitzel opened #525 ""[editMonitoring] not available" when adding new cluster"
We're running into a problem where adding a new cluster via terraform ends up with this error:

[code]

our Rancher Terraform files:

[code]

Interestingly it works though if we first add the cluster without the line ` enable_cluster_monitoring = "true"`, then add the line back to terraform and run a second `terraform apply`.

So it seems there might be an issue with the order that things are adde

[2020-11-17 12:40] rawmind0 commented on #525
What provider version are you using??

[2020-11-17 16:30] sadhugit opened #526 "RFE:VMware:VMTagging: request to add VM tagging at “Add Node Pool” level"
Right now, we are giving the option to add existing tags while creating the NodeTemplate. We can add prefixes to the node, but there is no option to tag the set of nodes (VM) while defining the NodePool. This will be useful to tag the set of Nodes while adding the NodePool (i.e., tagging VMS at the vcenter level)
https://github.com/rancher/rancher/issues/30231

[2020-11-17 21:05] mitchellmaler opened #527 "RKE DNS (coredns) update_strategy and linear_autoscaler_params configuration"
Currently there is no option in the Cluster RKE dns options to modify the coredns autoscaler and update strategy. Can this be added?

Missing config: https://rancher.com/docs/rke/latest/en/upgrades/configuring-strategy/#replicas-for-dns-and-monitoring-addons

File to update: https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_cluster_rke_config_dns.go

[2020-11-18 08:31] scaleoutsean opened #528 "rancher2_catalog docs: repo url is not required, but error message says otherwise"
I'm working with v2.5.2 to provision a Management Cluster.

According to the [docs](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/catalog_v2), `git_repo` should be enough and in that case `url` would be optional. The docs offer an example (below, [1]).

But if I specify git_repo and git_branch, TF errs and says that `url` is required. Why is that?

[code]

Everythi

[2020-11-18 08:56] rawmind0 commented on #528
It seems you are defining wrong resource type:
* Example, `rancher2_catalog_v2` [doc](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/catalog_v2)
* your config, `rancher2_catalog` [doc](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/catalog)

[2020-11-18 09:32] scaleoutsean commented on #528
LOL, that is hilarious. Now I see they next to each other on the docs site. I did look very carefully at the docs, but not at the script. Mystery solved!

[2020-11-18 09:32] #528 closed, assigned to nobody

[2020-11-18 11:47] m4ce opened #529 "rancher2_role_template roles bug"
The rules are only enforced on creation, so it appears.

Once the rules change (after the resource has been created), it does shows up in the diff. However, after terraform apply, only the terraform state is updated correctly but not the actual role on rancher.

Tested with context project. I guess cluster will probably share the same issue.

[2020-11-18 11:57] m4ce commented on #529
Ignore - user issue.

[2020-11-18 11:57] #529 closed, assigned to nobody

[2020-11-18 20:20] oxr463 opened #530 "Error: "template_revisions.0.cluster_config": required field is not set"
Per the docs, `cluster_config` is optional:

However, terraform is complaining that it is a required field:

[code]

Here is the example code:

[code]

See: https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_template#nested-blocks

[2020-11-18 21:14] rawmind0 commented on #530
`cluster_config` is a required argument. The error is on doc definition.

[2020-11-18 21:25] oxr463 commented on #530
Also, in my testing, `rke_config` was also required.

This snippet actually passed the `terraform plan` stage:

[code]

[2020-11-19 16:27] tuxmonteiro commented on #259
It is more of a bug than an issue because in the documentation and in the code it already provides for the definition of the image, only it does nothing with it.

[2020-11-20 01:34] Schnitzel commented on #525
@rawmind0
[code]

[2020-11-20 08:36] rawmind0 commented on #525
Are you using provider version v1.8.3 for any reason?? The issue should be solved on currrent provider version, v1.10.6

[2020-11-23 16:33] eliz-ol opened #531 "Failure connecting to API - 401 Unauthorized or ping/pong connection refused"
I'm just starting to use Terraform to manage our lab Rancher. I am almost certainly doing something wrong, but I don't know what:

When I use the below TF module (with a couple variants), I get one of two errors:
`Error: Bad response statusCode [401]. Status [401 Unauthorized]. Body: [message=Unauthorized 401: must authenticate] from [https://rancher.contoso.com/v3]` or
`Error: Rancher is not read

[2020-11-23 21:27] slessardjr commented on #449
I outlined where I think the problem is in #335 that I reported back in May.
Azure is storing each tag as a string in an array.  You cannot unmarshal that with JSON which is what the provider is trying to do.  I highlighted in my issue what I think needs to be fixed
@rawmind0 @ivanov-aleksander

[2020-11-23 21:31] slessardjr commented on #335
@rawmind0  I'm not arguing that the conversions are improper. They are proper, what I 'm saying is that the values coming back from Azure is not a map, it's an array. so the parsing doesn't work.

[2020-11-23 22:16] mikekuzak opened #532 "How to set Project when installing a rancher2_app_v2 ?"
Hi,

When I look at the TF definition I don't see the possibility to configure the Project I want the namespace to be created.

namespace - (Required/ForceNew) The namespace of the app v2 (string)
ForceNew ..ok but in which Project if I have network isolation enabled I might want to install this in multiple Projects right ?

[code]

The UI of Cluster Explorer has an option: Install into Project:
!

[2020-11-23 23:13] rawmind0 commented on #532
Hi @mikekuzak , have you tried using [project_id](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app_v2#project_id) argument??

[2020-11-23 23:22] mikekuzak commented on #532
Ugh .. sorry mate for waiting your time, my bad.

[2020-11-23 23:22] #532 closed, assigned to nobody

[2020-11-23 23:22] rawmind0 commented on #531
Rancher api connection is always done using https.`insecure` argument is used just to allow https connection using non trusted certificates (self signed). `ca_certs` argument is used to provide non trusted CA certificates used to sign Rancher server tls certificates (self signed). If you are using self signed certificates on Rancher api, you can use one of both options, enable `insecure` or provid

[2020-11-23 23:30] rawmind0 commented on #526
May be i'm missing something, but i think this feature is not available at Rancher api, is it?? I think this RFE should be opened at rancher/rancher

[2020-11-24 12:18] eliz-ol commented on #531
It turns out this is a restatement of [rancher #29943](https://github.com/rancher/rancher/issues/29943) / [rancher #18639](https://github.com/rancher/rancher/issues/18639)

I didn't realize I had created a cluster scoped API Key. After creating a non-scoped key, it works.

[2020-11-24 12:18] #531 closed, assigned to nobody

[2020-11-26 00:41] armsnyder opened #533 "rancher2_app_v2 values argument not suppressing diff when it should"
Hello!

I'm using the `rancher2_app_v2` resource and specifying the `values` argument using JSON. Each subsequent plan is showing a diff, because the actual values are stored as YAML in the upstream Rancher API, even though both YAML and JSON are supported in the resource. I suggest suppressing the Terraform diff here. I didn't check, but there may also be a similar issue if the YAML keys are repr

[2020-11-26 15:16] mikekuzak opened #534 "rancher2_app_v2 values yaml syntax"
Hi,

I can't find any documentation how to add a scan to the new cis benchmark via the app-v2 resource.
There is a value files which can take a yaml but there is also no documentation of the syntax for this.

I tried this:
[code]
[code]

but no luck.

[2020-11-26 16:56] rawmind0 commented on #533
Hi @armsnyder , as shown in the docs, values should be passed in yaml format json format is not supported, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app_v2#values

[2020-11-26 18:30] enrico9034 opened #535 "rancher2_app_v2 requires chart_version"
Hi everyone,
Looking at the [documentation](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app_v2#chart_version) the **chart_version** variable is optional but when I try to install a chart without passing the variable it fails with **"Catalog V2 id, chart name and chart version should be provided"**, also from the code [here](https://github.com/rancher/terraform-pr

[2020-11-27 02:05] armsnyder commented on #533
@rawmind0 I think there's a bug in the ValidateFunc then, since this error condition isn't being hit: https://github.com/rancher/terraform-provider-rancher2/blob/fa0c09dbee71145c60707aa2c98c9b42667c15aa/rancher2/schema_app_v2.go#L89-L93

Using `jsonencode` works fine for us, and it creates the correct YAML in the upstream Rancher app.

[2020-11-27 14:27] DaniloE opened #536 "rancher2_catalog_v2 not working behind proxy"
Hi,

we want to use rancher2_catalog_v2 for adding the bitnami-Repository. We have to use a proxa and configured it via ENV-variables inside the Pod.
In V1 (rancher2_catalog) everything works fine, but with V2 we get

**Error: [ERROR] waiting for catalog (bitnami) to be active: Get "https://charts.bitnami.com/bitnami/index.yaml": dial tcp 99.86.2.104:443: connect: connection refused**

in terrafor

[2020-11-27 14:43] DaniloE commented on #536
Great...after 5 hours i found a solution. We have to manually set the env-variables in the deployment-defintion of the cattle-agent pod.

[code]

It is a solution, but nor really practical at the moment, because we have several clusters.
The docker-daemon is via ENV configured to use the proxy,

Did i forget something, or has anyone a better solution than manual change?

[2020-11-30 13:25] rawmind0 commented on #533
@armsnyder , it seems the `ghodssyaml.Unmarshal()` function is also accepting json format, but the provider is not supporting it, as expressed at the docs. We'll work on checking `ghodssyaml` functions issues, but yaml format is required at `values` field.

[2020-11-30 13:29] rawmind0 commented on #535
Hi @enrico9034 , you are right, btm `chart_version` is required. It seems there is a docs issue defining it but we are working to solve it and provide the latest default `chart_version` as provided at `rancher2_app`

[2020-11-30 14:45] rawmind0 commented on #534
Hi @mikekuzak ,  one thing are the supported values of `rancher-cis-benchmark` chart (App v2) and another one is the execution of a cluster scan.

To be able to cis scan your cluster you need to deploy the App first, `rancher-cis-benchmark` supported chart values
[code]

CIS cluster scan is not yet supported at this provider. We are working on it and should be available pretty soon.

[2020-12-02 17:14] #525 closed, assigned to nobody

[2020-12-02 17:15] #512 closed, assigned to rawmind0

[2020-12-02 17:15] #504 closed, assigned to rawmind0

[2020-12-02 17:17] #403 closed, assigned to nobody

[2020-12-02 18:10] mikekuzak opened #539 "rancher-cis-benchmark always been recreated"
Rancher 2.5.2
TF: 0.13.5
Rancher provider: 1.10.6

Hi,

I have the following code:
[code]

Now the rancher-cis-benchmark app is every time recreated even it there is no change and I run the pipeline. It's only this app, the others are fine.

[code]

Terraform plan:
[code]

[2020-12-02 18:18] rawmind0 commented on #539
Hi @mikekuzak, your issue is with the `rancher-cis-benchmark` namespace. Rancher system services are always installed on the proper namespace, `cis-operator-system` for rancher-cis-benchmark. Setting proper namespace on tf file should address your issue

[code]

[2020-12-02 18:23] mikekuzak commented on #539
HI @rawmind0

Thank for that, will check .. I was looking at the guide which has an arbitrary namespace I though
[https://registry.terraform.io/providers/rancher/rancher2/latest/docs/guides/apps_marketplace](url)

[code]

[2020-12-02 18:30] rawmind0 commented on #539
Yeah, it's a typo on docs for `rancher-cis-benchmark`. Any other is using proper namespcae. Guide is addressed with PR https://github.com/rancher/terraform-provider-rancher2/pull/538

[2020-12-02 18:31] rawmind0 commented on #535
Docs fixed and new feature added at PR #538

[2020-12-02 18:48] #539 closed, assigned to nobody

[2020-12-03 12:07] ernst-at-tv2 commented on #370
what's the status?

[2020-12-03 13:02] maxaudron commented on #465
I'm also interested in using this when generating users for a customer.

@rawmind0 Perhaps it would make sense splitting it to two options on the terraform side, MustChangePasswordOnce or something which is ignore_changes, and MustChangePassword which behaves normal.

Or maybe couple one of them to the password being set/changed if that is possible, would make most sense for usability.

[2020-12-04 13:54] MG2R opened #540 "rancher2_app_v2 throws error about inconsistent results"
When trying to add a new `rancher2_app_v2` resource for Dynatrace, I got the following error on apply:

[code]

I got this by running the following plan:

[code]

The plan was the result of the following code:

[code]

The app was created successfully, although not all resources were rolled out successfully. When rerunning the plan/apply, it tries to create a new app, even though the old one is st

[2020-12-04 18:24] oxr463 opened #541 "Documentation for recipients.0.notifier_type for cluster_alert_group should include msteams"
Source: https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_alert_group#notifier_type

gz#13748

[2020-12-05 18:25] mholasek commented on #540
Same problem here, trying to install longhorn via app_v2.
[code]

Results in:
[code]

[2020-12-06 11:24] Gidiklf opened #543 "Update rancher2_auth_config_activedirectory Resource"
Hi Guys,

just want to mention that in this link:

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/auth_config_activedirectory

in the example section the "test_username/password" are not show up but they are required for the setup

[2020-12-07 11:52] #510 closed, assigned to rawmind0

[2020-12-07 12:01] rawmind0 commented on #540
When terraform shows errors like `...produced an unexpected new value..` ` ...produced inconsistent plan..`, most of the times use to be related to modules sync or vars sync. I guess the issue may be related with `count = var.* ? 1 : 0`. Terraform seems updating resource data in the meanwhile is applying. Error is saying that rancher2_app_v2.* tf definition was there to apply, but it isn't anymore

[2020-12-07 12:32] mholasek commented on #540
@rawmind0: I removed the count variable and unfortunately I get the same error.

[2020-12-07 13:52] rawmind0 commented on #540
@mholasek , you are right count argument is not causing the issue. I was able to reproduce it. There is a race condition if chart has dependencies and `wait = false` (default value).  Try adding `wait = true` to you app v2 longhorn definition, it should work fine.

Included a provider patch at PR #538 to set `wait = true` by default.

[2020-12-08 14:21] MG2R opened #544 "Support PersistentVolumes and claims"
Rancher has support for adding persistent volumes and persistent volume claims. I can't find these resources in the provider. Am I missing something? Are there plans to support these?

[2020-12-09 01:56] tsproull commented on #502
I'd like the ability to specify a fleet workspace for cluster imports on the rancher2_cluster resource.

[2020-12-10 00:21] SinisterMinister commented on #501
This wasn't the case originally as my module was working correctly with `v1.10.3`. Why is this different now and why is it a **breaking change** with a **patch** increment?

[2020-12-10 12:09] davidtron opened #545 "rancher2_app_v2 values not passed to sub charts"
We have a private registry that we are using for an airgapped install.
When we try to install rancher-monitoring using the terraform provider the systemDefaultRegistry is not passed through to the rancher-monitoring-crd subchart.

[code]

We believe that this is due the fact that the provider only passes through [cattle, clusterId, and clusterName](https://github.com/rancher/terraform-provider-ran

[2020-12-10 14:38] MG2R commented on #540
Just tried this: adding `wait = true` does not fix it for me. I'm guessing the specific issue I'm running up against is that Rancher is unable to roll out all the chart resources (due to [this issue](https://github.com/Dynatrace/helm-charts/issues/57) in the Dynatrace chart). However, that shouldn't stop Terraform from handling this gracefully. The app was created in the Rancher, so it should be i

[2020-12-10 15:04] MG2R commented on #540
Another discrepancy I just noticed: the name of the installed app does not match the name I entered in Terraform. As you can see in the code in the original message, I set the name as `name = dynatrace`. However, after running Terraform (and it failing), the following app is installed in cluster explorer:

![dynatrace_app_debug_hpc5150](https://user-images.githubusercontent.com/5439592/101788434-6

[2020-12-10 15:53] rawmind0 commented on #540
@MG2R , you are right, i've reproduced the issue. The issue you are having is distinct from @mholasek, this is caused by an app v2 name bug at the provider. If you set `name = "dynatrace-oneagent-operator"` your app v2 should be deployed and managed properly by terraform.

The provider should force release name and namespace if chart has defined annotations `catalog.cattle.io/release-name` and/or

[2020-12-10 16:16] mholasek commented on #540
I have added wait = true. Unfortunately this does not help. The error still occurs. I install sequentially the monitoring chart and the longhorn chart. With the longhorn chart this error occurs.

[2020-12-10 16:29] rawmind0 commented on #540
@mholasek , i can reproduce your longhorn issue with `wait=false` but working fine if set `wait=true`
This is working fine for me, using current provider release and Rancher v2.5.2
[code]

[2020-12-10 17:38] andrewrust13 opened #546 "rancher2_cluster datasource errors when secrets_encryption_config -> custom_config is set"
When trying to use a rancher2_cluster datasource:

[code]
Whereby secrets_encryption_config -> custom_config is set previously using the rancher2_cluster resource:

[code]

Running a Terraform plan fails with the following error:

[code]

It appears the custom_config field is present in the rancher2_cluster resource but not the rancher2_cluster data source.

gz#13899

[2020-12-10 18:29] rawmind0 commented on #545
Issue reproduced. Added a patch to fix it at PR #538

[2020-12-10 18:30] rawmind0 commented on #540
@MG2R , added a patch to fix `dynatrace` issue at PR #538

[2020-12-11 00:27] HighwayofLife opened #547 "Latest RKE in rancher2 provider does not support k8s 1.19 or newer"
The latest version RKE supported by the Rancher2 Terraform provider does not support a Kubernetes version newer than v1.18.12-rancher1-1. It doesn't appear that the Rancher2 provider has updated to RKE v1.2.3

[2020-12-11 10:26] MG2R commented on #540
Thank you! Just confirmed setting the name as `dynatrace-oneagent-operator` worked!

[2020-12-11 13:59] sbirl commented on #501
I have to agree with Sinister Minister, here.  I closed this out because I decided to just use local accounts for the time being (in a test environment so I dont care), but Im more than happy/willing to re-open this issue for further evaluation.

[2020-12-14 15:44] keisari-ch opened #548 "[rancher2_cluster/gke_config] enable_master_authorized_network missing from documentation."
Hi guys,

For a **GKE Private cluster**, the master_authorized_network_cidr_blocks parameter is not set.
Hence the cluster is unreachable after deployment.

Sample code used : rancher/rancher#30442

[2020-12-14 23:26] sogajeffrey opened #648 "Rancher2 Terraform EKSv2.0 import does not import cluster as is"
**What kind of request is this (question/bug/enhancement/feature request):**
BUG: When using the terraform rancher2 provider rancher_cluster resource to import an existing EKS cluster. it sets the EKS cluster access back to the default of public access and disables private access. If I set private_access to true and public_access to false it assumes I'm creating a new cluster and asks for kubernet

[2020-12-15 23:56] #527 closed, assigned to nobody

[2020-12-16 05:41] ghost opened #549 "Cannot create EKS cluster with different subnets to the node group"
I want to create an EKS cluster that has both public and private subnets, but a node group that has instances only in the private subnet.

It looks like the `subnets` parameter of the `eks_config` is used for both the cluster and for the `node_group`, which means that some nodes are exposed to the public.

Would it be possible to add an optional parameter to the `node_group` to configure the subne

[2020-12-16 15:27] rawmind0 commented on #544
By the moment, no plans to support PersitentVolumes and PersitentVolumeClaims resources. They are supported by kubernetes tf provider, is this not an option for you??.

[2020-12-16 16:24] #546 closed, assigned to nobody

[2020-12-16 16:29] rawmind0 commented on #546
PR https://github.com/rancher/terraform-provider-rancher2/pull/537 contains a fix for this issue. Please, reopen issue if needed.

[2020-12-16 18:11] #530 closed, assigned to nobody

[2020-12-16 18:11] #535 closed, assigned to rawmind0

[2020-12-16 18:11] #540 closed, assigned to nobody

[2020-12-16 18:11] #541 closed, assigned to rawmind0

[2020-12-16 18:11] #543 closed, assigned to rawmind0

[2020-12-16 18:11] #545 closed, assigned to nobody

[2020-12-16 18:35] keisari-ch commented on #548
The enable_master_authorized_network parameter is not documented but needs to be used explicitly with the master_authorized_network_cidr_blocks parameter.
I mistakenly thought it was enabled if master_authorized_network_cidr_blocks was not null.
Found it there : https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/structure_cluster_gke_config.go#L51

I guess https://registry

[2020-12-16 18:55] rawmind0 commented on #548
Hi @p4ranoidandro1d , thanks for the feedback. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/550 to fix the docs

[2020-12-16 18:56] #523 closed, assigned to rawmind0

[2020-12-16 19:11] rawmind0 commented on #547
This provider has not direct dependency with RKE. The supported RKE version is determined by the Rancher server version used.

A k8s cluster `v1.19.4-rancher1-1` can be deployed fine with this provider and Rancher v2.5.3

[2020-12-16 21:40] MG2R commented on #544
I know they exist, but that would require management of an admin token for Terraform in each Kubernetes cluster. With the Rancher Provider, I get all of that for free.

No worries though, I'll figure it out. Just wanted to make sure I wasn't missing anything.

Thanks a lot for your all of you work on this provider, really appreciated!

[2020-12-16 21:40] #544 closed, assigned to nobody

[2020-12-17 20:53] rawmind0 commented on #439
PR #253 has been superseded by PR #551

[2020-12-19 13:10] michalformanek commented on #225
Currently rancher2_project_role_template_binding requires either (user user_id | user_principal_id) or (group group_id | group_principal_id) to be defined. This makes suggested workarounds impossible, because you have to provide some value on the first run. Are there any other ways to create project role template bindings without using local user id?

[2020-12-24 00:31] vCra opened #553 "401 errors when getting MITM'ed"
Okay, so a bit of a weird one that I had to poke my toe into the rabbit hole to find.

Bit of background first - my current company intercepts some traffic on a corporate device while it is not connected to a VPN - probably for some deep packet inspection of some variation.

When trying to create a new cluster within rancher, while not on a VPN (which bypasses this), we get a 401 Authentication er

[2021-01-02 16:35] TomasManzano commented on #455
Hi.

   Same problem here, but using the Longhorn app as persistence provider. The cluster monitoring is setup long before the longhorn app is deployed so the monitoring volumes get never created as the storage class doesn't exists at the time of the configuration of cluster monitoring.

A separate resource for cluster monitoring would enable me to fire it after longhorn is fully deployed and solv

[2021-01-07 09:53] wilderbridge opened #554 "rancher2_app_v2 installation is a success but still treated as ERROR"
When installing the logging app via `rancher2_app_v2`

[code]

It gives error, even if there isn't any. The first error is about installing the required CRD and the second about the CRD missing. I would assume that the installation proceeds without any errors. Right now I have to manually import the succesfully installed application to state.

[code]

[2021-01-07 15:55] #548 closed, assigned to rawmind0

[2021-01-07 17:01] #439 closed, assigned to rawmind0

[2021-01-07 19:15] rawmind0 commented on #554
Take a look to https://github.com/rancher/terraform-provider-rancher2/blob/master/docs/guides/apps_marketplace.md#examples-1 first note.

Try with

[code]

[2021-01-07 22:37] armsnyder commented on #533
@rawmind0 Hi! I wanted to update you that we are still seeing unexpected diffs, this time using `yamlencode` as you suggested, even though we have not changed any values.

Using provider version 1.10.6

Gist: https://gist.github.com/armsnyder/f49c5bab1841076c43fb4d70db772ce1

It looks like maybe the provider is doing a string comparison instead of comparing the yaml structures, so it is seeing quo

[2021-01-08 21:30] raelix opened #555 "Support creation of basic-auth secret"
Hi everyone,

I’m using rancher2_catalog_v2 to add artifactory helm repo to the new rancher 2.5.3. The problem I’m facing is related to the authentication with artifactory, the rancher2_catalog_v2 needs a secret name and namespace but the supported type seems to be just basic-auth.
I’m not able to create a secret of basic-auth type with rancher provider rancher2_secret.
Are there any suggestions o

[2021-01-12 09:26] axeal opened #556 "Add rancher2_feature resource to control Rancher feature flags"
Feature request from the user is for a `rancher2_feature` resource, similar to the `rancher2_setting` resource to enable configuration of Rancher feature flags via the Terraform provider.

gz#14330

[2021-01-13 18:47] raelix commented on #555
After some investigation, seems that the new rancher2_catalog_v2 allows catalog login passing credentials thought a secret (type basic-auth) but this type of secret can't be created with rancher provider, this sound as a big limitation because requires the use of another provider

[2021-01-19 22:42] kingnarmer commented on #554
I am having slightly different issue. I get the logging operator and crd installed but they don't pick clusterFlows/clusterOuputs from value.yaml file. Not sure how to successfully pass those config on install time in terraform.

`resource "rancher2_app_v2" "logging" {
  cluster_id    = data.rancher2_cluster.cluster.id
  name          = "rancher-logging"
  namespace     = rancher2_namespace.loggin

[2021-01-20 11:17] jehutyy opened #559 "Rancher2_cluster with rke_config doesn't provision node"
As I understand the following snippet is expected to:
- create a new rke cluster
- add it to rancher ui
- provision node via ssh

The first two item are true but the provisionning of configured node doesn't seem to work.

[code]

[2021-01-20 13:21] rawmind0 commented on #559
@jehutyy , your assumption is not completely right. Rancher2 provider is not doing ssh to vm's, you should get [`node_command`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#node_command) from `rancher2_cluster` and use another tf provider/provisioner to execute node_command with proper roles on vm's. The provider is working at the same way Rancher2 works.

[2021-01-20 13:21] #559 closed, assigned to rawmind0

[2021-01-20 14:45] jehutyy opened #560 "node_command attribute contain partially correct command"
Terraform provider doesn't print appropriate `node_command`.

When adding a node that hold all three roles from rancher UI here the command I get :
`
sudo docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes -v /var/run:/var/run 50.0.0.2:5000/rancher/rancher-agent:v2.5.5 --server https://localhost --token xwbx8w2qrhknnjmjds6c6vvvxjzp72z4k4djtgdgx757w26z

[2021-01-20 14:59] rawmind0 commented on #560
@jehutyy , the node_command provided by the tf provider is correct. As mentioned [here](https://github.com/rancher/terraform-provider-rancher2/issues/559#issuecomment-763602093), `--etcd --controlplane --worker` parameters are the rke roles for the node. You should add all or a subset of them depending your nodes.

The `rke_config.nodes` shouldn't be provided. It has no effect on rke cluster, you

[2021-01-20 15:32] jehutyy commented on #560
First of all, thank you very much for all your answers in my today ticket.

I would like to better understand underlying mechanism : what's the point of specifying bunch of options in terraform manifest?

Like if, at the end, I have to concatenate appropriate flags to match wanted configuration why is there so much options?

Are they placeholder or something?

________________________________
From

[2021-01-20 16:38] rawmind0 commented on #560
You don't need options on terraform manifest, but if you need specific options on nodes, you need to tune the node_command, as it's presented as standard command, where you add node roles or specific [rancher agent options](https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/custom-nodes/agent-options/). The way of working is the same than using rancher ui https://rancher.co

[2021-01-21 07:26] eest commented on #536
While I dont know of a solution I think this is related to these tickets:
https://github.com/rancher/rancher/issues/24876
https://github.com/rancher/rancher/issues/29961
https://github.com/rancher/rancher/issues/30846

[2021-01-26 11:41] wilderbridge commented on #554
Thanks @rawmind0 that did it.

@true64gurus I'm doing it like this:

[code]
[code]

[2021-01-26 11:41] #554 closed, assigned to nobody

[2021-01-26 16:52] nikParasyr opened #561 "Add support for boot_from_volume and relevant attributes for openstack_config for node_template"
When using the rancher ui one can create a openstack node template that boots vms from volume. This is not possible via the provider. Related attributes:
- bootFromVolume
- volumeSize
- volumeType
- volumeId
- volumeName
- volumeDevicePath

I'll make a PR for this soon

[2021-01-27 15:50] fschueller opened #563 "dial tcp [IP]:8443: connect: connection refused` on Rancher server-provided cacerts"
Hi everyone,

I have installed Rancher server via [RancherD](https://rancher.com/docs/rancher/v2.x/en/installation/install-rancher-on-linux/#part-i-installing-rancher) and am now trying to connect with the rancher2 provider.
RancherD installs the Rancher server on a single-node RKE2 cluster and exposes it on port 8443.

Running the plain install as documented, I have not used any custom certs. The

[2021-01-27 16:31] rawmind0 commented on #563
Hi @fschueller , it seems that the tf provider can't connect to your service `Get "https://SERVER.com:8443/ping": dial tcp [IP]:8443: connect: connection refused` . Is the rancher service running?? Is running in same ip:port?? Doesn't seems a provider issue.

[2021-01-28 07:54] raelix commented on #555
Hello, are there any updates on this?

Thanks in advance

[2021-01-28 08:14] ztj commented on #555
While awaiting an enhancement for this to be possible directly, I did come up with a bit of a hacky (but easy to swap out for the real thing later) workaround you might find useful.

I created a helm chart that makes it easy to create the correct type of secret with really nothing else to it. I published this in a public helm repo, just a very simple one published on GitHub Pages. I add a public r

[2021-01-28 08:44] fschueller commented on #563
Hi @rawmind0, yes the server is running on the specified port. I can connect to the UI and API via browser and cURL all fine and without CA/cert errors.

[code]

I thought at first it's an issue of the RKE2 cluster underneath but I couldn't really verify that up to now. I'll have a look again, but it's weird since it's working for everything else.

[2021-01-28 10:36] fschueller commented on #563
Forgive me the hassle. It's a DNS problem. Obviously. Thanks for your patience.

[2021-01-28 10:36] #563 closed, assigned to nobody

[2021-01-29 11:27] raelix commented on #555
Hi @ztj thanks for the suggestion but unfortunately this is not applicable for air-gapped scenario where the helm repo needs the authentication and sincerely add terragrunt or something similar could create a lot of complexity which requires then more maintenance.
The good approach here should be allow in the rancher provider to pass user and password until the provider itself doesn't support the

[2021-01-29 12:30] rawmind0 commented on #555
Hi all, thanks for reporting this issue. You are right, we are already working to add rancher2_secrets_v2 resource to be able to generate distinct secrets types at Rancher explorer.

[2021-01-29 12:52] rawmind0 commented on #547
Please, reopen issue if needed

[2021-01-29 12:52] #547 closed, assigned to rawmind0

[2021-01-29 18:03] mikekuzak opened #564 "rancher2_app_v2 version not available after installation of catalog"
TF 0.13.5
Rancher 2.5.3
Provider 1.11.0

When building a cluster it looks like the new versions of the apps are not available. But I can use these versions when I have a running cluster and upgrade to that version.

[code]

[2021-01-29 20:30] #561 closed, assigned to nobody

[2021-01-29 20:42] rawmind0 commented on #556
Submitted PR #565

[2021-01-30 12:38] raelix commented on #555
Hello @rawmind0  thanks for the update, do you know already what will be the target release?

Thanks in advance

[2021-02-01 04:39] slessardjr commented on #553
You'll probably have more luck asking the community on slack
https://slack.rancher.io

[2021-02-01 09:14] alexzimmer96 opened #567 "Naming failure in Hetzner-Cloud node templates"
Seems like i established a naming issue in #522.
Instead of `private_network` i have named the template-variable `private_networks`.
Due to this error, the variable is not set in Rancher.

I will fix this later.

For more details see:
https://github.com/alexzimmer96/rancher-hcloud/issues/11

[2021-02-01 10:49] janeczku opened #568 "Add support for management of cluster registration token resources"
Feature:
Terraform provider should support cluster registration token as a first-class resource.

Use Case:
Today, cluster registration tokens can not be managed or explicitly created with the provider. Instead, when creating a cluster, a default cluster registration token is created automatically. This registration token never expires which may be unacceptable from a security point of view.

Depe

[2021-02-01 11:14] rawmind0 commented on #568
Hi @janeczku , I think this feature is not supported at Rancher. The feature should be first included to Rancher API. Could you please open an issue at rancher/rancher repo??

[2021-02-02 10:16] mibaboo opened #571 "Enable encryption on EBS Volume"
Hi

Im using the rancher2_cluster resource to provision and AWS EKS cluster, which does work, however I need to enable encryption on the EBS volume. I can enable from the Rancher Management console.

How can I enable encryption on the EBS volume using this Provider

[2021-02-02 10:31] mibaboo commented on #571
I found the correct argument .

ebs_encryption

[2021-02-02 10:31] #571 closed, assigned to nobody

[2021-02-02 22:49] #370 closed, assigned to rawmind0

[2021-02-03 11:24] keisari-ch commented on #500
Hi @rawmind0

I'm facing a similar, if not the same, issue with this resource.

I'm always getting changes on a plan/apply though the values file is static.

I'm using a custom rancher-monitoring values.yml, and i'm working a Rancher **v2.5.5** HA installation.

[code]

[code]

<details>
<summary>1st terraform apply</summary>
<p>

[code]
</p>
</details>

[code]

<details>
<summary>2nd terraform ap

[2021-02-03 14:43] axeal opened #572 "Add launch template support to eks_config_v2"
With the [introduction of the EKS launch template support in the upcoming v2.5.6 release](https://github.com/rancher/rancher/issues/28803) the user request is to make this configurable via the eks_config_v2 resource

gz#14485

[2021-02-03 16:50] ajchiarello opened #573 "can rancher2_node_pool wait until machines are up?"
I was wondering if there was any way to have the rancher2_node_pool not consider itself complete until the nodes in the pool have finished deploying. I'm testing a cluster repaving process using the create_before_destroy lifecycle argument, and while it is successfully replacing a node pool before destroying the old one, not having the new nodes in place is problematic.

[2021-02-04 07:06] mibaboo opened #574 "eks_config change default CNI"
Hi

Is it possible to change the default cni on eks using this provider?

[2021-02-05 09:30] axeal opened #575 "Add http_port, https_port and network_mode to ingress"
http_port, https_port and network_mode were added to the ingress config api type per https://github.com/rancher/types/pull/1184/files but are not yet configurable within an rke_config via the Rancher2 provider, user request is to add these

gz#14878

[2021-02-05 10:42] keisari-ch opened #576 "rancher2_app_v2 always suggests changes with same values.yml"
I'm facing a similar, if not the same, issue with this resource rancher2_app_v2 mentioned in rancher/terraform-provider-rancher2#500

I'm always getting changes on a plan/apply though the values file is static.

I'm using a custom rancher-monitoring values.yml, and i'm working a Rancher **v2.5.5** HA installation.

[code]

[code]

<details>
<summary>1st terraform apply</summary>
<p>

[code]
</p>
<

[2021-02-08 09:23] mibaboo opened #577 "EKS Cluster update nodes does not take effect"
Hi

I have successfully provision and EKS cluster using the config below.

[code]

However When I change the desired_nodes, maximum_nodes and minimum_nodes to 2 I can see the cluster says updating and I see the following logs but it does not actully update the nodes to 2 and it stays at 1 node.

[2021-02-08 20:09] rawmind0 commented on #573
Have you consider to use [cluster_sync](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync) resource??

[2021-02-08 20:36] ajchiarello commented on #573
Yes, but it didn't wait for the nodepools during the destroy/recreate - would I need to taint that resource as well in order to force it to wait again?

[2021-02-08 20:53] rawmind0 commented on #573
The cluster_sync should wait until cluster state is `active`. Once you added a new node_pool to a cluster, the cluster state is updated, coming back to `active` when the new node_pool has finished. At this point, you could destroy old node_pool.

[2021-02-10 13:29] sentry-gun opened #579 "ClusterRegistrationToken not being created by rancher2_cluster"
Hello!

I'm creating an RKE Azure cluster, which has previously worked without issues
[code]

But now I'm getting the following error
[code]

The cluster is created fine, but the ClusterRegistrationToken is nowhere to be found
Once I "edit" the cluster in the web UI, it is generated

I'm not sure why a new cluster would even look for namespaces -- I tried looking at the source code but I wasn't ab

[2021-02-10 13:43] rawmind0 commented on #579
Hello @sentry-gun , yes, that sounds weird, the tfp is not managing `namespaceId` to create `ClusterRegistrationToken`. What Rancher version are you using?? Have you updated Rancher server??

[2021-02-10 13:49] sentry-gun commented on #579
Rancher is on `2.4.8`, and no, we haven't updated recently

[2021-02-10 14:16] rawmind0 commented on #579
Tested your config using same Rancher2 and tfp versions but unable to reproduce the issue, cluster and cluster registration token are both created properly.

Are you using same user on rancher ui and tfp?? Have you made any change/update on tf side?? May be something wrong at tfstate??

[2021-02-10 15:48] rawmind0 commented on #370
The feature is already merged and will be included in the next provider release.

[2021-02-10 15:50] rawmind0 commented on #556
The feature is already merged and will be included in the next provider release.

[2021-02-10 15:50] rawmind0 commented on #450
The fix is already merged and will be included in the next provider release.

[2021-02-10 20:14] slessardjr opened #580 "Support for aks_config to allow setting the loadbalancer sku"
Rancher UI supports setting the LoadBalancer SKU https://github.com/rancher/rancher/issues/23715
Can the provider be updated so the aks_config can set this value?

[2021-02-10 20:37] sentry-gun commented on #579
I'm using the local admin account for the UI and an API token from that account for Terraform
Just to verify I tried creating a cluster & CRT through the API with the same token and curl, works fine

No changes on Terraform side, been on 0.12.26 since the start, probably updating to 0.13 or 0.14 at some point
TF state for the cluster resource below, I assume the provider pulls the information from

[2021-02-10 21:08] rawmind0 commented on #574
Hi @mibaboo, no btm, default CNI can't be configured, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#eks_config_v2

[2021-02-10 21:18] rawmind0 commented on #579
I'm not able to reproduce the issue using your config and versions, working fine to me. Something related to your installation?? Have you tested same tf config on another rancher server or with a new tfstate??

[2021-02-11 11:47] mibaboo commented on #574
ok thanks for the reply

[2021-02-11 11:47] #574 closed, assigned to nobody

[2021-02-11 13:14] rawmind0 commented on #580
Submitted PR to add the feature, https://github.com/rancher/terraform-provider-rancher2/pull/581

[2021-02-11 21:43] dkeightley opened #582 "Support labels and annotations for rancher2_cluster"
Currently labels can be applied for nodes/nodegroups, in some use cases (for eg, fleet) adding this metadata for a cluster in a programmatic way is ideal in the same way it can be managed in the UI/API.

gz#14923

[2021-02-12 13:44] sentry-gun commented on #579
Tested on a different Rancher server (Terraform 0.12.26, Rancher 2.4.8), worked fine
Tested with a clean install of Terraform 0.12.26, 0.12.30, 0.13.6, 0.14.6 on the same server, all failed

I can't really wrap my head around this issue, is there some debug mode for the provider specifically? I tried `TF_LOG=TRACE` but it didn't really show me anything new
[code]

I'd really like to stick with the

[2021-02-12 16:08] gaktive opened #647 "Update terraform provider for GKEv2"
We need to update the Terraform operator for the new GKE v2 provisioner.

https://github.com/rancher/gke-operator

[2021-02-12 16:40] rawmind0 commented on #580
PR https://github.com/rancher/terraform-provider-rancher2/pull/581 has been merged. The feature will be available at next provider release.

[2021-02-16 17:41] MG2R opened #584 "Support node_taints on rancher2_node_template"
When I create a node template through the UI, I can add node taints to the template, which will then be applied to any node started from that template. A template made that way will show this in the API:

[code]

With the Terraform provider, it seems there is no way to add this, if I'm reading the docs correctly. Would it be possible to add support for that? Right now I need to add node labels in

[2021-02-16 17:47] rawmind0 commented on #584
Both features should be available. Docs reference:
* https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#labels
* https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_pool#node_taints

[2021-02-16 19:07] MG2R commented on #584
I'm trying to add node_taints on `rancher2_node_template`s, though. It's possible in the UI and the API, but not in the Terraform provider.

[2021-02-17 15:12] rawmind0 commented on #584
Ok got it.  Adding new feature on PR https://github.com/rancher/terraform-provider-rancher2/pull/585

[2021-02-17 19:46] brettmorien opened #586 "Intermittent errors creating v2 app (rancher2_app_v2) during appV2OperationWait"
We are having issues where our cluster builds are failing when installing v2 apps. They install correctly, but during the appV2OperationWait, it immediately calls the Rancher API to get the resource information to inspect for transitioning state. For a brief period, that GetAppV2OperationByID API call may return a 500 error (which would succeed shortly later). This causes the wait operation to fai

[2021-02-17 20:58] armsnyder commented on #586
Would it be reasonable to rewrite the `appV2OperationWait` function to use either [resource.Retry](https://www.terraform.io/docs/extend/resources/retries-and-customizable-timeouts.html#retry) or [resource.StateChangeConf](https://www.terraform.io/docs/extend/resources/retries-and-customizable-timeouts.html#statechangeconf), and to treat a 500 error as retriable?

I think this failure is common bec

[2021-02-18 00:12] armsnyder commented on #586
Question for maintainers: Is there a reason this plugin does not retry _any_ API operation that results in a 500/502/503/504 HTTP status, or would that be a nice addition? Retries for all resources could be globally configured/disabled using a new `retry_timeout` provider config argument.

[2021-02-19 02:47] chad-barensfeld-exa commented on #321
@rawmind0 Are there any configurations that could help handle disconnections? We get the same issue when deploying to GKE clusters with our Terraform quite often. We've even added a 20 minutes cluster_sync to allow rancher to finish initial config after import.

[2021-02-19 12:00] rawmind0 commented on #321
@chad-barensfeld-exa could you please provide more context about your issue?? Is the issue occurring installing Rancher management server on GKE or adding GKE as downstream k8s cluster?? Is it occurring at initial GKE cluster deployment or eventually when you try to deploy something within the GKE cluster??

[2021-02-19 12:47] rawmind0 commented on #582
@dkeightley , may be i'm missing something, but labels and annotations are already supported for rancher2_cluster resource, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#annotations . Not clear what is requested here, could you please clarify??

[2021-02-19 13:20] rawmind0 commented on #586
@brettmorien , issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/588 to fix it.

@armsnyder , the reason is simple, opensource project, many requests/issues and not enough resources to do all stuffs in a row. For sure, this would be a nice addition, moreover now that these kind of issues are occurring. Contributions would be very welcomed. :)

[2021-02-19 16:19] axeal opened #590 "Method for confirming clusterrepos are created and downloaded in Rancher v2.5 clusters"
Attempting to deploy a chart from the `rancher-charts` or `rancher-partner-charts` repositories in a Rancher v2.5 provisioned cluster, via the `rancher2_app_v2` resource, immediately after cluster provisioning will fail with a message of the following format, if the clusterrepos has not yet been created.

[code]

User's request is to have a method of verifying that the clusterrepo has been created

[2021-02-20 01:28] armsnyder commented on #586
@rawmind0 Of course, I should have phrased that better as "are there technical reasons". 😄

By the way I started working on adding retries throughout the codebase (https://github.com/armsnyder/terraform-provider-rancher2/commit/8aca65d04c1afa941234a20742e1e4cc236dcfe4), but there were hundreds of places needing to be changed, and it wasn't tractable for me to find/implement all of them. I think it

[2021-02-21 20:22] dkeightley commented on #582
Thanks @rawmind0, the label/annotations in `rancher2_cluster` are applied to a nodepool, or am I mistaken? The intention here is to label the cluster for use with Fleet.

edit: Tested and this works as desired, it appears the documentation may be a copy/paste typo from `rancher2_node_pool`, shall we update it?

[2021-02-22 03:59] dbason opened #591 "rancher2_app_v2 resource doesn't respect system default registry when updating app"
On a Rancher cluster configured with a private default registry the rancher/shell:v0.1.5 image is trying to pull from public docker hub when the app is upgraded using terraform.  When upgraded using the UI the following values are passed to the API:
[code]
The systemDefaultRegistry entries should be included in the global values by the provider so the default registry is respected.

gz#15233

[2021-02-22 11:59] rawmind0 commented on #582
@dkeightley , i'm glad it's working as desired.

For sure, if you found out a typo in the docs, it should be fixed. Could you please open a PR fixing the docs typo or be more explicit where the typo is to be fixed??

[2021-02-22 12:05] rawmind0 commented on #586
Thanks @armsnyder . Yeah, agreed that retry should be implemented on client side. Let me invest some time on that and i'll back to you asap. In the meanwhile, i guess the submitted patch should be enough to make that work properly.

[2021-02-22 12:10] rawmind0 commented on #576
@p4ranoidandro1d , `values` argument should be intended to provide a value.yaml replacement. Not needed to fully explain the behaviour on your side, but in order to reproduce the issue, could you please explain what values are always set as updated??

[2021-02-22 12:45] keisari-ch commented on #576
Hello @rawmind0

There's a whole set of yaml branches being updated, and to be honest, i cant find the logic behind.

A few of them, that could be explained by the processing of some empty list or maps and the null "value".

For example, there's a 1st level global: block:
With keys being removed....

[code]

[code]

or this one being treated as updated, but there's no change:

rke2Etcd:

[code]

[

[2021-02-23 19:13] slickwarren commented on #556
Tested on rancher 2.5-head (a85f4d1f87feea0083ebf8ae517a140f39de7fbd) and terraform latest (built locally on 2/22/21):
* update a feature -- PASS
[code]
* update multiple features at once -- PASS
* update feature to same status -- PASS
* update feature that requires restart -- FAIL (reports failure, but feature was modified)
  * if other features are listed for modification **after** the feature t

[2021-02-23 20:12] brettmorien commented on #586
Hi @rawmind0

Are you considering cutting a release including this fix in the near future? We would love to increase the reliability in our CI system.

[2021-02-23 22:20] ba-work opened #594 "Creating an app using rancher2_cluster as a datasource is not idempotent"
I don't think I'm doing anything unintended:
1. query for cluster id
2. create project based on cluster id
3. create namespace based on project id
4. create app based on namespace and project ids

The query on step 1 always marks `id` as `(known after apply)` which for some reason causes everything else to be: `must be replaced` (except for the namespace?)
[code]
Here is a sanitized log from my en

[2021-02-23 23:05] slickwarren commented on #556
retested all of the above tests with the above PR. Here was the diff of results:
* update feature that requires restart -- PASS
* changing multiple features, NONE of which require rancher restart -- PASS
* changing multiple features ANY of which require rancher restart -- Expected to fail (concurrency issue with terraform, not resolvable at this time)

will close once PR merges

[2021-02-25 16:53] mitchellmaler opened #595 "NodeTemplate labels not removed in rancher2 nodetemplate when removed from terraform resource"
I have a node template that sets the labels which are added correctly. I just tried removing it from one of my nodetemplate resources but it still exists in the state and not removed from rancher2 server. The preview/refresh doesn't show anything is changed either.

[code]

For example above I commented and applied the change but it was not shown as a change and was not removed in the template in

[2021-02-25 16:59] mitchellmaler opened #596 "Rename/Duplicate nodetemplate labels property to be node_labels so it is in line with the node_taints var"
With PR https://github.com/rancher/terraform-provider-rancher2/pull/585 it will add a node_taints property to the node template resource. This makes it confusing to know that node_taints are added to nodes and labels are as well. I recommend duplicating the labels property to be named node_labels and then deprecate the generic labels property that way they are aligned and users will know these are

[2021-02-25 17:11] rawmind0 commented on #586
Hi @brettmorien , yeah, we'll cut a new release next week, once rancher v2.5.6 is released.

[2021-02-25 18:06] rawmind0 commented on #596
`labels` and `node_taints` argument names are aligned with its Rancher API field names, https://github.com/rancher/rancher/blob/master/pkg/client/generated/management/v3/zz_generated_node_template.go#L56 .  I don't think renaming `labels` is something to be done, moreover being a breaking change. May clarify it adding some comment on the docs??

[2021-02-25 18:07] mitchellmaler commented on #596
Ah yea if the rancher api has it that way then just clarifying it in the docs is probably the best.

[2021-02-25 18:08] slickwarren commented on #556
retested the above after the merge to master (and rebuilt locally on commit 43e57199ac06047f583b1ad58caca31d2915edb7)
* update feature that requires restart -- PASS
* update a feature that does not require restart -- PASS
* run tf script that has entries for features that match the existing state -- PASS
* update multiple features, NONE of which require rancher restart -- PASS
* changing multiple

[2021-02-25 18:08] #556 closed, assigned to rawmind0, slickwarren

[2021-02-25 19:16] rawmind0 commented on #594
This issue seems related to this tf module design and the terraform [datasource behaviour](https://www.terraform.io/docs/configuration/data-sources.html#data-resource-behavior). Terraform advices that datasources are updated on refresh stage (before apply) unless using "known after apply" values on them.

Your tf plan is saying `module.rancher_management.module.rancher_storage.data.rancher2_cluste

[2021-02-25 19:29] rawmind0 commented on #596
Updated PR #585 adding a doc note to clarify  it.

Please, reopen if needed

[2021-02-25 19:29] #596 closed, assigned to nobody

[2021-02-26 04:23] jiaqiluo commented on #450
The bug is reproduced on Rancher `v2.4.8` and Terraform rancher2 `v1.11.0`.

As the screenshot shows, only the upgrade of app `cluster-monitoring` is triggered.

<img width="1118" alt="Screen Shot 2021-02-25 at 8 11 41 PM" src="https://user-images.githubusercontent.com/6218999/109254481-512fc780-77af-11eb-80fd-41c73898cdcd.png">

The bugfix is validated with the self-built provider binary.

As the

[2021-02-26 04:24] #450 closed, assigned to jiaqiluo, rawmind0

[2021-02-26 14:07] ba-work commented on #594
Right, but this continues to happen after every apply, regardless of if the value returned is different. For now I've worked around the issue by changing my module to accept the id as an input and the calling module that makes the cluster passes it from a cluster_sync resource.

I think this an issue because other providers using this technique don't have this behavior. For instance, I make openst

[2021-02-26 14:40] rawmind0 commented on #594
As mentioned, this is by design the defined and the expected behaviour for terraform datasources, out of the provider scope. If the datasource contains some argument `known after apply`, the datasource is unable to be refreshed before apply, triggering  updates on all resources that have some dependencies on it.

This doesn't seem a provider issue. The distinct behaviour you mentioned, is caused b

[2021-02-26 14:41] #584 closed, assigned to nobody

[2021-02-26 15:24] rawmind0 commented on #586
PR #588 is already merged. It will be included on next tfp release.

Please reopen issue if needed.

[2021-02-26 15:24] #586 closed, assigned to nobody

[2021-02-26 15:25] rawmind0 commented on #580
Please reopen issue if needed

[2021-02-26 15:25] #580 closed, assigned to rawmind0

[2021-02-26 15:29] rawmind0 commented on #560
Please, reopen issue if needed

[2021-02-26 15:29] #560 closed, assigned to nobody

[2021-03-02 19:01] savealive commented on #576
It must be a problem for everyone who use rancher_app_v2 resource. Actual values.yaml in rancher new-style app are formatted on Rancher side and obviously don't match as 1-to-1 string. However actual data in values.yaml is the same.

[code]

[2021-03-03 16:51] bentastic27 opened #598 "Azure: public IP sku of nodes does not match sku of LB"
We enabled the selection of the Load Balancer sku in this GitHub issue:

https://github.com/rancher/terraform-provider-rancher2/issues/580

But when a Standard LB is created, the public IP SKU of the nodes do not match, they default to basic which breaks the public IP/LB relationship. So when [no_public_ip](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_templat

[2021-03-05 08:11] raelix opened #599 "rancher2_cluster doesn't allow to set annotation for rke_config nodes"
Hello everyone,

I'm trying to add annotation on rancher2_cluster nodes (rke_config) but there is no way to do that. I see just taint and labels but not annotation.

Do you have any suggestion?

[2021-03-05 10:29] rawmind0 commented on #599
Hi @raelix , `rancher2_cluster` is not managing nodes if set as `custom` or `imported` k8s cluster. Using `custom` cluster, as you mentioned, labels and taints can be added on the node_command, but i guess annotations are not supported at Rancher side, as you can also check from ui.

The only way to do it is using [`rancher2_node_pool`](https://registry.terraform.io/providers/rancher/rancher2/late

[2021-03-05 10:34] rawmind0 commented on #598
Not fully understanding what that means as i'm not a big azure expert. Could you please explain, what would be the expected behaviour here??

[2021-03-05 10:45] andreshamedfernandez opened #600 "rancher2_app_v2 throws error about inconsistent results with longhorn (wait = true doesn't work)"
When trying to install longhorn using the rancher2_app_v2 I get this error:

[code]
What I also see in the logging is this warning:

[code]

Strange thing is that the longhorn is installed correctly and works fine but the state is saved so everytime we run this it wants to install Longhorn.

This is the configuration I use
[code]

Version being use are as follows:

- Using hashicorp/kubernetes v1.

[2021-03-05 10:59] mikekuzak commented on #564
Same with Cluster Monitoring ..
Rancher V2.5.5
TF Provider 1.11.0

[code]

When using monitoring 0.1.4 is works.

Thanks

[2021-03-05 11:39] rawmind0 commented on #564
This issue should be addressed with PR https://github.com/rancher/terraform-provider-rancher2/pull/569

This is not the same issue. This is expected behaviour as explained at https://github.com/rancher/terraform-provider-rancher2/commit/669121c63787beb3828fa157f7712cd13c85201f

[2021-03-05 11:41] raelix commented on #599
Hi @rawmind0  thanks for the quick answer. I'm using rancher2_cluster as custom and as you mentioned there is no way to add annotation (only labels and tains) and it's not possible use rancher2_node_pool and rancher2_node_templates for custom nodes (bare-metal installation).
My problem is that longhorn needs annotations on the nodes to create custom tags disks/nodes, do you have any suggestions on

[2021-03-05 12:39] rawmind0 commented on #590
Added retry logic to get V2 catalogs and apps at PR https://github.com/rancher/terraform-provider-rancher2/pull/569 . This should address the issue.

[2021-03-05 12:53] rawmind0 commented on #536
@eest , you are right, this issue is related to these Rancher issues. Fix is included on Rancher v2.5.6, nothing can be done from this tf provider.

Please, reopen the issue if needed

[2021-03-05 12:53] #536 closed, assigned to nobody

[2021-03-05 12:58] rawmind0 commented on #600
This issue seems related to a race condition, where trying to read app v2 before it's available at Rancher API. Added retry logic to get V2 catalogs and apps at PR #569 . This should address the issue.

These warning shouldn't be related to the issue, they are related to legacy sdk used by this provider, but just warnings. We are working to update the sdk used by the provider.

[2021-03-05 15:13] rawmind0 commented on #582
Fix included on new provider release v1.12.0

Please, reopen issue if needed

[2021-03-05 15:13] #582 closed, assigned to nobody

[2021-03-05 15:21] rawmind0 commented on #564
Fix included on new provider release v1.12.0

Please, reopen issue if needed

[2021-03-05 15:21] #564 closed, assigned to nobody

[2021-03-05 15:21] rawmind0 commented on #590
Fix included on new provider release v1.12.0

Please, reopen issue if needed

[2021-03-05 15:22] rawmind0 commented on #600
Fix included on new provider release v1.12.0

Please, reopen issue if needed

[2021-03-05 15:22] #600 closed, assigned to nobody

[2021-03-05 17:27] junkiebev commented on #598
* It is not possible to mix IP SKUs in an availability set.
* Azure load balancers target availability sets.
* Standard tier load balancers can only target Standard SKU IPs
* Basic tier load balancers can only target Basic SKU IPs

The issue is that the terraform provider provisions the compute w/ basic tier IPs, instead of using the SKUs of the load balancer which was selected.

RePro steps
1) Sp

[2021-03-08 09:17] nitingadekar commented on #417
This worked for me, Thanks for the solution

[2021-03-08 11:52] wojtasool opened #601 "Creation of EKS cluster with rancher 2.5.6 does not work."
After rancher server upgrade from 2.5.5 to 2.5.6 creation of EKS clusters does not work anymore.
Tried plugin rancher2 with version 1.12.0 but no sucess.
It complaints about launchTemplate beeing nil and also about ResourceTags being nil for node group.
Example:
"Field [resourceTags] cannot be nil for nodegroup [harbor_node_group] in non-nil cluster [c-8pl69]"

Such fields can not be specified wit

[2021-03-09 05:01] amoon78 opened #602 "Unsupported argument error in node_taints"
I'm trying to add node_taints in `rancher2_node_template` or `rancher2_node_pool` resource but, I got this error.

[code]

Here are my provider/terraform version.
* rancher/rancher2 v1.12.0
* Terraform v0.13.6

And, here are my test code.
* When i tested with `rancher2_node_template` TF
[code]

* When i tested with `rancher2_node_pool` TF
[code]

and, i have this variables for node_taints.
[code]

[2021-03-09 17:23] rawmind0 commented on #598
Thanks for the clarification @junkiebev . We are investigating this, but it seems that selecting ip SKU option is not available at [rancher-machine](https://github.com/rancher/machine/blob/master/drivers/azure/azure.go#L74) nor [docker-machine](https://docs.docker.com/machine/drivers/azure/) , so not supported by Rancher nor this provider.

[2021-03-09 17:43] junkiebev commented on #598
@rawmind0  - It's just giving it a public IP with that SKU. You do it in AKS already and it (allegedly) works in the GUI.

[2021-03-09 18:03] rawmind0 commented on #598
If it's just giving a public IP to the nodes, setting [no_public_ip ](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#no_public_ip) to false should be enough, isn't it?? There are 2 azure configs: node_template azure driver (rancher-machine) and rke azure cloud_provider, (k8s) and it seems that one is affecting the other one, but don't know how to confi

[2021-03-09 22:28] ron1 opened #603 "Import rke2 clusters"
Provider should deliver the same level of support to rke2 clusters as it does to k3s clusters. At a minimum, the importation of rke2 clusters should be supported.

[2021-03-10 15:08] junkiebev commented on #598
It isn't sufficient - Public IP addresses have skus (though I believe the default is `Standard` and the ARM you are feeding specifies `Basic`):

![image](https://user-images.githubusercontent.com/6684332/110650448-2b77ca80-8180-11eb-99a7-0bb6b88494f1.png)

[2021-03-10 15:55] junkiebev commented on #598
Docs

https://docs.microsoft.com/en-us/azure/load-balancer/skus

[2021-03-10 16:27] bentastic27 commented on #598
@junkiebev It appears that this may be broken in Rancher and not just in Terraform. To confirm, are you able to run into the same behavior when creating the cluster via the Rancher UI? If so, I'll need to create another GitHub issue on rancher/rancher for this. I don't have access to functioning Azure credentials at the moment for me to try on my end. I sent a booking link in the ticket if you'd l

[2021-03-10 16:49] rawmind0 commented on #598
@junkiebev  Indeed, that's what i'm trying to explain. `node_template` is using `rancher-machine` to deploy vms from Rancher. `rancher-machine` (nor `docker-machine`) doesn't seem to provide support to configure ip sku's on azure.  If so, the support should be added at `rancher-machine`, then at `rancher` and finally here.

[2021-03-12 14:18] fad3t opened #604 "Support configuration of environment variables for RKE clusters"
Since Rancher 2.5.6, it is possible to set environment variables for the rancher-agent (see [doc](https://rancher.com/docs/rancher/v2.5/en/cluster-provisioning/rke-clusters/options/#agent-environment-variables) or [github](https://github.com/rancher/rancher/issues/31370)).
It would be nice to be able to configure them through the rancher2_cluster resource.

[2021-03-12 15:45] rawmind0 commented on #591
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/605 to fix the issue

[2021-03-15 16:40] tehkuhnz-kr opened #606 "TF module rancher2_auth_config_activedirectory Resource does not accept working api credentials"
Any api tokens used fail to run the TF module  rancher2_auth_config_activedirector for the rancher2 provider on rancher 2.5.6

**Error message:**
Error: Bad response statusCode [401]. Status [401 Unauthorized]. Body: [baseType=error, code=Unauthorized, message=authentication failed] from [https://**redacted**.com/v3/activeDirectoryConfigs/activedirectory?action=testAndApply]

These tokens work on

[2021-03-15 17:14] julienym commented on #590
This is still a problem with 1.12.0, but in our case it's not happening all the time.

Error: Bad response statusCode [404]. Status [404 Not Found]. Body: [code=NotFound, message=clusterrepos.catalog.cattle.io "rancher-charts" not found] from [https://XXXXXXXXXXXXXXX/k8s/clusters/c-57c5v/v1/catalog.cattle.io.clusterrepos/rancher-charts]

Why not use a data source and verify a refreshed attribute?

[2021-03-15 18:42] julienym commented on #590
@rawmind0 could you reopen this please?

[2021-03-15 19:55] #606 closed, assigned to nobody

[2021-03-15 19:55] tehkuhnz-kr commented on #606
error in auth config -- closing this issue

[2021-03-16 05:55] Jasstkn opened #607 "[hetzner] wrong type of networks in rancher2_node_template"
Hi.
According to the docs networks should be comma-separated list of networks, but as I can see in source [code](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_node_template_hetzner.go) it's a string.

I'm also wonder why networks passed as null?

[code]

Compare manually created and via terraform - networks, imageid are different:
[code]

[code]

If I change no

[2021-03-16 06:07] Jasstkn commented on #607
@alexzimmer96 Hi. maybe you have some info regarding this issue? I've forked your module so maybe you have some answers :)

[2021-03-16 06:41] wojtasool commented on #601
  | Field [launchTemplate.ID] cannot be nil for nodegroup [test-node_group] in non-nil cluster [c-5mj79]
-- | --

[2021-03-16 15:43] carlcauchi commented on #601
**[ BLOCKING ISSUE ]**

I have managed to replicate the same issue using Rancher v2.5.7 using Rancher2 provider v1.12.0:
When creating an EKS Cluster, its errors out on:

**`Field [launchTemplate.ID] cannot be nil for nodegroup [xxxxNodeGroupNamexxxx] in non-nil cluster [c-b69l4]`**

@rawmind0

[2021-03-18 18:55] rawmind0 commented on #590
@julienym there is no `refreshed` attribute for clusterrepos, just a [`Downloaded` condition](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_catalog_v2.go#L147). This condition is checked when you add a new clusterrepo, waiting until the clusterrepo is downloaded https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_ranc

[2021-03-18 19:26] julienym commented on #590
Hi @rawmind0
In our case, we can't add the repos since it's a default one coming with Rancher 2.5 - > rancher-charts

We do use cluster_sync, here is the resource:
[code]

[2021-03-18 21:49] rawmind0 commented on #590
Got it, the issue is with default clusterrepos. thanks for the info @julienym

Working on a patch

[2021-03-19 18:40] rawmind0 commented on #590
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/609 to fix the issue

[2021-03-19 20:08] #567 closed, assigned to nobody

[2021-03-19 20:09] rawmind0 commented on #607
Hi @Jasstkn , PR https://github.com/rancher/terraform-provider-rancher2/pull/570 containing a patch to fix this issue has been merged.

Please, reopen the issue if needed

[2021-03-19 20:09] #607 closed, assigned to nobody

[2021-03-20 05:39] Jasstkn commented on #607
Great news! Many thanks! I'm gonna test that.

[2021-03-21 16:22] Jasstkn commented on #607
@rawmind0 Hello. I'm just wondering when release will be cut?

[2021-03-21 22:03] dkeightley opened #610 "Disabling monitoring v1 requires false"
rancher2 provider: v0.12.0 (v0.11.0 also tested)
Rancher: v2.5.6
Terraform: v0.14.4

After enabling monitoring (`enable_cluster_monitoring = true`) on a `rancher2_cluster`, a typical workflow of removing the `enable_cluster_monitoring` argument will not detect any change for the `rancher2_cluster` resource.

Explicitly setting `false` is required to disable monitoring.

This may be working as expe

[2021-03-22 15:50] prachipsl opened #611 "rancher2_catalog_v2 terraform resource giving error with ca_bundle argument"
We are using terraform to deploy our containarised product on kubernetes clusters. All these clusters are managed by rancher kubernetes cluster. We are using SSL enabled nexus repository as helm repository to keep all products helm charts, and using rancher2_catalog_v2 resource to add those charts repositories in specific cluster. When we use SSL enabled nexus with self signed certificate PEM file

[2021-03-23 17:22] rawmind0 commented on #611
Are you including ca public cert to ca_bundle?? Is this config working fine at Rancher UI??

[2021-03-23 17:29] rawmind0 commented on #610
This is the expected behaviour, due to [`rancher2_cluster.enable_cluster_monitoring`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#enable_cluster_monitoring) is a terraform computed argument. If it's not defined, getting the value from Rancher API (doesn't set a default value `false`).

[2021-03-24 06:45] prachipsl commented on #611
Yes, I am including ca public cert to ca_bundle.

From UI behaviour is different for Cluster manager UI and Cluster Explorer UI. From cluster manager UI I am able to add https self signed nexus repo by following instruction specified at this link: https://rancher.com/docs/rancher/v2.x/en/installation/install-rancher-on-k8s/chart-options/#additional-trusted-cas.
And then following Tools -> Catalogs

[2021-03-24 17:18] rawmind0 commented on #611
And then following Tools -> Catalogs -> Add catalogs

Yes, it's expected to have different behaviour from both UIs: Cluster manager UI is managing `rancher2_catalog`; Cluster Explorer UI is managing `rancher2_catalog_v2`.

You are right that there isn't any option to add caBundle to a catalog v2 at Cluster Explorer UI. The option exists at Rancher API , https://github.com/rancher/rancher/blob/mast

[2021-03-24 19:34] prachipsl commented on #611
My ca bundle(PEM file) is created by using PKCS1 standard. I followed this link to create certificate.
https://mariadb.com/kb/en/certificate-creation-with-openssl/
But still it's giving me same parsing/formating error.
@rawmind0, could you please share steps which you have followed to create ca bundle/PEM file/certificate. And if feasible, could you also share the PEM file for which it worked for

[2021-03-24 20:53] rishgh opened #612 "Rancher plugin for OKE new feature- Customer controlled Kubernetes API Server Endpoint"
New OKE clusters now allow users to manage the Kubernetes API Server endpoint. Need to add this in the racnher plugin for OKE cluster creation - https://docs.oracle.com/en-us/iaas/releasenotes/changes/09d90926-eac8-491f-954e-d7347b40aded/

[2021-03-25 07:41] sveba opened #613 "Creating project with empty namespace quotas fails"
Rancher 2.5.5
I'm trying to create a project without default namespace limits

[code]

Result:
[code]

[2021-03-25 11:15] rawmind0 commented on #613
[`namespace_default_limit`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project#namespace_default_limit) argument is required if `resource_quota` is defined

[2021-03-25 11:23] sveba commented on #613
@rawmind0 you are right. But all arguments are optional. So I guess an empty object should be OK?

[2021-03-25 11:32] rawmind0 commented on #613
Yes, you are right. The doc explanation could be improved, but basically they are all optional due to just limits that are defined at `project_limit` could be defined at `namespace_default_limit`.

[code]

[2021-03-25 11:34] sveba commented on #613
This would be great to find in the documentation. Thank you for clearing this for me

[2021-03-25 12:07] rawmind0 commented on #602
The `node_taints` definition is not properly defined as terraform list notation. You can try using [for_each](https://www.terraform.io/docs/language/meta-arguments/for_each.html) at the resource definition

The definiton should be done defining `node_taints` for every list member, like

[code]

[2021-03-25 12:28] #613 closed, assigned to nobody

[2021-03-27 14:44] Jasstkn commented on #607
@rawmind0 hi! Sorry for disturbing you.. But maybe you can cut the release?

[2021-03-30 07:19] prachipsl commented on #611
@rawmind0 ,
Could you please share the steps which you are using to reproduce the issue? For example, are you using terraform script to add self signed helm chart repo or you are just caling rest api for the same. I am still not able to get passed this parsing error even if I used required format of private keys that is PKCS1.

[2021-03-31 18:52] rawmind0 commented on #591
Fix included at new Rancher2 tfp release v1.13.0

[2021-03-31 18:53] rawmind0 commented on #601
Fix included at new Rancher2 tfp release v1.13.0

[2021-03-31 18:54] rawmind0 commented on #590
Fix included at new Rancher2 tfp release v1.13.0

[2021-03-31 18:54] rawmind0 commented on #555
Fix included at new Rancher2 tfp release v1.13.0

[2021-03-31 19:04] #591 closed, assigned to rawmind0

[2021-03-31 19:04] #601 closed, assigned to rawmind0

[2021-03-31 19:04] #590 closed, assigned to rawmind0

[2021-03-31 19:04] #555 closed, assigned to rawmind0

[2021-04-02 13:53] Edge94 commented on #604
Hello, any update on this request?

[2021-04-05 14:39] lkjangir opened #615 "rancher provider 1.13.0 fails with azure after upgrade from 1.11.0"
As soon as  I changed upgraded rancher provider to 1.13.0, it started failing with azure.

Error: Error building ARM Config: obtain subscription() from Azure CLI: Error parsing json result from the Azure CLI: Error retrieving running Azure CLI: --- Logging error ---
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.19.1/libexec/lib/python3.8/site-packages/azure/cli/__main__.

[2021-04-05 14:41] lkjangir opened #616 "rancher_cluster2 doesn't have any option to add a spot node pool to AKS"

[2021-04-06 13:56] trieszecg opened #617 "Using rancher2_cluster_role_template_binding with openldap_user"
rancher v2.5.7
rancher/rancher2 v1.13.0
terraform:0.14.5

this did not work:
[code]

results in
[code]

this runs terraform apply OK:
[code]

the user appears on the UI OK, among the cluster members, but the binding does not function properly. (Logging in with the user credential it does not see the cluster.)

[2021-04-06 14:59] rawmind0 commented on #617
This is not intentional, `user_principal_id` should work properly. Have you customized your openldap user/group schemas??

[2021-04-06 15:06] rawmind0 commented on #615
@lkjangir , not understanding what these python error logs means. I can't see anything related with the rancher2 provider (coded in golang). Could you please clarify and provide more info and context??

[2021-04-06 15:09] #594 closed, assigned to nobody

[2021-04-06 15:11] #602 closed, assigned to nobody

[2021-04-06 15:23] trieszecg commented on #617
I tried with default schemas and with customised ones too.
If I enter the username on the UI (cluster / Members / add member) it does find the user OK and it does create the role binding correctly. So It may be something with the terraform provider?

[2021-04-06 15:32] trieszecg commented on #617
I wonder if it can be related to https://github.com/rancher/rancher/issues/19457 ?

[2021-04-06 15:42] rawmind0 commented on #617
If I enter the username on the UI (cluster / Members / add member) it does find the user OK and it does create the role binding correctly. So It may be something with the terraform provider?

Not completely sure, but i guess the UI field is using `user_id`. Anyway, the error showed at tf provider is saying that the user is not found. Are you using same user to auth at tf provider and ui?? Is the t

[2021-04-06 16:27] trieszecg commented on #617
this ldap user (`zzzz` below) is independent from the admin token.
for terraform I am using the boostrap mechanism. Terraform provisions rancher and `rancher2_auth_config_openldap`
then for UI login
[code]
This works fine. I am member of this `wwww` group so I can login on the UI with my own LDAP credential and have admin rights.

1) if I add user `zzzz` manually via UI (cluster / Members / Add me

[2021-04-07 11:05] wojtasool opened #619 "Add possibility to create private AKS cluster"
In Azure portal there is possibility to create private AKS cluster.
We would like to have same option in rancher2 provider.

Regards

[2021-04-07 17:28] rodcloutier opened #620 "Feature request: Add support for node pool node labels and annotations"
The Rancher api allows to set the labels and annotations on nodes through the node pool resource.
The `nodeTaints` is already supported but `nodeAnnotations` and `nodeLabels` are not.

[code]

[2021-04-07 17:33] mitchellmaler commented on #620
This can be done using the NodeTemplate resources labels and annotations fields.

Unfortunately to add labels and annotations to NodePools (which are applied to the downstream nodes) would require a Rancher Server change allowing the capability first before it can be added to tf provider.

[2021-04-07 17:34] rodcloutier commented on #620
Thanks for the hint. I will use that instead.

Just a question then, what are those fields purpose?

[2021-04-07 17:36] mitchellmaler commented on #620
annotations. labels, and note_taints on the NodeTemplate resource.
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#annotations

[2021-04-07 18:30] rodcloutier commented on #620
Well the whole thing seems to be somewhat messy.

The documentation on the provider states that the annotations and labels are for the `NodeTemplate` resource not the nodes.
https://github.com/rancher/terraform-provider-rancher2/blame/master/docs/resources/node_template.md#L110

But... the `labels` from the node template are applied to the node as seen here:
https://github.com/rancher/rancher/blob

[2021-04-10 14:05] Jasstkn opened #622 "Inconsistent status after applying name to existing node pool"
Expected behaviour: new name applied (id in unchanged)
Current behaviour:
[code]

[2021-04-10 14:28] Jasstkn opened #623 "Inconsistent status when enable_cluster_monitoring false"
Hi.

Imported cluster to rancher2_cluster terraform resource. enable_cluster_monitoring = false, but I still got info about configuration changes for monitoring. Why is that? I thought that it shouldn't be shown at all.
[code]

[2021-04-10 15:06] Jasstkn commented on #602
@rawmind0 hi! It's not very convenient to use taints that way. It will be more easier to have just list so we can do something like that
[code]

[2021-04-11 14:28] Jasstkn opened #624 "Specify project registry credentials via terraform"
Hi!

Is it possible to specify project registry credentials via terraform? I didn't find a mention in the documentation.

[2021-04-12 08:53] rawmind0 commented on #602
@Jasstkn , i tend to agree on that, but afaik, that's the way that terraform treats lists on resources

[2021-04-12 09:27] rawmind0 commented on #624
Hi @Jasstkn , as shown in the documentation, it's possible to specify username and password in the registry definition,  https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/registry .

[2021-04-12 09:29] Jasstkn commented on #624
Ahh, I got it.
I thought it was about internal registry created by Rancher because of this description:

[2021-04-12 09:29] #624 closed, assigned to nobody

[2021-04-12 09:32] rawmind0 commented on #622
Not clear what the question is here. The tf diff seems that `rancher2_node_pool`  name is going to be updated. Could you please clarify??

[2021-04-12 09:37] Jasstkn commented on #622
I imported already existing node pool with name np-XXXXX, then I've changed name to sandbox-controlplane, but seems that this change was ignored by API. And now I have inconsistent state because of that.

[2021-04-12 09:41] rawmind0 commented on #622
Terraform imports resources as they are (import is not updating the resource). I mean, you can't import and update a resource in a row, it's a 2 steps process: first import the resource and second apply changes on it, if required. This is the expected behaviour.

[2021-04-12 09:43] Jasstkn commented on #622
I did that. After I applied new name I see output from the description. That name of the template wasn't changed.

[2021-04-12 09:51] rawmind0 commented on #622
Oh, got it. The node_pool name can't be updated from Rancher2 API.  Take a look to https://RANCHER_URL/v3/schemas/nodePool
[code]
The provider should force a new node_pool resource if the name is updated. We'll submit a PR to address that.

[2021-04-12 10:12] Jasstkn commented on #622
Will it trigger recreation of node pools which are already existing?

[2021-04-12 10:14] rawmind0 commented on #622
Yes, due to node_pool name can't be updated.

[2021-04-12 15:53] rawmind0 commented on #622
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/625  to address this issue

[2021-04-12 15:54] rawmind0 commented on #619
Is this feature available at Rancher2??

[2021-04-12 16:30] rawmind0 commented on #617
As mentioned, i guess this may be an issue of not using `user_id` argument (UI is setting it). Has the openldap `user_principal_id` been logged in Rancher?? Have you tested tf using `user_id` instead of `user_principal_id`??

[2021-04-12 16:40] rawmind0 commented on #623
Have you disabled cluster monitoring and removed `cluster_monitoring_input` argument?? If so, you have 2 options:
- Disable cluster monitoring and let `cluster_monitoring_input` as is.
- Remove `cluster_monitoring_input`, apply and then disable cluster monitoring.

[2021-04-12 16:43] rawmind0 commented on #616
Is this feature available at Rancher2??

[2021-04-12 16:50] rawmind0 commented on #595
This is caused by [json tag `omitempty`](https://github.com/rancher/rancher/blob/master/pkg/client/generated/management/v3/zz_generated_node_template.go#L56) in the golang structure definition. Labels values are not replaced, just overwritten if needed, so the label can't be removed (empty values are omitted in the json marshal/unmarshal) just overwrote with another value, like `labels = {"openebs

[2021-04-13 17:33] wojtasool commented on #619
It is not present there either.

[2021-04-13 19:05] mouellet opened #627 "rancher2_app_v2 fails waiting on system-default-registry setting propagation"
I'm using v1.13.0 to deploy an rke cluster with `rancher2_cluster`, making sure the cluster is active with the `rancher2_cluster_sync` resource and install gatekeeper using the `rancher2_app_v2` resource but I'm getting this error:

It looks like the settings sync made by the `cattle-cluster-agent` workload can take up to 2 minutes. Is this expected?

Should the `rancher2_cluster_sync` resource ha

[2021-04-14 17:02] rawmind0 commented on #619
@wojtasool , if the feature is not available at Rancher, this issue should be first opened at https://github.com/rancher/rancher repo.

[2021-04-15 09:37] TristanAllaire opened #628 "Generating a Kubeconfig for a single user"
Hello !
With its API, Rancher offers the possibility to generate a Kubeconfig for a single user (with a user-scope).
The URI ends with "generatekubeconfig" and it needs a user auth token to be used.

My plan would be to create an user -> generate a kubeconfig for this user in terraform -> populating a var from another resource with this kubeconfig

Is there an implementation of this function in th

[2021-04-15 09:53] rawmind0 commented on #628
Hi @TristanAllaire,

the `rancher2_cluster` resource/datasource is already [generating a kubeconfig](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_cluster.go#L221), saving it as [tf `kube_config` attribute](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#kube_config)

The generated kubeconfig is generated for th

[2021-04-15 23:52] dkeightley commented on #610
@rawmind0 would this be worthwhile documenting in the `rancher2_cluster` resource page? It seems to be adding some confusion recently.

I'd be happy to draft this, but I'm not sure exactly where or the most appropriate wording.

[2021-04-16 06:54] fpants opened #629 "Support setting built-in rancher2_global_role to new_user_default"
Chaning the built-in global role _user-base_ to be the new user default is only possible by importing it into the terraform state, and then be changing the new_user_default flag afterwards, but this is a multi-step process.
Would there be a way to define the role initially in terraform?

The process _as is_:

- Define rancher2_global_role initally:
`resource "rancher2_global_role" "user-base" {}`

[2021-04-16 09:10] rawmind0 commented on #629
All objects managed by terraform should be created by terraform or imported to it before can be managed. This is the current expected behaviour due to the object info should be included into tfstate. As alternative, you could define and create a new [global role](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/global_role) and set it as `new_user_default`

Also, i'd

[2021-04-16 09:11] #622 closed, assigned to nobody

[2021-04-16 10:22] rawmind0 commented on #610
@dkeightley , sure, would be useful to add some docs notes about this, if it's adding confusion. The provider docs are under the folder, https://github.com/rancher/terraform-provider-rancher2/tree/master/docs, it would be so useful if you could submit a PR adding some explanations about it.

[2021-04-19 14:44] sayshh opened #630 "enabling metric alerts fails despite wait_monitoring enabled"
### Issue:

Enabling of metric alerts with `rancher2_cluster_alert_rule` fails even when `wait_monitoring` is set to true in `rancher2_cluster_sync`. Error as below:

[code]

### Setup:

**Terraform version;**

[code]

### Code:

[code]

### Expected behaviour:

`rancher2_cluster_sync` resource waits for monitoring to be enabled, then creates `rancher2_cluster_alert_rule`.

### Actual behaviour:

[2021-04-19 14:51] rawmind0 commented on #630
The `rancher2_cluster_alert_rule` tf definition is not using `rancher2_cluster_sync`, so not waiting for the cluster. Could you please try using `cluster_id  = rancher2_cluster_sync.k8s_cluster.cluster_id` instead??

[code]

[2021-04-19 16:40] sayshh commented on #630
Ok, so using the `id` attribute from `rancher2_cluster_sync` resource made sure that the alert got created as expected. Thanks for that!

I also have a bunch of other resources and outputs that depend on the cluster ID, should they all reference the `id` from `rancher2_cluster_sync`?

I wish the documentation was clearer about the use of attributes from `rancher2_cluster` and `rancher2_cluster_syn

[2021-04-19 16:54] rawmind0 commented on #630
Glad to hear that. The dependency was not properly defined.

It depends if the resources need that the cluster is active or not. The [rancher2_cluster_sync](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync
) was just created to manage sync/dependencies between resources.

The docs are explaining what a `rancher2_cluster_sync` is:
`This dummy resource does

[2021-04-19 17:03] denismatiu opened #631 "Issue with Hetzner node tamplate (options use_private_network = true doesn't work)"
If options `use_private_network = true`
[code]
then after` terraform apply` - in node tamplate I see
"usePrivateNetwork": false,
[code]

[2021-04-19 17:18] sayshh commented on #630
I've seen the documentation, but not sure how to know which resources require the cluster to be in active state? For e.g. `rancher2_cluster_logging`  works as well with the `id` from either of the resources. Pretty much every resource can wait for the cluster to be active I guess. :)

Anyway, I'm not sure how the documentation can be improved.

[2021-04-20 14:25] #630 closed, assigned to nobody

[2021-04-20 14:28] rawmind0 commented on #627
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/632 with a fix

[2021-04-20 23:37] dkeightley opened #633 "Removing cluster_monitoring_input argument for rancher2_cluster causes provider crash"
Steps to reproduce:

- Create a `rancher2_cluster` with the below arguments for monitoring (answer values shouldn't matter, example only)

[code]

- Remove the `cluster_monitoring_input` argument leaving `enable_cluster_monitoring = true`, run a `terraform apply`
- A crash is experienced, `terraform apply`  output is attached, crash.log has also been provided.

[tf-apply-output.log](https://github

[2021-04-21 00:06] jlamillan commented on #612
See also: https://github.com/rancher-plugins/kontainer-engine-driver-oke/issues/26

[2021-04-21 00:16] jlamillan opened #634 "Add support for multiple node-pools to oke_config"
We've received a couple of requests for supporting multiple node-pools.

Currently, when you create an OKE cluster, the oke_config and underlying driver only support configuring a single node-pool for workers.

See also: https://github.com/rancher-plugins/kontainer-engine-driver-oke/issues/33

[2021-04-21 12:41] rawmind0 commented on #633
Issue reproduced. Submitted PR #632 with a fix

[2021-04-21 12:46] rawmind0 commented on #612
This feature is not available at Rancher side yet. It has dependencies with https://github.com/rancher-plugins/kontainer-engine-driver-oke/issues/26

[2021-04-21 12:47] rawmind0 commented on #634
This feature is not available at Rancher side yet. It has dependencies with https://github.com/rancher-plugins/kontainer-engine-driver-oke/issues/33

[2021-04-21 12:51] #573 closed, assigned to nobody

[2021-04-21 12:55] rawmind0 commented on #228
This feature was already added with PR https://github.com/rancher/terraform-provider-rancher2/pull/551

Please, reopen issue if needed

[2021-04-21 12:55] #228 closed, assigned to nobody

[2021-04-21 13:11] rawmind0 commented on #549
The feature was added with PR https://github.com/rancher/terraform-provider-rancher2/pull/608

[2021-04-21 13:11] #549 closed, assigned to nobody

[2021-04-21 13:11] #489 closed, assigned to rawmind0

[2021-04-21 13:14] rawmind0 commented on #577
This issue should be addressed with PR https://github.com/rancher/terraform-provider-rancher2/pull/608, provider v1.13.0

Please, reopen issue if needed

[2021-04-21 13:14] #577 closed, assigned to nobody

[2021-04-21 13:14] #534 closed, assigned to rawmind0

[2021-04-21 13:22] rawmind0 commented on #259
This feature is not supported at Rancher side, https://RANCHER_API/v3/schemas/rancherKubernetesEngineConfig

The request should be opened at https://github.com/rancher/rancher

[2021-04-21 13:28] rawmind0 commented on #572
The feature was added with PR https://github.com/rancher/terraform-provider-rancher2/pull/608, included at provider v1.13.0

Please, reopen issue if required

[2021-04-21 13:28] #572 closed, assigned to aaronyeeski

[2021-04-21 14:19] mibaboo commented on #577
@rawmind0  would the fix only apply to eks_config_v2 resource ?

I am trying on the eks_config resource and it still not taking effect.

[2021-04-21 14:48] rawmind0 commented on #577
@mibaboo , yes the fix only apply to eks_config_v2 argument, that is the new Rancher driver to use eks clusters.

[2021-04-21 15:12] rawmind0 commented on #599
May be i'm missing something, but does Longhorn require annotations in the nodes?? Afaik, node toleration/taints can be used to set node groups,  https://longhorn.io/docs/1.1.0/advanced-resources/deploy/taint-toleration/ .

[2021-04-21 16:19] paulchoi opened #635 "Feature request: Expose ingress default_backend (bool) option"
In RKE config, it is possible to disable the default_backend for ingress. `rancher_kubernetes_engine_config.ingress.default_backend` option.

Please expose this in rancher2_cluster resource.

[code]

[2021-04-21 16:52] rawmind0 commented on #575
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/636 adding requested arguments

[2021-04-21 16:54] rawmind0 commented on #635
Not possible yet, but adding the feature on PR https://github.com/rancher/terraform-provider-rancher2/pull/636

[2021-04-22 14:57] MG2R opened #637 "rancher2_catalog_v2 shouldn't set git_branch when adding an http(s) repo"
Right now when you add a rancher2_catalog_v2 with an http address like below, the provider will also set the git_branch. This somehow causes the cluster-agent to continuously start refreshing the resource, making it consume an average of about 700m cpu instead of <100 during normal operation. I don't see this weirdness when adding an http catalog through the Rancher UI (Apps and Marketplace).

[co

[2021-04-22 15:02] dramich commented on #637
@rawmind0 Can we drop https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_catalog_v2.go#L59 and then add a check before creating the catalog to set this if needed?

[2021-04-22 15:14] rawmind0 commented on #637
@dramich , sure thing. Let me prepare a PR for this.

[2021-04-22 22:40] MG2R commented on #637
Thanks for the incredible work y’all do!

[2021-04-23 08:23] jmatsushita opened #639 "Use cluster_yaml for rke_config?"
Hello,

Is it possible to use the rke `cluster.yml` configuration file either as a `rancher_cluster_template` or `rancher_cluster` in the way the `rancher/rke` terraform module allows with [`cluster_yaml`](https://registry.terraform.io/providers/rancher/rke/latest/docs/resources/cluster#cluster_yaml) ?

[2021-04-23 16:03] cbron commented on #647
We need to test to ensure that the terraform providers aren't overriding upstream spec, which pre-empts syncing values down. See: https://github.com/rancher/rancher/issues/30480

[2021-04-23 17:04] rawmind0 commented on #648
@sogajeffrey ,  the issue seems caused by `private_access` and `public_access` default values at Rancher2 provider. Just curiosity, setting `private_access=true` and `public_access=false` before import, is it assuming that the cluster is new??

Anyway, i've submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/640 to fix the issue, removing default values and computing them inst

[2021-04-26 15:00] ronny35 opened #641 "Create user with permissions & scopes"
Hi,

Is it possible to create user permissions & scopes ?

Thanks in advance for your work.

[2021-04-26 15:56] rawmind0 commented on #641
Hi @ronny35 , yes you can. Please, take a look to the [provider documentation](https://registry.terraform.io/providers/rancher/rancher2/latest/docs):
- [user](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/user)
- Roles by scope:
  - [global_role](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/global_role)
  - [cluster/project](https:

[2021-04-26 15:57] rawmind0 commented on #639
Hi @jmatsushita , no it's not possible on this provider

[2021-04-27 00:16] aaronyeeski commented on #647
Tested on Rancher `v2.5.8-rc9` with the custom binary linked in the PR.

Encountered errors when provisioning a cluster with default values.
When `location` and `maintenance_window` are empty, cluster creation errors. These empty values are valid (https://github.com/rancher/rancher/issues/31221#issuecomment-813611455).
[code]
`Field [maintenanceWindow] cannot be nil for non-import cluster [c-rbjn9

[2021-04-27 11:47] dcardellino opened #642 "rancher resources are deleted, vsphere nodes still existing"
Hey there,

I'm using the terraform-provider-rancher2 to provision clusters in vmware vsphere 6.7u3l.
I wrote a little module to create my resources

- rancher2_cloud_credential
- rancher2_node_template
- rancher2_cluster
- rancher2_cluster_sync
- rancher2_node_pool

The creation/deletion of those resources are all successful. But when i want to delete a cluster, the virtual machines in vSphere ar

[2021-04-27 11:54] rawmind0 commented on #642
Hi @dcardellino , what Rancher version are you using?? There is a know issue on v2.5.6 and v2.5.7, where node pools vm's are not properly removed https://github.com/rancher/rancher/issues/31765. It will be addressed on Rancher v2.5.8

[2021-04-27 11:57] dcardellino commented on #642
@rawmind0

I knew there was one thing missing :-) I'm using Rancher v2.5.7, so there is a known issue. I will close this issue and wait for 2.5.8.

Thanks 👍

[2021-04-27 11:57] #642 closed, assigned to nobody

[2021-04-27 19:06] aaronyeeski commented on #647
When adding the `master_authorized_networks_config` block with empty values, Terraform crashes.
[code]
Was able to provision a hosted GKE cluster with the following file. This example is very bloated as I do not know what the minimum required fields are and Terraform does not allow many fields to be blank. Cluster becomes stuck in error state `Failed to communicate with cluster: error generating s

[2021-04-28 08:45] jmatsushita commented on #639
Something you'd consider a PR for? Or do you have other plans? I'm interested in the `rke2` yaml config too in [this PR](https://github.com/rancher/terraform-provider-rancher2/pull/626).

[2021-04-28 14:19] rawmind0 commented on #639
The use of `cluster.yml` is not supported at Rancher, so btm there isn't plans to include it into the provider. The rke2 support is prepared, just waiting for review and be included in next provider release.

[2021-04-28 23:54] rawmind0 commented on #647
This issue is fixed at PR update. Tfp docs has been updated adding a couple of examples to creating and importing GKEv2 clusters. Some fields definitions were redefined to allow to be blank. Also added support for google cloud credentials

Updated tfp binaries https://github.com/rancher/terraform-provider-rancher2/pull/621#issuecomment-828847623

Succesfully creating GKE cluster using this templat

[2021-04-29 02:44] ekristen opened #643 "Delete rancher2_node_pool should wait until node controller deletes nodes"
If a node pool is created by the terraform provider, the deletion shouldn't be considered successful until all the underlying nodes are cleaned up.

[2021-04-29 09:36] jmatsushita opened #644 "Document alternative to deprecated enable_cluster_monitoring in rancher 2.5"
Hello there,

Given that `Monitoring in Cluster Manager has been deprecated as of Rancher v2.5.0` I suppose that the recommended way to deploy monitoring is through a `rancher2_app_v2` instead of `enable_cluster_monitoring`? If so maybe it would be a nice addition to the documentation?

Cheers,

Jun

[2021-04-29 09:55] rawmind0 commented on #643
Yes, it should wait but it's a Rancher issue at concrete versions. Please take a look to https://github.com/rancher/terraform-provider-rancher2/issues/642#issuecomment-827547674

[2021-04-29 09:55] #643 closed, assigned to rawmind0

[2021-04-29 10:04] rawmind0 commented on #644
Hi @jmatsushita , the v1 monitoring is not deprecated. There is a limitation with new versions that is noted at provider docs, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#creating-rancher-v2-rke-cluster-enabling-and-customizing-monitoring , but both options are available . Also, at rancher docs both monitoring options are explained, https://rancher.com/do

[2021-04-29 12:47] rawmind0 commented on #637
PR https://github.com/rancher/terraform-provider-rancher2/pull/638 has been tested and merged. The fix will be include in next tfp release

Please, reopen issue if needed

[2021-04-29 12:47] #637 closed, assigned to rawmind0

[2021-04-29 12:48] rawmind0 commented on #603
PR https://github.com/rancher/terraform-provider-rancher2/pull/626 has been tested and merged. The feaure will be availbale on next tfp release.

Please, reopen issue if needed

[2021-04-29 12:48] #603 closed, assigned to rawmind0

[2021-04-29 13:12] jmatsushita commented on #644
I see, so this message
![image](https://user-images.githubusercontent.com/356097/116555998-44d60100-a8fd-11eb-946b-f06957a1730a.png)

is only related to the Cluster Manager interface? When using `enable_cluster_monitoring` in Rancher 2.5 it will install the monitoring chart and make it available in the Cluster Explorer?

[2021-04-29 13:15] ekristen commented on #643
So with 2.5.8 the terraform provider will work properly? No changes needed on the terraform side?

Sent from my iPhone

[2021-04-29 13:22] rawmind0 commented on #644
Nope, monitoring v1 is for cluster manager ui and monitoring v2 is for cluster explorer. We are migrating to v2 but v1 is still available

[2021-04-29 13:24] rawmind0 commented on #643
As mentioned, the issue seems to be at rancher side.  Once addressed, should work properly

[2021-04-29 13:56] #575 closed, assigned to rawmind0

[2021-04-29 14:06] ron1 commented on #603
@rawmind0 Since this is a significant, customer-facing capability, would it be possible to cut a new tfp release soon that includes this feature?

[2021-04-29 14:49] ekristen commented on #643
@rawmind0 thanks, but it seems premature to close the issues if it hasn't been verified as working properly. 2.5.8-rc12 is out, can we test and verify the fix there at the very minimum?

[2021-04-29 14:55] rawmind0 commented on #643
It was already tested at 2.5.8-rc1 https://github.com/rancher/rancher/issues/31765

[2021-04-30 13:42] jmatsushita opened #645 "error while parsing encryption provider configuration file with RKE secrets encryption custom_config"
Hi there,

I use the following terraform code with the latest version `0.13.0` in a `resource "rancher2_cluster_template" "template"`.`template_revisions`.`cluster_config`.`rke_config` block:
[code]

When looking at the API object for the cluster template, the `secretsEncryptionConfig` looks fine:

[code]

However the cluster itself seem to have lost the `resources` value:
[code]

I checked that t

[2021-04-30 13:51] jmatsushita commented on #645
It's a reported rancher bug https://github.com/rancher/rancher/issues/31385

[2021-05-03 06:59] aleksmova opened #646 "Node-pool node_taint issue"
Hello there,
I tried to add node taints for node pool but got an error like:
[code]

My module:

[code]

Is it a bug of Terraform rancher provider?
Thanks

[2021-05-03 07:14] iTaybb commented on #417
I second @kcraley 's fix. Removing the alias on the provider and the provider on the resource fixes the issue.
The documentation is broken for tf>=0.13

[2021-05-03 10:32] rawmind0 commented on #646
Hello @cn-5p1ke , It seems a problem on your `node_taints` definition.

[node_taints](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_pool#node_taints) is a tf list and it's not defined properly in your tf file. Take a look to https://github.com/rancher/terraform-provider-rancher2/issues/602#issuecomment-806616272

To define the list properly, try with something

[2021-05-03 10:34] #639 closed, assigned to nobody

[2021-05-03 10:35] #641 closed, assigned to nobody

[2021-05-03 10:36] #629 closed, assigned to nobody

[2021-05-03 10:36] #628 closed, assigned to nobody

[2021-05-03 10:36] #623 closed, assigned to nobody

[2021-05-03 14:41] jmatsushita commented on #576
It seems that this would make the `rancher2_app_v2` resource unusable in practice. Are folks in this thread using another terraform provider to deploy their helm charts as a workaround?

[2021-05-03 20:47] cbron commented on #648
If the PR got merged and we are releasing TF provider after 2.5.8, should this issue be in 2.5.8 ? cc @sangeethah

[2021-05-04 08:06] aleksmova commented on #646
@rawmind0 thank you!

[2021-05-04 08:06] #646 closed, assigned to rawmind0

[2021-05-04 15:11] rawmind0 commented on #648
@cbron , fix is merged and we are gonna release a new tfp after 2.5.8.

@aaronRancher attaching tfp custom binaries with patch applied,  to be tested:

* [terraform-provider-rancher2_linux_amd64.gz](https://github.com/rancher/terraform-provider-rancher2/files/6422057/terraform-provider-rancher2_linux_amd64.gz)
* [terraform-provider-rancher2_windows_amd64.exe.gz](https://github.com/rancher/terrafor

[2021-05-04 15:14] rawmind0 commented on #633
Attached tfp custom binaries with patch applied to be tested, https://github.com/rancher/terraform-provider-rancher2/issues/648#issuecomment-832019144

[2021-05-04 15:14] rawmind0 commented on #627
Attached tfp custom binaries with patch applied to be tested, https://github.com/rancher/terraform-provider-rancher2/issues/648#issuecomment-832019144

[2021-05-04 15:14] rawmind0 commented on #635
Attached tfp custom binaries with patch applied to be tested, https://github.com/rancher/terraform-provider-rancher2/issues/648#issuecomment-832019144

[2021-05-04 20:01] SebTardif opened #649 "xip.io is down so things like rancher2_bootstrap doesn't work"
Could we rewrite the logic to not rely to a public internet web site that is fragile.

Also, if I want to use that 'airgap' / detached from Internet. How can I replace the logic of xip.io ?

[2021-05-04 20:38] rawmind0 commented on #649
What do you mean?? `rancher2_bootstrap` nor any other provider resource is based xip.io

[2021-05-04 20:41] SebTardif commented on #649
@rawmind0 I was surprised like you, see https://github.com/rancher/terraform-provider-rancher2/blob/8a9c0e4022f659b823fb076a1cf0ae2325208fa3/scripts/start_rancher.sh

[2021-05-04 21:13] rawmind0 commented on #649
@SebTardif That's not a surprise to me, this is known. The file you mention is just a script to build acceptance test env, nothing related with the use of the tf provider nor its resources. These scripts are just intended to run automated ci and acceptance tests, they are not part of the provider code nor functionality. Are you having any issue with any provider resource??

[2021-05-04 21:26] cbron commented on #648
@rawmind0 can you make sure its fixed in both gke and eks

[2021-05-04 21:30] rawmind0 commented on #648
@cbron just fixed on EKS, GKE feature is not yet merged at tfp

[2021-05-04 21:31] cbron commented on #648
Ok can you make sure its fixed when its added in https://github.com/rancher/terraform-provider-rancher2/issues/647

[2021-05-06 14:46] erSitzt opened #650 "plugin crashes when modifying rancher project"
When trying to run this plan the plugin crashes with a segfault.

These changes happen all the time, because i did not specify `project_monitoring_input ` but it worked without problems before.

happend with terraform `0.14.5`, `0.14.10` and `0.15.2` with plugin version `terraform-provider-rancher2_v1.13.0`

[code]

The plugin crashes with this error

[code]

[2021-05-06 15:03] erSitzt commented on #650
With `v1.10.6` it still works

[2021-05-06 15:25] rawmind0 commented on #650
It a rancher2_project resource bug when `project_monitoring_input` is not deleted. It's fixed with PR https://github.com/rancher/terraform-provider-rancher2/pull/651

[2021-05-06 15:42] erSitzt commented on #650
Nice ! Didnt see that one...

[2021-05-06 17:11] paraglade opened #652 "Filter `pull_request` build events to run on `drone-pr.rancher.io`"
Pull requests should be targeted to `drone-pr.rancher.io` as this environment is more suitable for validating code pull requests. This will require repo activation on `drone-pr.rancher.io` and modification to `.drone.yml` to filter this event and target `drone-pr.rancher.io`

[2021-05-06 17:26] #650 closed, assigned to nobody

[2021-05-06 19:23] rawmind0 commented on #652
@paraglade thanks for the advice. The config changes has been done configuring drone webhook. The `.drone.yml` update is not required.