[2020-01-07 15:02] bensonarokiadoss commented on #148
@ryudice i was hitting the same issue. Even though its referenced on the terraform rancher provider documentation, i am not sure does rancher support bring your own key yet. Internally they use docker-machine to provision those ec2 instances which dont have access to local key that we would point within terraform code. Unless the api call copies the key. Someone from rancher side correct me if any

[2020-01-07 15:08] bensonarokiadoss opened #219 "rancher2 provider calls are async, but requesting a way to get the cluster status"
rancher2 provider calls are async, but requesting a way to get the cluster status. so that we can run some post configuration once the cluster is up.

As the underlying infrastructure provision e.g: in AWS would take some time but the terraform calls are async and would return completed. Instead of hardcode wait time can i query for the cluster status and wait for success and then execute post con

[2020-01-07 15:13] rawmind0 commented on #219
@bensonarokiadoss, please take a look to https://github.com/terraform-providers/terraform-provider-rancher2/issues/214#issuecomment-569134051

There is this resource:
https://github.com/terraform-providers/terraform-provider-rancher2/blob/3103513575036e41be3d1143ba192d9d9e22a903/website/docs/r/clusterSync.html.markdown

[2020-01-07 15:23] bensonarokiadoss commented on #219
Thanks @rawmind0 that should solve my problem. I will go head and close this out.

[2020-01-07 15:23] #219 closed, assigned to nobody

[2020-01-07 21:48] justinhauer opened #220 "Creating a cluster from custom nodes - lack of examples"
## Description:
I cannot seem to find a good example that shows creating a cluster from custom nodes (nodes that already exist). I can do this through the UI and I get a shell script that I run on each individual node by SSH'ing to them and 'bootstrapping' them to the cluster.

### Not entirely relevant but worth mentioning:
These are rancherOS vms created in Azure through terraform as well (This

[2020-01-08 15:39] kevinkjt2000 opened #222 "Docs for rancher2_node_template private_key_file are invalid for later versions of Rancher"
Thank goodness for https://github.com/rancher/rancher/issues/14330!
The terraform provider docs for rancher2 still mention that a filename is required instead of file contents (under openstack_config). I've been scratching my head for a few hours debugging ssh connections until I read that.

Using rancher/rancher:2.3.3, rancher2 provider version 1.7.1, and terraform 0.12.18.

[2020-01-09 09:44] bartlomiejjaroszewski commented on #211
@HighwayofLife, did you manage to resolve your issue?

[2020-01-13 03:07] rawmind0 commented on #220
@justinhauer, create a cluster with custom nodes from terraform, works in the same way of doing it from the rancher UI, you don't need to fill `nodes` argument .

Once you create an rke cluster from terraform, you get the [`node_command`](https://www.terraform.io/docs/providers/rancher2/r/cluster.html#node_command) attribute. You just need to get the `node_command`, add the roles `--etcd`, `--cont

[2020-01-13 03:33] rawmind0 commented on #210
@mc-meta , it use to happens on multi line arguments, terraform adds a final `\n` on them. To address it, we've updated some arguments to be base64 encoded instead, but it seems we've missed some as `certificate` on `rancher2_auth_config_activedirectory`. I'll review multiline arguments and i'll add a PR updating them to be base64 encoded.

What i don't get is the issue with `values_yaml` argument

[2020-01-13 18:00] zonywhoop opened #223 "Support creation and management of config-maps"
Much like [the secrets resource](https://github.com/terraform-providers/terraform-provider-rancher2/blob/master/website/docs/r/secret.html.markdown), we need a mechanism for managing config-maps.

[2020-01-13 19:49] rawmind0 commented on #211
Submitted PR #224 to address this issue.

[2020-01-13 19:56] rawmind0 commented on #161
@ntkach, Rancher use annotations nor labels for namespace project assignment. Your code should work fine.

Please, reopen issue if needed.

[2020-01-13 19:56] #161 closed, assigned to nobody

[2020-01-13 22:06] mc-meta commented on #210
Hello @rawmind0, content is currently filled with:

`values_yaml = base64encode(trimspace(data.template_file.helm_app_values.rendered))`

and original template currently ends with '\n', but IIRC even if removed was not making any difference, the only thing that worked was trimming spaces from rendered template.

I may privately provide  a testcase in case of need.

[2020-01-14 19:00] ajchiarello opened #225 "rancher2_project_role_template_binding errors on openldap user_principal_id"
When creating a project_role_template_binding, I get an error if I use an openldap user_principal_id. It is successful if I use a local user_principal_id or a user_id. Here's what I get when I apply:

I'm using terraform version 0.12.19, and rancher2 v 1.7.1

[2020-01-14 19:13] spencergilbert opened #226 ""enable_cluster_istio" not applied to cluster"
Terraform version: 0.12.19
provider.rancher2 v1.7.1
Rancher v2.3.3

Possibly related to #41 - setting enable_cluster_istio appears to cause no change in the cluster, it's recognized as a change according to terraform apply/plan but doesn't update the terraform state when applied

[2020-01-14 20:05] rawmind0 commented on #225
@ajchiarello, it seems that the `user_principal_id` DN has a bad format. The username part doesn't have the field name. The error message is saying that the username is not found.

Please, check the `user_principal_id` DN, it should be something like,

[code]

[2020-01-14 20:10] rawmind0 commented on #223
Hi @zonywhoop , using [terraform kubernetes provider](https://www.terraform.io/docs/providers/kubernetes/r/config_map.html) is not an option for you??

[2020-01-14 20:11] zonywhoop commented on #223
the terraform kubernetes provider is how I'm handling it today, however, that then means that my terraform has 2 providers with 2 different sets of auth credentials.  One for Rancher and one for the k8s cluster directly.  It works but it's not "ideal".

[2020-01-14 20:27] rawmind0 commented on #217
@zolty , may be i'm missing something, but i don't fully understand this issue.

`rancher2_cluster` already supports cluster creation on Digital Ocean. It can be done using [digitalocean_config](https://www.terraform.io/docs/providers/rancher2/r/nodeTemplate.html#digitalocean_config-1) (already documented) on `rancher2_node_template` and `rancher2_node_pool`.

Could you please clarify this??

[2020-01-14 20:57] ronnie-webb opened #227 "Import a cluster from azure into rancher."
I want to import a cluster from azure via terraform into rancher. Can someone please inform me if this is all needed. This seems very vague. Is there any other config needed?

[code]

[2020-01-14 20:59] rawmind0 commented on #212
@datosh , it seems that the error is caused due to tf eventually is trying to remove aws vpc before  removing its dependencies. I'm guessing that your tf definition with aws resources only is working fine creating and destroying. As @fabrinator  has commented, using the meta-argument `depends_on = aws_resources` on the `rancher2_node_template` and the `rancher2_cluster` resources should assure the

[2020-01-14 21:01] ajchiarello commented on #225
@rawmind0
I had removed the personally identifying info from the username - it is reported in the rancher API as openldap_user://templeEduTUNIC=PersonallyIdentifyingInfo,ou=people,dc=temple,dc=edu.

[2020-01-14 21:08] rawmind0 commented on #227
@ronnie-webb , you need to create imported cluster and then execute the generated kubectl manifest on your working cluster. These are available as `command`, `insecure_command` or `manifest_url` [cluster attribute](https://www.terraform.io/docs/providers/rancher2/r/cluster.html#attributes) on tf state.

Please, take a look to needed steps to import a k8s cluster into rancher, https://rancher.com/d

[2020-01-14 21:55] ronnie-webb commented on #227
@rawmind0 would you happen to know how to retrieve the yaml link from terraform tfstate.

Thanks for you answer

[2020-01-14 22:59] rawmind0 commented on #227
Terraform output should do the work, https://www.terraform.io/docs/configuration/outputs.html

[2020-01-17 17:26] spencergilbert opened #228 "Support GlobalDNS entries/providers"
Currently the provider doesn't have any resource concept of GlobalDNS, either the entries themselves or the providers.

This would dovetail nicely with the pre-existing management of multi-cluster apps

[2020-01-17 18:44] mitchellmaler commented on #225
I am getting this issue as well.
If I create the project role template binding without the user_principal_id it will create fine but have no user linked to it. Now if I set the user_principal_id to what I tried to do on create it will then add it and compute the userid as well. Some reason I can add it afterwards without any changes to the user_principal_id but if I try adding it at the same time

[2020-01-20 04:57] ronnie-webb commented on #227
Thanks @rawmind0  the command is located here.

[code]

[2020-01-20 12:22] ajfriesen commented on #148
tried the same as @ryudice
Also reverting the changes on the notetemplate to use rancher generated keypairs did not work.
We saw a change in terraform and applied but the nodes did come up with the same error again.

[2020-01-20 14:38] spencergilbert opened #230 "Enable "Istio sidecar auto injection" via namespace resource"
As possible via the UI - it looks like the API call (at least shown in the rancher ui) includes the rancher project ID, however if you try and include just the label on the rancher2_namespace resource it will overwrite/remove the existing project id. Another solution I attempted was providing that label and leveraging the rancher2_project resource but the `id` attribute includes the full cluster:p

[2020-01-21 02:38] zolty opened #231 "unsupported protocol scheme error on 2nd apply after boot strap"
I can manipulate the tfstate file and get it to work but I think the following should work to allow me to provision rancher2 resources.

`Error: [ERROR] Login with admin user: Post -public/localProviders/local?action=login: unsupported protocol scheme ""`

[code]

[2020-01-21 11:08] rawmind0 commented on #231
The file you pasted has wrong format, could you please review it?? What version of the provider are you using?

The error shown is caused when  `api_url = ""`. Forcing api_url to "" is the only way i can reproduce the issue. For any reason `api_url` is getting empty string in your definition. Have you reviewed that env variable `RANCHER_URL` is not set??

[Usage examples](https://www.terraform.io/

[2020-01-21 11:09] rawmind0 commented on #227
Please, reopen issue if needed.

[2020-01-21 11:09] #227 closed, assigned to nobody

[2020-01-21 15:37] ajfriesen opened #232 "Let rancher create tags for subnets on cluster creation in AWS"
AWS still needs tags to be attached to the subnets, when using AWS ELB.
The tags needs to have the cluster id.

Let rancher on cluster creation create the proper tags for the subnet.
https://github.com/rancher/rancher/issues/21751#issuecomment-576734557

**What we do now:**
We are creating a basic vpc network via terraform.
After that we create a k8s cluster via rancher api and terraform.

This wo

[2020-01-21 16:02] ajfriesen opened #233 "Adding aws_cloud_provider will always create a diff"
I had to add this block to my cluster configuration due to this bug/behaviour:
https://github.com/rancher/rancher/issues/24329#issuecomment-562664162

[code]

This fixes the problem that the node is not coming up, but will always create a diff:

[code]
The workaround is to specifiy the values by the diff as so:

[code]

[2020-01-21 16:20] ajfriesen opened #234 "Changing spot instance in the node template does not change the property in rancher"
I first created a node tempate with spot instance on.
But reverting from ```request_spot_instance   = true``` to ```request_spot_instance   = false``` does not change the node template.

The node template still has the checkmark for the spotinstance checked in the rancher user interface and tries to deploy an aws spot instance.

However, the state file represents the change from **true** to **fals

[2020-01-22 16:08] zolty commented on #231
Hello @rawmind0, thanks for looking into this.

Windows 10 18363.592
Terraform v0.12.19
terraform-provider-rancher2_v1.7.1_x4.exe

I've copied the Usage Example and corrected the syntax you're pointing out above. However I am still seeing an error . The first time I run it through it bootstraps w/o issue, the 2nd and subsequent times I get the following error.

[code]

Error:
[code]

tfstate for t

[2020-01-22 16:31] rawmind0 commented on #222
Thanks for the feedback @kevinkjt2000 . We'll update doc properly.

[2020-01-22 16:34] rawmind0 commented on #231
It's weird, i'm not able to reproduce the issue. It's working fine for me.
Could you please try to execute it in a linux/osx host?? If also fails, could you please paste debug log??

[2020-01-22 17:35] zolty commented on #231
Still failing on Linux here's the log:

[terraform.log](https://github.com/terraform-providers/terraform-provider-rancher2/files/4098840/terraform.log)

[2020-01-22 17:37] zolty commented on #231
I also built from the master branch, same error.

[2020-01-22 18:43] zolty commented on #231
[code]

[2020-01-23 15:40] toddexp opened #235 "Logging Add Ability for Edit as File / customTargetConfig"
It would be great to have the ability to use the cluster logging resource with the "Edit as File" option that is provided in the Rancher ui. I believe in the Rancher api it is called `customTargetConfig`. This would allow additional configuration options to logging resource.

[2020-01-23 20:38] toddexp opened #236 "Rancher Notifier Resource Add Send Resolved Alerts"
Rancher allows notifiers to send resolved messages when an alert has cleared. It would be great to have this feature available in Terraform to set the "Send Resolved Alerts".

[2020-01-23 20:48] rawmind0 commented on #236
Already added on PR #202

[2020-01-23 20:48] #236 closed, assigned to nobody

[2020-01-24 19:13] spencergilbert opened #237 "rancher2_secret exposes data in plan output"
https://github.com/terraform-providers/terraform-provider-rancher2/blob/master/rancher2/schema_secret.go#L11

Is it possible to configure this to be considered a sensitive value?

[2020-01-26 08:21] tibuntu commented on #105
Hey @ntoljic, I am currently doing the same changes to support 'OpenNebula' node templates. I faced the same issue regarding the node_driver id. Would you mind sharing a code snippet with the required changes so that the name is used rather than the id?

@rawmind0  should I create a PR to support OpenNebula, too?

[2020-01-27 23:58] rawmind0 commented on #105
@tibuntu sure, this PR would be more than appreciated.

[2020-01-28 12:50] nazarewk opened #241 "Modifying `system_images`?"
Is there a way to change rke's `system_images` using the provider? I can't seem to find it

[2020-01-28 16:38] rawmind0 commented on #231
Unable to reproduce the issue. Please check your full terraform config (modules, tf files,...). Have you tested just running the rancher bootstrap??

[2020-01-28 16:39] rawmind0 commented on #220
Please reopen issue if needed.

[2020-01-28 16:39] #220 closed, assigned to nobody

[2020-01-28 16:40] rawmind0 commented on #217
Please reopen issue if needed.

[2020-01-28 16:40] #217 closed, assigned to nobody

[2020-01-29 09:55] rawmind0 commented on #237
Feature included on v1.7.2 Please reopne issue if needed

[2020-01-29 09:55] #237 closed, assigned to nobody

[2020-01-29 19:17] johnnymn commented on #232
+1

[2020-01-30 08:28] axeal opened #244 "Add PSP Templates"
WIP https://github.com/axeal/terraform-provider-rancher2/tree/add-psp

[2020-01-31 16:14] fmunteanu opened #245 "Delete cluster?"
Hi,

I'm using Terraform to create an EKS cluster and imported into Rancher with the following code:
[code]

If I decide to destroy the EKS cluster, how can I remove it from also from Rancher UI, using Terraform? Please write a code example.

[2020-01-31 18:52] mkolb-navican opened #246 "Provider Road Map for cluster subcomponent resources types"
Is there a road map to add additional resources types?

There seem to be high level resources for cluster integration, but none of the cluster subcomponents:

Persistent Volumes
Storage Class
Workloads
Load Balancing
Service Discovery
Volumes
Pipelines

[2020-02-02 06:55] johnnymn commented on #235
+1

[2020-02-02 09:16] lucaspouzac opened #247 "Add mustChangePassword to user ressources"
Hi,

Currently, it is not possible to force a user to change his password the first time he connects.

You should be able to add the `mustChangePassword = true` attribute to allow this.

Thanks.

[2020-02-08 06:00] drpebcak opened #249 "Cycle when trying to delete resources"
I receive this error when trying to `terraform destroy`

```Error: Cycle: rancher2_namespace.tyk (destroy), local.rancher_api_url, local.rancher_token_key, provider.rancher2, rancher2_project.tyk (destroy), data.terraform_remote_state.rancher (destroy)```

In this particular terraform I only have 2 rancher2 resources:
[code]

[2020-02-09 05:11] armsnyder opened #250 "Auth token exposure: rancher2_cluster kube_config attribute should be sensitive"
The `kube_config` attribute of the `rancher2_cluster` resource contains administrator credentials, and it is printed to console in plaintext in the Terraform plan. Terraform has a [Sensitive flag](https://www.terraform.io/docs/extend/best-practices/sensitive-state.html#using-the-sensitive-flag) that should be used for this attribute.

[2020-02-10 15:17] rawmind0 commented on #247
Hi @lucaspouzac ,

`mustChangePassword` argument could be added, but if we add it as is, it would be saved at tfstate and  would generate a diff on terraform apply until you set it to false again. When the user changes the password, `mustChangePassword` is set to false in the rancher API but it would remain set to true in tfstate, generating diff on next terraform apply.

As workaround, may be we

[2020-02-10 19:01] rawmind0 commented on #246
Not by the moment. All subcomponent, except `pipelines`, could be managed by [kubernetes tf provider](https://www.terraform.io/docs/providers/kubernetes/index.html)

[2020-02-10 19:02] #250 closed, assigned to nobody

[2020-02-10 19:17] mkolb-navican commented on #246
That is unfortunate, since subcomponents that are managed with the Kubernetes provider wouldn't be visible within the Rancher UI. This creates a disconnect between the actual system state in code and the application UI.

[2020-02-12 09:37] rawmind0 commented on #246
@mkolb-navican , k8s subcomponents should be visible within Rancher UI, no matter if they are created from Rancher, kubectl or k8s tf provider.

[2020-02-12 09:40] rawmind0 commented on #245
Hi @fmunteanu , removing cluster definition from your tf file and applying plan, should be enough to remove the cluster from Rancher UI

[2020-02-12 09:41] rawmind0 commented on #241
Not by the moment.

[2020-02-12 09:46] #74 closed, assigned to nobody

[2020-02-13 15:13] ghost opened #252 "rancher2_cluster_logging: fluentd_config>fluent_servers parameter lacks support for multiple endpoints"
# SUMMARY

resource "**rancher2_cluster_logging**" > argument "**fluentd_config**" > nested argument "**fluent_servers**" is supposed to support a list (see [documentation](https://www.terraform.io/docs/providers/rancher2/r/clusterLogging.html#fluent_servers) ) of endpoints but only accept a map of strings

## ISSUE TYPE

    Bug Report

## VERSIONS

terraform: v0.12.18
rancher provider: 1.7.2

##

[2020-02-13 15:24] rawmind0 commented on #252
Have you tried??

[code]

[2020-02-13 15:55] ghost commented on #252
I've just tried and this syntax returns no errors, thanks for your help

[2020-02-13 15:55] #252 closed, assigned to nobody

[2020-02-14 18:41] narfeta opened #254 "[Feature request] Support new 2.3.x configurations"
There are some configurations that cannot be set using terraform

the two that we saw were

- network mtu
- logging fluentd -> enable json parsing

[2020-02-17 21:44] DH-Rancher opened #255 "Support rke_config defining no network CNI"
Trying to recreate the "Disabling Deployment of a Network Plug-in step"s in https://rancher.com/docs/rke/latest/en/config-options/add-ons/network-plugins/ by implementing the following:
[code]
When applying the config  I get the following:

Error: expected rke_config.0.network.0.plugin to be one of [calico canal flannel weave], got none

if I omit the network part of the config it appears to defau

[2020-02-18 06:40] czunker opened #256 "API server does not start because of wrong audit log policy"
Rancher Version: 2.3.5
terraform versions:
Terraform v0.12.20
+ provider.aws v2.48.0
+ provider.rancher2 v1.7.2
k8s version: 1.17.2

I tried to setup a cluster with audit logs enabled, but the api server didn't start.
I used the example provided with [docs](https://www.terraform.io/docs/providers/rancher2/r/cluster.html#example-usage):

    services {
      kube_api {
        audit_log {

[2020-02-18 18:21] rawmind0 commented on #228
PR #253 is covering new feature request

[2020-02-19 16:25] MrMickS opened #259 "[Feature request] Support system_images in rke_config"
In order to be able to better manage upgrades, and deal with issues, we would like to be able to specify the system images to use in the rke_config section of the rancher2_cluster_template resource.

[2020-02-23 14:24] iTaybb opened #260 "[Feature request] Add option to specify default namespace's project in rancher2_cluster"
At the moment it's not possible to control the default namespace project through rancher2.
My use case is to set the default namespace in the System project, so I'll have one monitoring instance that monitors everything in my application.

[2020-02-24 20:06] zraider7 opened #261 "rancher2_certificate not having an import function"
We are trying to get our current k8s cluster in terraform and need to update some certs. Terraform won't touch our certs unless we import it and "rancher2_certificate" does not have an import option at this time (but I see rancher_certificate did).
https://www.terraform.io/docs/providers/rancher2/r/certificate.html

Is there a timeline on when this feature will be available?
If not, do you have an

[2020-02-25 07:18] marcinbojko commented on #223
Agreed, using the same approach, which is not ideal and antipattern.

[2020-02-25 12:17] rawmind0 commented on #261
`rancher2_certificate` resource can't be imported from terraform due to certificate key value is not readable from rancher 2 API.

To manage something on terraform, you need to create it from terraform or be able to import it. Unfortunately, just first option would be available for `rancher2_certificate` resource.

[2020-02-25 18:01] chrisreed87 opened #262 "rancher2_cluster eks_config not respecting associate_worker_node_public_ip"
Creating an eks cluster using `rancher2_cluster` resource, in the eks_config block, setting `associate_worker_node_public_ip` to `false` is not reflected in the cloudformation template after creating, still defaults to `true`. Have to edit the CF parameter after cluster creation

Provider "rancher2" (terraform-providers/rancher2) 1.7.2

[2020-02-25 21:49] iTaybb commented on #212
In my case, the problem was not a self-refering SG, but a LB that was stuck on deletion state (also because of some SG reference stuff). The default type of LB is Classic LB in AWS, so I switched to NLB and it solved my issue.

It might not be your case though.

[2020-02-25 22:03] iTaybb opened #263 "Deleting a cluster returns before cluster is actually deleted"
I'm having a terraform script that installs rancher, configures it, and launches a new cluster within it (using cloud credentials).
When destroying the environment, everything gets destroyed in reversed order.
Since upgrading from rancher 2.3.2 to rancher 2.3.4, it seems like the deletion of the `rancher2_cluster` doesn't wait until the cluster is actually deleted. And then terraform goes directly

[2020-02-26 05:52] panho66 opened #264 "terraform rancher2 provider failed to set rancher2_notifier email_config tls to false"
### Terraform Version
Terraform v0.12.20
+ provider.aws v2.41.0
+ provider.external v1.2.0
+ provider.kubernetes v1.11.0
+ provider.local v1.4.0
+ provider.null v2.1.2
+ provider.rancher2 v1.7.2
+ provider.template v2.1.2

### Affected Resource(s)
rancher2_notifier
[code]

### Terraform Configuration Files
[code]

### Debug Output
**terraform trace**

2020/02/18 08:57:16 [TRACE] GRPCProvider: Appl

[2020-02-26 14:11] rawmind0 commented on #264
This is related with https://github.com/rancher/rancher/issues/25321 . PR https://github.com/rancher/types/pull/1083 is required to address this issue.

[2020-02-26 14:13] rawmind0 commented on #214
Please reopen issue if needed.

[2020-02-26 14:13] #214 closed, assigned to nobody

[2020-02-26 14:24] rawmind0 commented on #211
Please, reopen issue if needed.

[2020-02-26 14:24] #211 closed, assigned to nobody

[2020-02-26 14:45] rawmind0 commented on #222
Submitted Pr #265 to address this issue

[2020-02-26 15:54] kevinkjt2000 commented on #222
Thanks!

[2020-02-26 15:54] #222 closed, assigned to nobody

[2020-02-26 18:25] rawmind0 commented on #210
Submitted PR https://github.com/terraform-providers/terraform-provider-rancher2/pull/266 to address this issue.

[2020-02-26 18:45] iridian-ks commented on #214
@rawmind0 the 2nd issue is still not resolved. When I am creating a new Rancher cluster I have to comment out the monitoring config and then uncomment it after the cluster is up. This is kind of a *big* issue.

[2020-02-26 18:49] rawmind0 commented on #214
@iridian-ks , yeah working now on second issue with cluster monitoring, thanks for the advice.

[2020-02-26 19:37] rawmind0 commented on #231
Please, reopen issue if needed

[2020-02-26 19:37] #231 closed, assigned to nobody

[2020-02-26 19:43] rawmind0 commented on #214
It's weird. I've just used 3rd doc example and is working fine for me.

[code]

Cluster is created properly.  Are you doing something distinct?? I'd liked to reproduce the issue.

[2020-02-26 20:14] brentwolfram opened #267 "Changes to node count in rancher2_cluster aks_config are ignored after initial cluster deployment"
After successfully creating an AKS cluster using rancher2_cluster resource, subsequent changes to "count" in the aks_config block have no effect on cluster node count. The change is accepted during terraform apply with no errors, but actual node count in the cluster is never changed. Changing node count in Edit Cluster via Rancher UI has the desired effect, but the terraform apply with updated cou

[2020-02-27 10:14] hetii opened #268 "Error: [ERROR] No api_url provided"
Hello I have just bootstrap like this:

    provider "rancher2" {
      alias   = "bootstrap"
      api_url = "https://192.168.80.200"
      bootstrap = true
      insecure  = true
     }

And resources like:

	# Create a new rancher2 Auth Config ActiveDirectory
	resource "rancher2_auth_config_activedirectory" "activedirectory" {
	  # provider                 = rancher2.bootstrap  <- when uncommen

[2020-02-27 13:05] ajfriesen opened #269 "Rancher2 namespace description can not be updated"
https://www.terraform.io/docs/providers/rancher2/r/namespace.html

I have created a "generic" helm module and use rancher namespaces to place them into the projects.

[code]

Calling the module does not update the description even though I can see the change in  **terraform plan/apply**.

[code]
Here a screenshot how that looks in rancher ui:

![image](https://user-images.githubusercontent.com/682

[2020-02-27 17:24] serverbaboon commented on #230
Are you trying to update an existing namespace or when you create it. We create some default namespaces in our project as below which works, but notice we have to lifecycle ignore the labels...

resource "rancher2_namespace" "myproject_namspace" {

  count       = length(local.namespaces)
  name        = local.namespaces[count.index]
  project_id  = rancher2_project.myproject_project.id
  descript

[2020-02-28 12:37] zraider7 commented on #261
Alright, that answers that then. Thanks for responding back!

[2020-02-28 12:37] #261 closed, assigned to nobody

[2020-02-28 14:34] rawmind0 commented on #255
PR #258 merged on master. Please reopen issue if needed.

[2020-02-28 14:34] #255 closed, assigned to nobody

[2020-02-28 15:02] rawmind0 commented on #210
Merger PR #266  to trim spaces by default  on multiline arguments. Please, reopen issue if needed

[2020-02-28 15:02] #210 closed, assigned to nobody

[2020-02-28 15:08] rawmind0 commented on #268
Hello @hetii , if you want to bootstrap and admin with same tf file, you need to specify 2 provider configurations as explained on [provider docs](https://www.terraform.io/docs/providers/rancher2/index.html#example-usage)

[code]

And resources like:

[code]

[2020-02-28 16:01] rawmind0 commented on #233
PR #270 should address this issue

[2020-02-28 16:05] rawmind0 commented on #225
@ajchiarello , @mitchellmaler I made some tests and not failing always.  Have the ldap user logged in Rancher before the role binding??

[2020-02-28 16:18] rawmind0 commented on #269
@ajfriesen , i've just tested update description on `rancher2_namespace` resource and is working fine.

May be your issue is with tf vars. In your plan resume, tf provider is saying that namespace description is gonna be updated to `"Fluentd for etcd logs"`, same that is showed in your screenshot.

[2020-02-28 16:23] rawmind0 commented on #260
I think this feature is not available on Rancher. Can you do it from Rancher ui??

[2020-02-28 16:24] #245 closed, assigned to nobody

[2020-02-28 16:48] iTaybb commented on #260
I just looked through the rancher UI & API and it looks like there's no such feature.
But there's a "move namespace's project" UI & API features. So perhaps it's possible to integrate it here.

[2020-02-28 17:04] spencergilbert commented on #230
Either to be honest. It would be nice to handle this natively, based on the capabilities in the UI I suspect there's an API endpoint for this

[2020-02-28 18:49] rawmind0 commented on #235
Submitted PR #271  to add this feature

[2020-02-28 23:25] iridian-ks commented on #214
Maybe it's because I'm using EC2?

[code]

[2020-03-02 12:19] ajchiarello commented on #225
@rawmind0 I've had failures with both scenarios. My default setting is "Allow members of Clusters, Projects, plus Authorized Users and Organizations", so they typically can't log in until they've been granted access to something.

[2020-03-02 12:40] rawmind0 commented on #225
@ajchiarello , not really. If you are using "Allow members of Clusters, Projects, plus Authorized Users and Organizations", users could log to the global section, before you grant access to any cluster or role.

What i'm trying to figure out, if it's a kind of race condition where the binding is trying to apply before ldap auth is configured or if the user needs to login before can be assigned to

[2020-03-02 12:49] ajchiarello commented on #225
@rawmind0 - That's not what we are seeing - If we haven't added a user to a cluster or project (or the authorized user list) explicitly, they cannot log in at all, which was our desired pattern. We are permitting login by adding them to the cluster or project they are going to have permissions for. The only time we've seen what you describe is when we allow any valid users to log in.

The ldap aut

[2020-03-02 12:57] rawmind0 commented on #225
@ajchiarello - what i mean is that if you add ldap user/group to a authorized user list, they can login without access to any clustet/project.

Anyway, got it your answer, thanks. I'll continue testing it.

[2020-03-02 15:05] mitchellmaler opened #272 "Add LDAP User as a global admin after bootstrap and openldap configuration"
Currently you can only create a project or cluster binding which includes a user principal ID.  We are looking for a way to add a global admin which is a LDAP user using the rancher2_global_role_binding. It seems this resource does not allow you to provide a principal id.

The use case is bootstrap cluster, setup open ldap configuration, add user to role binding which doesn't exist yet as a user i

[2020-03-03 06:19] iTaybb commented on #263
@rawmind0 sorry to bump this, but any idea where might be the issue? I might look into it myself and send a pull request, but I need a lead here

[2020-03-03 18:38] rawmind0 commented on #263
@iTaybb , i'm not quite sure it's related issue with #44. `clusterStateRefreshFunc` was already updated, it returns `removed` if cluster `IsNotFound` or `IsForbidden` https://github.com/terraform-providers/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_cluster.go#L313  Could your issue be related with `IsForbidden`??

[2020-03-05 12:03] ajfriesen commented on #269
I am sorry, you are totally right. Had a typo in my module for that description.

[2020-03-05 12:03] #269 closed, assigned to nobody

[2020-03-06 18:40] spencergilbert opened #273 "rke_config for ingress"
What's the proper formatting to pass the following nginx config into the ingress/options map. All things I've tried have either broken in TF or when rancher tries to install the nginx ingresses.

`log-format-upstream: '{"time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x-forward-for": "$proxy_add_x_forwarded_for", "request_id": "$req_id", "remote_user": "$remote_user", "bytes_sent":

[2020-03-08 14:37] iTaybb commented on #263
After looking again, it seems like the problem is with the `rancher2_node_pool` resource. everytime it gets deletes, it's finishing within 1s (too soon to actually delete the nodes):
[code]

Is there a way to wait for the node_pool to be deleted before continuing?

[2020-03-13 21:27] rawmind0 commented on #272
@mitchellmaler, `rancher2_user` resource is just for managing rancher local users. LDAP users should be created from ldap itself.  BTM, `rancher2_global_role_binding` just accept user id due to they are special roles, they will be updated in next rancher releases. To add ldap user as global admin, you need to login first with ldap user (to get user id) and then can be added to global role binding.

[2020-03-13 22:53] mitchellmaler commented on #272
@rawmind0 Ah okay I was afraid it was that way. Looking forward to relating a AD group to the Admin role in the next release! :D

[2020-03-13 22:53] #272 closed, assigned to nobody

[2020-03-16 19:27] rawmind0 commented on #260
@iTaybb , namespace moving is already integrated at the provider:
- [Importing namespace](https://www.terraform.io/docs/providers/rancher2/r/namespace.html#import)
- Updating [`project_id`](https://www.terraform.io/docs/providers/rancher2/r/namespace.html#project_id) namespace wiil be moved

[2020-03-16 19:29] rawmind0 commented on #247
Please, reopen issue if needed.

[2020-03-16 19:29] #247 closed, assigned to nobody

[2020-03-17 08:50] iTaybb commented on #260
But you need to import the namespace for that.
In case you want to make a one-stop terraform plan that creates a cluster from scratch - that is not possible.

[2020-03-17 09:52] rawmind0 commented on #260
As mentioned, you can import or create namespaces from terraform provider.  On both cases, namespaces can be moved between projects.

[2020-03-17 09:58] iTaybb commented on #260
The problem is that "default" is a namespace that's coming natively with the `rancher2_cluster` object. You cannot create it afterwards as a new namespace, because it already exists

[2020-03-17 10:14] rawmind0 commented on #260
Yeah, already mentioned that this feature is not currently available on Rancher, not so much can be done here.

[2020-03-17 10:22] iTaybb commented on #260
OK then. So not possible at the moment. Thank you very much for your help

[2020-03-17 10:22] #260 closed, assigned to nobody

[2020-03-17 10:57] iTaybb opened #275 "node_template might be deleted before node_pool is finished deletion"
In my Terrafrom plan, when destroying, Terraform goes to delete `node_pool` and then deletes `node_template`.

It looks like the `node_pool` deletion returns immediately without waiting:

[code]

Then the node pool object is stuck and cannot be deleted:
[code]

This issue starting happening in v2.3.3/v2.3.4, so it might be casued by this merge request: https://github.com/rancher/rancher/pull/23718

[2020-03-17 10:57] iTaybb commented on #263
Opened a new issue #275 to better express the issue due to new findings.

[2020-03-17 10:57] #263 closed, assigned to nobody

[2020-03-18 22:10] brentwolfram commented on #273
Have you tried passing in via [extra_args or options](https://rancher.com/docs/rke/latest/en/config-options/add-ons/ingress-controllers/)?

As an example, I use following to change default HTTP and HTTPS ports:

  ingress {
    provider = "nginx"
    extra_args = {
      http-port = 8080
      https-port = 8443
    }
  }

[2020-03-19 15:08] gastoncan commented on #214
Hi @iridian-ks ;
Can you please share with us how did you workaround the monitoring issue? I am experiencing the same problem as you.

Thanks in advance!

[2020-03-19 18:22] spencergilbert commented on #273
`options       = map("log-format-upstream", "{\"time\": \"$time_iso8601\", \"remote_addr\": \"$proxy_protocol_addr\", \"x-forward-for\": \"$proxy_add_x_forwarded_for\", \"request_id\": \"$req_id\", \"remote_user\": \"$remote_user\", \"bytes_sent\": $bytes_sent, \"request_time\": $request_time, \"status\":$status, \"vhost\": \"$host\", \"request_proto\": \"$server_protocol\", \"path\": \"$uri\", \"

[2020-03-20 15:40] rawmind0 commented on #262
Reproduced issue. Submited PR #278  to fix the issue.

[2020-03-20 15:45] rawmind0 commented on #273
@spencergilbert, i guess that `log-format-upstream` nginx option is expecting json format. Have you tried, something like that??

[code]

[2020-03-20 15:46] rawmind0 commented on #267
Reproduced issue. Submited PR #278 to fix the issue.

[2020-03-20 15:47] rawmind0 commented on #256
Reproduced issue. Submitted PR #257 to fix it.

[2020-03-20 15:49] rawmind0 commented on #254
2 features included at PR #276  and #271

[2020-03-20 17:06] rawmind0 commented on #268
Please, reopen issue if needed

[2020-03-20 17:06] #268 closed, assigned to nobody

[2020-03-20 17:24] rawmind0 commented on #230
@spencergilbert , to update namespace project id, you should use `project_id` argument. Instead, namespace istio sidecar auto injection is not available on rancher AP. To enable it, add `istio-injection = "enabled"` and ignore the label is needed.

Thanks @serverbaboon for the attached example.

[2020-03-20 19:06] #244 closed, assigned to nobody

[2020-03-20 21:19] mikekuzak opened #280 "Instance Group and Node IPs on GKS"
HI,

I was able to provision a with the rancher2 terraform provider a cluster in Google Cloud GKE.
I need the instance group name/tag and the internal ips of the auto created nodes. Who do I them them ?

[code]

[2020-03-23 03:43] iridian-ks commented on #214
@gastoncan which issue? If it’s the waiting issue then the production Terraform docs now have the cluster_sync resource available for you.

If it’s the metrics configuration then I’m still trying to work with Rancher on that. My workaround for that is to comment out all metrics configuration and then bring up the cluster and then uncomment and apply again. This works but, obviously, we don’t want

[2020-03-23 06:32] gastoncan commented on #214
Thanks @iridian-ks for the response.
I meant to have a workaround for the monitoring issue.
Finnaly, I managed to configure the monitoring using the below code. I think it is not idemponent (because of the usage of "local-exec" provisioner without a "trigger"), but it's a good start.
I took the _curl_ commnad from the Rancher UI calls to the Rancher backend.
Do you have a better idea or a comment

[2020-03-23 15:07] pib commented on #214
I managed to work around the issue by giving the user creating the cluster "admin" permissions, but I believe it would actually work to just give them "editMonitoring" permissions on clusters in general.

The issue seems to be that when a user creates a cluster, the role binding that is created to give them the "cluster creator" permissions takes a while to apply, and the rancher2 provider is not

[2020-03-23 15:55] spencergilbert commented on #273
@rawmind0 doh, that's a great idea. It definitely looks like some quoting issue as it goes through, I'll give that a whirl.

[2020-03-24 11:37] rawmind0 commented on #233
PR merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 11:37] #233 closed, assigned to nobody

[2020-03-24 11:38] rawmind0 commented on #235
PR merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 11:38] #235 closed, assigned to nobody

[2020-03-24 14:16] gastoncan commented on #214
Giving "Admin" for the user worked as a workaround; thanks for that.
How do I perform the above statement:

[2020-03-24 14:51] pib commented on #214
@gastoncan I think it needs to be done via the underlying Kubernetes cluster. I'm not sure exactly what would need to be changed or what changes would need to be made. Rancher uses a combination of RBAC and their own CRDs, so it usually takes a little digging around to figure these sorts of things out, which is why I just went with admin to begin with.

The part that is throwing me off currently i

[2020-03-24 14:57] pib commented on #214
Monitoring is enabled via the `enableClusterMonitoring` field on the `clusters.management.cattle.io` CRD that Rancher uses to manage clusters. So it seems that the "editMonitoring" API in the Rancher API doesn't directly map to RBAC under the covers. I'll probably resort to digging through the Rancher source to figure it out a bit later.

[2020-03-24 15:25] ajfriesen commented on #233
Thank you very much!

[2020-03-24 16:21] caiconkhicon opened #281 "Cannot create rancher2_app with catalog scoped at cluster or project level"
I face the exact same issue as #146,  but since it's closed, I create a new issue.

I tried rebuilding the provider locally from `master` but didn't help.
From my code below, you can see that both `template_name` and `catalog_name` have `-`. When I change to `scope = "global"`, it works.

[code]

[2020-03-24 16:59] rawmind0 commented on #281
I guess your catalog_name is wrong. It should have a prefix for cluster and project scope catalogs, https://www.terraform.io/docs/providers/rancher2/r/app.html#catalog_name

One of these should address your issue:
* add cluster ID or project ID before name, `c-XXXXX:`<name> or `p-XXXXX:`<name>
* set rancher2_app argument point to catalog id instead name, `catalog_name = rancher2_catalog.cert-manag

[2020-03-24 20:22] rawmind0 commented on #256
@czunker , finally `policy` has been implemented in yaml format. Take a look to example, https://github.com/terraform-providers/terraform-provider-rancher2/pull/257/files#diff-e06e84c47d0fb7fa4ee40b06919f98ecR28

[2020-03-24 20:31] rawmind0 commented on #280
I guess that these info is not available at the provider. The provider is not managing `rancher2_cluster_nodes`

You could get nodes info using kubectl.

[2020-03-24 20:33] rawmind0 commented on #256
PR merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 20:33] #256 closed, assigned to nobody

[2020-03-24 20:41] spencergilbert commented on #273
@rawmind0 that still seems to be breaking the rke-ingress-controller-deploy-job, i've attached the rke-ingress-controller configmap

the error in the job is still:

`error: error parsing /etc/config/rke-ingress-controller.yaml: error converting YAML to JSON: yaml: line 9: did not find expected key`

[rke-ingress-controller-cm.txt](https://github.com/terraform-providers/terraform-provider-rancher2/

[2020-03-24 20:42] rawmind0 commented on #267
PR merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 20:42] #267 closed, assigned to nobody

[2020-03-24 20:47] rawmind0 commented on #254
PRs merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 20:47] #254 closed, assigned to nobody

[2020-03-24 20:51] rawmind0 commented on #262
PR merged and will be included on next release. Please, reopen issue if needed.

[2020-03-24 20:51] #262 closed, assigned to nobody

[2020-03-24 20:55] caiconkhicon commented on #281
@rawmind0 : you are right. Thank you for helping. I will close the issue.

[2020-03-24 20:55] #281 closed, assigned to nobody

[2020-03-24 22:25] narfeta commented on #254
hi @rawmind0 sorry to bother you, but I'm not seeing how to enable json parsing at fluentd config it seems that the PR 271 only adds the custom_target_config

[2020-03-25 11:12] iTaybb commented on #275
As a workaround for the meantime, a sleep can be made after `rancher2_node_pool` removal and before `rancher2_node_template` removal.

Add this under all the `rancher2_node_template` resources:
[code]

[2020-03-25 12:31] rawmind0 commented on #254
@narfeta , you are right, my fault. Submitted PR #282

[2020-03-25 18:19] rawmind0 commented on #118
@nlowe , sorry about delayed response. This issue should be addressed by PR #278 . Patch is included in provider release v1.7.3

Please, reopen issue if needed.

[2020-03-25 18:19] #118 closed, assigned to nobody

[2020-03-25 21:31] rawmind0 commented on #273
@spencergilbert , i think this should be an error with the json format. I made test and is working fine, just check json validation

[2020-03-25 21:55] rawmind0 commented on #275
PR #283 should address your issue. Tested and worked fine for me.

[2020-03-26 01:22] dkeightley opened #284 "Wait for Rancher API availability with rancher2_bootstrap"
In a tightly coupled terraform configuration, resources that create the Rancher nodes and cluster may be followed closely with a `rancher2_bootstrap`.

In these cases, `rancher2_bootstrap` may fail when the Rancher API is still unavailable. To handle this gracefully with an argument or in the provider would some custom logic in between resources to test/sleep until the Rancher API is online.

[2020-03-26 12:45] mikekuzak commented on #280
I was able to get it the hard way, as the rancher2 provides doesn't return the auto generated google resources.

[code]

If someone has a better idea I'm keen to hear.

[2020-03-26 17:08] chrisreed87 opened #285 "rancher2_cluster_alert_group - failing to override default recipient"
Cannot override the inherited default recipient using the cluster alert group resource, from it's notifier counterpart.

create a notifier
[code]

create a cluster_alert_group, with a different recipient than default:
[code]

`terraform plan` shows that it will be updated:
[code]
Yet changes are not reflected in Rancher:
[code]

[2020-03-26 20:32] spencergilbert commented on #273
@rawmind0 can you share the config of the test you used?

[2020-03-26 21:11] SamKirsch10 opened #287 "terraform default download behind latest release"
Hey Rancher peeps,

It looks like the terraform provider default is still downloading v1.7.0. Are there plans to fully push out the .1 .2 or .3 releases for consumption? Would love some of those fixes.

Thanks!

[2020-03-26 21:17] rawmind0 commented on #287
@SamKirsch10, all released should be fully pushed.

Run just right now...Downloading proper v1.7.3

[code]

[2020-03-26 21:22] rawmind0 commented on #285
@chrisreed87, thanks for reporting the issue. Submitted PR #286 to address it.

[2020-03-26 21:23] rawmind0 commented on #284
This PR add this feature to the provider.

[2020-03-26 21:27] rawmind0 commented on #273
@spencergilbert , i used same config but with validated json.

[code]

[2020-03-26 21:28] rawmind0 commented on #275
Please, reopen issue if needed.

[2020-03-26 21:28] #275 closed, assigned to nobody

[2020-03-26 21:50] SamKirsch10 commented on #287
@rawmind0 thanks! Did you push something? Cause now it's getting 1.7.3

[2020-03-26 22:02] #287 closed, assigned to nobody

[2020-03-26 22:05] spencergilbert commented on #273
I swear I tried this exact thing and it didn't work. I'm going to go back and look at it again, I feel like I'm losing my mind here.

[2020-03-26 22:14] rawmind0 commented on #287
I didn't push anything.

[2020-03-26 22:15] spencergilbert commented on #273
@rawmind0 could you share the ingress-controller configmap?

[2020-03-26 22:18] rawmind0 commented on #273
Sorry i tested and deleted the environment, but more or less like yours. I just validated and updated json.

[2020-03-27 05:18] iTaybb commented on #275
Thank you.

[2020-03-29 08:32] nickvth opened #289 "error addons_include"
[ERROR] cluster [c-2z7dz] provisioning: [addons] Unable to determine if ./cert-manager/cluster-issuer.yml is a file path or url, skipping

Can't find file to deploy, is local file working or is there only url based support (url is working)?

[2020-03-30 12:48] rawmind0 commented on #289
Both should work, https://rancher.com/docs/rke/latest/en/config-options/add-ons/user-defined-add-ons/#referencing-yaml-files-for-add-ons

[2020-03-30 18:38] pib commented on #214
@gastoncan so it turns out that Rancher currently just checks if the user has permission to "update" the cluster to determine if it can call the editMonitoring API: https://github.com/rancher/rancher/blob/master/pkg/api/customization/cluster/actionhandler.go#L68

So either the rancher2 provider should be waiting until the role template for cluster creators is applied before trying to edit the moni

[2020-03-30 19:10] iridian-ks opened #290 "rancher2_cluster data source as kubernetes provider input"
I believe this issue is related to this provider and not Terraform in general.

I was using the `terraform_remote_state` to grab the inputs for the `provider kubernetes {}` block. In particular, I was extracting the `host` and `token` attributes from a `data rancher2_cluster {}` block. I have since removed this code and am now, directly, grabbing outputs from `data.rancher2_cluster`.

On the *firs

[2020-03-30 20:05] rawmind0 commented on #290
I've tested your pasted example.  I've needed to change few things to make it work, may be an error  pasting example??

Here you are not referencing the datasource. Also, kubeconfig field should be called `kube_config`

  kube_token = local.kubeconfig.users[0].token

Here, fields are not defined properly by kubeconfig format.

This seems to work properly for me
[code]

[2020-03-30 23:14] iridian-ks commented on #290
Hi @rawmind0 ,  thanks for the super quick response.

Sorry for the silly typos. The actual code is more in-depth and I quickly remade it in the Github ticket.

I did some actual testing in a single file and you're right that things look good. I'm using modules and outputs and depends_on. It looks like the issue is somehow related to a depends_on, but only in the context of a module. Definitely mo

[2020-03-30 23:15] iridian-ks commented on #290
For now, I think things are working if I remove `depends_on`.

I'll reopen if I need to.

[2020-03-30 23:15] #290 closed, assigned to nobody

[2020-03-31 12:51] msnelling opened #291 "Support for new Helm v3 Catalogs"
Rancher v2.4.x now supports Helm version 3 catalogs, https://rancher.com/docs/rancher/v2.x/en/catalog/#catalog-helm-deployment-versions. Could the provider please be updated to support the option of adding Helm v3 catalogs?

[2020-03-31 12:56] rawmind0 commented on #291
Helm v3 support is already added on PR #274

[2020-03-31 12:56] #291 closed, assigned to nobody

[2020-03-31 12:57] rawmind0 commented on #285
Please, reopen issue if needed

[2020-03-31 12:57] #285 closed, assigned to nobody

[2020-03-31 12:57] rawmind0 commented on #284
Please, reopen issue if needed

[2020-03-31 12:57] #284 closed, assigned to nobody

[2020-03-31 12:59] rawmind0 commented on #230
Please, reopen issue if needed

[2020-03-31 12:59] #230 closed, assigned to nobody

[2020-03-31 13:04] #241 closed, assigned to nobody

[2020-03-31 19:17] iTaybb opened #292 "Bootstrapping provider results in a timeout error starting v1.8.0"
Attempting to bootstrap a new rancher with a provider fails with `Error: Timeout, Rancher is not ready: <nil>` right at the terraform plan step (before applying) on a clean tfstate.
Example config:
[code]

In 1.7.3 the same code block runs fine.

[2020-03-31 19:40] lots0logs opened #293 "Rancher v2.3+ Supports Linode Cloud. Support Still Hasn't Been Implemented In TF Provider"
Rancher includes built-in support for Linode since version 2.3 but support is missing in the TF provider.  I'm not yet sure what all is missing in the terraform provider. I'll update the list as I discover them.

* rancher2_cloud_credential
* rancher2_node_template

[2020-03-31 19:44] rawmind0 commented on #292
Is the https://${aws_instance.rancher.public_ip}/ available??  Working fine to me..

[2020-03-31 20:00] rawmind0 commented on #292
Have you tried to change `retries` argument value??

[2020-03-31 20:01] iTaybb commented on #292
Not available yet. There is no state yet. This fails on the plan step, before any resources can get created.
Just to clarify - the `aws_instance.rancher` instance is being created in the same terraform plan.
It should not try to connect to it since it's not ready yet.

It worked fine in 1.7.3

On Tue, Mar 31, 2020, 22:44 Raúl Sánchez <notifications@github.com> wrote:

[2020-03-31 20:43] rawmind0 commented on #292
yeah, i got that it was working on 1.7.3. On 1.8.0, there is an additional check on provider, to test if rancher is ready.  This check is managed by `retries` argument, to continue checking more or less retries. What is not clear is why is trying to connect, if dependent objects are not ready. May the check should be done if not bootstraping...

Have you tried to change retries argument value??

[2020-03-31 20:57] iTaybb commented on #292
This is failing on `terraform plan` step. So retries won't make sense, even 50 retries won't be enough, since it's only the plan step and no resources are going to be created

[2020-03-31 20:58] iTaybb commented on #293
I believe it's a question to rancher itself, and not to the terraform provider

[2020-03-31 21:39] lots0logs commented on #293
How so? Rancher supports Linode AFAIK.

[2020-03-31 21:49] rawmind0 commented on #292
Could you please test with PR #294??
 The issue is just happening when api_url is dependent of infra that is deployed at same tf apply

[2020-04-01 05:53] gastoncan commented on #214
Thanks a lot for investigation @pib !
How can we address this fix? I am not familiar with bug fixes lifecycle in github. Should this actual issue to be reopen? Or we need a new one? @iridian-ks ? @rawmind0 ?

[2020-04-01 06:24] iTaybb commented on #292
Looks great. 10x

[2020-04-01 06:24] #292 closed, assigned to nobody

[2020-04-01 15:06] nickvth opened #295 "Upgrade strategy failed"
Error: [ERROR] waiting for cluster (c-556rs) to be updated: unexpected state 'upgrading', wanted target 'active, provisioning, pending'. last error: %!s(<nil>)

[2020-04-01 16:41] mitchellmaler opened #297 "Wait for node pool to be deleted"
Currently there is some issues where a node pool is deleted and then it moves on to delete other dependent resources such as node templates. Could a wait be added for the node pool resource to block until it is cleaned up?

[2020-04-01 16:48] rawmind0 commented on #297
What issues are you having?? What provider version are you using??

PR https://github.com/terraform-providers/terraform-provider-rancher2/pull/283 should sync delete with API

[2020-04-01 16:53] mitchellmaler commented on #297
One issue is we create folders in the vsphere environment which cannot be deleted until all nodes have been deleted. Even if the rancher node_pool resource has been deleted the nodecontroller is still doing work to clean up the nodes. There is no way to wait for all nodes to be completely deleted without running a sleep or something. It would be better if the resource has an opt in way to waitfor

[2020-04-01 18:28] Oats87 opened #298 "After upgrading Terraform Provider (with Rancher 2.3.x), rancher2_catalog keeps trying to force new for version"
After upgrading to the latest available Terraform provider, my existing Terraform keeps trying to replace my rancher2_catalog (and subsequent rancher2_app) definitions because the "helm_v2" version is not set.

In order to workaround this, I had to set:
[code]

[2020-04-01 18:37] mitchellmaler commented on #297
I just deleted nodes and all the workers did delete but it left the master nodes created even though if I go into rancher and the cluster is missing.
Looking in the logs I see this
[code]
So in the backend the nodes still exist and are having issues.

[2020-04-01 18:45] mitchellmaler commented on #297
Yea the namespace is being terminated by the nodes still exist waiting on the node controller
[code]

[2020-04-01 18:49] mitchellmaler commented on #297
I had to manually remove the finializer on the node objects and then they deleted along with the namespcae. I then had to manually delete the VMs since rancher wont delete them anymore since they have been forced removed.

[2020-04-01 20:16] rosskirkpat opened #299 "rancher2 tf provider does not recognize the latest 1.15.x k8s version for Rancher 2.3.6"
When trying to provision a new Rancher 2.3.6 cluster using the TF provider, the latest k8s version available for 1.15.x is `1.15.11-rancher1-2` but it is not a recognized version. Error included below

[code]

[2020-04-01 21:19] Oats87 commented on #299
I'm running into the same issue:

but with 1.17.x
[code]

[2020-04-01 21:20] rawmind0 commented on #299
Yes, i'm working to release a patch. It's an issue on how tf provider is getting kontainer-metadata.

[2020-04-01 23:18] rawmind0 commented on #299
Submitted PR #296 to fix the issue

[2020-04-02 00:45] rawmind0 commented on #297
I can't reproduce the issue. Terraform destroy is working fine for me using node_pools and node_templates

[code]

[2020-04-02 02:25] rawmind0 commented on #298
Submitted PR #296 to fix the issue

[2020-04-02 08:20] nickvth commented on #297
same issue here: worker nodes are deleted from vmware, but controlplane not.
terraform say that destruction is complete, but controlplane node is still "powered on" on vmware

rancher log
`2020/04/02 08:20:49 [ERROR] NodeController c-744wb/m-hbp2q [node-controller] failed with : unable to refresh config for node m-hbp2q: nodetemplates.management.cattle.io "nt-wvcq8" not found`

[2020-04-02 13:01] nickvth opened #300 "cluster monitoring broken"
when cluster monitoring enable:

`Failed to install app cluster-monitoring. Error: Could not get apiVersions from Kubernetes: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request`

[2020-04-02 13:12] rawmind0 commented on #297
What is the error on terraform??

[2020-04-02 13:14] rawmind0 commented on #300
More detailed data about the issue is needed here. tf file, tf error,...

[2020-04-02 13:16] rawmind0 commented on #293
TF provider is not supporting linode yet. PR's are more than welcomed. :)

[2020-04-02 13:21] nickvth commented on #297
terraform gives no error.

terrraform say rancher2_node_pool.controlplane: Destruction complete, but controlplane vm still exists on vmware and in rancher the cluster state is updating.

[2020-04-02 13:25] rawmind0 commented on #297
Then, if the error is on rancher side, this issue should be opened on rancher/rancher repo

[2020-04-02 13:28] nickvth commented on #297
When i remove the cluster from ui all nodes are succesfully deleted. So why is that working and not with terraform.

[2020-04-02 13:31] nickvth commented on #300
i think this is a rancher issue not tf, broken after 2.4.2

[2020-04-02 13:35] rawmind0 commented on #297
I guess that you are not doing the same process. Are you also removing node_template from ui?? Have you tried to just destroy the cluster and node_pools from terraform and let node_templates??

[2020-04-02 13:50] nickvth commented on #300
https://github.com/rancher/rancher/issues/26440

[2020-04-02 13:50] #300 closed, assigned to nobody

[2020-04-02 13:51] nickvth commented on #289
thanks!

[2020-04-02 13:51] #289 closed, assigned to nobody

[2020-04-02 14:37] pib commented on #214
I didn't spend too much time digging in to the rancher2 provider code, but it looked like it creates the cluster then edits the monitoring settings. I believe it should be able to set the monitoring config when it initially creates the cluster, which would eliminate this bug.

[2020-04-02 15:22] mitchellmaler commented on #297
The main issue is Rancher allows you to remove node_templates before all related nodes are removed. I agree this should be looked at on the rancher side but that could end up with it just rejecting deletes of node_templates before all nodes are deleted which would break the terraform workflow.

Could this provider be enhanced to have a wait on the node_pool delete action to wait for all nodes to a

[2020-04-02 15:23] rawmind0 commented on #214
@pib, edit monitoring is done just if monitoring is enabled and you are providing monitoring answer with custom values.

[2020-04-02 15:33] rawmind0 commented on #297
I think the issue is on node_template delete not in node_pool. Have you tested not deleting node_template?? Other think that could be tested is add a cluster dependency to node_templates, assuring that cluster is removed before node_template.

Issue should be addressed on Rancher side, managing delete dependencies properly and waiting for delete if needed. This shouldn't break tf due to provider i

[2020-04-02 17:06] aemneina opened #302 "[RFE] Add ability specify custom certs for cluster creation in rancher2 provider"
This feature exists in rke and the rke provider, which is excellent. The problem is that if it doesnt exist in the rancher provided cluster creation, some features go missing, like monitoring of etcd and other niceties.

[2020-04-02 17:15] aemneina commented on #302
Well, I guess this needs to exist in rancher first. Will file that first, and possibly reopen this if/when that gets implemented

[2020-04-02 17:15] #302 closed, assigned to nobody

[2020-04-02 17:30] nickvth commented on #297
Yes you are correct, node template was destroyed before cluster. I have solve this with the following order
Delete node pool, delete cluster and then delete node template.

[2020-04-02 18:25] rawmind0 commented on #299
PR included on release v1.8.2. Please reopen issue if needed.

[2020-04-02 18:25] #299 closed, assigned to nobody

[2020-04-02 18:26] rawmind0 commented on #298
PR included on release v1.8.2. Please reopen issue if needed.

[2020-04-02 18:26] #298 closed, assigned to nobody

[2020-04-02 18:26] rawmind0 commented on #295
PR included on release v1.8.2. Please reopen issue if needed.

[2020-04-02 18:26] #295 closed, assigned to nobody

[2020-04-02 18:27] toddexp opened #303 "Cluster / Project Monitoring Version Upgrade"
It seems there is currently no way to upgrade the cluster or project monitoring from the Terraform provider. I don't see any version specified in the Terraform code. Reissuing the cluster or project monitoring code again doesn't upgrade it either.

It seems that the monitoring version is set by the helm template version that is deployed for the cluster / project monitoring.

Is there a way to upgr

[2020-04-02 18:30] rawmind0 commented on #297
Cool. @nickvth , have you added a `depends_on = [<node_template>]` on the cluster??

[2020-04-02 18:52] nickvth commented on #297
Yes that's correct @rawmind0

[code]

[2020-04-02 19:03] pib commented on #214
@rawmind0 ok, so I guess in that case the issue is that in that case it needs to wait for the role bindings for the cluster creator to be applied before attempting the monitoring change.

[2020-04-02 19:18] rawmind0 commented on #214
@pib not pretty sure about that. I can't reproduce the issue as commented [here](https://github.com/terraform-providers/terraform-provider-rancher2/issues/214#issuecomment-591608118),

Due to sing admin user, deployment is working properly for me, i guess that may be it is a problem with user permissions.

[2020-04-02 19:29] pib commented on #214
If it helps, I see the problem consistently with imported clusters, so perhaps it's something specific to those.

[2020-04-02 19:48] rawmind0 commented on #214
Good point @pib, thanks.. I'll investigate on this way.

[2020-04-02 20:14] lots0logs commented on #293
@rawmind0 Done :heavy_check_mark:

[2020-04-03 00:42] mitchellmaler commented on #297
I logged this issue on the rancher side. I completely agree this isn't really an issue with this provider and was just coming up with way to get around the issue. Hopefully on the rancher side it can be resolved.
https://github.com/rancher/rancher/issues/26456

[2020-04-03 00:46] #297 closed, assigned to nobody

[2020-04-03 13:46] azelezni commented on #292
This still causes issues.
I have a TF module with optional `rancher2_cluster` (`count = 0`), when using the module without `rancher2_cluster` I will get the same error, just after the depended resources has been created.

The module creates K8S cluster with RKE, either with the Terraform provider or via `rancher2_cluster`, so in the case of RKE provider `rancher2_cluster` is not used, but I still

[2020-04-03 13:56] ahmedfourti opened #305 "Error: Timeout, Rancher is not ready: <nil>"
Hello,

It seems the new version `1.8.2` doesn't work as expected.
Here is my code for provider

provider "rancher2" {
  alias = "bootstrap"

  api_url   = "https://${var.rancher_hostname}"
  bootstrap = true
}

The variable `rancher_hostname` is built from an outputs of infrastructure.

However, it hangs for some time and then it throws error `Error: Timeout, Rancher is not ready: <nil>`
I tried

[2020-04-03 14:03] mcmcghee commented on #305
Same issue here.

[2020-04-03 14:27] rawmind0 commented on #305
Got it. Investigating the issue.

[2020-04-03 14:56] rawmind0 commented on #305
Hi all, could you please provide the tf file your are using??

[2020-04-03 14:59] ahmedfourti commented on #305
Here is mine

[code]

[2020-04-03 15:32] rawmind0 commented on #305
@ahmedfourti , is your terraform apply stuck before plan or it's failing when applying?? If it's failing on applying plan, what is the `retries` value you have tried??

[2020-04-03 15:34] ahmedfourti commented on #305
@rawmind0  it fails when it tries to refresh, so no matter plan or apply, it fails.
I tried the default retries to 5, then 50 then 100.

[2020-04-03 15:42] rawmind0 commented on #305
I'm asking you because matters if plan or apply. If stuck before plan, retries doesn't matter, but if fails applying it's a question of retries. It's a problem how terraform init provdiers.

Anyway, what is the initial value of `${var.rancher_hostname}`?? Is it empty and would be generated during same apply??

[2020-04-03 15:58] ahmedfourti commented on #305
It is stuck during refresh, so before both plan and apply.
Yes the variable is empty and generated later during the apply

[2020-04-03 18:26] rawmind0 commented on #303
PR #306 will add this feature

[2020-04-03 18:28] rawmind0 commented on #305
PR #306 will address this issue. In the meanwhile we test and release, please continue using provider v1.8.1

[2020-04-03 19:01] toddexp commented on #303
Thank you for addressing this so quickly. I took a quick look at the PR. It appears this will allow versioning for the cluster monitoring. Is it possible to also allow versioning for project monitoring as well? It's possible I missed this ability for the project monitoring when looking at the PR though.

[2020-04-03 19:13] rawmind0 commented on #303
Take a look now.

[2020-04-03 19:19] toddexp commented on #303
Looks great. Thank you again for fixing this so quickly. Much appreciated.

[2020-04-06 10:04] r0mk opened #307 "Error Listing RKE K8s System Images: Unknown schema type"
Provider 1.8.2
Terraform v0.12.21
Rancher 2.2.8

[ERROR] Listing RKE K8s System Images: Unknown schema type [rkeK8sSystemImage]
on provider.tf line 1, in provider "rancher2":
1: provider "rancher2" {

Works fine with plugin 1.7

[2020-04-06 12:51] rawmind0 commented on #307
Fixed on PR #306

[2020-04-07 07:59] anouarchattouna opened #308 "Unicity of rancher2_notifier by name in the same cluster"
* Create two notifiers in the same cluster that have the same name (say `test-cluster-notifier`) (from the UI, or using the terraform resource `rancher2_notifier`)
* Use the terraform data source `rancher2_notifier` to retrieve information about a notifier:
[code]
=>`Error: [ERROR] found 2 notifier with name "test-cluster-notifier" and cluster ID "c-bp5jp"`

* Shouldn't the notifier name be unique

[2020-04-07 08:05] anouarchattouna opened #309 "No left menu item for rancher2_project_alert_group & rancher2_project_alert_rule"
There is no left menu items for the following data sources :

**[rancher2_project_alert_group](https://www.terraform.io/docs/providers/rancher2/d/projectAlertGroup.html)**
**[rancher2_project_alert_rule](https://www.terraform.io/docs/providers/rancher2/d/projectAlertRule.html)**

There is no left menu items for the following resources :

**[rancher2_project_alert_group](https://www.terraform.io/do

[2020-04-07 08:12] anouarchattouna opened #310 "Set recipients for default Cluster Alert Group"
I would like to attach a newly created notifier to the existing Cluster Alert Group that comes with a rancher cluster :
`A set of alerts for etcd`
`A set of alerts for kube components`
`A set of alerts when event happened`
`A set of alerts for node`
* I created the notifier
[code]
* Then I cannot figure out how to set the recipients field of the already existing Cluster Alert Groups ? Is that achi

[2020-04-07 11:05] rawmind0 commented on #309
Fixed on PR #311

[2020-04-07 11:09] rawmind0 commented on #310
To manage any existing resource from terraform, it should be imported first, https://www.terraform.io/docs/providers/rancher2/r/clusterAlertGroup.html#import

[2020-04-07 11:43] rawmind0 commented on #308
Why??  It doesn't seems a good practice if done on purpose. If both notifiers has same name, how to choose which is the correct one?? Anyway, if `rancher2_notifier` are created by tf provider, you wouldn't need to use datasource.

By the moment, datasource is responding error if more than one `rancher2_notifier` are found with same cluster_id and name.

Could be, but this issue should be opened at

[2020-04-07 19:49] nickgraetsch opened #312 "resource rancher2_app not working 404"
I cant deploy apps with the rancher2_app resource.

I try to deploy the following:
[code]

And get this result:

[code]

I think its because the rancher project path changed from https://<RANCHER_FQDN>/v3/**project**/c-47jgx:p-p9qq6/apps to https://<RANCHER_FQDN>/**p**/c-47jgx:p-p9qq6

[2020-04-07 20:35] rawmind0 commented on #312
Have you tried to create namespace `docker-registry`?? The error is saying that namespace doesn't exist.Take a look to the docs example, https://www.terraform.io/docs/providers/rancher2/r/app.html#example-usage

[2020-04-07 22:24] #312 closed, assigned to nobody

[2020-04-08 07:23] anouarchattouna commented on #310
Well I already tried doing a manual `terrafrom import` first then managing the resource in my terraform code. But this not a good option knowing that we are looking to have some automation !

[2020-04-08 07:26] anouarchattouna commented on #308
Thanks

[2020-04-08 07:26] #308 closed, assigned to nobody

[2020-04-08 08:37] caiconkhicon commented on #171
Same problem here. The `rancher2_cluster` resource does not wait until the cluster is ready, so there's no information about the nodes.

[2020-04-08 10:53] rawmind0 commented on #310
Terraform can't update any resource that is not managed by itself.

May be you can think to do the import from an automation process, due to existing cluster alert groups have known ids, "<CLUSTER_ID>:etcd-alert", "<CLUSTER_ID>:kube-components-alert", ...

[2020-04-08 11:54] DJAyth commented on #171
There is a cluster sync resource that you can use after you create the cluster, that will wait for the cluster to complete, but again it doesn't pull back much info about the cluster.

[2020-04-08 12:08] #293 closed, assigned to nobody

[2020-04-08 12:09] rawmind0 commented on #293
@lots0logs , thanks for submitting PR. Approved and merged into master.

Please, reopen issue if needed.

[2020-04-08 12:24] #310 closed, assigned to nobody

[2020-04-09 10:02] rawmind0 commented on #309
PR merged. Please reopen issue if needed.

[2020-04-09 10:02] #309 closed, assigned to nobody

[2020-04-09 10:02] rawmind0 commented on #307
PR merged. Fix will be included on v1.8.3. Please reopen issue if needed

[2020-04-09 10:02] #307 closed, assigned to nobody

[2020-04-09 10:03] rawmind0 commented on #305
PR merged. Fix will be included on v1.8.3. Please reopen issue if needed

[2020-04-09 10:03] #305 closed, assigned to nobody

[2020-04-09 10:03] rawmind0 commented on #303
PR merged. Fix will be included on v1.8.3. Please reopen issue if needed

[2020-04-09 10:03] #303 closed, assigned to nobody

[2020-04-10 22:26] toddexp opened #313 "cluster_auth_endpoint Not Enabled by Default"
The [cluster_auth_endpoint](https://www.terraform.io/docs/providers/rancher2/r/cluster.html#cluster_auth_endpoint) is not enabled by default. The documentation states that it is enabled by default, but it is set to disabled by default.

I think the default setting should be enabled however if this is intentionally set to disabled the docs should reflect that.

[2020-04-12 17:49] john-morsley commented on #268
I'm getting exactly the same thing!

[2020-04-12 17:54] john-morsley opened #314 "[ERROR] No api_url provided when trying to use Rancher2 provider"
I have just bootstrapped a Rancher installation. However, when I try and 'admin' the same installation, I get:

```Error: [ERROR] No api_url provided```

Code:

[code]

Can anyone advise, please? Or is this a bug?

[2020-04-12 18:57] rawmind0 commented on #314
What is local.admin_url?? It seems is empty string..

[2020-04-12 19:00] john-morsley commented on #314
Nope, it works out as ```rancher.morsley.io```, the same URL I used to bootstrap it with.

[2020-04-12 19:36] rawmind0 commented on #314
https://github.com/terraform-providers/terraform-provider-rancher2/blob/f65df9d14bcb9b0aed1426dcb35a886d13bfe941/rancher2/provider.go#L216

[2020-04-12 19:39] john-morsley commented on #314
Are you trying to tell me something?

[2020-04-12 19:47] rawmind0 commented on #314
Sure, that local.admin_url seems to be resolved as empty string..or may be there is another provider config where api_url is empty..

Pointing provider code, when this error is returned

[2020-04-12 19:49] john-morsley commented on #314
Nope, as even when I try the following, same error:

[code]

And my entire Terraform script has only 1 "rancher2" provider.

[2020-04-12 19:51] rawmind0 commented on #314
The second option.. how looks like your resources?? Are using admin aliased provider??

[2020-04-12 19:54] john-morsley commented on #314
Ah, didn't know you had to. Trying it now...

[2020-04-12 20:03] rawmind0 commented on #314
Take a look to the examples, https://www.terraform.io/docs/providers/rancher2/index.html#example-usage

`provider = "rancher2.admin"` should be added to resources

[2020-04-12 20:36] john-morsley commented on #314
Thanks @rawmind0. I was trying to create an EKS cluster, and although that's failing, it is getting further now. You are a star!

[2020-04-12 20:36] #314 closed, assigned to nobody

[2020-04-13 01:26] mitchellmaler opened #315 "Create Provider using Username/Password to be able to generate tokens for other users"
Our use case it to create a user using the user resource and then generate a token for that user which is then stored in our vault. Right now I am unable to find a way to create a user and then create a token for that user. I could create a new provider so that I can provide that users information but all I have it that users username, password, and  id and there doesn't seem to be a way to impers

[2020-04-13 10:16] vsabella opened #316 "Enable_Cluster_Monitoring has a race condition on newly provisioned clusters."
When "enable_cluster_monitoring" is set on a newly provisioned cluster, creating monitoring configuration fails

Rancher v2.3.6

[code]
Alert Rule:
[code]

Results in:
[code]

Waiting a few minutes for the cluster to provision, and re-running again results in success.

If the customer isn't provisioned, you cannot configure the rules. It seems like the rules should be configurable even if monitori

[2020-04-13 13:45] rawmind0 commented on #316
@vsabella , i think that [`rancher2_cluster_sync`](https://www.terraform.io/docs/providers/rancher2/r/clusterSync.html#argument-reference) resource may help you on that. It has `wait_monitoring` bool argument to help on this stuffs.

You could try something like..

[code]

[2020-04-13 13:55] rawmind0 commented on #315
BTM, this feature is not supported by the provider. Rancher API just supports token creation for "current" user.

Working to figure out a possible solution for that.

[2020-04-13 14:30] mitchellmaler commented on #315
I know using the public api you can login using a local user by calling
https://host.com/v3-public/localProviders/local?action=login which then returns a token for that user. Using this API the token resource or a new token type of resource could be setup to generate tokens for others if you have their username/password. https://host.com/v3-public api also allows logging in using the setup auth pr

[2020-04-13 22:42] rawmind0 commented on #313
@toddexp, this is not exactly like you are describing. I guess you are using Rancher v2.4.x, isn't it?? I'll try to clarify.

The documentation doesn't states that [`cluster_auth_endpoint`](https://www.terraform.io/docs/providers/rancher2/r/cluster.html#cluster_auth_endpoint) argument is enabled by default. It states that this argument is optional and computed on `rancher_cluster` resource, what i

[2020-04-13 23:17] rawmind0 commented on #315
Sure, i know how this is working.Provider is already using these on [bootstrap](https://github.com/terraform-providers/terraform-provider-rancher2/blob/f65df9d14bcb9b0aed1426dcb35a886d13bfe941/rancher2/resource_rancher2_bootstrap.go#L227) resource.

The solution i'm thinking is add the option to create token for `rancher2_user` resources. Once the local user is created, [doing user login](https://

[2020-04-13 23:20] mitchellmaler commented on #315
For me that would work perfectly!

Extra ask would be able to provide the ttl and description to the token creation/login if created using the rancher2_user resource but just being able to get a user token on user creation would be great.

[2020-04-14 06:00] dnoland1 opened #317 "bootstrap fails on k3s with traefik and TLS termination on load balancer"
On a k3s cluster with traefik, get the following error when attempting to using the rancher2 bootstrap resource (TF_LOG=debug) set:
[code]
This is because traefik intercepts /ping and returns OK and not the expected "pong":
[code]
See https://docs.traefik.io/operations/ping/#configuration-options

Note, works fine if we debug nginx-ingress controller instead of the default traefik ingress. Above t

[2020-04-14 13:10] rawmind0 commented on #317
That sounds weird @dnoland1 . Traefik shouldn't intercept `/ping` uri on every entrypoint, just on an specific one, `traefik` by default.

It seems that traefik ingress is not redirecting requests to proper entrypoint. Are you using proper FQDN to access Rancher??

Tested on k3s v1.17.4-k3s1 with traefik ingress and running rancher
[code]

[2020-04-14 13:53] toddexp commented on #313
@rawmind0 Thank you for the clarification. I did just upgrade to Rancher 2.4 and that is when I noticed this change.

I didn't realize the the difference between leaving off the argument in Terraform vs specifying the argument and leaving it empty. I appreciate you explaining the difference.

[2020-04-14 13:53] #313 closed, assigned to nobody

[2020-04-14 16:54] dnoland1 commented on #317
@rawmind0 Could you try this in your environment:
[code]
and let me know the results. It appears if you use https, `pong` is returned, but http returns `OK`.

In our environment, we are using the tls external option in Rancher and doing TLS termination on AWS ALB. The ALB will forward traffic onto traefik using http, not https.

[2020-04-15 11:51] rawmind0 commented on #317
Issue is with traefik and external LB configuration:

* traefik is owning `/ping` on http not matter FQDN (@dnoland1 you were right on that)
* external LB is redirecting to http and getting unexpected answers on rancher `/ping` requests due to is not going to rancher healthcheck.

The provider needs to access proper rancher healthcheck at `/ping`, due to it's  checking rancher readiness before con

[2020-04-15 15:40] mitchellmaler opened #318 "[RFE] Resource to automate importing a existing cluster to Rancher"
Currently you have to call out to the Rancher API to get the import manifest and then apply that to the cluster you want to import. Would it make sense to create a resource that can get this manifest and then applies that to the cluster in question? It isn't the best UX to have to call the API and then apply using cli commands.

[2020-04-16 03:51] lots0logs opened #319 "rancher2_cluster :: Custom Cloud Provider Does Not Work"
Currently the schema for `custom_cloud_provider.name` forces the name to be one of the built-in provider names or `custom`. That makes cluster creation fail with the following error:
[code]
~~In my case, the name is `digitalocean`~~ Actually looks like it must be set to `external` but Terraform won't allow me to use it because it doesn't pass the current schema validation.

References:
* https://g

[2020-04-16 15:47] jbilliau5668 commented on #214
I can confirm this issue exists with imported clusters; i can't get cluster-monitoring to work at all with an imported EKS cluster unless I run terraform apply again after the initial apply, and "add it in".

[2020-04-17 01:57] nickngch commented on #225
I am getting this issue on AD user, and the user hasn't logon to the Rancher before

Terraform file
[code]

Error message from terraform

The configuration seems legit if I compare with the request from browser

`{"type":"projectRoleTemplateBinding","projectId":"local:p-ntlxx","userPrincipalId":"activedirectory_user://CN=adtest,CN=Users,DC=nick,DC=local","roleTemplateId":"project-owner"}`

[2020-04-17 11:41] nickngch commented on #225
So it was the token issue; I was using the token from a local user. Works perfectly fine on AD token, thanks @rawmind0

[2020-04-17 23:00] chrisreed87 opened #320 "rancher2_cluster - extra_args not being removed on destroy"
Using kubelet as an example:

[code]
Creates a cluster with those `extra_args`. Then removing, so the resource looks like this:
[code]
Plan output shows that it will be removed:
[code]
But extra arg is still present in RKE cluster.yml

[2020-04-21 18:47] lapfrank12 commented on #225
This works fine with `group_principal_id` though. I use it to add AD-based groups without issues using the original admin token. Why can't we do the same thing with `user_principal_id`?

Thanks,

[2020-04-23 21:52] narfeta opened #321 "Error when retry after error"
sometimes our terraform fails creating namespaces with the message

[code]

now if I retry, I get

[code]

Is there a way to workaround to this? or should I remove the namespace before retry? (that's what I'm actually doing)

On other side I'm trying to figure it out why I'm getting 500

Cheers

[2020-04-25 21:24] mitchellmaler commented on #315
@rawmind0 Do you know when this feature will be added?

[2020-04-27 12:24] azbpa commented on #225
Have a similar issue with `ActiveDirectory` and users that never have been logged in (but exsisting in AD):

[code]
Terraform error message:

[code]

[2020-04-27 12:39] ajchiarello opened #322 "Documentation Inconsistency"
In the resource description for rancher2_node_template, under the vsphere_config, in the entry for clone_from, it says "If you choose creation type clone a name of what you want to clone is required."

However, under the entry for creation_type, clone is not a supported value ("Supported values: vm, template, library, legacy.") Looks like the text for clone_from was not updated when the creation t

[2020-04-28 09:28] caiconkhicon opened #323 "Cannot delete/add/modify clusterTemplateRevision when the clusterTemplate is in use"
I want to delete a clusterTemplateRevision, so I remove that `template_revisions` block from the `rancher2_cluster_template` resource, then apply. The plan shows that `template_revisions` block will be removed:

However, when applying, it fails with the error:

The revision is not in-use. I can delete it from the Rancher UI, and then when running `terraform apply` again, it shows that everything i

[2020-04-30 14:58] zaggash opened #324 "Rancher 2.3.2 - Audit_log do not apply downstream"
Hi,
Using Rancher version 2.3.2.
I think there is an issue in regards to the `audit_log` argument.
Trying to apply the following, `terraform apply` says it is modified but nothing happen on the downstream cluster.
[code]

In order to make it work, I have to apply something like this, with the `autit.yaml` on the server beforehand:
[code]

Is there a bug ? A minimum Rancher version to make it work

[2020-04-30 15:03] zaggash commented on #324
https://github.com/rancher/rancher/issues/26713

[2020-05-03 02:52] wd commented on #148
As the error said: key file not found, maybe we should put the keys on the rancher master?

[2020-05-04 09:31] erSitzt commented on #27
I had the same problem.
`ignore_changes` might help, but i think the provider should ignore all rancher managed annotations/labels

[2020-05-04 09:43] erSitzt commented on #27
the above syntax for `ignore_changes` does not work for me with
[code]

Does anyone know what the current syntax would look like ?

[2020-05-04 13:43] spencergilbert commented on #27
It would be nice to have a built ignore ignore for the `cattle.io` labels/annotations

[2020-05-04 19:43] ajchiarello opened #325 "rancher2_node_pool IP Addresses"
When creating a node pool, is there any way to get the IP addresses of the nodes that have been created? I am using the authorized cluster endpoint feature and need to add my controlplane nodes to my load balancer.

[2020-05-06 21:44] jd4883 commented on #246
I started spinning up my own RKE cluster recently and am using terraform to manage it as close to completely as possible. Storage Class / Persistent Volume Storage is one of the few areas I found to not have a good way to manage with terraform. I'm using vsphere as my storage provider and similar to the RKE UI, I would really like to have a terraform block I can define that I can put the vsphere a

[2020-05-07 12:23] ajchiarello commented on #183
It looks like the dependency has been met - should I look for this in the next release?

[2020-05-07 13:57] dr4Ke opened #328 "Cluster cloud config for openstack load balancers lacks node_security_group parameter"
When configuring a cluster with load balancers on openstack, we should be able to specify the right security group to use for the load balancers rules management.

It's specified as mandatory (although it seems not) in [kubernetes documentation](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#load-balancer):

[2020-05-08 11:30] rawmind0 commented on #324
Hey @zaggash , as explained on [RKE docs](https://rancher.com/docs/rke/latest/en/config-options/audit-log/#enabled-by-default), `audit_log` feature was added on RKE ~~v1.1.0~~ v1.0.0

[Rancher v2.3.2](https://github.com/rancher/rancher/blob/v2.3.2/go.mod#L81) is using RKE v0.3.2. RKE ~~v1.1.0~~ v1.0.0 was introduced on [Rancher ~~v2.4.0~~ v2.3.3](https://github.com/rancher/rancher/blob/v2.3.3/go.m

[2020-05-08 11:35] zaggash commented on #324
From what I understand, it is enabled by default starting with 1.1.0, doesn't mean it is not available before 🤔

[2020-05-08 12:12] rawmind0 commented on #324
Agreed that may be doc explanation is not pretty clear, but feature is not available at  Rancher v2.3.2 ([RKE v0.3.2](https://github.com/rancher/rke/blob/v0.3.2/vendor/github.com/rancher/types/apis/management.cattle.io/v3/rke_types.go#L263)). audit_log can be enabled on previous RKE versions but using `extra_args` and `extra_binds` like you are doing.

Anyway, i made a mistake checking versions, s

[2020-05-08 12:29] zaggash commented on #324
Okay make more sense and explain why it worked on v2.3.4 during the tests.
Thanks for the precision.

[2020-05-08 12:29] #324 closed, assigned to nobody

[2020-05-11 03:37] patrickdappollonio opened #329 "Node template error on delete in Terraform, but template is deleted in Rancher"
### What did you do?

Create a node template using the terraform provider 1.8.2 using the following code:

[code]

Then proceed to create the node template and delete it right away using `terraform init && terraform apply -auto-approve && terraform destroy -auto-approve`

### What did you expect to see?

The node template created (showing up briefly in the UI before requesting deletion), then dele

[2020-05-11 03:54] panho66 opened #330 "node template default ec2 encryption set to false"
Node template in Rancher 2.3.x do not have encryption option .
EC2 created with encrypted AMI is encrypted. You cannot create EC2 unencrypted from encrypted AMI

Rancher 2.4.x has encryption option but default to false. There is no option in rancher2_node_template to set encryption as a result create EC2 from encrypted AMI failed.

![image](https://user-images.githubusercontent.com/15118220/815216

[2020-05-11 10:00] rawmind0 commented on #330
PR #331  should address the issue

[2020-05-11 10:00] rawmind0 commented on #329
PR #331  should address the issue

[2020-05-11 15:52] caiconkhicon commented on #323
I did more tests:

- A `rancher2_cluster_template` resource is created with 2 revisions, 1 is default and is used to created a K8S managed cluster. Then, I tried the following tests, all of them failed:
  - Modify the in-use revision
  - Add a new revision
  - Modify the unused revision - in fact it succeeded but the error was still returned
  - The errors are a same type:
`Error: Bad response sta

[2020-05-11 16:48] chrisreed87 opened #332 "rancher2_role_template - support view verb"
Creating or editing a role template, when adding the verb `view` provider returns this error:
[code]
[code]

`view` is missing from this list in the docs here: https://www.terraform.io/docs/providers/rancher2/r/roleTemplate.html

[2020-05-11 17:53] rawmind0 commented on #332
`view` verb is not in the doc due to it's not supported here. Supported verbs are `create delete get list patch update watch`, actually like in the Rancher UI.

Are you sure `view` is the verb you need??

[2020-05-11 19:02] pib commented on #214
This is still an issue I am seeing. The error actually prevents the cluster from being saved in the terraform state as well, so the next apply it fails because there's already a cluster with the same name. The only way to fix it is to do a `terraform import` and apply again OR to give the user more privileges temporarily while the apply is happening. Neither is a good solution :|

[2020-05-12 10:30] rawmind0 commented on #329
PR merged into master. Please, reopen issue if needed.

[2020-05-12 10:30] #329 closed, assigned to nobody

[2020-05-12 10:31] rawmind0 commented on #330
PR merged into master. Please, reopen issue if needed.

[2020-05-12 10:31] #330 closed, assigned to nobody

[2020-05-12 10:42] rawmind0 commented on #328
@dr4Ke , i guess that this option is not supported by RKE, https://github.com/rancher/types/blob/master/apis/management.cattle.io/v3/rke_types.go#L635

I guess this issue should be opened on rke repo. Could you please, open the issue there, https://github.com/rancher/rke/issues

[2020-05-12 11:11] vCra opened #333 "403 when trying to access data rancher_cluster on RBAC enabled cluster"
Currently using a multi-tenancy cluster, where access to certain resources (in this example cluster registration tokens) are not accessible to everyone (for obvious reasons). I only want to be able to access the things I have access to (e.g. the kube config and description), and for the objects that I don't have access to, to be ignored.

`Error: Bad response statusCode [403]. Status [403 Forbidde

[2020-05-12 13:06] dr4Ke commented on #328
As a matter of fact, it seems that this option is deprecated as the external cloud controller for openstack creates a new SG for that purpose. So I guess this won't be necessary after all. Sorry for the noise.

[2020-05-12 13:06] #328 closed, assigned to nobody

[2020-05-13 14:00] caiconkhicon opened #334 "Syntax of catalog_name of rancher2_app resource is different between rancher cluster and managed cluster"
I want to create a cluster scoped catalog and create an application from it. Follow the documentation here: https://www.terraform.io/docs/providers/rancher2/r/app.html#argument-reference, I set the argument `catalog_name` for the resource `rancher2_app`.
It worked well for the managed cluster, but it fails for the Rancher cluster. In this case, I set:

`
catalog_name     = "local:elastic"
`

It fa

[2020-05-13 18:15] slessardjr opened #335 "Rancher2_cluster AKS Config Tags not working"
When I use the provider to create or update a cluster. I'm providing tags and they are not showing up in the ui, nor are the tags applied to the created AKS resource or virtual machines.

[code]
This creates successfully, but if I edit the cluster in the UI, none of the tags were added.

[code]

[2020-05-13 18:45] msnelling commented on #146
I'm still seeing this issue with version 1.8.3 of the provider. Is this a regression?

[2020-05-13 18:51] rawmind0 commented on #146
I don't think so. Feature should work fine. Could you provide your ft file??

[2020-05-13 20:25] msnelling commented on #146
Here's a sample `.tf` file.
[code]

[2020-05-13 20:34] rawmind0 commented on #146
If you want to use scoped catalogs for an app, the catalog_name should be provided in a proper format, https://www.terraform.io/docs/providers/rancher2/r/app.html#catalog_name

Referencing your example, should work with

[code]

[2020-05-13 23:33] rawmind0 commented on #334
The syntax shouldn't be different, this is correct `catalog_name = "local:elastic"`, but not working due to a bug. Thanks for reporting.

The issue is just occurring with `local` cluster scope catalogs. It should be addressed with PR #336

[2020-05-14 00:59] slessardjr commented on #335
Looks like the problem is in the struct type. I think the input of a map is a good idea to ensure kv, but Rancher2 seems to expect them as an array of string

[snippit of output json from Rancher2_cluster]
[code]
I'm still a beginner at go, but I think this line needs to change to []string
https://github.com/rancher/terraform-provider-rancher2/blob/33810e8edbdd7529239429bb11be37212f06f712/rancher2

[2020-05-14 07:44] msnelling commented on #146
Thanks @rawmind0, I just tried both of those with the above `.tf` file and they both give the error
[code]
This is the plan that it tries to execute...
[code]

[2020-05-14 08:14] caiconkhicon commented on #334
Thanks a lot for your quick reply. I will try it soon.

[2020-05-14 08:33] caiconkhicon commented on #334
@rawmind0 : Can you please check again. I tried and it failed with the error:

`
Error: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [message=catalogtemplateversions.management.cattle.io "elastic-kibana-7.6.2" not found, baseType=error, code=ServerError] from [https://my-rancher.io/v3/project/local:p-rcqlh/apps]
`

Note that the search item is `elastic-kibana-7.6.2`, wh

[2020-05-14 11:04] rawmind0 commented on #334
@caiconkhicon have you build the provider from the PR??  Could you please rebase PR, build and test with it. For me is working fine

[2020-05-14 11:07] rawmind0 commented on #146
Try to specify the template version. There is a bug with version containing initial `v` that will be addressed with PR #336

`template_version = "v0.15.0"`

[2020-05-14 11:59] caiconkhicon commented on #334
@rawmind0: I tried again, still the same result:

1. Completely remove the old local repo
2. `git clone https://github.com/rawmind0/terraform-provider-rancher2.git`
3. `git checkout app` (check again, your 2 new commits are there)
4. Build and copy the binare into ~/.terraform.d/plugins
5. Remove .terraform dir and rerun `terraform init`
6. The output with the error:

[code]

[2020-05-14 12:05] rawmind0 commented on #334
Weird, working fine for me...

[code]

[2020-05-14 13:48] caiconkhicon commented on #334
@rawmind0 : I tried on 2 machines, both had the same result. The only issue I can think of is the Golang version, maybe?
Both machines I tried are MacOS. The Golang version is:

`go version go1.14 darwin/amd64` (one has 1.14.2)

In the README it says using go1.12.

[2020-05-14 14:31] sadhugit opened #337 "terraform-rancher:CA: "terraform apply" is updating the CA cert every time with out any user changes"
Steps:
1. Prepare the single node terraform rancher cluster.
2. Update the minio s3  config details  with certificate in the rancher resource file(rancher-common/rancher.tf).
eg:
`rke_config {
    kubernetes_version = var.workload_kubernetes_version
    services {
      etcd {
        backup_config {
          interval_hours = 24
          retention = 3
          s3_backup_config {
            acc

[2020-05-14 16:29] sadhugit commented on #337
Sample rancher Config File:
[rancher.tf](https://github.com/terraform-providers/terraform-provider-rancher2/files/4629657/rancher.tf.txt)

[2020-05-14 17:09] rawmind0 commented on #337
@sadhugit , triming spaces before base64 encode should help you.
`custom_ca = base64encode(TrimSpace(file("/root/ca.pem")))`

[2020-05-14 17:23] Jasper-Ben commented on #334
same issue here. PR also doesn't seem to fix it.
`go version go1.14.2 linux/amd64`

[code]
[code]

[2020-05-14 17:45] rawmind0 commented on #334
@Jasper-Ben  working for me with the PR applied, seems that fix it

[code]

[2020-05-14 18:48] Jasper-Ben commented on #334
I am not sure why, but for me it is hit and miss... I had to run `terraform apply` three times (without changing anything to the config) for it to work.

[code]

[2020-05-14 18:49] Jasper-Ben commented on #334
and after destroying and recreating it again does not work. Have you tried creating it from scratch?

[2020-05-14 19:01] Jasper-Ben commented on #334
terraform --version
Terraform v0.12.24
+ provider.rancher2 (unversioned)

Rancher | v2.4.3
User Interface | v2.4.22
Helm | v2.16.5-rancher1
Machine | v0.15.0-rancher36

Rancher and cluster are both run in a single docker container

just to make sure, here is my entire main.tf:

https://paste.it-works-jbo.de/?32214f94a913f726#CG9GPGKWVwKnAqq9iP2BAScuP4stQaDnv84YFJr6GL1w

[2020-05-14 19:12] Jasper-Ben commented on #334
it seems to me that the catalog is not yet ready when the app tries to start. So this might be an unrelated issue.

[2020-05-14 20:02] spencergilbert commented on #332
The API view for the default Project Owner contains the following spec...
[code]

[2020-05-14 20:21] caiconkhicon commented on #334
I know your issue. It is another one. It is the catalog taking time for refreshing.
I my case, it is the problem with the cluster scoped catalog.

[2020-05-14 20:29] msnelling commented on #146
@rawmind0 that did the trick thanks.

[2020-05-14 20:32] Jasper-Ben commented on #334
Ahh I see. Thanks for the hint. I just saw your issue and assumed it was the same problem (didn't think to run apply twice in a row).

I just found https://github.com/terraform-providers/terraform-provider-rancher2/pull/203 and setting `refresh: true` did indeed fix the issue, though I don't understand why this isn't set to true by default...

Good luck with resolving the issue!

[2020-05-14 22:33] chrisreed87 commented on #332
@rawmind0 - yes, to @spencergilbert 's post above, the error is received when importing a role that already has `view` as an option (as above), edited for any additions, then re-applied to the cluster.

[2020-05-14 22:36] rawmind0 commented on #332
Got it, thanks for your comments.

I'll submit a PR adding it.

[2020-05-15 00:31] spencergilbert commented on #332
Happy to open an issue against rancher directly if it should be updated to a GET or LIST as well. Thanks guys!

[2020-05-15 06:36] sadhugit opened #339 "terraform-rancher2(RFE):Expose caCert in the rancher2_cluster data source"
Details:
The rancher2 terraform provider does not expose the caCert in the attributes of either the rancher2_cluster resource, or more importantly, the rancher2_cluster data source.

It may not make sense to add it to the resource, since it can take some time (1-2 minutes) for the value to appear. But it should exist in the data source.

The caCert value is available in the Rancher API when queryi

[2020-05-15 09:54] caiconkhicon commented on #334
@rawmind0 : Hi, in fact it works. It was because of the newer version of Elasticsearch (which was released 2 days ago). They only keep the latest version, so the one I used above 7.6.2 was actually not available anymore.
I still don't like that the error message doesn't show the cluster id (i.e. local) any more; but anyway, I think we can close this issue.
Thanks a lot for your help.

PS: Is there

[2020-05-15 09:54] #334 closed, assigned to nobody

[2020-05-15 11:19] Tejeev opened #340 "Add load_balancer_sku argument to azure_cloud_provider configuration"
Issue to track https://github.com/terraform-providers/terraform-provider-rancher2/pull/338

[2020-05-15 11:45] ajchiarello opened #341 "Add ability to configure shibboleth authentication"
Rancher 2.4 introduced Shibboleth as an authentication source - please add the ability to set this up via terraform.

[2020-05-15 12:09] sadhugit commented on #337
Thanks alot @rawmind0  It fixed the issue.(Initially it updated and next time onwards its not updating while performing terraform apply).
 A small correction to the command i.e. it's "trimspace"
`custom_ca = base64encode(trimspace(file("/root/ca.pem")))`

[2020-05-15 20:50] Israphel opened #342 "Support for encryptEbsVolume in node_template (amazonec2_config)"
### Terraform Version
Terraform v0.12.24
+ provider.aws v2.61.0
+ provider.rancher2 v1.8.3

### Affected Resource(s)
Please list the resources as a list, for example:
- node_template

### Expected Behavior
amazonec2_config doesn't have an entry for encryptEbsVolume (bool)

### Actual Behavior
You can only create node templates with encryptEbsVolume set to false. If you change it via rancher API, T

[2020-05-16 07:18] panho66 commented on #342
@Israphel  https://github.com/terraform-providers/terraform-provider-rancher2/issues/330

[2020-05-16 07:35] panho66 opened #343 "create token for other users"
Hi
I have a need to create Rancher user using rancher2_user and retrieve user's token.
However, after user created, I couldn't find a way to create user token.  Rancher provider requires user's access, secret key or token and bootstrap only for admin.

After rancher2_user created user, nothing I could use to login and create token.

Is it possible to extent rancher2_user to return token as well ?

[2020-05-16 21:33] #342 closed, assigned to nobody

[2020-05-18 07:50] tumd commented on #162
I too have hit this limitation.
In my use-case I need to retrieve a list of available `rancher2_cluster_template`'s and their data, before I create any new such resources.

[2020-05-19 15:49] rawmind0 commented on #343
Duplicated, please follow up #315

[2020-05-19 15:49] #343 closed, assigned to nobody

[2020-05-19 17:04] rawmind0 commented on #332
Submitted PR #344 to address the issue

[2020-05-19 19:07] tarunptala commented on #182
+1 👍

[2020-05-20 01:12] dnoland1 opened #345 "RFE - Ability to add a Storage Class"
Need to create a storageclass using rancher2 terraform provider. Equivalent of this in the UI:
<img width="1302" alt="image" src="https://user-images.githubusercontent.com/468462/82393647-e8374a00-99fb-11ea-8b98-83a95aba259b.png">
which uses the API:
`POST /v3/cluster/<cluster id>/storageclasses`

[2020-05-20 13:59] anouarchattouna opened #347 "Namespace container resource limit ignored when used with empty values"
* Create a namespace with empty values for `container_resource_limit`
[code]
[code]
* Execute your plan a second time
[code]
=> The `container_resource_limit` seems not to be taken into account. (so such behaviour when using real values `20m`, `20Mi`, ect.)

[2020-05-20 14:12] rawmind0 commented on #347
what's the point to add empty `container_resource_limit` argument??  Have you tested using real values??

[2020-05-20 14:35] anouarchattouna commented on #347
* With real values it is ok.
* To define `real values` (quotas) we need to start with empty values and then adjust.

[2020-05-20 15:37] rawmind0 commented on #347
why??

[2020-05-20 18:55] all4innov commented on #347
simply because providing quotas is not always mandatory. In addition, there is a case when providing in a project only `limits_cpu` and not `limits_memory`

[2020-05-20 19:10] rawmind0 commented on #347
That's the point, as it's not mandatory why not simply let `container_resource_limit` empty??

[2020-05-22 08:02] anouarchattouna commented on #347
Same behaviour using empty blocks :
[code]
Again, this occurs only for the `rancher2_namespace` :
[code]

Same behaviour from `rancher2_project` is required!

[2020-05-22 11:30] rawmind0 commented on #347
Sorry @anouarchattouna but i don't fully get your point. When i mentioned let `container_resource_limit` empty, i meant don't define empty arguments. Have you tested with something like that??

[code]

[2020-05-22 12:48] anouarchattouna commented on #347
@rawmind0 I also mentioned that with real values and no blocks it was fine.
From our use case we need to have that block even empty.
The question here is why it works with `rancher2_project` even with empty block and not with `rancher2_namespace `? Don't they should have the same behaviour ?

[2020-05-22 13:54] rawmind0 commented on #347
Answering your questions, nope, the behaviour is not the same due to Rancher API treats both objects in a distinct way on `resource_quota` and `container_resource_limit` arguments. For project, `container_resource_limit = nil` is generating nil object, but for namespace `container_resource_limit = nil` is generating empty object `container_resource_limit = {}`. You can check it creating projects a

[2020-05-24 11:42] crsantini commented on #318
Found answer here https://github.com/terraform-providers/terraform-provider-rancher2/issues/227

[2020-05-24 22:07] Mike-Ling commented on #323
Hi caiconkhicon,

I'm struggling to find an example that shows how to create a second template revision. Can you assist?

The docs say template_revisions is a list, but my cluster_config is about 100 lines of code? I can't work out how to structure template_revisions as a list.

Thanks in advance,

Mike

[2020-05-25 00:23] nathankodilla opened #348 "Data source with depends_on always forces a resource recreation"
I have the following code:

[code]

Every `apply` the `rancher2_app.kube2iam` resource thinks it needs to recreate itself. The plan shows a change of `~ project_id = "local:p-xxxxx" -> (known after apply) # forces replacement` but the project id is not changing between runs. If I remove the `depends_on` inside `rancher2_cluster.main` this will not happen. Unsure if this is an issue with the provid

[2020-05-25 05:30] caiconkhicon commented on #323
Hi @Mike-Ling,
yes, your `rancher2_cluster_template` will look very long because of `cluster_config`. The code structure looks like this:

[code]

[2020-05-26 18:30] atsai1220 commented on #201
Running into this exact issue right now. Adding `depends_on` to `rancher2_app` resource and `refresh = "true"` to `rancher2_catalog` resolves the issue for me. Sharing for anyone that runs into this.

My scenario: The App is found and installs correctly if I apply Terraform the second time (when the chart is fully instantiated and without `depends_on` but with `refresh = "true"`).

The Chart that

[2020-05-28 08:50] angeloudy opened #349 "terraform destroy doesn't destroy EC2 instances"
I have just tried this provider and I found that when I ran `terraform destroy`, it can destory everything on rancher, but not deleting the underlying EC2 instances.
Below is my terraform script
[code]

[2020-05-28 16:35] rawmind0 commented on #349
This issue is duplicated. Adding node_template dependency on cluster should address the issue. Please take a look to https://github.com/rancher/terraform-provider-rancher2/issues/297#issuecomment-608041433

Please, reopen issue if needed

[2020-05-28 16:35] #349 closed, assigned to nobody

[2020-05-28 16:45] rawmind0 commented on #348
`data.rancher2_project.system.id` is a computed argument, it is known after apply. For some reason, it seems terraform is detecting any change on rancher2_bootstrap.admin and  it's getting updated.

Anyway, this dependency seems weird. I think better scope would be that the rancher2 provider depends on rancher2 bootstrap provider and remove this dependency on data source. Something like that.

[co

[2020-05-28 23:13] pbnj opened #350 "Ability to configure dns.nodelocal setting"
This setting is exposed through Rancher's UI:
[code]

But, it does not appear to be supported by the terraform provider.

[2020-05-29 02:52] angeloudy opened #351 "[amazonec2_config]Cannot add tags for existing nodes"
I just tried adding some tags for my ec2 nodes.
And `terraform` apply succeeded, but no tags were added to my ec2 instances.
When add more nodes, it did add tags to the new ec2 instances.
I presume when I added tags to my `rancher2_node_template`, terraform only updates the template in rancher, and won't do anything to the ec2 instances.

Is this something that can be improved, either in rancher o

[2020-05-29 03:05] angeloudy opened #352 "`zone` shouldn't be a required argument for amazonec2_config"
[code]
It doesn't make sense to me that `zone` is a required argument in `amazonec2_config` because avalability zone can is already determined by the `subnet_id`.
Same with `vpc_id`.

When you create an EC2 instance with terraform, you don't need to specify either `vpc_id` or `availability_zone`, then we need them here? unless they also serve some other purposes.

Another weird thing with this `zo

[2020-05-29 09:50] nikita-voronoy opened #353 "Can't create a node with `node_taints`"
After adding a nested block with node_taints, I got an error from terraform:

[code]

Terraform version = Terraform v0.12.25
Rancher2 provider = v1.8.3

[code]

UP: Same for `delete_not_ready_after_secs`

[2020-05-29 10:54] rawmind0 commented on #351
That's the expected behaviour. Existing nodes will not get updated fields from `rancher2_node_template` until they will be redeployed. This is how node_templates works at Rancher.

[2020-05-29 10:58] rawmind0 commented on #353
`node_taints` is a list not and array, bad notation on your resource definition. Also, it has a couple of required arguments, https://www.terraform.io/docs/providers/rancher2/r/nodePool.html#node_taints-1

Could you try with something like that

[code]

[2020-05-29 11:04] nikita-voronoy commented on #353
@rawmind0 thank you,

  node_taints {
    key = "Key"
    value = "Value"
    effect = "NoSchedule"
  }
Works for me!

[2020-05-29 11:12] rawmind0 commented on #352
`zone` values are not limited to `a,b,c,d` as you mentioned. What value do you need on it?? Have you check some value and got refused??

On Rancher, it's set by default as `a` as you can check on Rancher API, https://<RANCHER>/v3/schemas/amazonec2config

[2020-05-29 11:20] rawmind0 commented on #350
Not all the resources exposed by Rancher API are supported on the provider. `nodelocal` support is included on PR #354

[2020-05-29 14:45] rawmind0 commented on #353
Please, reopen issue if needed.

[2020-05-29 14:45] #353 closed, assigned to nobody

[2020-05-29 14:47] rawmind0 commented on #340
PR #338 merged into master. Please reopen issue if needed.

[2020-05-29 14:47] #340 closed, assigned to nobody

[2020-05-29 14:54] rawmind0 commented on #318
As explained on issue referenced by @digitalassembly , you don't need to call the Rancher API to get the import manifest. It can be obtained from tfstate, once you've created an imported cluster.  https://github.com/terraform-providers/terraform-provider-rancher2/issues/227#issuecomment-574374552

[2020-05-29 14:56] mitchellmaler commented on #318
Ah okay. It wasn’t obvious that’s how to import a cluster.

[2020-05-29 14:56] #318 closed, assigned to nobody

[2020-05-29 14:57] rawmind0 commented on #183
Feature is added on PR #338 , that is already merged into master. It will be include in the next provider release. Please reopen issue if needed.

[2020-05-29 14:57] #183 closed, assigned to nobody

[2020-05-29 20:11] nathankodilla commented on #348
This is what I have currently for providers (omitted it above) which is close to what you are recommending:

[code]

I added the `depends_on = [rancher2_bootstrap.admin]` because I was experiencing an issue. I don't recall exactly what at this moment, but I believe it was that the data resource was being called before being bootstrapping occurred.

[2020-05-30 10:01] rawmind0 commented on #348
Got it. But seems weird, due to the dependency is implicit on the provider config. It depends of rancher2_bootstrap, data source dependency shouldn't be needed. Could you please try without dependency and confirm the issue??

Additionally, if you are using system project, you don't need project data source due to it can be also get from cluster data source https://www.terraform.io/docs/providers/r

[2020-06-02 16:32] chrisreed87 opened #356 "rancher2_cluster_logging - fluentd_config - compress boolean is ignored"
Setup a basic rancher2_cluster logging resource, with `compress=false`

[code]

Terraform applies successfully, but compress is still set to true (the default). Subsequent re-applies will always show a change being made.

[2020-06-03 07:21] hyunsun opened #357 "Update project"
How can we update the existing project?
Rancher seems to create another project with duplicate name instead of updating the existing project.

[2020-06-03 10:22] rawmind0 commented on #357
Was the project created by terraform or manually?? If manually, you should import it first, https://www.terraform.io/docs/providers/rancher2/r/project.html#import

[2020-06-03 10:29] rawmind0 commented on #356
Known issue that will be addressed on next provider release, once PR https://github.com/rancher/types/pull/1083 is included on Rancher

[2020-06-03 10:30] rawmind0 commented on #337
@sadhugit , i'm glad it's fixed. Please, reopen issue if needed.

[2020-06-03 10:30] #337 closed, assigned to nobody

[2020-06-03 10:57] Heiko-san opened #358 "add skip_destroy to rancher2_namespace"
**Feature request**

Please add some field like "skip_destroy" to the **rancher2_namespace** resource, which by default is false and will cause terraform to do nothing on a destoy, if set to true.

**Explanation**

If you destroy a whole terraform stack that created a cluster along with anything you need , in particular custom projects and namespaces, and then if you want to destroy the whole stac

[2020-06-04 17:49] hyunsun commented on #357
Thanks, I confirmed that the project created by Terraform can be updated.

[2020-06-04 17:49] #357 closed, assigned to nobody

[2020-06-04 23:34] angeloudy opened #359 "timeout waiting for app state to become active"
I got the following error when I was using `rancher2_app` to deploy my application because some of my pods failed to start.
[code]
First of all, I wonder if we can add an option to disable the waiting. In my case, the failure of the pods are expected, but I still want terraform to return success.

Second, this error also cause other problems.
I found when I tried to deploy it again, terraform woul

[2020-06-04 23:37] angeloudy commented on #352
@rawmind0
My point is that `zone` shouldn't be needed here at all. But it's a required argument.

[2020-06-05 01:33] angeloudy opened #360 "Application deployed by terraform cannot be upgrade from UI"
I have just tried using `rancher2_app` to deploy some applications on rancher, and I found that apps deployed by terraform cannot be upgraded from the UI.
When I clicked the three dot --> Upgrade, nothing happens.
If I deploy my application by hand from UI, I have no problem upgrading it.
Is this expected behavior?

[2020-06-05 10:05] rawmind0 commented on #352
As mentioned, `zone` value is required by Rancher API, setting `a` as default value.

[2020-06-05 10:17] rawmind0 commented on #360
Apps deployed by terraform can be upgrade from UI as well. Just tested and it's working in the same way that is working if app is deployed from the UI.

Once app is deployed using terraform, i can update it to next version 1.9.2

[code]

What is the app you are getting this issue?? Could you please provide more detailed info to be able to reproduce the issue??

[2020-06-05 12:03] john-morsley opened #361 "The provider errors with 'No api_url'"
Hello,

Whilst following examples I found online, the provider throws an error:

[code]

Code:

[code]

Thanks

TRACE to follow:

[2020-06-05 12:06] john-morsley commented on #361
[Rancher2-Issue#361-TRACE.txt](https://github.com/terraform-providers/terraform-provider-rancher2/files/4735942/Rancher2-Issue.361-TRACE.txt)

[2020-06-05 12:22] rawmind0 commented on #361
@john-morsley , your tf file is wrong. You are aliasing the rancher2 provider but not using it at rancher2 resources. Removing `alias = "admin"` on provider definition should address your issue

[2020-06-05 13:01] john-morsley commented on #361
Thanks @rawmind0 , that did indeed solve my problem.

[2020-06-05 13:01] #361 closed, assigned to nobody

[2020-06-08 08:43] rawmind0 commented on #332
PR #344 already merged to master. It will be included on next provider release. Please, reopne issue if needed.

[2020-06-08 08:43] #332 closed, assigned to nobody

[2020-06-08 08:46] rawmind0 commented on #350
PR #354 is already merged on master. It'll be included on next provider release. Please reopen issue if needed.

[2020-06-08 08:46] #350 closed, assigned to nobody

[2020-06-08 09:59] rawmind0 commented on #41
PR #362 already merged on master to address this issue. Please reopen issue if needed.

[2020-06-08 09:59] #41 closed, assigned to nobody

[2020-06-08 09:59] rawmind0 commented on #264
PR #362 already merged on master to address this issue. Please reopen issue if needed.

[2020-06-08 09:59] #264 closed, assigned to nobody

[2020-06-08 10:00] rawmind0 commented on #356
PR #362 already merged on master to address this issue. Please reopen issue if needed.

[2020-06-08 10:00] #356 closed, assigned to nobody

[2020-06-08 12:04] Mike-Ling commented on #323
Thanks @caiconkhicon for your help with the above... its easy once you know how; if only the official documentation was a little more detailed...

I've been doing a fair bit of testing with the cluster template resource over the last week or so and I've decided to abandon it and define the cluster config within the cluster resource. Having wrapped the cluster resource in a module that acts as a te

[2020-06-08 12:14] Mike-Ling commented on #345
I also need to add a class so that cluster monitoring can be enabled with persistent storage. Adding the class after the cluster has been provisioned does not work; the volumes remain in a pending state and the PV is never created.

The class needs to exist before the monitoring pods are deployed so I'm forced to deploy a cluster without monitoring and then enable monitoring in a second pass havin

[2020-06-09 10:40] rawmind0 commented on #319
Submitted PR #364 to address issue

[2020-06-09 11:06] rawmind0 commented on #321
It seems you are getting `500` errors due to Rancher to k8s cluster post is eventually failing with timeout. Are you k8s master services restarting or eventually failing or so busy??

Probably the k8s timeout error is coming once the namespace has been created, that's why you are getting `409` error on retry.

It seems the issue is not related with the provider, moreover it seems related with the

[2020-06-09 11:06] #321 closed, assigned to nobody

[2020-06-09 11:07] rawmind0 commented on #316
Please, reopen issue if needed

[2020-06-09 11:07] #316 closed, assigned to nobody

[2020-06-09 11:08] rawmind0 commented on #273
Please reopen issue if needed

[2020-06-09 11:08] #273 closed, assigned to nobody

[2020-06-09 20:41] carlcauchi opened #365 "Issue when adding a new template_revisions to an existing rancher2_cluster_template"
You can easily replicate the issue by creating a new rancher2_cluster_template, add the initial template_revisions { name = "v1" etc... }, link it to your cluster by:

[code]
This works fine, problem is when you create the 'second' template_revisions { name = "v2" etc.. } to your existing rancher2_cluster_template - if you then try to run terraform, it will display this error:

[code]

To have a c

[2020-06-09 20:43] carlcauchi commented on #365
@rawmind0  and @jeffb4 - tagging you just incase you might be able to help with this one, many thanks!

[2020-06-09 20:47] carlcauchi commented on #323
@Mike-Ling / @caiconkhicon - Just incase you might be able to help - I have raised a similar issue here: https://github.com/terraform-providers/terraform-provider-rancher2/issues/365

[2020-06-10 00:33] angeloudy opened #366 "project, namespace, apps dependency cannot be detected"
Steps to reproduce:
1. create a project `project1`
2. create a namespace `ns-1` in `project1`
3. create an app in namespace `ns-1`
all with rancher2 provider
Then delete project manually and ran `terraform apply`
Errors like the following will be thrown
[code]

If I only delete the namespace manually,
[code]

Here's my terraform template
[code]

[2020-06-10 01:01] angeloudy commented on #360
I found it is quite inconsistent, even with the apps deployed by hand.
I guess it has nothing to do with this terraform provider. Closing it

[2020-06-10 01:01] #360 closed, assigned to nobody

[2020-06-10 16:59] rawmind0 commented on #365
Issue reproduced. Submitted PR #367 to fix it.

[2020-06-11 02:21] angeloudy opened #368 "Add refresh to rancher2_app"
If I deploy app from rancher UI, there's button I can click to refresh the catalog.
Can we have the same option in `rancher2_app`?
I have integrated terraform with our CICD pipeline. The pipeline often fails because template version not found error.

I did find a refresh option in `rancher2_catalog`, but that is not gonna work for me because the catalog is not managed by terraform.

[2020-06-11 17:11] chrisreed87 opened #369 "rancher2_cluster_alert_rule - add option to mute/deactivate alert rule"
Add an argument to deactivate or mute a cluster alarm from the Rancher2 provider, maybe tapping into this api function: https://github.com/rancher/rancher/blob/7c290b21ce68533aebc8ae18ec3cc4582d30779f/pkg/api/customization/alert/alert_action.go#L66

Would be helpful for either deactivating noisy alarms via automation, or creating an alarm that isn't ready to go "live"

gz#10625

[2020-06-11 21:29] bekakochauri commented on #324
rancher v2.4.4 version; kubernetes v17, but audit logging doesn't work. :|
--

[2020-06-17 10:33] axeal opened #370 "Ability to define global scope roles in rancher2_role_template"
As custom global role creation was introduced in Rancher v2.4.0, support for this should be added in the rancher2 rancher2_role_template resource https://www.terraform.io/docs/providers/rancher2/r/roleTemplate.html

gz#10716

gz#13391

[2020-06-18 07:11] angeloudy opened #371 "How to remove nodes for Custom provider"
I am using rancher2 provider to provision kuberntes cluster.

Instead of using `rancher2_node_pool`, I am using the `Custom` provider to provision my nodes on aws because I wanted to do some other initialisation work.
Down the bottom is my code to provision the cluster. It worked well, but the problem is how do I remove nodes? I can reduce the number of aws instances, but the nodes would still sho

[2020-06-18 14:46] rawmind0 commented on #120
PR to address this isssue is merged on master. It will be included on next release. Plesse, reopen issue if needed.

[2020-06-18 14:46] #120 closed, assigned to nobody

[2020-06-18 14:55] rawmind0 commented on #319
PR merged into master. It will be included on next provider release. Please, reopen issue if needed.

[2020-06-18 14:55] #319 closed, assigned to nobody

[2020-06-18 14:57] rawmind0 commented on #365
PR is merged to master. It will be included on next provider release. Please, reopen isssue if needed.

[2020-06-19 15:34] kubaracek opened #372 "Add GCE rancher2_node_template"
GCE seems not to be supported yet

[2020-06-20 10:52] fabrinator commented on #372
AFAIK this is not avaiable on rancher right now..
https://github.com/rancher/rancher/issues/23218
So on the rancher provider, it wont be.

[2020-06-22 05:12] angeloudy commented on #297
@nickvth I'm having the same issue. I tried adding `depends_on`, still doesn't work.

[2020-06-22 15:08] patrickdappollonio commented on #27
Bumping this up, with Terraform 0.12 it's impossible / difficult to handle it, specially if you want to write your own annotations.

Looking at the code, it seems that while the object is defined as `Computed` and `Optional` but it might not be saving / merging the annotation keys when doing `resourceRancher2ClusterRead()`. We define our own custom annotations for other tools to pick up but then o

[2020-06-22 15:27] karoldeland commented on #365
@rawmind0 Just tested the new version and seems that the bug is still there. Still have the same error message. Looking at the code, I don't see anything related to template_revisions. Normal?

[2020-06-22 15:33] jjno91 commented on #27
Same issue here, I'm unable to ignore specific Rancher labels/annotations on Terraform 12.

You can only ignore all annotations and labels:

[code]

[2020-06-22 15:38] carlcauchi commented on #365
@karoldeland I'm still waiting for the latest release to be out from terraform side... did you download the source of this module directly?

[2020-06-22 15:40] rawmind0 commented on #365
PR was tested and was fixing the issue. Have you built the provider from master??

The problem was not on the template_revision code. The issue was caused by the monitoring config that was generating a diff on active template_revision

[2020-06-22 15:42] patrickdappollonio commented on #27
Absolutely, and an argument can be done towards not doing this, as stated before, we use annotations and / or labels to add our own information (maybe record keeping, maybe some sort of handling by third party tools), so lifecycle changes to those annotations added by us are important, while still hiding (ignoring?) Rancher standard ones.

We tried adding ignore changes but it forced us to also de

[2020-06-22 15:53] gladavius commented on #365
I built the provider from master today and the problem still occurs.
What I have done :
- Create a cluster template with one revision and create a cluster based on this template (ok)
- Add a second revision in my cluster template. Plan is ok (I can see my new revision and nothing change in the previous revision)

You can find the result of an apply in attachment

[2020-06-22 16:05] rawmind0 commented on #365
Have you rebase master branch?? As tested, working fine using this initial tf file...

[code]

Once applied, adding second revision

[code]

Applying again and revision got updated fine..

[code]

[2020-06-22 18:59] gladavius commented on #365
@rawmind0 Thank you for your answer.

So, given that you say that everything works on your side I digged a little more.
When trying with the configuration you gave it works as well for me so I looked for the differences with what I'm trying to do.

It seems that the problem is that we declare a cloud_provider configuration inside the template revision, something like this :

[code]

If I remove th

[2020-06-22 19:28] rawmind0 commented on #365
@gladavius thanks for the feedback. I'll take a look to it asap.

[2020-06-23 07:35] nickvth commented on #297
@angeloudy can you share your code?

[2020-06-23 16:22] rawmind0 commented on #27
The issue is related to terraform v0.12.x and the "new" way to manage ignore_changes, https://github.com/hashicorp/terraform/issues/21433

annotations/labels are TypeMap arguments. Solution is not simple due to how terraform schema type map works. No way to set a wildcard to ignore all rancher managed annotations/labels due to map keys are not taken into account on TypeMap `DiffSuppressFunc`. We a

[2020-06-24 08:56] caiconkhicon commented on #365
@rawmind0 : I have the same issue (also created #323). After reading your feedback here, I built from `master` branch. The issue is persisted, as I tested 2 cases:
(pre-setup: create a template with 1 default revision, which is in-use)
* Edit the default in-use revision: I added an `ingress` block. I expect that it should fail (since it is not allowed to edit an in-use one), but Terraform says not

[2020-06-24 16:21] #351 closed, assigned to nobody

[2020-06-24 16:57] rawmind0 commented on #27
Digging a little bit more in the terraform `DiffSuppressFunc` function, i'd like to retract my previous comment ~~No way to set a wildcard to ignore all rancher managed annotations/labels due to map keys are not taken into account on TypeMap `DiffSuppressFunc`~~ It can be done.

PR #373 is adding a `DiffSuppressFunc` function on annotations/labels arguments to suppress diff if annotations/labels n

[2020-06-24 23:15] rawmind0 commented on #323
Thanks for the feedback @caiconkhicon

Closing issue superseded by #365

[2020-06-24 23:15] #323 closed, assigned to nobody

[2020-06-24 23:24] rawmind0 commented on #365
PR #374 should fix the issue.

@gladavius, working properly with cloud-provider declaration

@caiconkhicon
* Modify the in-use revision should fail
* Add a new revision should work
* Modify the unused revision should work

Thanks for your feedback

[2020-06-25 06:05] caiconkhicon commented on #365
Hi @rawmind0, thanks a lot for your quick fix. I tested and confirmed that it worked as expected. However, I have a small problem when adding a new revision: it works, the new revision is created, but Terraform fails with the error:
[code]
I tested twice, the error is persisted. Not sure if it's because of your change.

[2020-06-25 07:00] Kyrklund commented on #225
I have tested to add a user to a project with two different tokens in the rancher2 provider.
One from an AD user with admin permissions and the other with the local admin.

I get no error if I use the token from an AD user and the rancher2_project_role_template_binding gets applied as expected.

Could this be the same as that you can't look up users from AD when logged in with the local admin acco

[2020-06-25 10:02] rawmind0 commented on #365
Hi @caiconkhicon , it seems weird. Provider acceptance test is passing fine creating a cluster_template, adding new revision and removing it, https://github.com/terraform-providers/terraform-provider-rancher2/blob/02016d6708161e83f8cbffc0a55f8e2145310abc/rancher2/resource_rancher2_cluster_template_test.go

In order to reproduce it, could you provide your tf file or a more detailed log??

[2020-06-25 17:58] gladavius commented on #365
@rawmind0 Many thanks for your quick fix, it works as expected now.

But I have another problem to use the new revision to update a cluster in the same terraform apply.
I will open a new issue to avoid confusion in that one

[2020-06-25 18:40] gladavius opened #375 "Can not create a new rancher2_cluster_template revision and update a cluster to use it in the same apply phase"
**Terraform Version**
Terraform v0.12.24

- provider.rancher2 Custom binary built from master

**Affected Resource(s)**
rancher2_cluster

**Terraform Configuration Files**
[code]

We have a resource _rancher2_cluster_template_ that take a list of maps as an input to manage all our template revisions and then in the snippet above we use a variable (_template_revision_number_) to define which elemen

[2020-06-25 20:21] spencergilbert opened #376 "Monitoring version upgrade"
Related to #306

We just added the version key, and set it to "0.1.1" while our clusters are running "0.1.0" expecting this to upgrade the monitoring app.

However it did not, is this because because the existing terraform resource had no version set?

[2020-06-26 00:14] rawmind0 commented on #375
I guess this is the expected tf behaviour, i don't think this is a provider issue.

`rancher2_cluster_template.this.template_revisions` is a nested list.  `element(rancher2_cluster_template.this.template_revisions, var.template_revision_number - 1)` doesn't exist at the plan stage. It will be created on apply (or not), then`cluster_template_revision_id` value is nil at this stage.  I guess that te

[2020-06-26 06:49] caiconkhicon commented on #365
@rawmind0 : Hi, I just recently tested again on 2 different machines, and both worked. Thus, I think that it had been sth wrong with my local machine.
You can close this issue. Thanks a lot for your great work!

[2020-06-26 09:26] rawmind0 commented on #372
@kubaracek, as @fabrinator mentioned GCE is not supported by Rancher. Take a look, https://github.com/rancher/rancher/issues/4711

[2020-06-26 09:26] #372 closed, assigned to nobody

[2020-06-26 14:27] mgamperl commented on #210
Hi,

I am quite new to terraform so please forgive me if I have overlooked anything, but I'm using **no multiline arugments** and still the activedirectory config is **triggering in every run**. I have not found a way to find out why it is triggering, so if there is a way to do that, I'm happy to add some additional info.

[code]
I'am also using global_role_binding afterwards:
[code]
any help is h

[2020-06-26 15:51] haisumb opened #377 "terraform import rancher2_namespace mutates cluster id to some other id"
This is really weird one but I am running this on command line:

[code]

and it fails with this error:
[code]

What is  **c-wl7f8**? I checked on Rancher UI, there's no cluster with id c-wl7f8.

Attached are trace logs.

[rancher_import.txt](https://github.com/terraform-providers/terraform-provider-rancher2/files/4837911/rancher_import.txt)

[2020-06-26 19:48] gladavius commented on #375
@rawmind0 Thank you for your reply.

So basically what you say is that since template_revisions is a list it's impossible to add a new element (ie a new revision) and use it to update a cluster during the same execution?

Or did I missed something?

[2020-06-28 10:41] mihard opened #378 "Error: Rancher is not ready: Doing get: Get https://<my.rancher.host>/ping: net/http: request canceled while waiting for connection"
Hi

I encountered rather a stupid issue after I moved my terraform project to a new machine. (Ubuntu 20.04)

[code]

With the same code on a nearby desktop in the same LAN - I have no problems at all, everything works well.
I just run out of ideas about what can be the reason and how to investigate the issue.
The URL is accessible, I can get the response in the same terminal with `curl`

Terraform

[2020-06-28 13:33] fabrinator commented on #378
Maybe on that terminal where you are lunching the curl is using a proxy that has access to rancher. Otherwise, talk with you networking team. But, I do not think that this is a issue related with the provider...

[2020-06-28 14:41] rawmind0 commented on #365
PR merged on master.  Please, reopen issue if needed.

[2020-06-28 14:41] #365 closed, assigned to nobody

[2020-06-28 15:42] rawmind0 commented on #377
Yeah, it's weird. Taking a look to the logs, I'm guessing that may be the error is coming from the tf file. How looks like the `rancher2_namespace.ou-support-redis` definition on your tf file?? `project_id` value??

[2020-06-28 15:44] rawmind0 commented on #27
PR merged into master, it will be included on next provider release. Please, reopen issue if needed.

[2020-06-28 15:44] #27 closed, assigned to nobody

[2020-06-28 15:53] rawmind0 commented on #375
@gladavius , yes, it's what i understand from the terraform error log.

[2020-06-29 08:59] rawmind0 commented on #368
Have you consider to import catalog to be managed by terraform and refresh it??  Or include a Rancher API call  on your pipeline to refresh used catalog?? `rancher2_app` doesn't implement refresh action on Rancher API.

[2020-07-03 14:56] axeal opened #379 "Fix ForceNew behaviour on cluster_role_template_binding and project_role_template_binding schemas"
name, group_id, group_principal_id, user_id and user_principal_id are immutable on cluster_role_template_bindings and project_role_template_bindings and should ForceNew

gz#13065

[2020-07-05 23:58] haisumb commented on #377
@rawmind0 Sorry for late reply. Here are relevant Terraform resources:

[code]
Interestingly, I deleted ou-support cluster from Rancher UI. Re-imported it. Then everything worked as expected and I was able to import namespace with new cluster id.

[2020-07-06 15:29] rawmind0 commented on #377
I guess it was some inconsistency on tf and tfstate files. Please, reopen issue if needed.

[2020-07-06 15:29] #377 closed, assigned to nobody

[2020-07-06 20:47] rawmind0 commented on #359
Submitted PR #381 adding `wait` argument (default true) to `rancher2_app` resource and saving app state before wait

[2020-07-06 21:12] rawmind0 commented on #226
On rancher API, cluster object has an action defined for `enable_cluster_monitoring` but not for `enable_cluster_istio`, due to it has cluster dependencies, like monitoring should be up and running. That's why `enable_cluster_istio` is not working as expected.

I've submitted a PR deprecating `enable_cluster_istio` argument and adding `enabled_istio` computed argument just to read. Also, documenta

[2020-07-07 22:47] pib commented on #214
In case anyone else finds this in the future, the temporary solution I am using is to ensure that the users which are creating the clusters also have the global "update" permission on cluster objects. In my case I edited the globalrole user resource and added "update" to the list of cluster permissions. This has to be done via kubernetes on the local cluster since the rancher ui won't let you edit

[2020-07-09 12:01] axeal opened #382 "Optional rancher2_notifier config elements set outside Terraform config not removed on terraform apply"
## Type ##

Bug

## Steps to reproduce ##

1. Provision a Rancher v2.4.5 instance with single all role node custom cluster (I used https://github.com/superseb/tf-do-rancher2/)
2. Create a simple Terraform config `main.tf` per the below example:

[code]
3. Run `terraform init` and `terraform apply`
4. Via the UI add a username to the `foo` smtp configuration and a proxy to the bar webhook config
5.

[2020-07-10 10:03] rawmind0 commented on #226
PR #381 is merged on master. Please, reopen issue if needed.

[2020-07-10 10:03] #226 closed, assigned to nobody

[2020-07-10 10:04] rawmind0 commented on #359
Pr #381 is merged on master. Please, reopen issue if needed

[2020-07-10 10:04] #359 closed, assigned to nobody

[2020-07-11 19:29] hetii opened #384 "Error: Provider produced inconsistent result after apply"
code:

    provider "rancher2" {
      api_url   = "https://<rancher ip>"
      token_key = "<rancher token>"
      insecure  = true
    }
    resource "rancher2_cloud_credential" "zzz" {
      name = "openstack_credential_config"
      openstack_credential_config {
        password = "zzz"
      }
    }

Log:

	An execution plan has been generated and is shown below.
	Resource actions are indicat

[2020-07-13 13:00] cjbackman opened #385 "Cannot install monitoring and Istio from private registry"
Hi,

I'm trying to launch a cluster from Rancher in an air-gapped environment. I have specified a private registry for the cluster but for some reason the resources related to monitoring, ie everything in the namespaces cattle-prometheus and istio-system, are not pulled from the private registry as the rest. Instead it tries to pull those from docker hub.

Rancher - 2.4.5
K8s - v1.18.3-rancher2-2

[2020-07-14 01:29] ninjaslothx opened #386 "re-importing rancher2_cluster_template confuses template revisions"
I was getting a issue similar to #365 when try to add in additional template revisions.
I built the provider off the master branch and experienced
[code]

A user in the above issue mentioned he changed computer and it went away.
I tried this to no avail but am using shared s3 state storage, so thought it might pay to delete the resource and re-import it
[code]
[code]

Once imported I went to check

[2020-07-15 18:56] rosskirkpat opened #387 "There is currently no method of setting the correct flannel plugin network options required for windows clusters"
The rancher2 tf provider doesn't properly configure the flannel plugin network options that are required for Windows clusters. This causes Windows worker nodes to end up in a broken state and the cluster has to be completely rebuilt and the correct config (included below) to be present at the time the cluster is built. This config is included in the cluster.yaml when the Windows Support boolean is

[2020-07-18 07:29] armsnyder opened #388 "Cluster Members Cannot Destroy Created Projects"
Users with the Cluster Member role are able to use their API tokens to create projects using the `rancher2_project` resource, but subsequent `terraform destroy` fails with an RBAC error.

This is inconsistent with the behavior of using the UI, where Cluster Members can delete their own projects.

This is a common use case for us since we share our clusters across several teams. It would be nice if

[2020-07-18 07:42] armsnyder opened #389 "Cluster Members Cannot Create Projects With Monitoring Enabled"
This applies when using the Rancher2 provider with an API token generated from a user with the Cluster Member role. They are able to create new `rancher2_project` resources when only the `cluster_id` and `name` are specified, but they encounter an error `Error: action [editMonitoring] not available` if they specify `enable_project_monitoring = true`.

This is inconsistent with the behavior of usin

[2020-07-18 08:22] armsnyder commented on #388
I experimented with the Rancher CLI a bit and found a similar issue.

When you run `rancher login` the CLI asks you to select a project. Say I have projects a, b, and c. If I select project a, then I can delete projects b and c without problem. However, if I delete project a (the project I selected during login), then subsequent operations fail with a 403 error.

So I wonder if something similar i

[2020-07-18 08:31] armsnyder opened #390 "Cluster Members Cannot Destroy Created Namespaces"
Users with the Cluster Member role are able to use their API tokens to create and update namespaces using the rancher2_namespace resource, for an existing project that they have access to, but a subsequent `terraform destroy` fails with an RBAC error. Although, the namespace does become destroyed.

This is inconsistent with the behavior of using the UI, where Cluster Members can delete their own n

[2020-07-20 02:07] armsnyder opened #391 "[Suggestion] New acceptance test mode that uses a cluster member token"
My team uses Rancher primarily for its control plane multi-tenancy features. We give everyone the builtin "Cluster Member" role, so they may create a project and stay mostly isolated. Recently we tried using this Terraform provider as Cluster Member and ran into some issues (#388, #389, #390). I expect that we're going to encounter more.

Firstly, I was wondering if perhaps we are not using this p

[2020-07-20 15:11] rawmind0 commented on #385
Hi @cjbackman, have you configured [Rancher default private registry](https://rancher.com/docs/rancher/v2.x/en/admin-settings/config-private-registry/) ?? It can be done using [rancher2_setting resource](https://www.terraform.io/docs/providers/rancher2/r/setting.html)

[2020-07-20 15:26] cjbackman commented on #385
Hi @rawmind0 , no I have not set a global private registry, because I also have clusters with internet access where the private registry is not needed. However, I have set the private registry for the particular cluster (in the rancher2_cluster resource) which is air-gapped.

[2020-07-20 15:26] rawmind0 commented on #384
Using this tf file with rancher2 provider, cloud_credential seems created fine on rancher 2.3.x and 2.4.x versions. If you are using this provider as part of tf modules, please take a look to your tf modules config.

[code]

[2020-07-20 15:47] rawmind0 commented on #385
The private registry config you made in the cluster is fine. This registry would be used by RKE and k8s to download images. However, you should also update Rancher global private registry, if you want to install packages from catalog (helm) in an air-gapped environment (Rancher server without internet access). Could you please test again updating Rancher global private registry??

[2020-07-20 18:48] cjbackman commented on #385
But if I set the global private registry, does that not mean all clusters will pull the system images from the private registry?

[2020-07-20 22:19] #378 closed, assigned to nobody

[2020-07-21 15:51] rawmind0 commented on #387
@rosskirkpat , this provider is not doing any automatic config based on `rancher2_cluster.windows_prefered_cluster` argument. This is the expected behaviour but there are arguments to specify the network config on your tf file. Have you tried specifying something like that??

[code]

[2020-07-21 16:16] rawmind0 commented on #385
I'm guessing that your Rancher management server is running in an air-gapped environment, isn't it??

As you can read at [Rancher docs](https://rancher.com/docs/rancher/v2.x/en/installation/other-installation-methods/air-gap/install-rancher/#c-render-the-rancher-helm-template), `systemDefaultRegistry = <YOURREGISTRY.YOURDOMAIN.COM:PORT>` should be provided for airgap installations. Also, `useBundl

[2020-07-21 17:01] cjbackman commented on #385
No, my Rancher management server is not running in an air-gapped environment. It is one of the clusters I want to launch using Rancher that is air-gapped. I have set useBundledSystemChart to true.

[2020-07-21 18:48] rawmind0 commented on #385
Ok, got it...Is this config working properly using Rancher UI instead the tf provider?? I think that the issue is related to this concrete config not the provider.

Rancher server and all the clusters should have access to the system-library apps docker images. Rancher is using `systemDefaultRegistry` (docker-hub by default) to deploy system apps, like rancher-monitoring. As example, take a look t

[2020-07-21 18:51] cjbackman commented on #385
I have tested and I have the same issue with UI as I have with the Terraform provider. But is not strange that all other images, eg the rancher agent, is being pulled from the private registry? So far only the images related to monitoring ignore the private registry.

[2020-07-21 18:53] cjbackman commented on #385
When specifying the private registry in the cluster configuration, should that not overwrite the systemDefaultRegistry?

[2020-07-22 10:19] rawmind0 commented on #385
I was guessing that the same issue should happen from the UI due to the issue seems related to this concrete config not the provider. Rancher agent is in charge to get RKE config from rancher (including default k8s docker registry), and deploy the cluster. To deploy the RKE cluster, default k8s docker registry is used  to pull docker images and run them. Instead, rancher-monitoring (or any other a

[2020-07-22 11:11] cjbackman commented on #385
Does this mean it is not possible to have a mixture of downstream clusters that are air-gapped and some that are not?

[2020-07-22 12:12] caiconkhicon commented on #375
@rawmind0 : isn't it bad this way? Should we make revision a dedicated resource, and have something like `cluster_template_revision_attachment`?

[2020-07-22 13:07] rawmind0 commented on #385
It's possible the mixture but not with this config. As mentioned, Rancher server and all the downstream clusters should have access to the system-library apps docker images. Using a shared private docker registry as `systemDefaultRegistry` should address your issue.

Anyway, this issue is not related with the provider due to same result using the Rancher UI. Please, reopen it on [rancher repo](htt

[2020-07-22 13:07] #385 closed, assigned to nobody

[2020-07-22 15:14] caiconkhicon opened #393 "Cannot change default revision for rancher2_cluster_template"
I have a `rancher2_cluster_template` resource with 2 revisions, one of them has `default = true`. One revision (doesn't matter which one) is used to create a managed cluster.
Now I want to swap the default revision, so I set one revision to `default = false` and vice versa for the other. Terraform apply fails with the error:
[code]

No config is changed for both revisions. Meanwhile, I can change

[2020-07-23 08:23] caiconkhicon commented on #393
Another test I did is:

- Create a template with one revision as default
- Use the revision to create a managed cluster
- Add a new revision and apply using Terraform
- On Rancher UI, change the new revision to be default
- Change Terraform code to reflect the change above (new revision is default, old one is not)
- Apply Terraform -> Terraform wants to update the "default" value of both revisions

[2020-07-24 19:24] dhiman-halder opened #394 "Cannot move existing namespace to a project"
There seems to be no way to move a namespace pre-created using kubectl (and unassigned to any project) to a project within the cluster. Is there an equivalent to the cli ./rancher namespace move command in terraform?

[2020-07-25 15:11] spencergilbert commented on #394
you can use the `terraform import` command to do so, as seen in https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/namespace#import

[2020-07-26 16:31] rawmind0 commented on #393
@caiconkhicon , the issue has been reproduced. Submitted PR #395 to address it

[2020-07-26 17:40] nikkelma opened #396 "[Docs] Registry sidebar uses camel-cased resource names"
Sidebar on <https://registry.terraform.io/providers/rancher/rancher2> uses for example `rancher2_cloudCredential` instead of `rancher2_cloud_credential`.

Image for reference:
![Screen Shot 2020-07-26 at 13 39 30](https://user-images.githubusercontent.com/16194510/88485650-715f8580-cf45-11ea-88e3-6c20e33bf62c.png)

[2020-07-26 17:41] nikkelma commented on #396
Took a look at the docs code and only saw `rancher2.erb` that specifies underscore-delimited names, so I'm guessing these sidebar entries are auto-generated. I'm unfamiliar with that system, happy to investigate and make a PR when I get the time but figured I'd at least document this for anyone interested.

[2020-07-26 21:00] rawmind0 commented on #322
Documentation fixed on PR #395

[2020-07-27 06:51] caiconkhicon commented on #393
@rawmind0 : thanks a lot for your quick fix. I confirm that it works. I close this issue.

[2020-07-27 06:51] #393 closed, assigned to rawmind0

[2020-07-27 09:01] caiconkhicon opened #397 "Cannot delete old cluster template revision"
With the current implementation of Rancher, when I want to use a new cluster template revision and decommission the old one, I must do 3 steps:

1. Add a new revision
2. Update managed clusters, so no managed cluster still uses the old revision
3. Remove the old revision

The 1st and 2nd steps can be done by both Rancher UI and with Terraform. However, the 3nd cannot be done with Terraform, becaus

[2020-07-27 11:54] Fresa opened #398 "rancher2_token does not apply labels"
The documentation indicates that labels can be defined as arguments.
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/token

When defining labels, they are identified in the plan but they never get applied onto the token resource in kubernetes,.

[code]

![image](https://user-images.githubusercontent.com/1190300/88539666-f617d580-d011-11ea-83c4-5a7593e4a6eb.png)

`$ k

[2020-07-29 01:11] rawmind0 commented on #397
@caiconkhicon , Have you tested it or just assuming it?? ;) You can remove old template revisions with the provider, but the feature was limited by the reason you mentiond, it's a list. Anyway, PR #395 includes a fix to address this issue.

[2020-07-29 01:13] rawmind0 commented on #386
@ninjaslothx the issue has been reproduced. PR #395 includes a patch to address it

[2020-07-29 01:13] #322 closed, assigned to rawmind0

[2020-07-29 05:51] caiconkhicon commented on #397
Hi @rawmind0, yes, sure, it has happened to me many times. The part about "because revisions is treated as a list" is just my assumption/understanding, but others are facts from the output of Terraform.
Ok, let me try your new patch.
Thanks for your responsive support.

[2020-07-29 07:18] caiconkhicon commented on #397
@rawmind0 : I tested. The deletion works. However, now I face another weird error with creation. If I add a new revision AFTER the current revision, everything is fine. However, if I add the new revision BEFORE the current revision, when "terraform apply", beside from adding the new revision, Terraform shows that many parameters of the current revision need to be changed:

[code]
Because of that,

[2020-07-29 16:04] rawmind0 commented on #397
@caiconkhicon , add the new revision BEFORE the current revision seems a new request and not required, due to you can add always at the end of the list. Anyway, PR has been updated and it should work now.

[2020-07-29 18:35] rawmind0 commented on #386
PR merged on master and will be available on next release. Please, reopen issue if needed.

[2020-07-29 18:35] #386 closed, assigned to nobody

[2020-07-29 18:37] rawmind0 commented on #396
Issue is related to the new terraform registry doc format, https://www.terraform.io/docs/registry/providers/docs.html
PR #395 is updating docs format. Please reopen issue if needed.

[2020-07-29 18:37] #396 closed, assigned to nobody

[2020-07-29 18:37] rawmind0 commented on #397
PR is merged to master. Please, reopen issue if needed.

[2020-07-29 18:37] #397 closed, assigned to nobody

[2020-07-30 06:37] caiconkhicon commented on #397
@rawmind0 : Thanks for your fix. It works now.

[2020-07-30 07:56] armsnyder opened #401 "rancher2_cluster_sync errors if cluster deleted out of band"
**Bug Description**

Terraform fails while reading initial state (as part of running apply or destroy) if the Terraform configuration includes a `rancher2_cluster_sync` resource for a cluster that was deleted out of band (not using Terraform). This contradicts expected Terraform provider behavior, where a resource not existing should silently remove that resource from Terraform state, without erro

[2020-07-30 08:00] armsnyder commented on #401
By the way this is true for other resources too, like `rancher2_namespace`. Not sure if it should be considered the same bug or a different bug.

[code]

[2020-07-30 10:41] Heiko-san opened #402 "rancher2_cluster disable cluster_auth_endpoint not working"
provider version: terraform-provider-rancher2_v1.9.0_x4
rancher version: v2.4.5

Enabling the endpoint (with or without fqdn/cert) works as expected.
Disabling seems to work (terraform applies a change) but then in the next run it wants to apply the change again.
Having a look in the web gui tells you auth endpoint is still active. Disabling it manually via web gui works.
[code]
[code]

[2020-07-30 13:11] gladavius opened #403 "Documentation about cluster template revision questions is ambiguous"
**Terraform Version**
Terraform v0.12.28

**ProviderVersion**
provider.rancher2 1.9.0

**Affected Resource(s)**
rancher2_cluster_template

**Problem**
As per the documentation :
```questions - (Optional) Cluster template questions (list)```

So my first thought was to do something like this :
[code]

But it appears that questions have to be declared this way :
[code]

**Request**
Documentation sho

[2020-07-30 16:54] rawmind0 commented on #403
@gladavius thanks for your feedback on this.

I don't think this is ambiguous, documentation is specifying the terraform type used on every argument. The way that you mention works for defining `questions` argument, is the only way to define [typelist](https://www.terraform.io/docs/extend/schemas/schema-types.html#typelist) and [typeset](https://www.terraform.io/docs/extend/schemas/schema-types.ht

[2020-07-31 02:29] armsnyder commented on #389
I also tried using a no-scope token for a basic user at the global level, then using Terraform to create the cluster as well as create the project inside the new cluster. Same issue.

So it seems like this issue is going to happen for anyone who is not a global admin.

[2020-07-31 15:37] zaggash opened #404 "event_rate_limit issue on cluster config"
Trying to import a cluster with some existing event_rate_limit config in the cluster.yaml.
It failed with the following error:

[code]

If we try to update/create a cluster with event_rate_limit, we cannot set the `limits` values in the `configuration`
There are no mentions of how to set this up in the documentation.
Trying to validate the file, we have the following output:
[code]

[code]

I trie

[2020-08-04 14:35] rawmind0 commented on #404
Issue has been reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/405 to address the issue. `event_rate_limit.configuration` should be passed in yaml format.

event_rate_config.yaml
[code]

[code]

[2020-08-04 16:46] deniseschannon commented on #345
@dnoland1 Within the Rancher2 provider, we plan to implement features that are Rancher specific, any custom resources that can be created through kubectl, we do not plan to add into the terraform provider.

[2020-08-04 16:46] #345 closed, assigned to nobody

[2020-08-04 17:50] chrisreed87 opened #406 "addons_include doesn't work using local file path"
Tried a few iterations to use an addons_include manifest locally, in the cluster_template resource:

[code]
[code]
Both error in the `rke-user-includes-addons-pod`:
[code]

Using a gist or URL will still work however.

[2020-08-05 10:28] Arola1982 opened #407 "Project Monitoring doesnt upgrade"
When changing versions of the monitoring terraform shows it modifying the project resource, but in actual fact the resource in rancher stays on the current version.

Shouldnt this trigger a redeploy of the later version?

[2020-08-05 11:11] rawmind0 commented on #398
@Fresa , we can reproduce your issue with token labels. However, it seems to be an issue on Rancher API, due to same behaviour using Rancher API directly. This issue should be opened on Rancher repo. In the meanwhile, we'll update the docs to set token labels as attribute instead of argument.

[2020-08-05 11:15] rawmind0 commented on #406
This is the expected behaviour, rke cluster can't access local files, but yes gist or URL. Local files should work fine if you use [`addons`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#addons) instead, due to is copying the file content

[2020-08-05 11:41] rawmind0 commented on #375
@caiconkhicon , doing `cluster_template_revision` as dedicated resources is generating another issues. I was thinking about this option but doesn't seems better.

For example, you couldn't create a `cluster_template` and `cluster_template_revision` (setting it as default) on the same execution, due to a cycle, `cluster_template`  needs to know `cluster_template_revision` ID to set it as default an

[2020-08-05 12:06] caiconkhicon commented on #375
@rawmind0 : thanks for the explanation. I get it, it is a limitation of the current Rancher implementation. I mean, I am not a Rancher expert, but `rancher2_cluster_template` is really an empty item, since all configurations lay on `template_revisions`. IMO, having cluster template just block us performing many tasks (e.g. our current situation in this issue; change cluster template of a cluster).

[2020-08-05 14:57] rawmind0 commented on #401
@armsnyder , issue has been reproduced. PR #408 should address it.

[2020-08-05 14:57] rawmind0 commented on #390
@armsnyder , issue has been reproduced. PR #408 should address it.

[2020-08-05 14:58] rawmind0 commented on #388
@armsnyder , issue has been reproduced. PR #408 should address it.

[2020-08-05 15:44] rawmind0 commented on #366
@angeloudy  , this part of the issue has been reproduced. PR #408 should address it.

This part of the issue is not related with the provider. The issue is related to terraform and the way that count is being used on `target_namespace`. As error message shows, if you delete the namespace manually, then the `rancher2_namespace.qa` count is 0 on terraform, [using-expressions-in-count](https://www.te

[2020-08-05 17:16] rawmind0 commented on #404
@zaggash , PR is merged to master. branch Please, reopen issue if needed.

[2020-08-05 17:16] #404 closed, assigned to nobody

[2020-08-05 17:36] rawmind0 commented on #401
@armsnyder PR is merged to master. Please, reopen issue if needed.

[2020-08-05 17:36] #401 closed, assigned to rawmind0

[2020-08-05 17:36] rawmind0 commented on #390
@armsnyder PR is merged to master. Please, reopen issue if needed.

[2020-08-05 17:36] #390 closed, assigned to rawmind0

[2020-08-05 17:36] rawmind0 commented on #388
@armsnyder PR is merged to master. Please, reopen issue if needed.

[2020-08-05 17:36] #388 closed, assigned to rawmind0

[2020-08-05 17:37] rawmind0 commented on #366
@angeloudy  PR is merged to master. Please, reopen issue if needed.

[2020-08-05 17:37] #366 closed, assigned to rawmind0

[2020-08-05 17:48] armsnyder commented on #407
Possible duplicate of #376?

[2020-08-05 20:06] rawmind0 commented on #188
@serverbaboon , the way to properly install istio has been updated. Please take a look at https://github.com/rancher/terraform-provider-rancher2/issues/226#issuecomment-654468248

Also updated at provider docs [rancher2_cluster examples](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#example-usage) `Creating Rancher v2 RKE cluster enabling/customizing monito

[2020-08-05 20:06] #188 closed, assigned to rawmind0

[2020-08-05 20:08] #280 closed, assigned to rawmind0

[2020-08-05 20:45] rawmind0 commented on #389
@armsnyder , the issue has been reproduced. PR #409 should address it.

[2020-08-05 22:10] rawmind0 commented on #333
@vCra , the issue has been reproduced. PR #409 should address it.

[2020-08-06 09:27] MG2R opened #410 "Using the rancher2_cluster resource results in invalid RKE configuration"
I've been trying to set up a Kubernetes cluster defined with Terraform. This is the relevant Terraform code:

[code]

Whenever I try to add nodes to this cluster using the join command, Rancher would give me the following error in the UI:

Googling that seemed to indicate that my node names were wrong, but that wasn't the case. After some digging in the API output, I discovered that the issue lies

[2020-08-06 14:29] ashokf458 opened #411 "Rancher cluster cluster_template_questions questions is ambiguous"
Terraform Version
Terraform v0.12.29

ProviderVersion
provider.rancher2 1.0.0

Affected Resource(s)
rancher2_cluster

Problem
As per the documentation :
cluster_template_questions - (Optional) Cluster template questions. Just for Rancher v2.3.x and above (list)

So my run was something like below:
[code]

Error:
[code]

According to explanation in #403, refering the example of `targets` and `answe

[2020-08-06 17:57] rawmind0 commented on #411
@ashokf458 , It seems you are adding an extra `=` in your cluster_template_questions definition, may be that's why they are considered as redefinition.

accorddingly  to #403
[code]
accorddingly to `targets` example at [multi_cluster_app](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/multi_cluster_app#example-usage),

[code]

A list at terraform is what it is, the

[2020-08-06 17:57] #411 closed, assigned to nobody

[2020-08-06 18:54] rawmind0 commented on #410
@MG2R , `cluster_name` under `rancherKubernetesEngineConfig` is equal to `name` set at `rancher2_cluster` resource This is a valid field on `rancherKubernetesEngineConfig` . Seems weird, i don't think this is causing your issue. I'm not able to reproduce your issue, i've just copied and pasted your terraform code, creating a cluster and adding nodes to it without any issue.

I guess you issue may

[2020-08-06 18:59] MG2R commented on #410
Hey. Sorry I forgot to update this. I figured out just an hour ago. I'm using Puppet to run the Rancher agent docker container on cluster members. The puppetlabs/docker module has a bug which prevented the containers to be attached to the host network. Just submitted a PR to fix that but hadn't gotten around to updating here.

I thought the problem outlined above was the root cause because the mom

[2020-08-06 18:59] #410 closed, assigned to nobody

[2020-08-07 08:14] ashokf458 opened #412 "rancher_cluster cluster_template_questions for Error: Missing answer for a required clusterTemplate question:"
__Assistence Required__

I am unable to use the argument `cluster_template_questions` in `rancher_cluster` to answer the questions provided by the rancher cluster template seen in rancher api as below:

[code]

Tried below code to answer the above questions in cluster template:

[code]
However, I am getting an Error as below:
`Error: Bad response statusCode [422]. Status [422 Unprocessable Entity]

[2020-08-07 13:52] rawmind0 commented on #412
@ashokf458 , if you want to answer cluster template questions on a cluster, you should use [`cluster_template_answers`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#cluster_template_answers) instead of   `cluster_template_questions `

[2020-08-09 01:48] panho66 opened #413 "Does Rancher Terraform provider support KMS key in EC2 node template introduce in Rancher 2.4.6 ?"
Does  Rancher Terraform provider support KMS key in EC2 node template introduce in Rancher 2.4.6 ?

https://github.com/rancher/rancher/issues/27015

[2020-08-09 02:55] panho66 opened #414 "Rancher2 terraform failed to set up Rancher monitoring correctly. Behaviour different to UI"
Rancer2 terraform provider 1.9

Set up monitoring via UI with additional 3 name/values pairs
alertmanager.enabled = true
alertmanager.replicaCount = 2
operator.alertmanager.enabled = true

 Notices there is no alert set up yet only default alerts but not notifier set up
![image](https://user-images.githubusercontent.com/15118220/89723390-de404880-da38-11ea-8e44-f22c987e4516.png)

Alertmanager come

[2020-08-10 09:33] rawmind0 commented on #413
KMS key will be supported by the provider once Rancher 2.4.6 is released.

[2020-08-10 09:58] rawmind0 commented on #394
@dhiman-halder , as @spencergilbert mentioned, if resource is not created with terraform, you should import it first, before you can manage it from terraform. Please, reopen issue if needed.

[2020-08-10 09:58] #394 closed, assigned to rawmind0

[2020-08-10 10:08] rawmind0 commented on #375
@caiconkhicon , `rancher2_cluster_template` is not really an empty item. It's managing all `template_revisions` and defining the default one to be used, maintaining a version history. I don't think this is limiting many tasks, you can create and update template_revision_id on clusters if you set it as default on cluster_template.  What you can't do is to use a `future` index for updating existing

[2020-08-10 10:20] rawmind0 commented on #414
PR #409 is fixing cluster and project monitoring config and upgrade. It should address your issue. Please reopen it if needed.

[2020-08-10 10:20] #414 closed, assigned to rawmind0

[2020-08-10 10:21] rawmind0 commented on #389
PR #409 is merged to master. Please reopen the issue if needed.

[2020-08-10 10:21] #389 closed, assigned to nobody

[2020-08-10 10:21] rawmind0 commented on #333
PR #409 is merged to master. Please reopen the issue if needed.

[2020-08-10 10:21] #333 closed, assigned to nobody

[2020-08-10 10:22] rawmind0 commented on #376
PR #409 is merged to master and should address this issue. Please reopen it if needed.

[2020-08-10 10:22] #376 closed, assigned to rawmind0

[2020-08-10 10:23] rawmind0 commented on #407
PR #409 is merged to master and should address this issue. Please reopen it if needed.

[2020-08-10 10:23] #407 closed, assigned to rawmind0

[2020-08-10 10:24] rawmind0 commented on #398
PR #409 is updating `rancher2_token` docs. Please reopen the issue if needed.

[2020-08-10 10:24] #398 closed, assigned to rawmind0

[2020-08-10 10:29] #368 closed, assigned to rawmind0

[2020-08-10 12:25] rawmind0 commented on #320
@chrisreed87 , as [`ExtraArgs`](https://github.com/rancher/types/blob/master/client/management/v3/zz_generated_kubelet_service.go#L19) go struct is defined with  `json:"extraArgs,omitempty" yaml:"extraArgs,omitempty"` definiiton, an empty `extra_args` is omitted when json is marshalled. Could you please try setting `read-only-port = "0"` to disable it??

[2020-08-11 15:30] WillPlatnick opened #416 "Unable to install and configure Rancher in a single run"
Is there a way to install and configure Rancher in a single run of Terraform?

I added in a local-exec to run before the rancher2_bootstrap that waits for all the rancher pods to be up and also to wait until the rancher ping endpoint responds with pong. Even when I wait, Terraform still gives an error saying that it can't connect to the ping endpoint, even when I clearly did it a step ago.

[code]

[2020-08-12 20:29] #416 closed, assigned to nobody

[2020-08-13 13:08] ghost opened #417 "Failed to install provider in 0.13"
hi,

i just upgraded my terraform client from 0.12.28 to 0.13.

i'm using a versions.tf file in a module and copy paste the example from https://registry.terraform.io/providers/rancher/rancher2/latest.

versions.tf
`terraform {
  required_providers {
    rancher2 = {
      source = "rancher/rancher2"
      version = "1.10.0"
    }
  }
}`

when i run `terraform init` i get following output ...

Ini

[2020-08-13 14:04] amnk commented on #417
We got behind this by doing 0.13upgrade, but it still fails with
[code]

[2020-08-13 20:08] bartlomiejjaroszewski commented on #417
@rawmind0 is there any chance you could take a look into this issue? If needed I can provide debug log as well.

[2020-08-14 15:27] vasiczech opened #418 "Openstack node template does not support application credentials."
Rancher v2.4.5
Terraform v0.12.24, provider.rancher2 v1.9.0

[code]
Attributes `application_credential_*` are not supported. However, Rancher can use this method of logging in to Openstack instead of a username / password.

[2020-08-15 22:18] armsnyder opened #419 "Breaking change to rancher2_cluster_sync ID in v1.11 pre-release"
Hi,

I noticed a potentially breaking change to the `rancher2_cluster_sync` resource was merged recently: https://github.com/rancher/terraform-provider-rancher2/commit/5d652277e405504308a84f39efe9afaef16bc9fe#diff-64cfe614b85a1d9a4b7f52aeb31a308eR79

Changing the ID format is listed as a potentially breaking change in [Hashicorrp's versioning best practices](https://www.terraform.io/docs/extend/be

[2020-08-17 12:34] zaggash commented on #404
Hello @rawmind0
Thanks for fixing it.

I think the same issue apply for the kubeapi `secrets_encryption_config` configuration item.

[2020-08-17 12:53] #419 closed, assigned to rawmind0

[2020-08-17 12:58] rawmind0 commented on #419
Hi @armsnyder , thanks for reporting that.

It's not a real breaking change due to `rancher2_cluster_sync` resource just exist on tf state. Anyway, the change was introduced trying to solve other issue but not really needed anymore. Change reverted.

[2020-08-17 16:35] kcraley commented on #417
@amnk, I originally had the same error return on a plan/apply however, I was providing a "bootstrap" alias for the provider similar to the documentation.

[code]

After removing the `alias` on the provider and the `provider` on the resource, everything planned/applied properly.

[2020-08-17 16:42] armsnyder commented on #419
It broke my TF because I had a reference to `id` elsewhere in my TF module. ;)

[2020-08-18 11:33] TheBigLee opened #421 "Terraform fails when using rancher2_cluster with cluster_monitoring_input"
Hi

I tried to import an existing GKE cluster into rancher using the `rancher2_cluster` resource.
The terraform code looks like this:
[code]
The cluster_monitoring_answers variable looks like this:
[code]
This leads to the following error when running `terraform apply`
[code]

If I uncomment the lines
[code]
it works perfectly and if I remove the comments afterwards and rerun `terraform apply`  th

[2020-08-20 09:52] hanyouqing opened #422 "rancher2_namespace create some annotations by default without commit to terraform state."
I created my cluster and some resources with `terraform-provider-rancher2`, it seems that creates `namespace` with some `annotations` automatically like this:

[code]

 but it didn't commit the annotations into the terraform state when adding some new annotations to the tf files it said:

[code]

it made me confused, and I don't know what will be affected by this.
anyone can help me or give some s

[2020-08-20 10:22] rawmind0 commented on #422
@hanyouqing , this is the expected behaviour of `annotations` and `labels` arguments. Both are computed and they are filtered to avoid false diffs https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_common.go#L9

You should be able to apply without any issue.

[2020-08-20 10:27] rawmind0 commented on #421
Hi @TheBigLee , this issue has been addressed with PR #409 . It's already merged on master and it will be included on next provider release.

[2020-08-20 10:33] rawmind0 commented on #412
Guessing you solved your issue using the proper `cluster_template_answers` argument. Please, reopen issue if needed

[2020-08-20 10:33] #412 closed, assigned to rawmind0

[2020-08-20 10:34] rawmind0 commented on #406
Please, reopen issue if needed.

[2020-08-20 10:34] #406 closed, assigned to rawmind0

[2020-08-20 10:35] rawmind0 commented on #387
@rosskirkpat , any update here??

[2020-08-20 10:48] hanyouqing commented on #422
Thanks @rawmind0
I've applied on my testing cluster already and seems everything works well, going to close this issue.

[2020-08-20 10:48] #422 closed, assigned to rawmind0

[2020-08-20 11:20] rawmind0 commented on #404
@zaggash, PR #423 should fix `secrets_encryption_config` custom config issue

[2020-08-20 16:44] rosskirkpat commented on #387
When supplying the correct network config in the TF file, windows clusters appear to build and function as expected. I'm going to modify this issue to focus on updating the documentation to call out that the flannel config that needs to be included when the cluster is provisioned. Thank you for your help @rawmind0

[2020-08-20 23:53] mo-moneyy commented on #417
I am getting the same error as OP. Worked fine on Terraform 0.12.26... upgraded to 0.13 and get the error

With the provider at the root module level, the following error is received:

`Error: Failed to install providers`

`Could not find required providers, but found possible alternatives:`

 `hashicorp/rancher2 -> terraform-providers/rancher2`

It then says to run ` terraform 0.13upgrade ../../`

[2020-08-21 00:02] mo-moneyy commented on #417
@amnk This is most likely because your rancher provider config... ie:
`provider "rancher2" {`
`  api_url    = "https://rancher.my-domain.com"`
`  access_key = var.rancher2_access_key`
`  secret_key = var.rancher2_secret_key`
`}`
 is at the root module level, but the required providers block with rancher2 is at the child level. I ran into this when I ran their recommended command to fix it.

[2020-08-21 10:31] Dids opened #424 "Changing server-url overrides api_url"
My use case requires the Rancher `server-url` to be set to an internal private IP address, while the `api_url` is set to the externally available public IP address. This is so that clusters/nodes can communicate using the internal IPs instead.

Long story short, everything seems to work fine on the first deployment, but any further action (such as refreshing or planning) fails with a timeout, and

[2020-08-21 11:07] Dids commented on #424
Figured out how to do it, finally!

Instead of using `api_url   = rancher2_bootstrap.admin.url` in the Rancher provider, I use the public IP address instead.

On its own, this causes authentication errors because the token no longer matches, but that is easily fixable by simply regenerating the token every time. This can be done by adding `token_update = true` to the Rancher bootstrap resource.

[2020-08-21 11:07] #424 closed, assigned to nobody

[2020-08-23 01:12] vispatster opened #426 "How to run kubectl apply -f for imported cluster in terraform provisioning."
With the following approach, I have managed to create imported cluster and kube config using kind provider
However, I still have to apply manual command `kubctl apply -f importedcluster.yaml`
Is there any way to automate this process within terraform file. ?

- do I have to run a bash command using local-exec?
or is there any way to apply using rancher2 provider?

[code]

[2020-08-24 07:06] TheBigLee commented on #421
Hi @rawmind0
Thanks a lot. I didn't realize that this was already solved.
I will close this issue.

[2020-08-24 07:06] #421 closed, assigned to rawmind0

[2020-08-24 12:06] MG2R opened #427 "Creating a rancher2_registry results in runtime error."
When creating a couple rancher2_registry resources, I got a couple errors (one for each resource) like these:

[code]

The resources in question were actually successfully created in Rancher.
Manually re-applying fixed one of the error, another required me to remove the created Registry Credentials. The code that makes these resources looks like:

[code]

The weird thing is that ever since that fi

[2020-08-24 14:14] mo-moneyy commented on #426
@vispatster You can achieve this by running a terraform kubernetes job and executing the kubectl from the container. An example of this is shown here https://www.youtube.com/watch?v=p5XQRxd2M5U at the 43:00 mark.

[2020-08-24 14:43] MG2R opened #428 "Generating tokens for arbitrary users"
I'm trying to generate User Tokens for Users created with `rancher2_user`. I found the `rancher2_token` but it seems that can only manage the User Terraform is running as (admin). Is it in any way possible to generate tokens for arbitrary users? Is this something you're considering?

[2020-08-24 15:32] rosskirkpat opened #429 "Manual LDAP service account credential entry is still required when using rancher2_auth_config_activedirectory resource"
When using the rancher2_auth_config_activedirectory resource in the Rancher2 terraform provider, after the initial deployment it is still required to log in with the local admin and re-input the LDAP service account credentials before it works.  It would be great if this step was no longer needed.

Screenshot below is the rancher2_auth_config_activedirectory configuration:

![image](https://user-i

[2020-08-24 16:32] ranchersvet commented on #417
I will attach it to support request gz#11920

[2020-08-24 19:11] rawmind0 commented on #428
This feature is not available by the moment. Just own tokens can be generated by Rancher2 API. There is a open discussion to add this feature, https://github.com/rancher/terraform-provider-rancher2/issues/315#issuecomment-613142644.

This issue is duplicated. Please, follow this topic thread at https://github.com/rancher/terraform-provider-rancher2/issues/315

[2020-08-24 19:11] #428 closed, assigned to rawmind0

[2020-08-24 21:37] rawmind0 commented on #417
Hi, we've tested the upgrade process and should work fine, just defining `version.tf` like that

[code]

I'm guessing this issue may be related to something specific at your installations.

The `Could not find required providers` issue that you are having is mentioned at [terraform upgrade guide](https://www.terraform.io/upgrade-guides/0-13.html#explicit-provider-source-locations) ,

Updating vers

[2020-08-24 22:20] rawmind0 commented on #427
It seems a race condition, tf file content has been modified during apply execution. I'm guesssing due to `var.registry_credentials` value. When apply started the plan was create a new resource that is not there when apply finished. How are you updating these values??

[2020-08-24 22:56] rawmind0 commented on #404
@zaggash , PR #423 merged into master

[2020-08-25 00:51] #426 closed, assigned to nobody

[2020-08-25 07:44] MG2R commented on #427
My Terraform runs are performed by a CI/CD pipeline which decrypts secrets, runs a `terraform plan` against the code in question, and saves that plan. After verification of the plan output, a go is given and the pipeline then runs `terraform apply` against the previously-made plan.

I was the only one using the pipeline at the time, and all configuration (including encrypted secret values) are com

[2020-08-25 15:01] mo-moneyy commented on #417
@rawmind0 Thanks for looking into this. Though even following the instructions for upgrading Terraform 0.13, you are always prompted to run a Terraform upgrade.

With this setup below at the **root** level, you will still be prompted to run a Terraform upgrade. With a root module calling a child module config, Terraform will refuse to initialize unless the Rancher2 provider resides at the child le

[2020-08-25 19:39] rawmind0 commented on #417
@tigerkeeper5 , if you are using tf modules, they should updated them one by one. Every single tf module should have its own `version.tf` file with 0.13 notation with all required providers.

Provider upgrade on tf modules has been also successfully tested, as example take a look at [tf-module-rke-cluster](https://github.com/rawmind0/tf-module-rke-cluster) . This tf module  is working fine on tf 0

[2020-08-26 10:05] luhahn opened #430 "Support labels and taints for rke_config"
Hi I've just seen, that rke supports labels and taints for the nodes to be set. Would it be possible to include these settings into rancher2_cluster.rke_config? Just saw that only gke_config supports this.

[2020-08-26 20:37] rawmind0 commented on #430
Hi @luhahn , Rancher2 doesn't manage the nodes for rke clusters. The way to add nodes into a cluster is executing on them the `node_command` generated when the cluster is created. https://rancher.com/docs/rancher/v2.x/en/cluster-provisioning/rke-clusters/custom-nodes/

The provider works on the same way, when a cluster is created, `node_command` is generated.  You should execute it on rke nodes ad

[2020-08-27 08:49] luhahn commented on #430
Hi thank you for clarifying that :) I think i missunderstood the way rke_config was meant to work.

However i now ended up using the rke provider to configure my nodes and importing them in the rancher2 provider by using .cluster_registration_token[0].insecure_command and my generated kubeconfig from the rke provider with a local-exec.

[2020-08-27 08:49] #430 closed, assigned to rawmind0

[2020-08-27 13:12] rawmind0 commented on #418
Yeah, these features are not supported yet. These will be implemented on next provider releases.

[2020-08-27 13:48] llienard commented on #167
Hi, it doesn't seem to work anymore on project creation (but updating does).

[code]

[2020-08-27 13:52] llienard opened #431 "resource rancher2_project : pod_security_policy_template_id option doesn't work on project creation"
Hi, the **pod_security_policy_template_id** option of the **rancher2_project** resource doesn't seem to work on project creation (but updating does).

[code]

There was an old issue about that : #167

[2020-08-27 14:57] rawmind0 commented on #167
Thanks for reporting @llienard . PR #432 should address the issue

[2020-08-27 19:45] mueller-tobias opened #433 "Rancher2_app answer not possible with helm chart List parameter?"
Hi,

i've a problem with deploying an app with a list parameter in the answer section, but the deployment fails everytime because the parameter is not generated properly. In YAML it would be the following code. When i deploy the App via YAML from rancher everything is working. But i can't build to correct ingress.hosts syntax to get the helm chart running.

[code]

No i've the problem to deploy th

[2020-08-27 21:53] #167 closed, assigned to rawmind0

[2020-08-28 00:01] hyunsun opened #434 "GCP cloud provider support"
Hi, I'm trying to create a cluster in GCP with rancher2 terraform provider.

I've been using the following RKE config without an issue.
[code]

 But the same configuration with rancher2 terraform provider generates the following errors.
[code]
[code]

If I put "custom" as name then `kubelet` fails to start due to unknown cloud provider name.
Any suggestion?

[2020-08-28 09:58] avthart opened #435 "Error: string is required when updating from 1.10.0 to 1.10.1"
`Error: string is required` with `terraform plan` when we update from `1.10.0` to `1.10.1`

We are still using Terraform v0.12.x

Currently, trying to find which string is required.

[2020-08-28 11:50] rawmind0 commented on #433
Hi @PSTobiasMueller , have you tried using [values_yaml](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app#values_yaml) argument instead of `answers`?? Passing your helm chart yaml config in base64 encoded format to `values_yaml` should work.

[2020-08-28 16:37] armsnyder opened #436 "App creation completes before app has finished installing"
I have a Terraform module that declares two `rancher2_app` resources, where one depends on the other. I noticed that the second app is being created too early, before the first one has actually installed everything.

I can compare the  logged timestamp in Terraform of `module.my_apps.rancher2_app.istio: Creation complete after 2s` to the creation times of the app and one of the K8s resources in Ra

[2020-08-28 18:05] ajchiarello opened #437 "1.10.1 throws error on rancher2_cluster data source"
When running a module requiring a rancher2_cluster data source, I get the following error:
[code]
This error does not occur when I drop back to 1.10.0. I am running terraform 0.13.0.

[2020-08-28 20:45] rosskirkpat opened #438 "can no longer delete namespaces after upgrading from v1.8.3 to v1.9"
After upgrading from v1.8.3 (where namespaces are successfully destroyed) to v1.9 of the rancher2 TF provider, destroying namespaces is now timing out.

There were no other changes made to the TF script besides changing the version number of the provider. These actions are performed using the admin credentials created by the rancher2 bootstrap. In the Rancher UI, these namespaces become stuck on t

[2020-08-29 05:54] nickvth commented on #437
Same issue with terraform 0.12.x

[2020-08-29 17:15] abhi1693 commented on #435
I have the same issue with terraform v0.13

[2020-08-29 19:16] abhi1693 opened #439 "GlobalDNS Provider and entries"
I have been using this provider pretty much since it was released. And, I have been waiting for several months for [PR #253](https://github.com/rancher/terraform-provider-rancher2/pull/253) to be merged and released. Is there a plan on doing so?

[2020-08-29 19:19] abhi1693 commented on #437
I'm getting this issue with terraform v0.13.1 on `rancher2_cluster_template`

[code]

[2020-08-31 04:17] ryanelliottsmith opened #440 "Unable to disable node draining in rancher2_cluster"
**Steps to reproduce**

1. Apply TF code to create node_pool, node_template and cluster with drain enabled:
[code]
2.  Wait for Rancher to create and reconcile cluster
3. Confirm that `drain nodes` is "true" from within Rancher
4. Modify TF code to set drain=false within the upgrade_strategy and apply with `terraform apply`
[code]
5. Note that `drain nodes` is still "true"

**Versions**
Rancher -

[2020-08-31 09:06] MG2R commented on #315
Just letting you guys know I found a "workable" workaround, at least for my use-case. Using the [external](https://registry.terraform.io/providers/hashicorp/external/latest/docs/data-sources/data_source) data source and a small bash script, I am able to create tokens for arbitrary users and output them, using the workflow mentioned @mitchellmaler.

The caveats:
- the Rancher API only returns the a

[2020-08-31 09:22] rawmind0 commented on #431
PR #432 should address the issue, merged and included on provider v1.10.1

[2020-08-31 09:22] #431 closed, assigned to rawmind0

[2020-08-31 09:24] rawmind0 commented on #439
Waiting for PR #253

[2020-08-31 09:28] rawmind0 commented on #437
Issue duplicated, please follow the topic thread on #435

[2020-08-31 09:28] #437 closed, assigned to rawmind0

[2020-08-31 09:32] rawmind0 commented on #387
Thanks for the update @rosskirkpat . If you want to submit a PR adding doc for this user case, please add it as a guide chapter, https://www.terraform.io/docs/registry/providers/docs.html#guides

Please, reopen issue or new PR if needed.

[2020-08-31 09:40] rawmind0 commented on #413
PR #415 added this feature. It's included on provider v1.10.1 Please, reopen issue if needed.

[2020-08-31 09:40] #413 closed, assigned to rawmind0

[2020-08-31 09:42] #387 closed, assigned to rawmind0

[2020-08-31 09:44] rawmind0 commented on #352
Please, reopen issue if needed.

[2020-08-31 09:44] #352 closed, assigned to nobody

[2020-08-31 09:47] Jasper-Ben commented on #417
I ran into a similar issue. In my case it seems that trying to hand over the api_url etc. to the child module broke things.

Before:
[code]
After:
[code]

[2020-08-31 10:59] rawmind0 commented on #435
This seems to be a terraform issue, https://github.com/hashicorp/terraform/issues/25752. It should be addressed on tf v0.13.1. Could you please try to upgrade to this tf version?? If not working with tf v0.13.1, could you please add more detailed data to be able to reproduce the issue??

[2020-08-31 11:10] abhi1693 commented on #435
I upgraded to `v0.13.1` and didn't work. I just deleted the state files and re-did everything after which it started working.

[2020-08-31 11:46] rawmind0 commented on #438
The provider is waiting for the namespace to get removed, this is the expected behaviour. If the namespace is stuck on the "removing" status in the UI, k8s should be waiting to something finish within the namespace. Are you deploying something different on this namespace?? Same k8s version??

[2020-08-31 20:12] nickvth commented on #435
Tomorrow I will add some tf debug log, deleting state file is not an option.

[2020-09-01 14:14] nickvth commented on #435
@rawmind0 Debug log
[code]

[2020-09-01 14:54] rawmind0 commented on #435
@nickvth , thanks to provide debug but i need to reproduce the issue. I've made tf upgrades with cluster data and resource defined but working fine to me. Could you please provide `rancher2_cluster.cluster` tf definition to test with it??

[2020-09-01 16:03] nickvth commented on #435
Did you first create a cluster with < 1.10.1 and then upgrade plugin and then rerun terraform plan?

[2020-09-01 16:07] rawmind0 commented on #435
Obviously, on tf 0.12 and 0.13 but not getting any issue.

[2020-09-01 20:44] rosskirkpat commented on #438
@rawmind0 The only change made was bumping the provider version from 1.8.3 and 1.9.0. This was for an automated build environment. Rancher version and k8s versions were the same between 1.8.3 and 1.9.0.

[2020-09-02 10:36] mueller-tobias commented on #433
Hi @rawmind0
i moved the ingress part from answers to vaules_yaml and now everything works.
Thanks!

### Working Resource
[code]

[2020-09-02 10:36] #433 closed, assigned to nobody

[2020-09-02 13:51] lucasdrai opened #442 "Unable to register nodes for custom on premise cluster"
Hello,

When I try to create a custom cluster from existing nodes, I cannot achieve to have my nodes registered by Terraform, I need to use Ansible or to do it manually to execute the "node_command" on each node.

**What I did:**
I use the rancher2_cluster resource and fill up the "nodes" part in "rke_config" with the IP nodes, roles, ssh keys, etc. I execute the terraform code and it goes well: n

[2020-09-02 14:27] rawmind0 commented on #442
@lucasdrai , rancher2 provider can manage node-templates and node-pools to deploy vm's and build the k8s cluster from rancher. But it doesn't support ssh access to vm to execute node_command. You could get node_command from rancher2_cluster and use another tf provider to execute node_command on vm's

[2020-09-03 09:30] ppiccolo commented on #442
Hello I'm in the same exact situation, now I understand, but please take in consideration this usecase and add the capability to this provider to add nodes too.

[2020-09-03 09:44] lucasdrai commented on #442
@rawmind0 Thanks for the quick answer, it confirms what I thought. If it could be an improvement for the future it would be great, especially that the terraform-provider-rke (https://github.com/rancher/terraform-provider-rke) is doing it so the mechanism seems to be there already.
Anyway, thanks again for the quick reply, I'll keep an eye on the evolutions.

Regards.

[2020-09-03 09:46] caiconkhicon opened #443 "rancher2_certificate is not updated"
When I update `rancher2_certificate`,  the `key` and `certs` are updated, but not other fields such as annotations, lables, expired date, etc. The bad part is, Rancher/K8S still uses the old cert (my guess is that maybe the Ingress depends on the annotation of the Secret to decide if it needs to update its config or not). I don't know if this is a bug from Rancher2 provider or Rancher.

Note: If I

[2020-09-03 11:27] erSitzt opened #444 "rancher2_project is trying to remove project_monitoring_input on every plan/apply"
this is my config for a list of projects to be created

[code]
and this happens if i run `terraform plan` again directly after doing a `terraform apply`

[code]

or like this

[code]

I did not change or edit those values...

[2020-09-03 11:28] erSitzt commented on #444
[code]

Rancher is v2.4.7

[2020-09-03 12:07] rawmind0 commented on #438
The provider will wait until the namespace is removed from Rancher, this is the expected behaviour. For some reason your namespace is stuck on "removing" status at Rancher. Have you took a look to the namespaces where it's stuck??

@rosskirkpat , your issue should be related with https://github.com/kubernetes/kubernetes/issues/60807

[2020-09-03 12:14] rawmind0 commented on #442
@lucasdrai , terraform-provider-rke is doing it due rke is doing it, but Rancher2 is not doing it, due to is the node who connects to Rancher. The provider is working at the same way Rancher2 works.

We are considering add nodes to the provider, but not a priority at the moment. Anyway, there are some options to do it with terraform: adding `node_command` to vm's cloud_init, using remote provision

[2020-09-03 12:22] MG2R commented on #315
Good news: was allowed to share the workaround here. You can find it at the gist below.

https://gist.github.com/MG2R/52d0cf98635723f6485aa69785cb9831

[2020-09-03 12:55] ppiccolo commented on #442
I've solved in this way

[code]

[2020-09-04 21:43] HighwayofLife commented on #194
Note. Use `username` instead of `name` for Github users. PR #204 will override the `username` filter if `name` is provided.

Got it to work with the following:

EDIT: CORRECTION, this ended up working with a single pass, and all subsequent attempts have failed!

[code]

[2020-09-04 22:27] HighwayofLife opened #445 "Error: user with username and/or name not found when using github auth provider"
While using an external auth provider: Github connected to GHE, I am unable to retrieve the username details using the data source `rancher2_user` to create a global role for these users. If the user has not authenticated to Rancher yet.

[code]

Related to #194 and based on work done in PR #204

[2020-09-04 23:07] rawmind0 commented on #194
For me, github user works fine using `name`.`rancher2_user.username` refers local user on Rancher.`username` is empty for external rancher users. Due to that, PR #204 is overriding `username` filter just if `is_external = true`

[2020-09-04 23:45] HighwayofLife commented on #194
I've tried with the following 4 combinations and they aren't working for me. 😕

Note that my users don't exist in Rancher yet, as in they have not yet logged into Rancher using the Github auth provider.

[code]

They all produce errors like:
[code]

[2020-09-05 16:23] HighwayofLife commented on #194
@rawmind0 it occurs to me that the data source worked and I set the role binding for these users, and then after I have the role binding set, the data source no longer worked. I almost wonder if there was some user entity created within Rancher and then somehow it was not pulling the correct data after that point.

I'm using the latest stable rancher 2.4.8

[2020-09-07 07:08] wd commented on #320
I have the same problem.
[code]

The kube-proxy container still runs with the old args after apply the plan.

[2020-09-07 10:22] wd opened #446 "Setting for services.kubeproxy.image not working"
I create a image based on rancher hyperkube image, but seems the settings in this section not working, the kubeproxy container still create from the rancher/hyperkube:v1.17.4-rancher1 image.
[code]

[2020-09-08 03:27] wd commented on #446
I found this comment: https://github.com/rancher/rke/blob/41706a06805559b335fc722f22954c2db7ce5b5a/cluster/defaults.go#L257

So rke don't accept custom images for services now?

[2020-09-08 10:05] rawmind0 commented on #194
As mentioned, the way it can work is using external full name as rancher user name due to rancher `username = ""` when `is_external = true`

[code]

Anyway, ~~until `principal_id` are present at rancher global role, this is just a workaround~~, [global_role_binding.group_principal_id](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/global_role_binding#group_principal

[2020-09-08 10:51] rawmind0 commented on #445
External users are created on Rancher when they first login in. User principal_id is not supported on global_role_bindings. Have you tried using [`global_role_binding.group_principal_id`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/global_role_binding#group_principal_id) instead?? You'd just need to get github groups id.

[2020-09-08 11:07] rawmind0 commented on #417
@Jasper-Ben , as mentioned, if `terraform 0.13upgrade` is doing these changes, something is wrong with it. Have you tried adding module vars again?? Module vars should be in the same place than before, adding `version.tf` with required providers on all modules (root and child)