[2022-02-25 18:44] lots0logs commented on #871
I can confirm this problem. When `yamlencode()` is used as `values` param for `rancher_app_v2` resource, it will always show changed when you run terraform plan even if it hasn't been changed. It appears to be caused by the fact that `yamlencode()` quotes all the keys and list items.

cc: @snasovich
related: #533

[2022-02-26 17:09] pulkit-servian commented on #738
I had tried this as well as solution provided by @mitchellmaler. But still the same unauthorised error. Any latest fix for this?

Below terraform debug for reference:

[WARN]  Provider "registry.terraform.io/rancher/rancher2" produced an invalid plan for rancher2_bootstrap.admin, but we are tolerating it because it is using the legacy plugin SDK.
    The following problems may be the cause of any

[2022-03-07 21:01] oxr463 commented on #862
Why was this opened here? The harvester provider is here: https://github.com/harvester/terraform-provider-harvester

[2022-03-07 22:38] snasovich commented on #877
@stefandanaita , this project is still maintained. We're planning to do the next release shortly after Rancher v2.6.4 release.

[2022-03-08 03:57] guangbochen commented on #862
This is related to https://github.com/rancher/terraform-provider-rancher2/pull/861, adding Harvester resources support to the `rancher2-terraform-provider`.

[2022-03-09 09:09] revog opened #879 "Cannot enable LocalClusterAuthEndpoint when importing bootstrapped RKE2 Cluster"
I already setup a RKE2 cluster and now I'd like to import it into Rancher with ACE.
TF Resource definition is like this:
[code]

It seems that when configuring the cluster_auth_endpoint parameters in the ressource it is failing as follows:

[code]

I think the problem is, that when creating an Imported Cluster in Rancher its type (RKE2, ...) is not known at this state and will be fetched during th

[2022-03-09 16:41] dbinkhuysen commented on #662
Still seeing this issue under tf1.1.7 / provider version 1.22.2
Im actually adding catalogs after creating a cluster and use cluster_sync to ensure the cluster is up.
I need to add a insane state_confirm value (currently at 100, going to try and decrease it) to make it wait long enough else I get the following error:

edit: its working at no value below 20

[code]

[2022-03-14 14:59] revog commented on #879
In the meantime I found an alternative/workaround. I'm doing the ACE enablement for now by a null_resource:

[code]

[2022-03-15 03:38] juanpciceri commented on #800
Hi @annablender I'm still facing the same issue...
Rancher version:v2.5.8

[2022-03-18 17:40] giskou opened #891 "Add rancher2_namespace_project_assignment resource"
It would be very helpful to add a `rancher2_namespace_project_assignment` resource to move a namespace into a project.

For imported clusters that already have namespaces, you can't create rancher2_namespace on top of the existing ones.

[2022-03-18 21:13] a-blender commented on #873
## Testing template

#### Root cause

New feature: add `DrainBeforeDelete` support to custom RKE2/K3s clusters with Terraform.

#### What was fixed, or what changes have occurred

- Added drain_before_delete field to rke2/k3s [machine pool schema](https://github.com/rancher/terraform-provider-rancher2/blob/b875ecdefccfdf65f0603df177a77f739bc76f20/rancher2/schema_cluster_v2_rke_config_machine_pool.

[2022-03-19 05:34] rancher-max commented on #869
Validated that using the terraform provider to provision a cluster, it is possible to rotate either individual certs or all certs. Multiple rotations on the same cluster are also successful. My steps in validating were:

1. Clone this repo, using master branch commit `b875ecde` to validate
2. I updated scripts/version.sh to pin the version to `9.99.9` for my testing but this is probably optional
3

[2022-03-19 05:34] #869 closed, assigned to paynejacob, rancher-max

[2022-03-22 01:24] inetshell commented on #877
@snasovich  any possibilities for this feature to be added?
https://github.com/rancher/terraform-provider-rancher2/issues/749
Thanks in advance!

[2022-03-22 15:40] pneigel-ca commented on #736
Update from Hashicorp: https://support.hashicorp.com/hc/en-us/articles/1500006254562-Provider-Produced-Inconsistent-Results

[2022-03-22 20:56] process0 opened #893 "Hetzner node template allow networks and volumes as lists"
The node template for Hetzner specifies networks and volumes as a comma separated strings.  It makes more sense for these fields to be treated as lists when dealing with multiple networks or volumes

[2022-03-22 21:01] process0 commented on #656
@Jasstkn I've tried to reproduce this but I cannot. I believe https://github.com/JonasProgrammer/docker-machine-driver-hetzner/issues/64 has solved this.

[2022-03-24 17:19] timhaneunsoo commented on #824
Reopening as this issue was reproducible on v2.6-head b7c9b89

There seems to be a workaround where if `terraform apply` is ran twice, the cluster is created successfully

<img width="729" alt="Screen Shot 2022-03-25 at 12 07 56 PM" src="https://user-images.githubusercontent.com/97477402/160158319-15b0f428-ef3e-4367-bd5b-0a9dd92c9835.png">

[2022-03-24 17:58] timhaneunsoo commented on #873
### Test Environment: ###
Rancher version: v2.6-head b7c9b89
Rancher cluster type: HA
Docker version: 20.10

Downstream cluster type: RKE2, k3s

----------

### Testing: ###

Tested this issue with the following steps provided by @Anna-Blendermann in the previous comment

**Result** - Pass

Deployments were successful for both rke2 and k3s with the correct configurations set. An issue was found an

[2022-03-24 17:58] #873 closed, assigned to a-blender, timhaneunsoo

[2022-03-24 18:28] juanbrny commented on #749
While this is being worked out you can directly user Rancher's API from within Terraform to configure it. It's not as clean as having it integrated but it should work. Have a look at this example: https://github.com/juanbrny/rancher_api_with_terraform_example

[2022-03-24 18:29] juanbrny commented on #877
Check for a temporary workaround here: https://github.com/rancher/terraform-provider-rancher2/issues/749

[2022-03-25 11:27] mikekuzak commented on #868
I think rancher2_cluster_logging might be deprecated. You need to use ```"rancher2_app_v2" "rancher-logging"```
[rancher-logging](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/guides/apps_marketplace#rancher-logging)

But that will only install the logging plugin not the configuration of it.

[2022-03-25 16:08] snasovich commented on #824
Moving to our team's backlog to take a look.

[2022-03-25 17:50] KingJ opened #895 "Changes to Cluster Labels Fail with 422 Unprocessable Entity Error"
We're using the `rancher2_cluster` provider to import existing GKE and EKS clusters in to our Rancher instance (which we provision using the cloud provider's native Terraform providers). As we use Fleet, we also use the `labels` argument to specify a number of labels that control which GitRepos are targeted against these clusters and to pass in values which are used by the Helm Charts in the Fleet

[2022-03-31 19:32] eliyamlevy commented on #841
Just off a cursory look, is this not the behavior you'd want/expect from these commands?

[2022-04-02 20:57] iTaybb commented on #867
I get this sometimes on brand new clusters.

[2022-04-04 07:40] iTaybb commented on #1098
Relevant bug in the terraform rancher2 repo: https://github.com/rancher/terraform-provider-rancher2/issues/867

[2022-04-04 15:15] Jono-SUSE-Rancher commented on #799
Closing this with the 2.6.4 oob TF release

[2022-04-04 15:15] #799 closed, assigned to jakefhyde, Auston-Ivison-Suse

[2022-04-04 15:16] #874 closed, assigned to paynejacob, timhaneunsoo

[2022-04-05 14:24] a-blender commented on #824
I reproduced this on rancher 2.6-head.

Repro steps
* Launch Rancher instance in goland on latest `release/v2.6`
* Create standard user, login as standard user and create a Rancher API key
* Write Terraform config file for an HA RKE2 cluster in EC2
* Create a local terraform binary
* Run `terraform init`
* Run `terraform apply`

Script to create a local binary
[code]

config_rke2.tf

[code]

First

[2022-04-07 15:39] a-blender commented on #824
Investigated this issue and discovered that the RBAC configuration in rancher does not allow standard users with the `Create Cluster` role to access resources in `rke-machine-config.cattle.io,` which includes the EC2 amazon machine config. Instead, the authprovisioning controller gives access after provisioning. This is a race condition between rancher and Terraform. I've submitted a PR with a fix

[2022-04-11 11:13] aslafy-z opened #900 "Add missing cluster.rke.monitoring.metrics_server_priority_class_name value"
Make cluster.rke.monitoring.metrics_server_priority_class_name value configurable.

[2022-04-11 13:56] romanromanovv opened #901 "Create new RKE-Template-Revision error. Bad response statusCode [422]. Status [422 Unprocessable Entity]"
We are using `rancher2_cluster_template` to create and upgrade RKE clusters. With Rancher 2.6.3 and 2.6.4, we are experiencing the problem of making a new Template.
 First, we deploy the RKE cluster with one template revision, "V7," in our case.

[code]

This code works just fine.
Then, if we try to create a second revision ,`V8`, we get an error:

[code]

[code]

The same login works in Rancher 2

[2022-04-11 16:58] jakefhyde opened #902 "[FEATURE] rke2/k3s Drain Before Delete Node Drain Timeout"
Follow up to https://github.com/rancher/terraform-provider-rancher2/issues/873

Implement `NodeDrainTimeout` as added in https://github.com/rancher/rancher/pull/36835 for maximum drain wait before force deleting. Additionally, updates documentation here https://github.com/rancher/terraform-provider-rancher2/blob/9669e77f0b5e6a2c2f08157eb8cb2b21bd88c5c1/docs/resources/cluster_v2.md?plain=1#L459-L46

[2022-04-14 15:43] a-blender commented on #872
Not blocked by S3 snapshot or UI testing. Will implement this feature.

[2022-04-15 15:24] adam-sdk commented on #858
same issue !

[2022-04-18 23:05] thedadams commented on #853
This was implemented [here](https://github.com/rancher/terraform-provider-rancher2/pull/861).

[2022-04-19 17:35] a-blender commented on #824
## Testing template

#### Root cause

Race condition between Terraform and Rancher where Terraform will finish provisioning the machine config v2 object and then try to get the object before Rancher has assigned permissions for the standard user to that object. This caused the first run of `terraform apply` to fail.

#### What was fixed, or what changes have occurred

* Added code to retry a get 5

[2022-04-19 19:49] timhaneunsoo commented on #824
### Test Environment: ###
Rancher version: v2.6-head b8cbc1a
Rancher cluster type: HA
Docker version: 20.10

Downstream cluster type: Terraform

----------

### Testing: ###
Tested this issue with the following steps:
1. Launch Rancher instance in goland on latest release/v2.6
2. Create standard user, login as standard user and create a Rancher API key
3. Write Terraform config file for an HA RKE2

[2022-04-19 19:49] #824 closed, assigned to a-blender, timhaneunsoo

[2022-04-19 20:05] jympetalmd opened #905 "Missing type in rancher2_secret for project level secret"
Hi,

The ressource rancher2_secret is missing the type field for specifying a spec. type, ex.
`type: kubernetes.io/dockerconfigjson`

I have to use another provider to create the secret, and is at a namespace level...
[code]
Adding the project ID annotations doesn't seams to trigger the duplication process.

This is especially useful for me for providing a docker pull secret in projects since the

[2022-04-21 05:08] Bermos opened #907 "Custom node driver support for creating clusters"
At the moment there is limited support for cluster and node drivers when creating machine_pools due to the hard coded nature of the machine_config_v2 and cloud_credential modules. I would like to add support for the Nutanix node driver but it seems like just adding more and more drivers is not a good solution.
Are there any plans to include a generic way to support those drivers at all?

[2022-04-21 14:41] clayrisser commented on #787
@mouellet what was the misconfiguration? I am getting the same error.

[2022-04-22 14:12] jocelynthode opened #908 "No support for `admission_configuration`"
Hi,

The plugin currently expects a string for plugins but it receives a `[]interface {}`

[code]

Here is the yaml that generates this error:
[code]
The issue seems to come from here: https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_cluster_rke_config_services_kube_api.go#L286

as TypeMap only allows String as value. Is there a workaround for this? Otherwise I'd

[2022-04-28 21:56] bkonick commented on #315
I am interested in this feature as well. It would be good to either add this feature, or to allow the provider to accept username/password so that we can create a token using a provider alias.

[2022-04-29 13:58] vmahe35 opened #913 "Missing information in the doc regarding usage of clone_from parameter for machine_config_v2#vsphere_config"
The doc of [`rancher2_machine_config_v2` Resource](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/machine_config_v2#vsphere_config) says that `clone_from` can only be used when parameter `creation_type` parameter is set to `vm`. But it also works when `creation_type` is set to `template`.

Therefore the doc of the terraform provider should mention that otherwise we

[2022-04-29 14:03] vmahe35 opened #914 "Error when setting absolute path in the vsphere_folder parameter"
When setting [`vsphere_folder` input parameter](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/machine_config_v2#vsphere_config) it always adds a prefix of the root absolute path even if you provide an absolute path.

For example, in my case, when I set the `vsphere_folder` value to `/ESXi/vm`, it will use this folder path: `/ESXi/vm/ESXi/vm` and therefore trigger a

[2022-04-29 14:51] vmahe35 opened #915 "Error with first terraform apply when using `rancher2_cloud_credential` with vSphere"
Hello,

I am trying to instantiate K3S clusters using the built-in vsphere connector of Rancher, using Terraform.

Here is my code:

[code]

I am using this code inside a home made terraform module.

When I use it, the first time I launch the terraform script, I have the following error :

[code]

If I relaunch `terraform apply` again, it works fine.

Any idea where it comes from ?

[2022-04-29 15:26] dutangp opened #916 "ressources node_template management for custom driver"
**rancher2_node_template Resource**
Reading the documentation regarding [node_template ressources](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template), unfortunately I can't see anything for custom driver node template available to use terraform deployment.

Do you think it's possible to easily support custom driver node_template, via key:value?

Best,

[2022-04-29 15:42] #916 closed, assigned to nobody

[2022-04-29 15:42] dutangp commented on #916
already discussed in https://github.com/rancher/terraform-provider-rancher2/issues/448

[2022-05-02 15:23] desertmoose706 opened #917 "rancher2_node_template AWS EC2 config add security_group_id to select existing group by id"
For provisioning in AWS, I think it'd be nice to create/manage security groups via Terraform for use with Rancher nodes and then provide that security id to the node template. This option is possible in the Rancher web UI.

The "security_group = []" attribute shown below allows you to provide a name of the SG that Rancher will create for you. We need another attribute security_group_id that allows

[2022-05-05 14:43] a-blender commented on #872
## Testing template

#### Root cause

Implement rke2/k3s etcd snapshot create and restore in terraform.

#### What was fixed, or what changes have occurred

Added the following functionality to rke2/k3s v2 provisioning

* etcd_snapshot_create (generation) - creates a snapshot of the cluster's etcd db
* etcd_snapshot_restore (name, generation, rke_restore_config) - restores the cluster to the snaps

[2022-05-05 15:47] timhaneunsoo commented on #902
### Test Environment: ###
Rancher version: v2.6-head
Rancher cluster type: HA
Docker version: 20.10

Downstream cluster type: Terraform
----------

### Testing: ###
Tested this issue by adding `node_drain_timeout` in terraform config file.

**Result** - Pass
Terraform accepts node drain timeout parameter.
- rke2
  - node_drain_timeout set to 1 - node gets deleted before drain is complete
  - node_

[2022-05-05 15:59] #902 closed, assigned to HarrisonWAffel, thaneunsoo

[2022-05-05 17:58] sarg3nt commented on #315
Any update on when this will get done?
Our use case is for deploying Jenkins instances into a new project where we want to create a new user bound to that project and then create secrets with the token for the new user that Jenkins will then use to talk to Kubernetes to do builds.  We have the user creation working fine but can't get the token for that user to create the secret.

[2022-05-06 19:50] git-ival commented on #835
+1 here as well

[2022-05-11 02:25] acidpizza opened #921 "rancher2_project does not detect changes when resource quotas are deleted"
**Issue:** After creating a project with resource quotas via rancher2_project, when resource quotas are deleted on the UI, no changes are detected by the provider.

**Expected behaviour:** Doing a terraform plan or apply should detect that the resource quotas have been removed, and would attempt to put them back. If resource quotas were **modified** instead of **removed** from the UI, terraform pl

[2022-05-11 18:04] a-blender opened #922 "Add RKE Support for ACI Network Provider to Terraform Provider"
Add RKE support for the [ACI Network Provider](https://www.cisco.com/c/en/us/solutions/data-center-virtualization/application-centric-infrastructure/index.html) to the rancher2 terraform provider. The [aci_network_provider](https://registry.terraform.io/providers/rancher/rke/latest/docs/resources/cluster#aci_network_provider) is already supported in the docs. It just needs to be added to the provi

[2022-05-12 20:55] sarg3nt opened #923 "for_each in rancher2_registry keeps changing the order of the list that has not changed"
Each time we `terraform apply` registries keep getting updated because the list order is getting changed.  Our local data is not changing, you can  `terraform apply` over and over and watch it flip back and forth.  Very annoying because we deploy this with CD and it's saying there are changes every time when there are not.

Here's our code:

[code]

The result of running terraform apply when there

[2022-05-13 14:24] ghost commented on #617
Hello,

I have the same issue with ActiveDirectory and `rancher2_project_role_template_binding` resource.  It seems that Rancher need a token key of an user authenticated by the auth provider to be able to use the `user_principal_id`.

With the following definition, I got a `not found` error.

[code]
I can replace the `user_principal_id` directive by `group_principal_id` and the `terraform apply`

[2022-05-14 13:30] yuriipaneiko opened #925 "Change dnsPolicy for downstream EKS clusters"
Hi!
Recently I tried to create downstream cluster from Rancher based on EKS provider (not imported). For some reason cluster stucked on `Waiting for API to be available`, after debugging I found that cattle-agent wasn’t able to resolve host, after changing `dnsPolicy` value through `kubectl edit deploy -n cattle-system` from `ClusterFirst`  to `Default`, rancher successfully connected EKS cluster.

[2022-05-16 04:31] jia3apb commented on #800
I have the same issue, I've tried Rancher 2.6.2 and 2.6.4.

[2022-05-16 12:58] a-blender commented on #922
Discussed with @Oats87 since I noticed the `aci_network_provider` field is documented in the terraform docs for the [rke_cluster](https://registry.terraform.io/providers/rancher/rke/latest/docs/resources/cluster#aci_network_provider) resource but not in the [rancher2_cluster](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#network) resource. This is not a blo

[2022-05-16 14:57] cem-altuner opened #927 "rancher2_cluster eks_config_v2 is unable to launch nodes with the launch teamplate."
`rancher/rancher2 version : 1.23.0`

Hi, I am trying to add a Windows node group using the launch template. The link below shows how to use the `rancher2_cluster` resource using launch templates.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#creating-eks-cluster-from-rancher-v2-using-eks_config_v2-and-launch-template-for-rancher-v256-or-above

However, I a

[2022-05-16 19:55] ricardoklein opened #928 "Change the way we declare AWS Secrets"
In docs/resources/cluster_v2.md we are inducing a user to hardcode AWS secrets on the code here:
[code]

What if we change this to recommend a way where the credentials are not hardcoded, something like:
[code]

[2022-05-17 09:16] mikekuzak opened #929 "[Request] Add supported K8s versions to Release notes"
Hi,

Is there a possibility to add to the release notes which Kubernetes version are supported with the Provider ?
Example with version 1.22.0 I tried to upgrade to v1.20.14-rancher2-1(default) which is part of Rancher v2.5.12. but the TF provider only supports  v1.20.12-rancher1-1.

[2022-05-17 19:48] #905 closed, assigned to nobody

[2022-05-17 20:22] timhaneunsoo commented on #872
### Test Environment: ###
Rancher version: v2.6-head
Rancher cluster type: HA
Docker version: 20.10

Terraform version: v1.1.9
Source: terraform.example.com/local/rancher2
Version: 1.0.0

----------

### Testing: ###

Tested this feature with the following steps:
1. Provision an rke2 3 node cluster in AWS EC2 via terraform on 2.6-head
2. Add etcd snapshot create to terraform config, run terraform

[2022-05-17 20:23] #872 closed, assigned to a-blender, thaneunsoo

[2022-05-18 03:20] PrakashFromBunnings opened #930 "rke2 cluster on vmware"
Hello ,

We are trying to provision RKE2 cluster on our on-prem Vmware infrastructure .

We have Rancher management 2.6.X .

I do see that we can use cluster templates to provision RKE2 clusters , but this method doesnt maintain state of RKE2 clusters .

We want to use terraform provider https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2 to create RKE2 cluste

[2022-05-19 00:58] Shocktrooper opened #931 "Add new user project attachment resource"
In lieu of service tokens creation capability  being done as part of rancher/terraform-provider-rancher2#926 I would also like to be able to assign users to projects so that the token created for a service account user is scoped correctly to the projects that it should access.  Looking through the provider as it is today it seems that it is not possible with terraform to attach users to projects,

[2022-05-19 11:19] sboschman commented on #931
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project_role_template_binding ?

[2022-05-19 12:33] stefan-sesser opened #933 "Import namespace in project with resource quota set is not possible"
Hi,
I am currently trying to import existing projects and namespaces in terraform. Unfortunately I saw the same error message on some namespaces:
`can't move namespace. Project <...> has resource quota set`
In the terraform provider code I have found the following:
https://github.com/rancher/terraform-provider-rancher2/blob/6f39677a79339a7f46a652e7b1f2f42cb44c6221/rancher2/import_rancher2_namespac

[2022-05-19 13:32] stefan-sesser commented on #933
I just tried to import the namespace without the project id:
`terraform import rancher2_namespace.test_namespace <clsuter_id>.test-namespace`
This seems to work now!?

According to: https://www.terraform.io/cli/import `import` only brings it under Terraform management. For me the behavior is strange that import can also change the existing environment. In that case move the namespace to other proj

[2022-05-19 13:54] gohumble opened #934 "Refreshing kube_config for rancher2_cluster resource not possible"
Hello.

It seems like the latest version of this provider is not able to update the `kube_config` attribute within the `rancher2_cluster` resource, even if the cluster has a new node.

I think its caused by this validation (https://github.com/rancher/terraform-provider-rancher2/commit/87569811dadf977b766db09fa1309c01446a7ce1)

# What did you do?
Added new node to rancher cluster

# What did you ex

[2022-05-19 23:41] rosskirkpat opened #935 "[2.6.7] Deprecate RKE1 Windows provisioning capabilities due to EOL"
As part of the RKE1 Windows EOL upcoming in Rancher v2.6.6, we need to deprecate the provisioning of new RKE1 Windows clusters in the rancher terraform provider.

https://github.com/rancher/windows/issues/179
https://github.com/rancher/windows/issues/182

[2022-05-20 02:28] Shocktrooper commented on #931
I think that is actually what I was looking for which for some reason I couldn't find in the provider docs. I will check back and close this if it what I was looking for.  Thank you @sboschman !

[2022-05-20 16:10] leonsteinhaeuser opened #936 "bug: hcloud server_labels are not added to the server"
Hi there,

I have tried adding `server_labels` to my node_template to distinguish between the roles a server has been given. So far all my tests have been unsuccessful, so I guess there is a problem.

My config:

[code]

Terraform plan outcome:

[code]

@process0 can you validate that this functionality is not working?

[2022-05-20 21:43] paynejacob opened #937 "Custom cluster creation using terraform returns invalid response"
[code]

SURE-4293

[2022-05-21 16:56] process0 commented on #936
The best way to check is to go to rancher and view the node template in the API.  I do notice that the `hetznerConfig.serverLabels` field is not set when viewed from the API. I'm not familiar enough with the rancher API -> node driver connection to say if this is a bug or not because you can label a node by setting the label on the node template itself, `rancher2_node_template.labels`.

Though thi

[2022-05-25 08:10] jobwat-servian opened #938 "rancher2_bootstrap error: [ERROR] Normalizing url: no api_url provided"
I'm getting this error while trying to get access with the [rancher2_bootstrap resource](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap)

Full output:
[code]

My config
[code]

If someone knows a fix or a better way to access rancher, I'm interested :)

[2022-05-26 00:37] jobwat-servian commented on #938
In case it can help someone else, my workaround to get the rancher admin token:

[code]

`get-admin-token.sh`:
[code]

[2022-05-26 00:42] jobwat-servian commented on #787
I'm getting the same error, I've opened a new thread - https://github.com/rancher/terraform-provider-rancher2/issues/938

[2022-05-27 11:45] flyte commented on #841
I've just noticed that it's doing this for me as well. I have my `RANCHER_ACCESS_KEY` and `RANCHER_SECRET_KEY` env vars set, then whenever I run a `terraform plan` (or apply) it creates a new kubeconfig token that never expires, even through I've only got the following data block:

[code]

@eliyamlevy No. Why is it creating them at all, just to get information about a rancher cluster? Shouldn't th

[2022-05-27 11:51] flyte commented on #841
I see why it's creating them now. It returns a generated `kube_config` from the `rancher2_cluster` data block.

Perhaps this should be configurable (generate credentials, expiry etc.) and by default not generate credentials? I'm only using this data block in order to get the cluster ID.

I just had to delete 65 generated credentials from my Rancher profile because it had created one each time I ra

[2022-05-27 18:35] slickwarren commented on #853
tested using [this as a reference for main.tf](https://github.com/harvester/harvester/issues/2140#issuecomment-1096259994) and versions harvester v1.0.2, rancher v2.6.5, and terraform:
[code]
* single node all roles rke2 cluster via terraform -- pass
* single node all roles rke1 cluster via terraform -- pass
* multi node all roles rke2 cluster via terraform -- pass
* single node all roles rke1 clu

[2022-05-27 18:35] #853 closed, assigned to thedadams, slickwarren

[2022-05-27 18:41] jakefhyde commented on #937
@paynejacob Can you provide more information on the issue and possible root cause?

[2022-05-28 18:55] phillamb168 commented on #867
I've gotten it twice in a row just now.

[2022-05-31 06:30] elvinasp commented on #867
Can confirm, we have seen this too, when deploying new cluster. When applying for the second time, TF finishes successfully.
Rancher 2.6.2 and 2.6.5
K8s: v1.21.5-rancher1-1
TF provider:
[code]

[2022-05-31 07:35] FredNass commented on #930
Hello Prakash,

You might want to have a look at this dev [1] by Rémi from University of Grenobles Alpes (France). Didn't try it yet but it should do what it says it does and get you on track. :-)

[1] https://gricad-gitlab.univ-grenoble-alpes.fr/kubernetes-alpes/terraform-vsphere-rke2

[2022-05-31 10:39] PrakashFromBunnings commented on #930
That was very helpful mate , thanks .  I am stuck at passing agent_env_vars to  rancher2_cluster_v2, it dont take more than one pair  of values , where as I want to pass multiple values .  But below don't work .

`  agent_env_vars {
    name = "HTTPS_PROXY"
    value = "http://XXXXXXXXX:80"
    name = "HTTP_PROXY"
    value = "http://vXXXXXXXXXXX:80"
    name = "NO_PROXY"
    value = "127.0.0.0/8,

[2022-05-31 14:54] PrakashFromBunnings commented on #930
Putting those values again and again worked , it was little misleading but anyway its working .

`resource "rancher2_cluster_v2" "cluster_name" {
  agent_env_vars {
    name  = "VARIABLE1"
    value = "VALUE1"
  }
  agent_env_vars {
    name  = "VARIABLE2"
    value = "VALUE2"
  }
  agent_env_vars {
    name  = "VARIABLE3"
    value = "VALUE3"
  }
}`

[2022-06-01 09:46] axeal opened #943 "http_endpoint and http_tokens arguments missing from amazonec2_config node template block"
Rancher EC2 Node Templates support IMDSv2 configuration via the http_endpoint and http_tokens arguments (https://github.com/rancher/rancher/issues/25078).

Currently these options are exposed for the amazonec2_config block of the [machine_config_v2](https://github.com/rancher/terraform-provider-rancher2/blob/v1.24.0/docs/resources/machine_config_v2.md#amazonec2_config) resource in the Rancher Terr

[2022-06-03 08:50] herrbpl commented on #871
In additional notes, it seems to differ between '' and "" and also order of keys in yaml, so clearly comparison function ( https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_app_v2.go#L129 )  in use is unsuitable for detecting real diff.
Maybe it would work better if generated structure is converted to json and then back to map[interface] before doing deepEqual ?

[2022-06-03 16:21] snasovich commented on #870
Blocked by https://github.com/rancher/rancher/issues/35436 at this time.

[2022-06-06 17:24] gregsidelinger opened #945 "rancher2_cluster_v2 s3_config bucket values learned issue"
Version details:
terraform 1.1.9
rancher2 provider 1.24.0

I have a the bucket setting of s3_config  pointed to the results of the aws_s3_bucket module that creates an S3 bucket.  I create a plan file and then apply that plan file as a two step process when I get this error.

[code]

Here is how I'm setting the s3_config section of rancher2_cluster_v2.
[code]

I've tried adding a manual depends_on

[2022-06-06 19:08] mikekuzak commented on #929
Provisoner : 1.24.0 with Rancher 2.5.14

Error: expected kubernetes_version to be one of [v1.22.4-rancher1-1 v1.21.7-rancher1-1 v1.21.6-rancher1-2 v1.21.6-rancher1-1 v1.21.5-rancher1-1 v1.21.4-rancher1-1 v1.20.13-rancher1-1 v1.20.12-rancher1-2 v1.20.12-rancher1-1 v1.20.11-rancher1-2 v1.20.11-rancher1-1 v1.20.10-rancher1-2 v1.20.10-rancher1-1 v1.20.9-rancher1-1 v1.20.8-rancher1-1 v1.20.6-rancher1-1

[2022-06-08 03:54] #931 closed, assigned to nobody

[2022-06-09 07:16] rmammadli commented on #915
I am still facing the same issue.

[2022-06-09 08:04] PrakashFromBunnings commented on #835
Hello , Any workaround or fix this issue . I am stuck at this issue .

[2022-06-09 08:35] PrakashFromBunnings commented on #835
older version brings other issues , like missing or unsupported argumnets etc.

[2022-06-14 09:12] mh013370 opened #947 "rancher2_cloud_credential secret created in wrong cluster"
Rancher version v2.6.5
rancher2 provider version: 1.23.0
rke2 version: 1.22.7

I have a minio i'm trying to use to store etcd backups for a workload rke2 cluster and so i'm trying to configure it to do so. I'd previously used it to store rke1 backups via this provider, so I've set this up in the past.

I've deployed a `rancher2_cluster_v2` cluster successfully that's running several workloads. It

[2022-06-14 15:32] sirredbeard commented on #935
cc @snasovich

[2022-06-15 21:41] a-blender opened #948 "Remove non working arguments from the doc"
**Rancher**
Rancher cluster version:  2.5.9
Terraform version 1.17.2

**Other details**
Underlying Infrastructure: AWS
Downstream clusters bootstrapped with Terraform

**Issue description**
Some arguments in the Provider documentation are actually not usable making the scripts fail. Those arguments are coming from Rancher/Docker machine but not implemented in Rancher.

Here the arguments are keypa

[2022-06-15 22:38] phillamb168 commented on #670
This may or may not work for you, but my fix was to do the following:
[code]
Then, add this:

[code]

and on the resource declaration for the workload:

[code]

[2022-06-16 03:22] PrakashFromBunnings opened #949 "No provision to pass labels to machine pools and nodes"
Hello ,

We have a requirement to have multiple machine pools and deploy different kind of workload to each pools.

I was thinking to apply some labels to these pools , and pass my deployment to have nodeSelector .
So that  my deployment goes to selected nodeSelector label only .

I cant see any options in terraform modules rancher2_cluser_v2  https://registry.terraform.io/providers/rancher/ranche

[2022-06-16 03:41] PrakashFromBunnings commented on #949
I can see adding labels option is available in GUI ( in Advance option ). Not sure if I am missing anything in terraform module.

[2022-06-18 17:43] DjinNO commented on #936
I have the same problem

[code]
And still nothing in rancher nodeTemplates api

Driver version: 3.7.1

[2022-06-20 12:22] spielkind commented on #813
Hey @rawmind0, we are facing the same issue.

1. We changed the systemDefaultRegistry at Rancher global settings.
2. We changed the values.yaml (global.cattle.systemDefaultRegistry), which is useless, when using terraform as I learned.
3. Rerun our TF pipeline, but the helm deployment didn't got changed.

We tried this with rancher-monitoring, but seems to be the same for at least rancher-logging.

[2022-06-21 15:36] azafairon commented on #949
Hi,

We have tried also to set the labels on machine pools which it seems that is supported:
https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_cluster_v2_rke_config_machine_pool.go#L143

The above will populate the metadata on **MachineDeployment** but will not create the nodes with labels as the specs under templates are not correct.

Are we missing something ?

T

[2022-06-22 15:11] m4rCsi commented on #949
Hi,

we ran into this as well and were able to figure it out.

**Flow**

The flow (backwards) to get labels passed to the eventual nodes:
- (A) MachineDeployment needs to have it in `spec.template.metadata.labels`
- (B) A controller in rancher takes the a [RKEMachinePool](https://github.com/rancher/rancher/blob/c5af1ff21ce809fe298de160bd440a074fb484cc/pkg/apis/provisioning.cattle.io/v1/rke.go#L10-

[2022-06-23 15:28] zach-mitchell-rtx commented on #915
This is the same bug list here https://github.com/rancher/terraform-provider-rancher2/issues/835 downgrade the provider to 1.22.2 and try to apply multiple times...

[2022-06-23 19:11] bperunx commented on #936
We discovered the same problem in our project.
Driver-Version: 3.7.1
Rancher-Version: 2.6.5

[2022-06-27 17:26] jympetalmd opened #953 "Cluster secret not found - after restoring Rancher"
Steps: (from https://rancher.com/docs/rancher/v2.6/en/backups/migrating-rancher/)
1. Set up Rancher backup
2. Create a backup
3. Destroy and recreate Rancher (on new cluster) without installing Rancher
4. Create the restore and wait
5. Install Rancher (with the same helm values as normal????)

The cluster appears fine and can be accessed, but as soon as we try to change something to the rancher2_c

[2022-07-01 11:12] belfhi opened #954 "Openstack Application Credential not working"
When using `application_credential_id` and `application_credential_secret`
authentication to Openstack Keystone fails.

As far as I understand, the `password` field will always be filled with the contents of `
[code]
resulting in an error that a `username` must also be provided.
in password authentication.

[2022-07-05 03:33] alankan-finocomp opened #955 "Cannot create a "import existing" cluster via `rancher2_cluster_v2`"
There is an example for creating an "imported" cluster via [rancher2_cluster](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#creating-rancher-v2-imported-cluster) but not in [rancher2_cluster_v2](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2).

Since `kubernetes_version` is mandatory in `rancher2_cluster_v2`, I tri

[2022-07-07 15:14] luis-garza commented on #949
We are getting the same behavior :cry:

Not sure what is for the labels translated as `spec.rkeConfig.machinePools.machineDeploymentLabels` in the cluster CRD, but definitely we need to be able to define `spec.rkeConfig.machinePools.labels` though the provider...

[2022-07-14 06:58] 02bensch opened #956 "Remove overlapping functionality in rancher2_machine_config_v2"
Within the `rancher2_machine_config_v2`'s `azure_config` arguments, there is an overlap between `no_public_ip` and `private_address_only`. @eliyamlevy and I think it makes sense to remove the `no_public_ip` argument so that the `azure_config` is more closely aligned with `amazonec2_config` and it's arguments - as discussed here https://github.com/rancher/terraform-provider-rancher2/pull/876.

[2022-07-14 17:03] #875 closed, assigned to eliyamlevy

[2022-07-14 20:34] a-blender commented on #943
Terraform tests for these EC2 fields will be added in a second PR. Then, once that is merged I believe QA can test this using the rancher2 provider.

[2022-07-14 20:39] HarrisonWAffel commented on #943
The tests have been implemented in https://github.com/rancher/terraform-provider-rancher2/commit/9f7ba67f6467cfc8f8e1381b0be98d10b6124e52, (which is misnamed 944 vs 943), this should be good to test

[2022-07-19 16:35] a-blender commented on #948
Behavior for this issue will not be any different. Users should not use `keypair_name` or `ssh_keypath` fields in the terraform provider aws node template because they are not supported in the rancher backend. Only change here is these fields are removed from the tf docs. This can be closed

[2022-07-19 16:41] #948 closed, assigned to a-blender

[2022-07-21 15:41] timBeehexa commented on #867
This works for me

[2022-07-26 23:32] jrodonnell commented on #417
Adding another workaround for now, tested using terraform 1.2.5. Add this into a `version.tf` file in the root directory of the project:

[code]

If you have child modules in the repo also using the `rancher2` provider, add identical `version.tf`s into each of their folders as well.

I'm not sure whether the issue is on Hashicorp's side or Rancher's, but it seems like the terraform cli just can't

[2022-07-27 19:25] sboschman opened #963 "Customizable late initialization function for a resource"
Currently late initialization is configured with
[code]

As the [generation template](https://github.com/crossplane/terrajet/blob/main/pkg/pipeline/templates/terraformed.go.tmpl#L77) defaults to using the `GenericLateInitializer` I don't see a way to have a custom late init function for a specific resource.

A configurable custom late init function per resource would be helpful to solve an issue I

[2022-07-28 07:26] #963 closed, assigned to nobody

[2022-07-28 07:27] sboschman commented on #963
My apologies, wrong repository, this is a Crossplane Terrajet issue (286)

[2022-07-28 14:05] mirraxian opened #1390 "Namespace resource causes perpetual diffs on `kubernetes.io` labels applied by default by Kubernetes"
When using the [`rancher2_namespace` label attribute](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/namespace#labels) the Provider does not ignore changes applied from Kubernetes itself such as [`kubernetes.io/metadata.name`](https://kubernetes.io/docs/reference/labels-annotations-taints/#kubernetes-io-metadata-name) which is applied by default from Kubernetes 1.21

[2022-07-29 12:48] dmpe opened #965 "```rancher2_cluster_v2```: description argument is missing"
Hi

[code]

Can it be please added? No reason not to have it.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2#name

[2022-08-01 14:55] strowi opened #966 "creating eks-cluster fails"
Hi,

using the following it seems rancher fails to Create a EKS-cluster, specifically i don't see a nodegroup being created.
Doing this via the UI with same settings seemed to work.

[code]

I also can see a message in the AWS-console saying sth. along "managed nodegroups and fargate-profil couldn't be added while creating the cluster".

regards,
strowi

[2022-08-02 11:54] strowi commented on #966
nvm, it just took about 20m...

[2022-08-02 11:54] #966 closed, assigned to nobody

[2022-08-02 13:45] nfsouzaj commented on #835
Hello, this issue is also causing problems on my deploys. Is there a commitment to fix it ?

[2022-08-04 14:44] crypted256 commented on #576
Maybe DiffSuppressOnRefresh should be able to fix this. [DiffSuppressOnRefresh](https://pkg.go.dev/github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema#Schema.DiffSuppressOnRefresh)

From the [Changelog](https://github.com/hashicorp/terraform-plugin-sdk/blob/main/CHANGELOG.md#2110-march-11-2022):

[2022-08-05 11:47] KittlitzMichael commented on #938
Your solution matches the description from which leads to your error-message
https://registry.terraform.io/providers/rancher/rancher2/latest/docs

a working version is mentioned here
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap

so this would be the outcome

[code]

[2022-08-08 12:57] KittlitzMichael opened #968 "Update and Expand: hetzner_node_template"
The file `node_template.md `contains only four attributes for the configuration:

  hetzner_config {
    api_token = "XXXXXXXXXX"
    image = "ubuntu-18.04"  **(outdated! - see Issue below!)**
    server_location = "nbg1"
    server_type = "cx11"
  }

But the Driver offers many more options, which should be accessable in order to setup the template fully functional, like:

- ImageID
- Volumes
- Ne

[2022-08-10 15:47] Josh-Diamond opened #969 "Bump docker install version w/ RKE1 clusters; `17.03.2` => `20.10`"
When provisioning a downstream RKE1 cluster w/ docker install from TF rancher2 provider, docker 17.03.2 is installed.

When provisioning a downstream RKE1 cluster w/ docker install from RancherUI, docker 20.10 is installed.

This issue was created to bump the docker install version with TF rancher2 provider to 20.10

[2022-08-11 08:50] stefan-sesser commented on #1390
I have exactly the same issue after upgrading our clusters from `v1.20.11-rancher1-1` to `v1.23.7-rancher1-1`

[2022-08-11 08:57] #656 closed, assigned to nobody

[2022-08-16 18:05] a-blender commented on #922
In order for ACI network provider support to work properly, the tf rancher2 provider had to have the rancher/rancher and go client dependencies bumped, as well as go updated to 1.17. The tf provider now uses go 1.17-alpine3.13 instead of 3.14 due to this issue https://github.com/Mellanox/k8s-rdma-shared-dev-plugin/issues/49. Drone was also having issues running tests with that image, so drone now

[2022-08-17 03:22] cloudnautique commented on #949
Hi, this is a big gap in the ability to provision clusters in the new provisioning framework. There is no way to allow dedicated Ingress nodes for example. Any chance we will see some traction on  #951 ??

[2022-08-17 09:35] tuxicorn opened #972 "[BUG] Nodes are not added to the external load balancer backend pool after load balancer is active"
**Rancher Server Setup**
- Rancher version: v2.6.7
- Installation option: Helm Chart
   - AKS
   - Kubernetes: v1.23.8
- Proxy/Cert Details:
  - ingress-nginx: v4.2.3
  - cert-manager: v1.9.1

**Information about the Cluster**
- Kubernetes version: v1.23.8-rancher1-1
- Cluster Type (Local/Downstream): Downstream
   - Infrastructure Provider: Azure

**User Information**
- What is the role of the us

[2022-08-17 12:58] tuxicorn opened #973 "Labels not applied to nodes [downstream RKE cluster in Azure using node templates/pools]"
When using the `labels` argument in the `rancher2_node_pool` resource, once the node from the node pool is registered, there is actually no label applied to the node.

I can only see the label in the YAML of the node and the pool from the rancher UI. But when clicking on the node or looking at the node labels with the Rancher CLI, the label is not shown.

### Requirements

| Name     | Version |
|

[2022-08-17 13:36] tuxicorn opened #974 "All nodes are added to the external load balancer backend pool regardless of their type [downstream RKE cluster in Azure using node templates/pools]"
When I create an RKE cluster with an external Load Balancer on Azure it automatically adds all nodes to the Load Balancer backend pool, I should be able to choose which nodes are added (only Worker or only the Control Plane nodes) and I haven't been able to find any documentation for that.

### Requirements

| Name     | Version |
| ----------- | ----------- |
| terraform   | 1.2.6       |
| ranch

[2022-08-17 15:06] mrlnstpn opened #975 "Add AD group as member when creating rancher project"
Noticed that there's no argument for Members in [https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project](url)

What's the right way to add an AD group as a member upon the creation of a project?

[2022-08-17 15:17] mrlnstpn commented on #975
found it. should use projectroletemplatebinding.

[2022-08-17 15:17] #975 closed, assigned to nobody

[2022-08-17 15:27] a-blender commented on #922
https://github.com/rancher/terraform-provider-rancher2/pull/912 has been merged

[2022-08-17 18:59] ekristen opened #976 "RKE2 - Machine Pools - Unable to Set Node Labels"
I am unable to setup node labels using rke2 and machine pools, all label options that are supported do not end up on labels ending up on the actual instances that are spun up.

[2022-08-17 20:49] a-blender commented on #922
We do not have the Cisco infrastructure to test the ACI CNI directly, so the smoke testing done by the community PR's author will suffice https://github.com/rancher/terraform-provider-rancher2/pull/912#issuecomment-1185425672. @fpants I'd also recommend testing ACI config on a non-imported RKE cluster with the terraform rancher2 provider. Thank you for your patience on this issue and please let us

[2022-08-17 20:50] #922 closed, assigned to a-blender, Josh-Diamond

[2022-08-18 14:17] fpants commented on #922
We are using a local build of the rancher2 terraform provider with the code from #912 to provision RKE clusters with the ACI CNI in Rancher. It works as expected, including scaling up and down nodes in node pools.
And thanks again, I'm looking forward to having the functionality officially present in the provider.

[2022-08-18 16:00] a-blender commented on #922
That's great. Happy to help!

[2022-08-19 01:09] nbertram commented on #905
For anyone who like me stumbles on this :confused: self-closing issue later, the solution in this instance is to use the [rancher2_registry](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/registry) resource type, not the `rancher2_secret` resource.

[2022-08-19 09:14] tuxicorn commented on #972
EDIT
==

This morning, running the exact same code (used `git status` to verify), 2 worker pools registered successfully and 1 got stuck with the following status:

[code]

![Screenshot from 2022-08-19 09-17-44](https://user-images.githubusercontent.com/66470559/185586501-a04e6524-c99b-4b33-b602-107dac265475.png)

### Collected logs from containers

- [rancher-agent.log](https://github.com/rancher

[2022-08-19 23:45] mut3 commented on #576
As @julienym mentioned above, recursively alphabetizing the keys in your yaml files will greatly reduce or eliminate this kind of diff noise as rancher seems to reliably return manifests with keys alphabetized, so terraform is able to do a simple diff

We used [`yq`](https://mikefarah.gitbook.io/yq/) to do this:

[code]

But you could also achieve the same with a few lines of python or your prefer

[2022-08-20 20:34] KittlitzMichael commented on #936
I found a solution, by compiling Rancher2 myself on my machine until the merge Requests are handeld one day.

My solution includes the missing fields for the Firewalls, AdditionalKeys and the PlacementGroup, as suggested here:
https://github.com/rancher/terraform-provider-rancher2/pull/894

The Code in File **schema_node_template_hetzner.go**
Line 17:
[code]

Lines 41 - 45
[code]

In File **struct

[2022-08-22 05:33] SHWETHABHAT1 opened #977 "rancher2_app_v2"
If we provide the chart information and other stuff in this resource, this installs the required app(monitoring in this case) in the infra. Does it goes to internet and search the specific git/helm repos/charts and then install these apps ? Or if we have the images installed already in the environment, will it install from the images ? If we need to install the app in an air gapped environment, th

[2022-08-22 18:04] ifelsefi opened #978 "eks_config_v2 - amend kubelet-extra-args in eks node bootstrap.sh user_data"
Hi,

I would like the ability to modify Rancher's standard bootstrap.sh arguments:

[code]

I would like the ability to set "registryPullQPS=0" for example which should be applied to `/etc/kubernetes/kubelet/kubelet-config.json` on worker node creation.

Thank you!

[2022-08-23 09:12] herrbpl opened #979 "Add data source for querying information about provider"
When Rancher provider is configured by external means, for example by environmental variables, there is no way to query rancher provider about rancher server address.
Also it would be beneficial to to query existing clusters and projects available to logged in provider.

So I propose data sources:
data.rancher2_environment returns
{
  rancher_url - rancher url in use
  rancher_user_id - logged use

[2022-08-23 16:30] iosifnicolae2 commented on #871
Any news here?

[2022-08-24 11:38] tuxicorn commented on #972
EDIT
==
**I added the stuck worker nodes to the load balance backend pool manually, all of them got registered.**

![Screenshot from 2022-08-30 18-59-49](https://user-images.githubusercontent.com/66470559/187497046-afda9e43-67c1-4984-831d-7e43d06dfad6.png)

To me, this is look like a Rancher bug. **Even after all nodes are registered, the scaling of nodes does not work because Rancher does not ask

[2022-08-24 12:00] catherineluse commented on #972
I believe Kubernetes is responsible for adding nodes to the backend pool, but it can only do that if the Azure cloud provider is enabled properly.

I'm not an expert in this area, but I was looking up the docs about the Azure cloud provider for RKE https://rancher.com/docs/rke/latest/en/config-options/cloud-providers/azure/#overriding-the-hostname and searching for anything that might be missing f

[2022-08-24 12:12] tuxicorn commented on #972
Hi, thanks for your answer! I already looked at this in the doc previously but that argument is not present in the rancher2 Terraform provider for the `node_template` [resource](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template) and I haven't found any equivalent.

[2022-08-24 12:49] catherineluse commented on #972
The `hostname_override` is in the cluster resource https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#hostname_override . Basically, that value would have been configured in the cluster config file if you were provisioning the RKE cluster with the RKE CLI. And the cluster resource in terraform is the equivalent of that file

[2022-08-24 12:59] tuxicorn commented on #972
Indeed, but I use node templates and node pools. I do not define nodes in the `rancher2_cluster` resource. I use node templates/pools for being able to use node scaling in the Rancher UI.

[2022-08-25 09:38] MrLuje opened #980 "rancher2_app_v2 import doesn't import enough data and needs to recreate everything"
Hello,

* Creates istio app from `Apps > Charts`
* Once installed, import the resource in terraform
[code]

## Current result
* Make a terraform plan (there should be no change)
[code]

## Expected result
There should be almost no change, but it shouldn't try to destroy the resource

[2022-08-29 13:40] Martin-Weiss commented on #976
Seems I have the same issue..

[2022-08-30 10:07] mikekuzak commented on #980
I worked around this with ignore changes

[code]

[2022-08-30 10:19] mikekuzak commented on #877
@snasovich any plans to line up the K8s supported versions with the UI ? I think there seems to be a gap here.

[2022-08-31 01:27] FWest98 opened #982 "Allow to configure proxy on a provider basis"
While it is possible to set the appropriate environment variables to get Go to use a proxy (as fixed in #57 ), it would be nice to explicitly support setting proxy settings in the provider configuration; since I only want the rancher connection to use the proxy and not my other connections.

Similar requests for another provider: https://github.com/hashicorp/terraform-provider-kubernetes/issues/11

[2022-09-01 05:23] jobwat-servian commented on #938
Thanks for your reply @KittlitzMichael, sadly I'm not into this work anymore.

Hopefully it will help someone else

[2022-09-01 08:52] tuxicorn commented on #972
EDIT
==
If I deploy the external load balancer only after all nodes are registered and the cluster is active, it adds all of them to the backend pool but then scaling does not work because **it only adds nodes to the backend pool after they are registered**.
It should add the nodes directly after they are created not after they are registered because they only can be registered when they are added

[2022-09-01 11:57] anupama2501 commented on #835
Reproduced the issue on v2.6-head `c54b655`
cloud provider - Linode
- I ran into the same issue when I tried to create an rke2 node driver cluster on k8s `v1.23.10+rke2r1`.
- Works fine when we create an rke2 node driver on k8s `v1.22.13+rke2r1` and rke1 node driver cluster on k8s `v1.23.10-rancher1-1`
- From terraform script - created a cloud credential , add machine pool and machine_global_confi

[2022-09-05 11:50] Martin-Weiss opened #984 "Allow to add second disk in rancher2_machine_config_v2"
Deployment best practice is to split OS and DATA on two separate disks. Unfortunately the rancher2_machine_config_v2 does not allow to add a second disk.

-> could we get this feature added?

[2022-09-05 11:51] Martin-Weiss opened #985 "Allow to add a second NIC in rancher2_machine_config_v2"
To be able to isolate different types of traffic (i.e. kubernetes vs. longhorn) we need to be able to add a second NIC.
In case of harvester VMs we also need to be able to specify the VLAN this NIC should be connected to.

Could we get this feature added?

[2022-09-05 12:41] dazzla76 opened #986 "openldap config missing group search filter parameter"
the "rancher2_auth_config_openldap" resource doesn't seem to support the group "group search filter" parameter when setting up an openldap credential configuration.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/auth_config_openldap

The Rancher user interface includes this parameter but i can't find a way of setting it in Terrfaform so we need to set it manually a

[2022-09-05 19:24] #972 closed, assigned to nobody

[2022-09-05 19:24] tuxicorn opened #987 "[BUG] Nodes are not added to the external load balancer backend pool after load balancer is active"
**Rancher Server Setup**
- Rancher version: v2.6.7
- Installation option: Helm Chart
   - AKS
   - Kubernetes: v1.23.8
- Proxy/Cert Details:
  - ingress-nginx: v4.2.3
  - cert-manager: v1.9.1

**Information about the Cluster**
- Kubernetes version: v1.23.8-rancher1-1
- Cluster Type (Local/Downstream): Downstream
   - Infrastructure Provider: Azure

**User Information**
- What is the role of the us

[2022-09-05 23:02] #973 closed, assigned to nobody

[2022-09-05 23:09] #974 closed, assigned to nobody

[2022-09-06 20:32] rfults commented on #986
It is also missing the "user search filter".  The only place I see this implemented in is the active directory module. We need this to be supported consistently in all of the modules.  Trying to do this with FreeIPA.

[2022-09-06 22:11] git-ival opened #988 "[Feature Request] Add optional "wait for all active" argument to rancher2_cluster_sync resource"
Currently, it seems that the `rancher2_cluster_sync` resource waits for at least one etcd, one control-plane and one worker to become `Active` before finishing the `rancher2_cluster_sync` creation wait period.

It would be helpful for performance testing if there was an option to wait for all nodes in each nodepool to become `Active` before exiting the cluster sync with a "completed" status.

[2022-09-08 19:08] Josh-Diamond commented on #969
Test Plan:
1. Fresh install of rancher `v2.7-head`
2. With TF, deploy a downstream RKE1 cluster - [DO NOT SET `engine_install_url` on node_template resource]
3. Observe docker install version; expected to be `20.10`

---

Workaround for this, in the meantime would be to add the following to the rancher2_node_template resource:
`engine_install_url  = "https://releases.rancher.com/install-docker/20.

[2022-09-08 19:50] kspradheep commented on #891
+1

[2022-09-08 21:51] a-blender commented on #969
@Josh-Diamond This is not ready to test

[2022-09-09 00:07] Josh-Diamond opened #989 "TF is unable to manage downstream EKS cluster resource w/ `desired_size=0, max_size=1, min_size=0`"
When provisioning a downstream EKS cluster via RancherUI, if `desired_size=0, max_size=1, min_size=0`, cluster will provision until it reaches a `Waiting` state, at which point it will remain in that state until nodes are added.  This is expected behavior.

With TF rancher2 provider, when attempting the scenario outlined above, once cluster reaches `Waiting` state, where it will remain until nodes

[2022-09-09 07:39] sathishpuranik opened #990 "Unable to import the existing cluster to terraform module using terraform import command"
Hi Team,

I am trying to import my rancher cluster into the terraform module using the below command

**terraform import rancher2_cluster_v2.foo <FLEET_NAMESPACE>/<CLUSTER_NAME>**

However It is failing to import for all my clusters with the below error

 **Error: Setting cluster V2 legacy data: Getting cluster Kubeconfig: Getting Kubeconfig token: Json unmarshall kube_config: illegal base64 data

[2022-09-09 08:39] empeekdev commented on #493
@rawmind0 We have the same issue on rancher 2.6.3, 2.6.8. But in our case this problem happens even after 10 tries. We just cannot bootstrap rancher, don’t know what to do. Any ideas?

[2022-09-09 11:44] empeekdev opened #991 "Bootstrapping problem"
**Rancher Server Setup**
- Rancher version: 2.6.8
- Installation option (Docker install/Helm Chart):
   - Helm chart version 2.6.8. EKS version 1.20
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.20
- Cluster Type (Local/Downstream): Local

**Describe the bug**

After installing rancher, I tried to bootstrap it, using rancher terraform provider and next tf configu

[2022-09-09 14:12] tuxicorn commented on #867
Hitting the same issue randomly

[2022-09-09 14:52] riuvshyn opened #993 "[BUG] Occasionally RKE2 cluster gets destroyed after cluster configuration is changed using terraform provider"
_**Important: Please see https://github.com/rancher/terraform-provider-rancher2/issues/993#issuecomment-1611922983 on the status of this issue following completed investigations.**_

**Rancher Server Setup**
- Rancher version: 2.6.8
- Installation option (Docker install/Helm Chart):
   - installed as helm chart
   - running on k3s 1.24.4
- Proxy/Cert Details: N/A

**Information about the Cluster**

[2022-09-12 09:47] empeekdev commented on #991
[SOLUTION] The reason was in feature flag `rke2=false`. After removing it, everything became to normal

[2022-09-12 09:47] #991 closed, assigned to nobody

[2022-09-12 12:03] sdryga opened #995 "BUG: rancher2_app_v2.rancher-monitoring terraform apply failed"
Hi!

I tried to deploy "rancher-monitoring" using "racher2" terraform provided and got an error:

[code]
Details you can find below.

---------------------------------------------------------------------------------------------------

Rancher version: 2.6.7
Managed k8s cluster version: v1.24.4+rke2r1
Terraform version: 1.2.8
Rancher2 terraform provider version: v1.24.1

Terraform provider:

[code]

[2022-09-12 12:41] tuxicorn commented on #987
**EDIT**

So the issue was that when a VM is part of an Availability Set, if another VM which is part of the same Availability Set is in a public Load Balancer backend, all VMs part of that Availability Set will use the LB public IP for outbound connection.
But the problem is that the VM which is not part of the LB backend then cannot reach the internet because they cannot use the LB GW.

So we ha

[2022-09-12 17:30] gkdante commented on #891
+1

Anybody found any workaround for this? I got four K8s clusters to import with LOTS of namespaces in them.

[2022-09-13 15:12] anoldguy opened #996 "Error: Provider produced inconsistent final plan .rke_config[0].machine_pools[0].cloud_credential_secret_name"
TF bits:
[code]

Terraform plan appears good, however, when I run the apply:

[code]

If I re-run the apply, things complete, but I don't think that should be required.

[2022-09-13 18:46] kspradheep commented on #891
I have used rancher cli in null_resource provisioner
`
output "cluster_id" {
  value = rancher2_cluster.imported.id
}
resource "rancher2_project" "project_namespace" {
  name       = var.namespace
  cluster_id = var.cluster_id
}

resource "null_resource" "project_namespace_assignment" {
  triggers = {
    policy_sha1      = "${sha1(file("${path.module}/scripts/k8s-rancher-namespace.sh"))}"
    ran

[2022-09-15 12:02] weiyentan commented on #993
I am a bit confused. Are you building the local rancher through terraform and changing that destroys the downstream managed clusters?  I always thought that if you have a managed rancher downstream cluster that you wouldn't need to manage by terraform and you would just manage through rancher directly....

[2022-09-15 12:09] riuvshyn commented on #993
hello, I am using `rancher2_cluster_v2` resource to provision and manage downstream rke2 clusters
and sometimes when I change annotation or label on that terraform resource and apply it, it destroys my clusters
I use terraform for gitOps so my cluster configuration is defined as code.

[2022-09-15 12:20] weiyentan commented on #993
So is terraform destroying your cluster because from what I can see its rancher that is destroying them. Does the terraform rancher rke cluster import the cluster into  rancher (is it imported?) because from what I can see based on your logs. That cluster is managed by rancher cluster management tool, hence it appears in the provisioning logs.

I thought that the terraform resource creates a separ

[2022-09-15 14:53] riuvshyn commented on #993
a bit more info I've posted there: https://github.com/rancher/rancher/issues/38833

so I am provisioning custom cluster where with terraform I create rke2 cluster in rancher and then pass join command from it to my EC2 boxes provisioned with the same terraform code.

It is hard to say if this is terraform provider destroys cluster or rancher, but what I am doing is this:
- update `rancher2_cluster

[2022-09-15 15:02] weiyentan commented on #993
What do you mean by join command?  The fact that you can see it being destroyed in the rancher ui means that it is not terraform destroying it. It's rancher. It sounds like you have joined the rke2 cluster (not quite sure how after terraform) and then when you change it through terraform, rancher fleet notices a change and then remediates the change by deleting and stands up the vm's again. Once r

[2022-09-15 15:16] riuvshyn commented on #993
join command (node command): `rancher2_cluster_v2.this.cluster_registration_token.node_command`

well that's correct it is rancher but what I mean is that it is not clear if terraform provider requested deletion or some bug in rancher caused this.

so I yeah i do not use `machine_pools`, I create rke2 clsuter with `rancher2_cluster_v2` resouorce and then join EC2 nodes to the cluster separately.
E

[2022-09-15 15:25] weiyentan commented on #993
What about trying to using terraform to import the cluster, not join it in terraform? Is there an option for that? It maybe in a race condition when using terraform.  This way when you import terraform is the only one managing the cluster not rancher.  The screenshots that you gave is rancher cluster management deleting the cluster not terraform.

If you import the terraform created cluster ranche

[2022-09-15 21:57] riuvshyn commented on #993
I think that resource `rancher2_cluster_v2` is not reliable and it doesn't matter if it is custom cluster or not, since I am able to reproduce this issue with simle lable change on that resource when it applied cluster got deleted.

[2022-09-15 22:00] weiyentan commented on #993
The thing is though the below screen shot is NOT terraform. It's rancher deleting the nodes. Terraform has nothing to do with it  ![image](https://user-images.githubusercontent.com/13774152/190516267-9f6846ab-cd2e-494e-8c86-506c2aff73c2.png)

[2022-09-15 22:11] riuvshyn commented on #993
yeah, you are right, but the change is applied via terraform, I was running tests doing the same change to the same cluster (initially provisioned by terraofrm) but via rancher http API and also via k8s `Cluster` resource and that works just fine for ~2k+ iterations which makes me believe that cluster configuration is fine but when **any** change is applied via terraform on `rancher2_cluster_v2` r

[2022-09-15 22:21] weiyentan commented on #993
Well perhaps. Perhaps there is not something in the subsequent terraform activity that causes fleet in rancher to go "hey we need to rectify a potential issue with the cluster " whereas when you interact with it via kubectl and naturally through rancher it does not. Because in this instance your build joined it to the rancher cluster which means any subsequent changes should be managed by rancher.

[2022-09-15 22:30] riuvshyn commented on #993
I should try to reproduce this with just dummy `rancher2_cluster_v2` without even nodes I have feeling it will have the same issue.

[2022-09-15 22:36] weiyentan commented on #993
Not following the logic there. What would you get if the if you have a cluster with no nodes?

[2022-09-15 22:43] riuvshyn commented on #993
Well if this issue will be reproduced that would clearly highlight that there is a bug in provider or API it uses.
obviously that is not going to be usable cluster but still is that would be expected if even dummy cluster  will be deleted after  label change?

[2022-09-15 22:50] weiyentan commented on #993
Well if the cluster is managed by rancher in that fashion and you change it via terraform it will most likely cause that error because there is a discrepancy. When you do your test make sure you  Import the downstream cluster instead.

That way rancher is managing the work loads of k8s  and not the whole kubernetes infrastructure

[2022-09-15 23:13] riuvshyn commented on #993
hmm, I am abit confused. what is the purpose then of `rancher2_cluster_v2` resource?

[2022-09-16 00:52] weiyentan commented on #993
Ok. Seems like we are getting into a bit of misunderstanding. This resource is to build a rancher app cluster or to build standalone rke2 cluster?  If it's rancher are you defining the downstream clusters in the rancher terraform resource?

[2022-09-16 08:28] riuvshyn commented on #993
I want to use `rancher2_cluster_v2` resource to build rancher managed rke2 cluster. Once the cluster is created then I am getting node-command from that resource like that `rancher2_cluster_v2.this.cluster_registration_token[0].node_command` and passing it to my EC2s in user-data so when instances gets provisioned they join the cluster.

[2022-09-17 00:39] weiyentan commented on #993
Ok. I am looking at the example in the resource at

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2

I can see that is adding as a cluster for rancher to manage not to import based on this block:

[code]

That means you are adding it for terraform to do the initial add but once it is built by right because rancher fleet is managing it any changes outside r

[2022-09-19 05:46] Martin-Weiss commented on #993
@weiyentan - where do you see that this resource is in tech preview? I thought this is GA since a while?

[2022-09-19 05:50] weiyentan commented on #993
Provides a Rancher v2 Cluster v2 resource. This can be used to create RKE2 and K3S Clusters for Rancher v2 environments and retrieve their information. This resource is supported as tech preview from Rancher v2.6.0 and above.

In the url

[2022-09-19 05:51] Martin-Weiss commented on #993
This seems to be outdated information. RKE2 provisioning is GA since a long time.. I believe with 2.6.3 it got GA. Just K3S seems to be tech preview, still.

[2022-09-19 06:04] weiyentan commented on #993
That's good to know. The race condition still remains. Rancher cluster management is still recreating  the cluster when terraform makes subsequent changes. My main point was that once the cluster is managed by rancher, only manage it by rancher.

I have clusters that are managed by ansible and terraform and in those cases I import the cluster into rancher. I don't get the issue of rancher recreati

[2022-09-19 08:37] riuvshyn commented on #993
@weiyentan

`machine_pools` is supposed to be optional as per documentation:
[machine_pools](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2#machine_pools) - (Optional/Computed) Cluster V2 machine pools (list)

So my expectation is that it must respect machines added to the cluster outside of terraform `rancher2_cluster_v2` resource and that is why I have

[2022-09-19 20:15] a-blender commented on #908
## Test plan

The author of PR https://github.com/rancher/terraform-provider-rancher2/pull/909 has been using the tf rancher2 changes in production for a few months without any issue. He's been testing on an rke cluster with kubernetes 1.23.6 so I would test this on a k8s 1.24 cluster to make sure that works. If QA has low bandwidth this issue can be closed.

Steps

- [ ] Provision an RKE cluster

[2022-09-19 20:55] mattfarina commented on #895
We'll look in to this.

[2022-09-20 03:14] jakefhyde commented on #993
@riuvshyn Can you attach a portion of your terraform files, specifically how you are defining your `rancher2_cluster_v2` resource, and the modifications you are making to it (both in and out of terraform)? I've modified the `additional_manifest` section of a custom cluster 5 times now, and I haven't been able to reproduce this so far. Additionally, custom clusters (and imported clusters) do not us

[2022-09-20 04:05] jakefhyde commented on #867
Ran into this with an rke2 cluster while debugging https://github.com/rancher/terraform-provider-rancher2/issues/993.

[2022-09-20 09:00] riuvshyn commented on #993
@jakefhyde thanks for looking in to this. Sometimes it takes up to 20 iterations or more to reproduce.

here is my  `rancher2_cluster_v2`:

I've dropped `additional_manifest ` as I was able to reproduce this issue with just changing labels with something like this:
[code]
so each iteration it gets new value.

I am not 100% sure it is actually wants to delete cluster object so not sure if this can

[2022-09-20 22:13] jakefhyde commented on #993
@riuvshyn Thanks for updating, are there any other modifications you're making/have made to the cluster within rancher that are not reflect/were not applied within terraform? I've created a cluster with the following labels:
[code]
and set it up to continuously terraform apply, after ~200 attempts I haven't been able to reproduce the issue.

[2022-09-20 22:47] jakefhyde opened #998 "[release/v2.7] [BUG] Occasionally RKE2 cluster gets destroyed after cluster configuration is changed using terraform provider"
Forwardport of https://github.com/rancher/terraform-provider-rancher2/issues/993

**Rancher Server Setup**
- Rancher version: 2.6.8
- Installation option (Docker install/Helm Chart):
   - installed as helm chart
   - running on k3s 1.24.4
- Proxy/Cert Details: N/A

**Information about the Cluster**
- Kubernetes version: 1.23.9
- Cluster Type Downstream:
   - Custom `RKE2 	v1.23.9+rke2r1`  running

[2022-09-21 11:14] riuvshyn commented on #993
@jakefhyde nope, that was enough for me to reproduce it.
do you have machines in your cluster? It might be related to the fact that I am not using `machine_pools` and my nodes join cluster with nodeCommand

I am not sure if it is actually deleting cluster but it wanted to kill all machines, and then stuck on the bootstrap node which was in deleting state but I guess blocked by finalizer.

[2022-09-21 16:55] HarrisonWAffel commented on #943
This issue can be tested with the latest terraform release. This change is related to https://github.com/rancher/rancher/issues/37943#event-7066651715, but does not require the IMDSv2 AWS policy to be enabled on your IAM user as this change relates to node templates.

1. Create a new `.tf` file for a cluster on AWS
2. When defining the `amazonec2_config` block ensure that you add both the `http_en

[2022-09-21 21:19] Josh-Diamond commented on #943
Ticket #943 - Test Results - ✅
---

With Docker on a single-node instance:

Verified with rancher2 provider `v1.24.1` on rancher `v2.7-bb9012ee0e66196136403d026b9e38c757c06c8c-head`:
1. Fresh install of rancher `v2.7-head`
2. Using TF, provision RKE1 AWS Node driver cluster w/ `http_endpoint="enabled"` and `http_tokens="required"` for Node Template resource
3. Verified - TF plan accepts `http_endp

[2022-09-21 21:19] #943 closed, assigned to HarrisonWAffel, Josh-Diamond

[2022-09-22 16:19] fstarkenberg commented on #954
I just ran into this bug but managed to work around it by passing an empty string to the cloud credential:
[code]

[2022-09-22 17:00] juliano-secondo commented on #834
I got the same issue
I got the log from EKS operator when it tried to remove it and decode error message.

"DecodedMessage": "{"allowed":false,"explicitDeny":false,"matchedStatements":{"items":[]},"failures":{"items":[]},"context":{"principal":{"id":"xxxxxx","name":"rancher-user","arn":"arn:aws:iam::00000:user/rancher-user"},"action":"ec2:DeleteLaunchTemplate","resource":"arn:aws:ec2:us-east-2:000

[2022-09-22 17:54] jakefhyde commented on #993
@riuvshyn I was using a custom cluster as well. From what I can tell in the Rancher UI screenshot you shared, the cluster itself isn't being deleted since it still says active, but it does look like the machines were being destroyed. I think that there is probably more at play here, does this only happen with AWS ASGs?

[2022-09-22 23:15] euven commented on #1390
Seeing this too - it's causing headaches, because it's causing unnecessary dependent resource updates too.

[2022-09-23 08:27] riuvshyn commented on #993
@jakefhyde yeah... I never got cluster deleted as it was never deleted the bootstrap machine for some reason it got stuck on it.
however in rancher logs every time I saw this:
[code]

I don't know for sure if that is clear indication that it is actually about to delete cluster or not...

re ASGs, yes that is the only configuration I have and I have never tried to use anything else. Just to make it

[2022-09-27 08:34] bashofmann opened #999 "[Docs] AKS v2 and RKE2 provisioning is still marked as tech preview"
AKS v2 provisioning and RKE2 cluster provisioning have been GA for quite a while in Rancher. The terraform provider docs still document them as "tech preview".

[2022-09-28 06:56] sdryga commented on #995
Hi!
Please comment on this issie, problem is still active.
Thanks!

[2022-09-28 09:55] riuvshyn commented on #993
UPD: sometimes it is really hard to reproduce, yesterday I wanted to reproduce this issue again and that didn't happen for ~1k iterations and today I have tried it again and it took ~50 iterations to reproduce...
I don't know if that is related or not but I have added 100 ConfigMap objects in `additional_manifest` and each iteration they got new random names. This looks like some weird race condit

[2022-09-28 16:50] izaac commented on #835
As workaround I tried this and worked. Create a cloud credential and then grab the cloud credential id using a data block.

Example:
[code]

[code]

Then use `data.rancher2_cloud_credential.rancher2_cloud_credential.id` in `rancher2_cluster_v2` machine configs.

Note: this only work having the cloud credential created beforehand it seems

[2022-09-29 12:03] riuvshyn commented on #993
@jakefhyde I think I finally figured out how to reproduce it...
Recently on one of the rancher env setups I wasn't able to reproduce this issue at all, which was very confusing because few days before It was definitely happening there. So then I've noticed that this cluster that hosts rancher was re-provisioned and it is in kind of "fresh" state. I've also checked that on previous iteration of tha

[2022-09-29 13:35] anoldguy commented on #996
Duplicate of #835

[2022-09-29 13:35] #996 closed, assigned to nobody

[2022-10-05 20:35] burgerjeffrey commented on #901
@romanromanovv Were you able to ever resolve this, and if so, how did you do it?

[2022-10-10 16:24] a-blender commented on #937
Customer was seeing the same issue on both 2.6.3 and 2.6.4, but @ryanelliottsmith was unable to repro in his lab env and thinks it could be load related. Customer has since migrated to imported clusters and is no longer having an issue. This can be closed now.

[2022-10-10 16:25] #937 closed, assigned to a-blender

[2022-10-11 07:46] riuvshyn commented on #993
@jakefhyde any luck with reproducing it? 🙏🏽

[2022-10-12 14:39] tulanian opened #1003 "Intermittently imports of EKS clusters never finish"
**Versions**
- Rancher version: 2.6.8
- Rancher Terraform provider: 1.24.0
- Terraform: 1.2.2

**Information about the Cluster**
- Kubernetes version: 1.21
- Cluster Type (Local/Downstream): Downstream
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Hosted/Infrastructure Provider): Hosted EKS

**Describe the bug**

Sometimes importing an EKS cluster will never co

[2022-10-12 16:34] #999 closed, assigned to nobody

[2022-10-13 02:33] ns-jsattler commented on #895
I am also seeing this with imported GKE clusters with other fields getting updated.  In our case we are trying to update `google_credential_secret`

[2022-10-13 06:56] ghost commented on #1003
Hi,

Same here, same error. Importing a new EKS cluster v1.23.10-eks-15b7512 via Terraform.

- Rancher 2.6.8
- Terraform cli 1.3.2
- rancher2 provider v1.24.1

Local Rancher cluster v1.24.4+k3s1

- While TF is waiting (Still creating...[XmXs elapsed]) the cluster is imported successfully in the Rancher console and you can even manage it. Provider is not aware that the cluster import is ready someh

[2022-10-14 06:36] son-la commented on #662
I'm still seeing this issue with TF 1.3.2 and rancher provider 1.24.1.

[2022-10-14 11:55] justdan96 commented on #895
@mattfarina Any update on this?

[2022-10-14 12:09] michael-goe commented on #895
+1 interested in resolution as this is a blocker for us with many clusters/labels

[2022-10-15 09:34] strowi opened #1004 "rancher2_catalog - repo not showing up"
Hi,

i tried adding a global helm-chart repo to rancher-2.6.2 with v1.24.1 of this provider, but it won't show up in any cluster:

[code]

Terraform finishes successfully and i can see resource being created in the rancher-cluster:

[code]

But the repository never shows up in the rancher-ui. Also tried different repositories but no succes..

regards,
strowi

[2022-10-17 05:22] papanito opened #1005 "project_monitoring_input is planned to be removed on every plan, but not really removed"
We have some clusters which were created using Monitoring v1 and project monitoring. We removed this a while ago and went to monitoring v2. In the Rancher UI we removed everything related to monitoring v1. We also imported all clusters into terraform. The problem we have now, is that for every plan we can see, that TF want's to remove `project_monitoring_input`

[code]

`tf apply` is fine, but the

[2022-10-17 11:24] papanito opened #1006 "Unable to remove pod_security_policy from projects"
Removing psp seems easy, by just disabling the psp in the cluster config.

[code]

And then remove the [pod_security_policy_template_id](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project#pod_security_policy_template_id) of each project. However this does not work and leads to errors when making changes to the projects (e.g. increasing the storage limits):

[cod

[2022-10-17 13:07] Heiko-san commented on #976
Same issue here.
It seems to be a bug in the terraform provider (?) since:

- https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/machine_config_v2 clearly states: `Note: labels and node_taints will be applied to nodes deployed using the Machine Config V2`
- If I use the `labels` property of `machine_config_v2`, the node-label section in GUI will be empty, if I edit the

[2022-10-17 13:09] Martin-Weiss commented on #976
Not sure - but maybe this will fix this challenge https://github.com/rancher/terraform-provider-rancher2/pull/951

[2022-10-17 13:11] Heiko-san commented on #949
As far as I can tell from https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/machine_config_v2 (Note: labels and node_taints will be applied to nodes deployed using the Machine Config V2) you are supposed to set node-labels via the machine_config_v2 .
But there seems to be a bug preventing you from doing so, see issue https://github.com/rancher/terraform-provider-ranche

[2022-10-17 13:16] Heiko-san commented on #976
Thanks, this one was just the first issue I found on the topic. Seems there are many, I also found #949, I think it is also related.
However I think this is really a major bug, since many solutions depend on node labels and the bug is actually preventing you from using terraform / switch to rke2.

PS (not really related to the issue): Will there also be some kind of migration path to migrate terra

[2022-10-17 22:29] jakefhyde commented on #867
Closing as duplicated of https://github.com/rancher/terraform-provider-rancher2/issues/1098

[2022-10-17 22:29] #867 closed, assigned to jakefhyde

[2022-10-17 23:26] a-blender commented on #969
Dev-validated on rancher `v2.7-head`

- [x] RKE1 EC2 cluster via terraform, no AMI - rancher defaults to docker 20.10
- [x]  RKE1 EC2 cluster via terraform, AMI eli-kube-dock-server ami-0e3c799b78951f41b - rancher installs docker 20.10 on the nodes
- [x]  RKE1 EC2 cluster via terraform, no AMI, `engine_install_url = https://releases.rancher.com/install-docker/20.10.9.sh` - rancher installs docker

[2022-10-17 23:36] #969 closed, assigned to a-blender, Josh-Diamond

[2022-10-18 14:45] HarrisonWAffel commented on #949
#951 was merged yesterday, so this issue can be tested with the latest commit of the provider.

Test steps:

1. Create a new `.tf` file for an RKE2 cluster on any cloud provider
2. When defining the `machine-pool` set a value for both the `labels` and `machine_labels` fields, the exact value is not important
3. Bring the cluster up, and import it into Rancher
   a. This is just done to make inspec

[2022-10-19 09:05] takoine opened #1007 "Assignment of AD groups on bootstrap"
I would like to assign a AD group in Rancher so that after bootstrap i don't need to manually assign a group and respective global role name. Looking at the docs i couldn't find a way to do it without using some other LDAP provider.

[2022-10-20 11:06] jocelynthode commented on #908
@annablender Hey Anna, do you have an ETA on when this feature will make it to a new version?

[2022-10-20 15:48] a-blender commented on #908
@jocelynthode Hello! The tf rancher2 provider v1.24.2 will be released tomorrow or early next week, 'out of band' from rancher but closest to rancher 2.6.9.

[2022-10-20 15:50] jocelynthode commented on #908
Great thanks for the feedback :)

[2022-10-21 18:43] #465 closed, assigned to nobody

[2022-10-21 22:46] testuser2157 opened #1008 "Error with Terraform import - Rancher is not ready: <nil>"
A few weeks ago we created a cluster using terraform:
**Terraform configuration:**
[code]

For some reason, we need to move this cluster's configuration to another workspace, so we decided to use the `Terraform import`:

`terraform  import rancher2_cluster.cluster "our_cluster_id"
`

after a few minutes we got the following error:

**Terraform Import Error:**

` Error: Rancher is not ready: <nil>

[2022-10-23 01:06] DillonN opened #1009 "No way to configure vmAffinity for Harvester clusters"
Maybe I'm missing the config somewhere, but I've looked all over and can't find a way to configure node scheduling rules for Harvester deployments. Here's a screenshot from the UI of what I'm trying to configure:

<img width="1744" alt="image" src="https://user-images.githubusercontent.com/5328577/197367874-83ce2c5c-e088-4f3b-87c0-1562eed7a416.png">

I was expecting to find a spot to configure thi

[2022-10-24 10:33] chfrank-cgn commented on #835
Still in version 1.24.2 when creating RKE2 downstream clusters on Azure:

Looking at #878, I don't believe that it will fix both plan inconsistencies

[2022-10-24 17:24] burgerjeffrey opened #1011 "rancher2_cluster errors when using 1.24.2 as admission_configurations is changed from a map to a list"
Unable to run `terraform plan/apply/destroy` for any resource that has rancher2_cluster as a dependency for rancher2_cluster using terraform provider 1.24.2.  rancher2_cluster resource was created using 1.24.1 provider.

Error message from a `terraform plan/apply/destroy:`

`Error: missing expected [`

When I compared terraform states for the rancher2_cluster resource, this popped out to me:
`"adm

[2022-10-25 09:19] riuvshyn commented on #993
@jakefhyde I have an update on this one:
I believe that this is rancher backup/restore operator causing this. Sometimes when I perform rancher restore operation I am hitting errors like that:
[code]

And that is happening I believe because rancher backup / restore operator is supposed to scale down rancher before doing actual restore and it is doing that
[code]

but it doesn't wait for it to actua

[2022-10-25 19:06] richard-mck commented on #1011
I'm seeing this same error in CI/CD using gitlab with pipelines that were previously working.

Downgrading to 1.24.1 resolves the issue on my side.

[2022-10-26 00:45] OA72280 commented on #816
Hi! Regarding rancher2 and Terraform"

When using the terraform destroy  command, it removed only a portion of the k8s cluster in rancher, resulting in an 500 error. Requires my needing to manually delete the cluster in the Rancher UI and re-run the TF destroy command.

Error: Bad response statusCode [500]. Status [500 Internal Server Error] Body: [baseType=error, code=ServerError, message=Get "10

[2022-10-26 05:13] ajchiarello commented on #1011
I'm also seeing this error, and downgrading to 1.24.1 also worked.

[2022-10-26 10:47] SebastiaanBASF commented on #1011
Same error here

[2022-10-26 21:15] eliyamlevy commented on #736
From the article linked to this issue, it seems that the current workaround is to import the resource into your current terraform state if this happens. See [this page](https://support.hashicorp.com/hc/en-us/articles/360061289934) for more info on that.

It seems the issue has to do with not being able to keep up with the terraform state on the backend. The only solution provided by Hashicorp, and

[2022-10-27 14:57] PentheusLennuye opened #1015 "v1.24.2 services{kube_api{}} parse failure looking for an open bracket"
Good morning and my compliments on your team for your fine work!

In v1.24.1 and earlier, the following code works perfectly well (identifying info xxxx'd and yyyy'd out), but in v1.24.2, we get the following error on line 19 (kube_api {)": **Error: missing expected [**. Is this a new bug or has the code been wrong all this time and we finally got nailed?

[code]

[2022-10-27 15:12] bkonick commented on #1015
Seems suspiciously similar to https://github.com/rancher/terraform-provider-rancher2/issues/1011

[2022-10-27 15:13] PentheusLennuye commented on #1015
It does. I'll close this ticket in deference to 1011, which I missed. Tx.

[2022-10-27 15:13] #1015 closed, assigned to nobody

[2022-10-27 20:52] sho34215 opened #1016 "Can't setup NUMA awareness with rancher2_cluster -> kubelet -> reserved-memory"
Hello team,

I have an issue to setup NUMA awareness on using module rancher2_cluster .

I use following version:

-       source  = "rancher/rancher2"
-       version = "1.23.0"

If I set
[code]

Then run terraform apply on a target machine, kubelet starts correctly.

Thus if I want to split reserved-memory into 2 NUMA node:

[code]
Then run terraform apply on a target machine, kubelet failed to

[2022-10-28 06:54] strowi opened #1018 "cluster driver always being reset on imported k3s"
Hi,

i created a k3s-cluster outside of rancher with terraform.
Then i imported the cluster via:

[code]
Something seems to be either not working or being reset, because  on subsequent runs of terraform will always change the driver:

[code]

regards,
strowi

[2022-10-31 12:58] Typositoire commented on #1011
Hitting the same issue and this also fixed it for us.

[2022-11-01 17:37] pneigel-ca commented on #736
@eliyamlevy thanks for your response. I have updated our enterprise support request with my response, but I'd like to share this image here in-context.

When we observe the issue in our deployments, using DEBUG level output, the provider mentions that it receives a response that the app was not found. We are not currently using any retry configuration in the provider.

In this case, do you still t

[2022-11-01 17:51] pneigel-ca commented on #736
Since we identified a workaround (recreate resources), the problem has been a bit off of my radar. The issue has certainly become less prevalent after checking with our users and teams. It used to happen frequently, almost every other day. In the last 6 months, it's happened a dozen times or less, and we're doing more deployments than before using rancher/terraform.

Here are the versions we're us

[2022-11-01 18:57] tonybaltazar opened #1019 "cluster aks_config_v2 OutboundType support"
Hello,

It appears that the `rancher2_cluster` `aks_config_v2` config does not support setting a custom networking `OutboundType`.

By default, egress in AKS is done via an Azure Load Balancer, however it's possible to change this behavior to a User Defined Route approach. This is in case certain environments need to have all their egress traffic go through some sort of custom firewall network app

[2022-11-02 14:05] tulanian commented on #1003
Still experiencing this. Anyone?

[2022-11-03 12:18] elixxx commented on #1011
Hitting the same issue, for now a downgrade to 1.24.1 solve the issue

[2022-11-03 17:19] artiotest opened #1020 "Terraform rancher2 failed plan: Error: missing expected ["
Without make any changes Terraform rancher2 plugin failed with the following error:

module.rke.null_resource.delay: Refreshing state... [id=2920492733094079458]
module.rke.random_id.instance_id: Refreshing state... [id=ywnH]
module.rke.rancher2_node_template.worker_template_co: Refreshing state... [id=cattle-global-nt:nt-mbfzw]
module.rke.rancher2_node_template.control_plane_template_co: Refreshi

[2022-11-03 19:05] eliyamlevy commented on #736
@pneigel-ca Hmm.... that is weird. The error is not really descriptive so its hard to debug. Is there any way you can check the logs on the rancher server from the actual deployments? Does the app get deployed still or is it just not present in the terraform state?

As far as timeout values and helm provider, the charts sometimes take some time to deploy and it could be that the helm provider has

[2022-11-03 20:32] git-ival commented on #1020
Possibly related to the following issue: https://github.com/rancher/terraform-provider-rancher2/issues/1011

[2022-11-04 10:39] strowi opened #1022 "Get a list of all clusters?"
Hi,

i can see the "rancher_cluster(_v2)" data provider, but both require the specific name. Is there a way to get a list of all cluster (e.g. by label, filter..) that are registerd with a rancher-instance?

regards,
strowi

[2022-11-04 11:55] papanito commented on #1005
anyone?

[2022-11-07 06:22] futuretea commented on #862
Track in https://github.com/harvester/harvester/issues/1797

[2022-11-07 08:02] gchait commented on #800
@annablender
Hey, I think this happened to me not only with node groups, but also with arbitrary changes to the cluster's endpoint access and logging, with `EndpointAccessUpdate` and `LoggingUpdate`, while not specified in the resource.
As of the latest provider and Rancher versions, does this still happen?

Generally, I think everyone who imports clusters doesn't expect them to be changed in any

[2022-11-08 14:56] a-blender commented on #800
Hello all,

This issue https://github.com/rancher/rancher/issues/36128 was fixed on rancher `v2.6.4` and up. It was not back ported into rancher v2.5. @juanpciceri If you could try upgrading rancher, this may solve your issue. @jia3apb Are you still seeing this problem as well when provisioning with Terraform?

@gchait Noted. It should not, but if you are still seeing the same issue I can dev-vali

[2022-11-08 17:30] HarrisonWAffel commented on #908
@jocelynthode unfortunately we need to revert the changes made in your PR as the schema changes have prevented other users from upgrading their provider version. Apologies for this, this was an oversight on my part. We feel it is a better course of action to reestablish the old format of the field than require existing users to migrate their terraform configurations.

[2022-11-08 17:56] HarrisonWAffel commented on #1011
Hello everyone, my sincere apologies for this issue. The PR introducing this schema change will be reverted and the next release will not encounter this problem. Until then it is suggested that you continue to use v1.24.1 if you have defined the `admission_configuration` field for your cluster, and upgrade directly to v1.24.3 when it is available. The documentation for v1.24.2 will be updated to m

[2022-11-09 06:47] jocelynthode commented on #908
@HarrisonWAffel That's an unfortunate turn of events. Is there a way to get this implemented in another way? This is really blocking on our side and I feel like the provider should give us the possibility to configure `AdmissionConfiguration` anyway.

[2022-11-09 16:15] HarrisonWAffel commented on #908
There currently is a way to configure admission configurations, it's just that the field is not a structured resource and is just a simple map. I thought that in #909 you noted that it was possible to use the field, but required casting to do so?

[2022-11-09 16:54] raelix commented on #841
up

[2022-11-09 17:45] jocelynthode commented on #908
Pardon me it's been a few months .I think I was referring to the fact that the k8s golang package this making me do a lot of typecast in my pr.

[2022-11-10 01:17] chsk-code opened #1027 "data source rancher2_principal [ERROR] principal "ad-group-readonly" of type "group" not found"
I am trying to automate below configuration using terraform rancher resources.
* Boostrap admin user
* Auth Config ActiveDirectory
* Global Role Binding

I am able to bootstrap, use alias provider config, enable auth active directory. However I am also trying to assign global membership which is not working.

Below are my tf files.
`backend.tf`
[code]
`provider.tf`
[code]
`main.tf`
[code]

ERROR:

[2022-11-10 20:59] gregsidelinger opened #1028 "RKE2 mirror endpoints get sorted"
The provider is sorting the list of mirror end points I provide taking away my ability to decide on the order mirrors should be tried in.

[2022-11-11 10:53] neilclark-bgn opened #1030 "PCI Devices on vSphere"
Hello,

We're running a couple of RKE2 clusters, managed via Rancher server using Terraform.

We have some GPUs in those clusters, which currently get added to nodes manually. Once we provision nodes via Terraform, we power them down, add the GPU, then power them back up again.

I am wondering if it is possible to add PCI devices to vSphere VMs via the Rancher2 terraform provider? If not, is this

[2022-11-14 22:12] Josh-Diamond commented on #993
self-assigned this issue, as I was tasked w/ forwardport #998

[2022-11-15 11:04] strowi commented on #840
`1.23.0` still happening with an imported cluster.
Adding the following removes the change as a workaround:

[code]

[2022-11-15 20:10] stormqueen1990 opened #1031 "[BUG] rancher2_app_v2 resource does not seem to process name and namespace fields"
### Problem

When deploying an application with the `rancher_app_v2` resource, the `name` and `namespace` fields are always defaulted.

Sample resource:
[code]

Sample Terraform plan output on first apply:
[code]

Output from `terraform show` after apply:
[code]

Sample diff output from Terraform plan after first apply:
[code]

This causes a deletion and new creation to happen, but never really ap

[2022-11-17 18:17] MKlimuszka commented on #736
The reporter has not seen the problem in some time, we will be closing this request.

[2022-11-17 18:17] #736 closed, assigned to stormqueen1990, eliyamlevy

[2022-11-23 07:43] Feixu2015 opened #1036 "document display error"
# Link
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#import
# Image
![image](https://user-images.githubusercontent.com/11504549/203494034-55297f09-f21f-41ba-91eb-68c6475dcad0.png)
# Expect
display in normal

[2022-11-23 08:04] rajan2 opened #1037 "Standard User cannot import existing AKS cluster using terraform/rancher cli but works in UI"
- Rancher version: 2.6.9

Cannot import existing AKS cluster into rancher using "Standard-User" global role using terraform provider or via rancher cli. However import is possible via web UI.

**To Reproduce**
1.  Provision AKS cluster
2. Create local user in rancher with "standard user" global permission
3. Import the cluster via terraform or using cli

**Result**
`│ Error: Bad response statusCod

[2022-11-23 20:55] zach-mitchell-rtx opened #1038 "data blocks get 401 when using bootstrap admin auth token"
Ran into some issues using the Terraform Rancher2 provider to get the kube_config of an existing cluster. We need to use the `data.rancher2_cluster_v2` resource to get the `kube_config` from the cluster in question. But it appears every time we try to use a data resource the rancher server gives a 401 unauthorized.

We have tried a handful of data sources and each time it receivers a 401, on the o

[2022-11-24 13:32] rmammadli opened #1039 "[rancher2_cluster_v2] Dual-Stack Configuration"
Hi,

Is there a way to configure dual-stack for rke2 / k3s cluster using rancher2_cluster_v2 resource?

https://docs.rke2.io/install/network_options/#dual-stack-configuration

To be more precise, how the '**node-ip**' setting / option can be configured in **rke_config**?

Currently we are using '**machine_global_config**' to pass rke2 server configuration options as yaml.

[2022-11-25 17:59] Josh-Diamond commented on #1022
One option would be to send a GET request - [as admin] - to `<host_url>/v3/cluster/`.  The payload will contain a `data` key, which will point to a list of all the clusters on the rancher instance, including `local`.  Further filtering could always be applied.

[2022-11-25 21:38] tbernacchi commented on #1003
[SURE-5616]

[2022-11-28 09:38] nickvth opened #1040 "Error when upgrading cluster with terraform"
Error when upgrading cluster

Error: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [code=ServerError, message=Operation cannot be fulfilled on clusters.management.cattle.io "c-mhjrs": the object has been modified; please apply your changes to the latest version and try again, baseType=error]

resource "rancher2_cluster"

provider version 1.24.0

SURE-5634

[2022-11-28 12:00] nickvth commented on #1040
I thought it was fixed, but still occur

[2022-11-28 17:15] HarrisonWAffel commented on #1011
The change which introduced this issue has been reverted and v1.25.0 should no longer encounter this issue.

[2022-11-28 17:16] #1011 closed, assigned to HarrisonWAffel

[2022-11-28 18:39] Josh-Diamond commented on #949
Ticket #949 - Test Results - ✅
---

With Docker on a single-node instance, using terraform rancher2 provider `v1.25.0`:

Verified on rancher `v2.7.0`:
1. Fresh install of rancher `v2.7.0`
2. Using `main.tf` below, provision requested RKE2 infrastructure w/ both `labels` and `machine_labels` defined in `machine_pools` resource block
[code]
3. Verified - TF plan accurately reflects requested `labels

[2022-11-28 18:39] #949 closed, assigned to HarrisonWAffel, Josh-Diamond