[2021-05-06 19:23] #652 closed, assigned to nobody

[2021-05-06 19:42] rawmind0 commented on #647
GKE PR has been updated to use Rancher v2.5.8.

@aaronRancher , it's ready to be tested. I've tested it successfully importing and creating new clusters . You can find tfp binaries to be tested and config details in this comment https://github.com/rancher/terraform-provider-rancher2/pull/621#issuecomment-833806210

There is a know limitation, routed-based GKE clusters are not supported due to issu

[2021-05-06 19:46] rawmind0 commented on #648
@cbron @aaronRancher , last patched tfp binaries, fixing GKE and EKS imported cluster can be found here https://github.com/rancher/terraform-provider-rancher2/pull/621#issuecomment-833806210

[2021-05-06 22:46] aaronyeeski commented on #648
Tested on Rancher `master-head` `version 70ba0d5` with these tf binaries https://github.com/rancher/terraform-provider-rancher2/pull/621#issuecomment-833806210.

Imported a private GKE cluster with the following tf code:
[code]
Cluster nodes remain private in GKE upstream spec:
[code]

Imported a private EKS cluster with the following tf code:
[code]
EKS cluster remains private in upstream spec:
[

[2021-05-06 23:26] #648 closed, assigned to rawmind0, aaronyeeski

[2021-05-06 23:30] aaronyeeski commented on #647
Tested on Rancher `master-head` `version 70ba0d5`

Was able to provision a GKE cluster using the following terraform config:
[code]

Was able to provide blank fields for `cluster_ipv4_cidr_block`, `logging_service`, `monitoring_service`, `maintenance_window`, `network` and `subnetwork`
`kubernetes_version` cannot be set to an empty string, but this is expected as per this comment: https://github.c

[2021-05-07 00:23] aaronyeeski commented on #647
Was able to import a GKE cluster with the following tf config:
[code]

[2021-05-07 00:23] #647 closed, assigned to rawmind0, aaronyeeski

[2021-05-07 14:11] rawmind0 commented on #635
The feature is available at tfp v1.14.0

[2021-05-07 14:11] #635 closed, assigned to rawmind0

[2021-05-07 14:12] rawmind0 commented on #627
The fix is available at tfp v1.14.0

[2021-05-07 14:12] #627 closed, assigned to rawmind0

[2021-05-07 14:12] rawmind0 commented on #633
The fix is available at tfp v1.14.0

[2021-05-07 14:12] #633 closed, assigned to rawmind0

[2021-05-08 05:50] Jasstkn opened #654 "additionalKey missing in hetzner_config in the terraform resource: rancher2_node_template"
Hi! I wonder why additionalKey parameter is missing from rancher2_node_template in terraform? I can choose keys via UI and I can't provide them using terraform.

[2021-05-08 11:46] aleksmova commented on #631
I have the same issue. Are there any solutions?

[2021-05-08 19:52] #649 closed, assigned to nobody

[2021-05-08 19:55] rawmind0 commented on #654
@Jasstkn , what `additionalKey` parameter do you mean?? What are you trying to do?? You can provide cloud credentials to node_templates, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#cloud_credential_id

[2021-05-08 20:16] Jasstkn commented on #654
@rawmind0 hi!
I'm trying to pass ssh public keys to those VMs. I can see such option via UI in the node template with Hetzner API:
<img width="255" alt="Screenshot 2021-05-08 at 23 13 09" src="https://user-images.githubusercontent.com/20466436/117552268-f5a57400-b052-11eb-8b12-c552e9cb5df9.png">

When I click them in the UI and check API configuration. Here is the output:
[code]

[2021-05-10 11:07] rule88 opened #655 "rke_config in rancher2_cluster resource for custom provider seems useless"
It is hard to figure out that apparently rancher2_cluster does not provision hosts when using the "custom" provider, despite configurations imply it will.

Documentation is also not clear about this. Especially arguments like `bastion_host` and `ssh_agent_auth` do suggest provisioning nodes with RKE (as what RKE is built for) is possible.

[2021-05-10 11:16] rule88 commented on #655
To elaborate, we would like to provision new `child` clusters on top of `custom` machines. We assumed it would be possible to use the `rke_config` attribute in the `rancher2_cluster` resource for this as the `parent` cluster is also provisioned with rke (using tf module rancher/rke).

Is there any automation in this case possible other than fetching a token from the `rancher2_cluster` resource and

[2021-05-10 11:21] rawmind0 commented on #655
Custom `rancher2_cluster` is not deploying any node nor imply it, same behaviour as got from Rancher UI. [Rancher doc custom nodes](https://rancher.com/docs/rancher/v2.0-v2.4/en/cluster-provisioning/rke-clusters/custom-nodes/) is also explaining it. Custom cluster is assuming nodes are already deployed, so once the cluster is created, [`node_command`](https://registry.terraform.io/providers/ranche

[2021-05-10 11:30] rule88 commented on #655
It does imply deploying k8s using RKE. The confusion is RKE itself, as with RKE you normally deploy RKE on existing machines (machines are ready and only awaiting the initial docker command).

Using the RKE TF module (also provided by rancher), the same attributes are accepted and this module **does** deploy k8s to the provided list of hosts.

[2021-05-10 11:36] Jasstkn opened #656 "[hetzner] rancher2_node_template ignores "networks""
Hi!

I've noticed that if I pass "networks" as string value to rancher2_node_template, it's ignored.

I'm not sure but maybe problem is in the mismatch of types [here](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_node_template_hetzner.go#L18)([]string) and [here](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_node_template_h

[2021-05-10 12:31] rawmind0 commented on #655
Rancher2 and RKE works different at this point, so the tf providers are working different. RKE is connecting by ssh to nodes to run the needed components, Rancher2 instead is just providing the command and you need to execute it in yous nodes and they will connect to Rancher.

[2021-05-10 12:46] rawmind0 commented on #656
This shouldn't be an issue, it's properly adapted in the [expander](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/structure_node_template_hetzner.go#L72) and the [flatten](https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/structure_node_template_hetzner.go#L30)

cc: @alexzimmer96

[2021-05-10 12:49] rawmind0 commented on #654
@Jasstkn ,got it, thanks for the clarification. Not it seems this field is not added to the provider, cc: @alexzimmer96

[2021-05-10 12:54] rawmind0 commented on #631
It seems json tag is not properly set at Hetzner node template schema,
https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_node_template_hetzner.go#L19

I guess it should be:
[code]

cc: @alexzimmer96

[2021-05-10 12:55] #615 closed, assigned to nobody

[2021-05-10 14:12] rule88 commented on #655
How would you advice to, idempotent, use rancher2 (as we would like to have the cluster managed with Rancher) and have the ability to create `custom` clusters?

[2021-05-10 14:21] rawmind0 commented on #655
@rule88, don't fully understanding the question . The use of the `rancher2_cluster` is idempotent, and the ability to create `custom` clusters is already there as mentioned before.

So, create `rancher2_cluster` with custom config (rke_config), once cluster is created (provisioning state) get the `rancher2_cluster.cluster_registration_token.0.node_command` and execute it on nodes, adding proper k8

[2021-05-10 14:27] rule88 commented on #655
This is where my concern is regarding idempotent provisioning/deploying, who or what knows the actual state of that machine? Terraform will either always run that command on the host or only once when the resource is created. Both approaches have no guarantee that the node _is_ successfully registered in the end.

[2021-05-10 14:28] rule88 commented on #655
It just would be a very nice feature if the rancher2_cluster, with it's rke_config, had the ability to ssh to the host and provision the host, as only the rancher2_cluster is aware of machine's state in rancher.

[2021-05-10 14:43] rawmind0 commented on #655
@rule88 Rancher2 is NOT going to ssh any node if using custom config, this is the same behaviour as at Rancher UI. The ssh and the execution of the node_command has to be done "outside" this tf provider, manual or automated. Custom cluster is not taking care of the nodes provision/config, it's assuming nodes are already deployed/maintained outside .

As mentioned, this can be done using node_templ

[2021-05-10 14:48] rule88 commented on #655
@rawmind0 I understand it won't be Rancher2 itself that should loginover ssh itself, it must be terraform that should be doing this. The references in the [doc's](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#rke_config) regarding ssh (e.g. [bastion_host](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#bastion_host), [

[2021-05-10 15:10] rawmind0 commented on #655
May be docs could be more clear on that, but again, custom clusters are not taking into account `nodes`, `bastion_host`, `ssh_agent_auth`, etc... The behaviour is the same than in Rancher2 ui, where you can't neither provide these parameters. You may ssh/config host using other terraform providers/modules if you prefer, but the Rancher2 tf provider is not doing it, as custom clusters are not getti

[2021-05-10 15:21] rawmind0 commented on #655
This was also discussed at https://github.com/rancher/terraform-provider-rancher2/issues/442#issuecomment-685773446

[2021-05-10 16:13] jmatsushita opened #657 "hetzner_config doesn't allow labels"
`labels`  [as found in the terraform hetzner provider](https://registry.terraform.io/providers/hetznercloud/hcloud/latest/docs/data-sources/server#labels) (not to be confused with kubernetes node labels) are useful to for instance target a load balancer to a specific node pool.

Would it be possible to allow passing a `labels` map to the `hetzner_config` nested block?

[2021-05-11 09:20] rule88 commented on #655
Hi @rawmind0 ,

the suggested solution is what we indeed came up with yesterday and it is working as expected. I think indeed that docs could be more clear on this, the misconception to me was the term `rke_config`. To me it seemed that the config was used by Terraform and on its turn somehow uses RKE to create the desired nodes.

Might it be an idea, as it seems we are not alone on this topic, th

[2021-05-11 10:34] rawmind0 commented on #655
Hi @rule88 ,

for sure we might improve the docs, if something seems not clear to users. I understand the misconception, but this is a Rancher2 provider and is having same behaviour as Rancher2 has. Could you please help on this, proposing a PR with some warning or remark on docs that would help to clarify the misconception??

[2021-05-11 11:16] rule88 commented on #655
@rawmind0 - https://github.com/rancher/terraform-provider-rancher2/pull/659

[2021-05-11 15:54] rawmind0 commented on #656
The issue seems to be at hetzner docker machine driver. `networks` field is not set as "public" at golang struct, https://github.com/JonasProgrammer/docker-machine-driver-hetzner/blob/master/driver.go#L42, so json marshal/unmarshall is just ignoring it.

@alexzimmer96 , could you please take a look on this??

[2021-05-11 15:56] rawmind0 commented on #657
@jmatsushita , i think that hetzner docker machine driver is not offering `labels` field, https://github.com/JonasProgrammer/docker-machine-driver-hetzner/blob/master/driver.go#L23

[2021-05-11 16:05] rawmind0 commented on #654
Same think as commented at https://github.com/rancher/terraform-provider-rancher2/issues/656#issuecomment-838730562 .

`additionalKeys` field is not set as "public" at golang struct, https://github.com/JonasProgrammer/docker-machine-driver-hetzner/blob/master/driver.go#L48 . It's "public", `AdditionalKeyIDs` field https://github.com/JonasProgrammer/docker-machine-driver-hetzner/blob/master/driver.

[2021-05-11 16:41] rawmind0 commented on #655
@rule88 , Thanks for the PR. It's already merged.

Please, reopen issue if required.

[2021-05-11 16:41] #655 closed, assigned to nobody

[2021-05-11 18:41] rawmind0 commented on #449
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/660 to fix this issue.

Deprecated `rancher2_cluster.aks_config.tag` argument due to it was not working properly.
Created new `rancher2_cluster.aks_config.tags` argument to replace `tag`, with the proper `[]string` type to match Rancher API

[2021-05-11 18:44] rawmind0 commented on #335
You were right @slessardjr . Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/660 to fix this issue.

Deprecated `rancher2_cluster.aks_config.tag` argument due to it was not working properly.
Created new `rancher2_cluster.aks_config.tags` argument to replace `tag`, with the proper `[]string` type to match Rancher API

[2021-05-11 18:49] rawmind0 commented on #631
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/661 to fix this issue

[2021-05-11 20:29] armsnyder opened #662 "rancher2_cluster_sync wait_catalogs=true causing 500 errors"
Hi.

We are trying the new `wait_for_catalogs=true` attribute setting on our `rancher2_cluster_sync` resource, on order to resolve this issue: rancher/terraform-provider-rancher2#627 (I believe this is the suggested fix, as simply taking the rancher2 terraform provider v1.14.0 did not resolve that issue.)

With `wait_for_catalogs=true` we are getting Terraform apply failures due to a 500 error. Af

[2021-05-11 22:04] armsnyder commented on #662
As an update, we tried running `terraform apply` using the same config, in a fresh environment, and got a similar but different error. I can open a new issue if needed, but for now I assume this is related.

This time instead of a connection error it is a `Unknown schema type [catalog.cattle.io.clusterrepo]` error.

[code]

[2021-05-11 22:43] armsnyder commented on #627
@rawmind0 Hi Raul. Thanks for all the updates to this provider. ~Is using v1.14.0 supposed to resolve this, or are there some required attributes we need to set on the `rancher2_cluster_sync` resource?~

Also, the related upstream bug: https://github.com/rancher/rancher/issues/32642

~By the way my team is using imported clusters and still seeing this issue using v1.14.0.~

EDIT: Sorry, in our cas

[2021-05-12 07:49] jmatsushita commented on #644
Ok good to know. Not to be pendantic, but the message says that in Rancher 2.5 monitoring v1 is deprecated. It might still be possible to  use both v1 and v2, but I think that this terraform module documentation should reflect that v1 monitoring is deprecated (from 2.5). :)  For instance something like:

[2021-05-12 09:07] michalformanek commented on #617
This is the same issue as #225

Forcing users to log in first and then using their user_id as suggested is not very practical, especially in larger organizations. It is easy to gather list of usernames/emails from development teams and then pass them to the resource. Getting some generated ids... not so much. Waiting for larger number of users to log in makes creating new projects tedious. That is

[2021-05-12 12:34] jmatsushita commented on #644
These examples for `rancher2_app_v2` are more detailed and include logging and other rancher certified apps. https://github.com/rancher/terraform-provider-rancher2/blob/master/docs/guides/apps_marketplace.md

[2021-05-12 16:16] rawmind0 commented on #627
Hi @armsnyder ,
* about issue https://github.com/rancher/rancher/issues/32642 , global settings were synced on all k8s clusters API, but not anymore, so global settings as `system-default-registry`, has to be got from `local` cluster.
* about the issue #662 , retries seems to work fine, but not enough with default conf, agreed that it should be configurable.

Working on a fix for both issues.

[2021-05-12 17:17] Whimby commented on #662
Seeing this exact same thing
`Error: [ERROR] waiting for cluster ID (c-hg92l) downloading catalogs: [ERROR] getting catalog V2 list at cluster ID (c-hg92l): Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [dial tcp 127.0.0.1:6080: connect: connection refused] from [https://mcresearchlabs.rancher.cloud/k8s/clusters/c-hg92l/v1]
│
│   on ../modules/rancher/eks/cluster.tf line

[2021-05-12 18:02] #631 closed, assigned to nobody

[2021-05-12 18:36] rawmind0 commented on #662
Hi @armsnyder , the retries logic seems to be working fine, but agreed with you that should be configurable. As you mentioned, default retries (3 retries with 5s ticks) are not enough, so getting `500` errors.

I've sumitted PR https://github.com/rancher/terraform-provider-rancher2/pull/663, deprecating the `retries` argument in favour of `timeout` new argument. The main difference is that timeout

[2021-05-14 09:00] jmatsushita commented on #657
Thanks @rawmind0 Isn't the field named `serverLabels` ? https://github.com/JonasProgrammer/docker-machine-driver-hetzner/blob/master/driver.go#L46

[2021-05-14 09:13] lewispeckover opened #664 "darwin/arm64 builds"
Publishing darwin/arm64 (Apple Silicon) builds would be good.

Building locally (go 1.16.3 and `make build`) gave me some weirdness when I tried using it:

Maybe there's a bug there, or maybe just an issue with my build environment.

I hacked around the problem by downloading the published darwin/amd64 build into ~/.terraform.d/plugins/registry.terraform.io/rancher/rancher2/1.14.0/darwin_arm64/ter

[2021-05-14 09:41] rawmind0 commented on #657
@jmatsushita , may be that `serverLabels` would be the proper field but not sure. Anyway, this field is not set as "public" at golang struct, so json marshal/unmarshall is gonna ignore it. Same thing that https://github.com/rancher/terraform-provider-rancher2/issues/656#issuecomment-838730562

[2021-05-14 13:23] AlessioCasco opened #665 "Data Source rancher2_cluster doesn't have ca_cert as attribute"
Hello

It seems that the data source `rancher2_cluster` doesn't have the `ca_cert` attribute available as stated [here](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/data-sources/cluster#ca_cert)

## Versions:
[code]

## What is expected
Terraform gets the `ca_cert` value from the rancher2_cluster and exposes it

## Step to reproduce:

* Create a rancher2_cluster resource
*

[2021-05-14 18:20] mouellet commented on #662
Can there be a link with the `rancher2_cluster_sync.state_confirm` attribut not being used anymore?

[2021-05-14 19:56] aleksmova commented on #631
Could you please reopen this issue, seems that issue wasn't fixed.

[2021-05-14 20:07] rawmind0 commented on #631
Have you built the provider and test it??

[2021-05-15 06:10] aleksmova commented on #631
Exactly. I have updated the provider for all templates and modules to the 0.14.0 version and built a new cluster from scratch.

[2021-05-15 16:46] rawmind0 commented on #631
The patch to this issue is not included on the provider v0.14.0. Still not released, to test the provider should be built from repo

[2021-05-15 18:27] aleksmova commented on #631
Got it. Thanks

[2021-05-17 13:32] tulanian opened #666 "rancher2_app_v2 module seems to assume a non-null system-default-registry setting"
### Versions
Terraform v0.15.3
on linux_amd64
+ provider registry.terraform.io/hashicorp/local v2.1.0
+ provider registry.terraform.io/hashicorp/null v3.1.0
+ provider registry.terraform.io/hashicorp/random v3.1.0
+ provider registry.terraform.io/rancher/rancher2 v1.14.0

rancher v2.5.8

### Problem
Trying to install an app into a cluster or import an app already installed I get the following erro

[2021-05-17 13:54] rawmind0 commented on #666
Related to https://github.com/rancher/rancher/issues/32642
Submitted fix for this https://github.com/rancher/terraform-provider-rancher2/pull/663

[2021-05-17 13:55] rawmind0 commented on #665
Sumitted PR for fix this, https://github.com/rancher/terraform-provider-rancher2/pull/667

[2021-05-19 14:38] fmarceau-imagia commented on #402
+1 for this bug, same issue here as well !

[2021-05-19 14:49] denismatiu commented on #631
@rawmind0  I checked, everything works great. 👍  Thank you guys. Could you tell me when you are planning the next release?

[2021-05-20 11:00] #604 closed, assigned to rawmind0

[2021-05-20 11:00] #665 closed, assigned to nobody

[2021-05-20 14:46] #335 closed, assigned to rawmind0

[2021-05-20 14:46] #449 closed, assigned to rawmind0

[2021-05-20 15:58] rawmind0 commented on #666
PR merged, it will be available at Rancher2 provider v1.15.0

[2021-05-20 15:58] #666 closed, assigned to nobody

[2021-05-21 13:48] lperrin-obs commented on #662
Hi @rawmind0,
I tried to set a timeout at 10 minutes to test
[code]

But I still get the same error as @armsnyder. It doesn't seem to retry connection after having 500 error:
[code]

[2021-05-21 15:21] rawmind0 commented on #662
Hi @lperrin-obs , thanks for reporting this.

Catalog v2 client was not configured with timeout when got new client. Cretaed PR #668 to fix it. Could you please test with it, https://github.com/rancher/terraform-provider-rancher2/pull/668#issuecomment-846026525

[2021-05-21 17:39] rawmind0 commented on #662
Released tfp v1.15.1 including the PR #668 to fix the issue.

[2021-05-21 21:06] philomory opened #669 "rancher2_auth_config_activedirectory needs a starttls argument"
When configuring ActiveDirectory auth via the API or the GUI, you have the option to set either `tls` or `starttls` (or neither) to `true`. However, when configuring auth via this Terraform provider, only `tls` is an option, and `starttls` is unavailable.

[2021-05-21 23:08] philomory commented on #502
As a rough workaround, you can set up your cluster groups and git repos from terraform using the `kubernetes_manifest` resource from the [kuberentes-alpha](https://registry.terraform.io/providers/hashicorp/kubernetes-alpha/latest/docs) provider (eventually to be moved to the "real" `kubernetes` provider).

It's not a very nice process, but it _does_ allow you to manage Fleet configuration from Ter

[2021-05-24 06:13] iTaybb opened #670 "RKE version is not supported on the first run, gets fixed on the second run"
I'm trying to deploy RKE `v1.20.6-rancher1-1` with rancher v2.5.8, which should be supported by the [release notes](https://github.com/rancher/rancher/releases/tag/v2.5.8).

I'm getting the following error:
[code]

Weirdly enough, after re-running the terraform plan, it runs fine, so somehow the `v1.20.6-rancher1-1` version is approved after some time.

Might be a race condition of some kind? Mayb

[2021-05-25 18:45] azacchino opened #671 "gke_config_v2.cluster_addons field is optional but if not defined, i get an error"
cluster_addons is [optional](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#gke_config_v2) but if not defined, i get this error "cannot be nil for non-import cluster"

[code]
I think it's possibly missing initialize the slice

[2021-05-25 18:54] azacchino opened #672 "rancher2_app_v2 error "system-default-registry" not found"
Environment:
* Rancher Server v2.5.8.
* Managing a GKE private cluster
* Terraform provider version = "1.14.0"

I use rancher2_app_v2 to install the new Logging chart (this also happens with any chart I try)

[code]
I get this error.

[code]
This is resource try to get system-default-registry from cluster instead the general settings.

[2021-05-25 19:29] azacchino commented on #672
Sorry,

Fixed on Terraform provider version = "1.15.1"

[2021-05-25 19:29] #672 closed, assigned to nobody

[2021-05-26 14:48] julienleboeuf opened #673 "rancher2_certificate not updating"
Hi,

Certificate update don't seem to be working through terraform.

Rancher 2.5.8
Terraform v0.15.4
provider module v1.15.1

[code]

Certificate is keeping the same name, we only change var.wildcard-app-sf-dev-cert content.
Plan and apply shows pending modifications/update and seems to be doing something.
But back to rancher UI, noting has changed.

I tried adding description or annotation with n

[2021-05-26 15:08] lperrin-obs commented on #662
Hi @rawmind0,
I updated terraform provider to v1.15.1 but I get this error, even if the catalog is ready from Cluster explorer

[code]

[2021-05-26 18:25] armsnyder commented on #617
Hello.

We are having the same issue, using Rancher's Okta integration. The user object already exists inside Rancher, but we are getting the `Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [baseType=error, code=ServerError, message=users.management.cattle.io "zzz@example.com" not found] from [https://redacted/v3/clusterroletemplatebindings]` error.

Our user in Rancher i

[2021-05-27 07:24] rule88 opened #674 "Resource "rancher2_auth_config_keycloak" not supporting optional "Entity ID Field""
An alternative `Client ID` in Keycloak than the default described in the [Rancher documentation](https://rancher.com/docs/rancher/v2.x/en/admin-settings/authentication/keycloak/) is not possible as the `rancher2_auth_config_keycloak` resource does not provide a way to override the default.

[2021-05-27 07:50] rule88 commented on #674
PR: https://github.com/rancher/terraform-provider-rancher2/pull/675

[2021-05-27 07:51] rule88 commented on #674
I have to admit that this PR is not tested yet.

[2021-05-27 13:58] julienleboeuf commented on #673
My bad, issue can be closed
I was still using old bogus module even after upgrade to 0.15
It's all good now

[2021-05-27 13:58] #673 closed, assigned to nobody

[2021-05-28 06:50] bemeyert opened #676 "Activedirectory fails to configure access_mode required"
Hi all,

We want to configure AD with `access_mode = required`. But we always get a 403 code.
Example code:
[code]
Applied to a cluster with only local users this gives the following error:
[code]
But when I run this code first with `access_mode` set to `unrestricted` and after that again with `access_mode` set to `required` it works.
My guess is that the principal IDs aren't yet configured when t

[2021-05-28 17:35] ba-work opened #677 "Activate an existing/builtin node driver"
I want to activate the included OpenStack node driver as part of my deployment.

If I attempt to do this via Terraform like this:
[code]
I get this in the UI `/n/drivers/node`:
![image](https://user-images.githubusercontent.com/61976254/120020934-6851a180-bfb8-11eb-971a-1ac21fe2e906.png)

Additionally, this causes some weird behavior because it somehow _does_ enable it for use in node templates:
1

[2021-05-30 07:23] iTaybb commented on #670
It would seem that when rancher is bootstrapped, it takes some time for the rancher RKE images to become ready, so if you're using terraform to install the rancher instance, bootstrap it, and then attempt to create a cluster, the RKE images might not be ready yet.

By running `curl -sSku $TOKEN https://$RANCHER_IP/v3/rkek8ssystemimages | jq -c '.pagination.total'` right after bootstraping I can se

[2021-05-31 10:42] rawmind0 commented on #674
The PR #675 doesn't pass CI pipeline, https://github.com/rancher/terraform-provider-rancher2/pull/675#issuecomment-851399232

[2021-05-31 10:48] rawmind0 commented on #677
To manage built in node drivers from terraform, they should imported first, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_driver#import

Doing this, the provider is creating another node driver called `openstack` (Rancher is not checking unique name) , but with distinct `id` as you can check in the attached screenshot. As mentioned,  to manage built in node dr

[2021-05-31 10:51] rawmind0 commented on #676
Hi @bemeyert , is `test_username` part of the defined `allowed_principal_ids` groups??

[2021-05-31 10:51] rawmind0 commented on #671
Reproduced issue, fix included at PR https://github.com/rancher/terraform-provider-rancher2/pull/678

[2021-05-31 14:28] rawmind0 commented on #670
@iTaybb , yes, it seems a race condition between bootstrap is done and the `local` cluster is active. Fix added at PR #679,  `rancher2_bootstrap` resource will wait until `local` cluster is active

[2021-05-31 14:32] rawmind0 commented on #662
@lperrin-obs , i was unable to reproduce the reported issue. May be is it a "real" timeout?? The `GetCatalogV2List` function  is also taking care if returned error `IsUnknownSchemaType`, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/config.go#L884

Specific timeout error messages was not added to the provider, adding them at PR #678

[2021-05-31 15:00] vkwiley opened #680 "Can't add EKS spot node group add to the existing cluster"
Rancher doesn't add a new node group to existing cluster

Steps to reproduce:
1) Create an AWS EKS cluster via rancher2 tf provider with a node group with a custom Launch Template
2) Add TF config for a second node group with same or another LT and spot type

The cluster then hangs in "Updating" state, in AWS console the cluster is Active and nothing changes.

Then i go to Rancher GUI to edit the

[2021-05-31 17:23] fad3t commented on #576
We use the official Helm provider, which has two advantages over the `rancher2_app_v2` resource in my opinion:
- the Helm chart is downloaded by the VM on which Terraform is executed, not from the cluster nodes themselves;
- the official Helm provider allows you to set values directly, allowing you to do string interpolation for example.

[2021-05-31 19:15] bemeyert commented on #676
@rawmind0 No, it isn't. The docs aren't very clear about that...
Hmm, I'll try that one tomorrow. Keep you posted. Ta!

[2021-05-31 19:26] rawmind0 commented on #610
Added a note at the docs at PR #681  https://github.com/rancher/terraform-provider-rancher2/pull/681/files#diff-ea87985827a5e33692d9699416d9144971b191e9688a542125e8f31b5133adbdR11

[2021-05-31 19:27] rawmind0 commented on #467
Submitted PR #681 to fix this issue

[2021-06-01 14:34] lperrin-obs commented on #662
@rawmind0 I did several retries today and was unable to reproduce the issue so it should be a temporary network problem

[2021-06-02 11:32] hameno commented on #576
I have the same issue, it's very annoying. The YAML gets reordered based on alphabetic sorting (I think), makes it kinda unusable

[2021-06-02 15:52] rawmind0 commented on #576
The `rancher2_app_v2` values comparison is not done as string. The keys order doesn't matter as the yaml content is unmarshaled to a `map[string]` before `reflect.DeepEqual` comparison, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_app_v2.go#L102 .

Agreed that the visualization of the change is confuse, but it's a terraform stuff due to it's showing diff from

[2021-06-02 15:55] rawmind0 commented on #662
@lperrin-obs glad to hear that. I think it was a "real" timeout, but no difference on the error message. It will be added on mentioned PR

[2021-06-03 09:27] Jasstkn opened #682 "Weird behavior of annotations field in rancher2_app_v2.monitoring"
Hi! I was trying to configure monitoring and the huge output appeared in the console because of the changed hash in the annotations field. Is this expected behavior?

[code]

[2021-06-07 12:45] bemeyert commented on #676
@rawmind0 Well, that did the trick. So it seems that one has to add the local admin and the test user to principal IDs. Is that correct? If so I would like to create a PR adding this to the documentation.

[2021-06-07 13:31] bemeyert commented on #676
Just created the PR  #683

[2021-06-07 20:43] julienym commented on #576
Hi @rawmind0,

I've noticed that to reduce TF diff. plan I need to alphabetically order (at every level of the yaml) the values....

[2021-06-08 17:41] jbapu opened #684 "[Feature request] Add ability to specify list of value files in rancher2_app_v2"
The current API for rancher2_app_v2 resource has
`values - (Optional/Sensitive) The app v2 values yaml. Yaml format is required (string)`
This does not allow multiple value files to be specified.

In contrast, the helm_release resource has
`values - (Optional) List of values in raw yaml to pass to helm. Values will be merged, in order, as Helm does with multiple -f options.`

Not being able to spe

[2021-06-08 18:09] rawmind0 commented on #684
True, but this is how it's defined at Rancher API, https://github.com/rancher/rancher/blob/master/pkg/apis/catalog.cattle.io/v1/helm.go#L40 map[string]interface to unmarshal yaml content. `values` is not saving a file, but yaml content. Have you consider to use tf [`join`](https://www.terraform.io/docs/language/functions/join.html) to concat the content of multiple files??

values - (Optional) Lis

[2021-06-08 18:21] rawmind0 commented on #576
@julienym , alphabetically order has nothing to do for the diff generation (although the tf diff visualization may be confuse see my previous comment), any other diff should be there. As mentioned, the `values` argument comparison between old and new values is done at low level using `map[string]interface{}` and `reflect.DeepEqual`, https://github.com/rancher/terraform-provider-rancher2/blob/maste

[2021-06-08 18:25] hameno commented on #576
Well, fact is, this makes reading the diff and actually finding the difference impossible. It doesn't keep the order. Simplest fix would be to sort the local values for diff generation.

[2021-06-08 18:51] rawmind0 commented on #576
Agreed that this make reading the diff and finding the differences difficult, but not impossible. I don't thing the proposed fix would be simple due to the argument is a string with yaml content (how to simply sort it??). Anyway, this fix should be submitted at terraform repo, due to the tf provider doesn't have any control on how tf diff is displayed

[2021-06-08 19:23] jbapu commented on #684
@rawmind0  Thanks for responding!

I don't think the join function would work here. Helm allows multiple value files to be supplied using its `-f` / `--values` option. From the [doc ](https://helm.sh/docs/helm/helm_install/) here,

The Helm provider's [helm_release](https://registry.terraform.io/providers/hashicorp/helm/latest/docs/resources/release#values) resource also allows this merging of mul

[2021-06-10 00:02] euven commented on #436
Is it worth re-opening this one for better visibility? I'm also seeing this issue where the provider returns "success", while the post-install job has failed or not completed yet. This is on rancher 2.5.{7,8}

Thanks for this great provider btw!

[2021-06-12 18:38] ayushmehrotra12 opened #686 "StorageClass"
Hello. I have a rancher cluster hosted on AWS EKS and I am using rancher2 to create more clusters. I need to add storage class via rancher2. I haven't seen any option in terraform to add storage class. Can anyone provide me some insight how can I achieve that Storageclass with rancher2.

I am able to add it manually but not via rancher2.

I am using eks_config_v2 to create the clusters from ranche

[2021-06-17 03:08] WenLongSun19 opened #687 "Error: Rancher is not ready: <nil>"
I am using rancher on k3s cluster.

When I use terraform create new custom cluster then it is giving this error. It stucks.

Error Details
[code]

Terraform code
[code]

Full log
[code]

rancher version: v2.5.8
rancher2 version: 1.14.0
terraform version: v0.15.3

[2021-06-17 04:39] hnc-yusop commented on #674
Is there any progress for this issue???

[2021-06-17 08:35] MG2R opened #688 "Removing part of a resource quota fails"
I'm trying to create a module which will create a Project, Namespace, and User. The project needs to have configurable quota settings. All quota params must be able to be set, or ommitted.

Right now, my code looks like this:

[code]

The usage of `local.set_quota` allows the user to simply not specify any resource quota. That works.

However, I also have a use case in which only `limits_memory`,

[2021-06-21 08:21] rule88 commented on #674
@hnc-yusop

code is updated and merged in master, now it is waiting for next release which will contain this feature.

[2021-06-21 10:46] rawmind0 commented on #671
PR https://github.com/rancher/terraform-provider-rancher2/pull/678 merged. Fix will be included on next tf provider release

Please, reopen issue if needed

[2021-06-21 10:46] #671 closed, assigned to rawmind0

[2021-06-21 10:46] rawmind0 commented on #662
PR https://github.com/rancher/terraform-provider-rancher2/pull/678 merged. Fix will be included on next tf provider release

Please, reopen issue if needed

[2021-06-21 10:46] #662 closed, assigned to nobody

[2021-06-21 11:34] rawmind0 commented on #670
PR https://github.com/rancher/terraform-provider-rancher2/pull/679 is already merged. The fix will be available at next tf provider release.

Please, reopen issue if needed.

[2021-06-21 12:02] rawmind0 commented on #676
PR https://github.com/rancher/terraform-provider-rancher2/pull/683 is already merged. Fix will be included in next tf provider release.

Please, reopen issue if required.

[2021-06-21 12:02] #676 closed, assigned to nobody

[2021-06-21 12:14] rawmind0 commented on #687
It seems that your tf module is getting timeout checking if rancher is ready. Try using Rancher2 tf provider v1.15.1 and `timeout` argument, https://registry.terraform.io/providers/rancher/rancher2/latest/docs#timeout

[2021-06-21 12:46] rawmind0 commented on #674
PR #675 id already merged. Feature will be available at next tf provider release.

Please, reopen issue if needed.

[2021-06-21 12:46] #674 closed, assigned to nobody

[2021-06-21 12:52] rawmind0 commented on #467
PR https://github.com/rancher/terraform-provider-rancher2/pull/681 is already merged. The fix will be included on next tf provider release.

Please, reopen issue if needed

[2021-06-21 12:52] #467 closed, assigned to rawmind0, aaronyeeski

[2021-06-21 12:53] #610 closed, assigned to nobody

[2021-06-21 12:56] rawmind0 commented on #686
Hello @ayush121195 , by the moment, Rancher2 tf provider is not supporting StorageClass management. To do it, the recommendation is to use the  kubernetes tf provider.

[2021-06-21 14:56] rodcloutier opened #690 "Support drainBeforeDelete field for nodepools"
The Rancher 2.5 `drainBeforeDelete` is not currently supported by the provider.
We would like to have the support for this field as it is required to be set to `true` in an autoscaler user case.

[code]

[2021-06-21 17:12] sergio-med opened #691 "Bad response when using rancher's okta integration"
The user object already exists inside Rancher, but we are getting the Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [baseType=error, code=ServerError, message=users.management.cattle.io "zzz@example.com" not found] from [https://redacted/v3/clusterroletemplatebindings] error.

Our user in Rancher is:

[code]
Our Terraform config is:
[code]
Our Terraform apply debug logs

[2021-06-24 09:36] wojtasool opened #693 "eks-config-operator fails during eks node group provisioning and node template is empty"
`During` creation of new node_group with launch template, rancher does not see launch template in the UI and the eks-operator fails.
When I edit cluster and manually point new node group to use specific launch_template then it works.
Otherwise it is empty.

I define environment using terraform provider 1.15.1

Plan also shows that launch_template will be created and used within eks node_group.

Th

[2021-06-24 09:52] rawmind0 commented on #693
Is the same eks config working fine from Rancher UI??  It seems an issue with the eks operator. The issue should be opened at https://github.com/rancher/rancher

[2021-06-24 09:55] wojtasool commented on #693
From the rancher UI I can see that config has been created but launch_template field was empty, and eks-operator was failing.
But I could pick launch_template from the UI and save it, and it then proceeded.

I don't know whether or not this is problem with provider or eks-operator.

[2021-06-24 10:00] rawmind0 commented on #693
The dump seems coming from eks-operator code, so issue seems related to it. The issue should be opened at https://github.com/rancher/rancher

[2021-06-24 10:11] wojtasool commented on #693
https://github.com/rancher/rancher/issues/33361

[2021-06-24 11:44] wojtasool commented on #693
For some reason launch_template_id is null
"launchTemplate": {

    "id": null,
    "name": "staging-node_group1",
    "type": "/v3/schemas/launchTemplate",

[2021-06-24 12:06] wojtasool commented on #693
So I guess by some reason it was passed with null value by provider

[2021-06-24 12:15] rawmind0 commented on #693
The provides should pass what is configured. Launch_template values are passed through vars in your config. Are you passing nil id for any reason?? Have these vars getting proper values??Thats why i asked you if using same config from ui was working for you

[2021-06-24 12:26] wojtasool commented on #693
Yes it is working fine from UI.
How can I see what's been passed to the eks-operator during apply phase?
I can only see on plan "known after apply" in the launch_template_id field
[code]
[code]

[2021-06-24 13:52] wojtasool commented on #693
Also what terraform state shows is that there is launch_template_id provided.

[code]

[2021-06-24 17:01] rawmind0 commented on #693
It seems that something may not be working properly on your tf module. If `id  = (known after apply)` then the id value is not being set by config, it's calculated during the execution. The documentation [eks_config_v2]
(https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#creating-eks-cluster-from-rancher-v2-using-eks_config_v2-and-launch-template-for-rancher-v25

[2021-06-24 17:23] wojtasool commented on #693
Will try it tomorrow at work.
But I assume if **id = (known after apply)** because this launch template is created within same terraform hence not known yet, but it should be provided later when it is actually created before rancher2_cluster starts.

There is also explicit
**depends_on = [var.rancher_dns, var.rancher_route_record_depends, var.rancher2_token, aws_security_group.eks_sg_allowall, _aw

[2021-06-25 10:46] wojtasool commented on #693
The same thing happens when I pass id of already existing launch_template.
Field is empty.

Plan shows id but resulting cluster in Rancher UI has this field empty

[code]

[2021-06-25 15:29] rawmind0 commented on #688
Issue reproduced, submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/694 to fix it

[2021-06-25 17:04] rawmind0 commented on #690
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/695 adding this feature

[2021-06-25 17:17] rawmind0 commented on #620
https://github.com/rancher/terraform-provider-rancher2/blame/master/docs/resources/node_template.md#L110

https://github.com/rancher/rancher/blob/master/pkg/controllers/management/node/controller.go#L652

True, but there is a [note]((https://github.com/rancher/terraform-provider-rancher2/blame/master/docs/resources/node_template.md#L113)) in the nodeTemplate documentation saying `**Note** `annotat

[2021-06-25 17:17] #620 closed, assigned to nobody

[2021-06-25 17:18] rawmind0 commented on #688
PR merged. The fix will be included in next provider release.

Please, reopen the issue if required.

[2021-06-25 17:18] #688 closed, assigned to nobody

[2021-06-28 10:16] rawmind0 commented on #664
Added darwin/arm64 builds at PR https://github.com/rancher/terraform-provider-rancher2/pull/692/files#diff-95ebf75ba399b4aa1a30237d0c3bc80ca817f1a086508979786c5a78e96ae352R14

[2021-06-28 19:51] ajchiarello commented on #341
Just checking in again. I see this was labeled for triage back in February; is it going to be on a roadmap at some point?

[2021-06-29 06:06] wojtasool commented on #693
Any ideas why it might happen?

[2021-07-01 17:25] rawmind0 commented on #693
I was able to reproduce the issue. The use `launch_template` is not working properly. The operator is not full filling node group `image_id` ,  `instance_type`, etc.. Working on a fix.

[2021-07-01 17:28] wojtasool commented on #693
So is it problem with provider or operator itself?

[2021-07-01 17:29] rawmind0 commented on #680
The use of  EKS `launch_template` is not working properly. Working on a fix, https://github.com/rancher/terraform-provider-rancher2/issues/693#issuecomment-872423764

[2021-07-01 17:30] #677 closed, assigned to rawmind0

[2021-07-01 17:34] #599 closed, assigned to nobody

[2021-07-01 18:30] rawmind0 commented on #684
@jbapu, thanks for the clarification, i see what you mean now. I don't think using `join()`  is gonna work for this use case.

By the moment, we are not considering add this feature at the provider. `yq` may help you to get same behaviour https://mikefarah.gitbook.io/yq/v/v2.x/merge#overwrite-values

[2021-07-01 18:32] rawmind0 commented on #664
Next release 1.16.0, will build darwin/arm64 binaries. Please reopen issue if required

[2021-07-01 18:32] #664 closed, assigned to rawmind0

[2021-07-01 19:04] #616 closed, assigned to nobody

[2021-07-01 19:33] rawmind0 commented on #225
@lapfrank12 , this behaviour is coming from Rancher. For security reasons, user_principal info is treated distinct than group principal info for auth providers.

@Kyrklund , yes it's the same. The reason is that local admin doesn't have any AD principal associated so can't access AD for query, just local users

So this is the way we will progress around the issue

Yes to both. The use of `group_pr

[2021-07-01 19:36] rawmind0 commented on #617
@michalformanek , yes, it's the same issue as #225. I tend to agree that forcing users to log in first and then using their `user_id` is not very practical, especially in larger organizations with bunch of users. Especially for these cases, `rancher2_cluster_role_template_binding` and/or `rancher2_project_role_template_binding` may be created using `group_principal_id` instead, that wouldn't requi

[2021-07-01 19:37] rawmind0 commented on #691
This issue is duplicated, please follow up at https://github.com/rancher/terraform-provider-rancher2/issues/617

[2021-07-01 19:37] #691 closed, assigned to nobody

[2021-07-02 09:17] rawmind0 commented on #669
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/696 to add `start_tls` argument to `rancher2_auth_config_activedirectory` resource.

[2021-07-02 09:21] rawmind0 commented on #690
PR https://github.com/rancher/terraform-provider-rancher2/pull/695 is merged. The new argument will be available at new tf provider release, v1.16.0

[2021-07-02 09:21] #690 closed, assigned to rawmind0

[2021-07-02 09:35] rawmind0 commented on #682
Hi @Jasstkn , not clear what you mean. Could you please provide more context around what are you trying to do and what is the issue??

[2021-07-02 09:46] rawmind0 commented on #680
Please follow up the issue at https://github.com/rancher/terraform-provider-rancher2/issues/693

[2021-07-02 09:46] #680 closed, assigned to rawmind0

[2021-07-02 09:54] #684 closed, assigned to nobody

[2021-07-02 12:45] rawmind0 commented on #669
PR #696 is merged. New argument will be available on next provider release, v1.16.0

[2021-07-02 12:45] #669 closed, assigned to rawmind0

[2021-07-05 16:52] jabbrwcky opened #697 "rancher2_app_v2 not terminating on error"
When deploying the rancher-monitoring app (v4.9.202) using the terraform provider v0.15.1 the resource does not abort on helm errors, e.g.:

[code]

 or a different error:

[code]

The terraform process keps chugging on happily, ignoring any configured timeouts until the AWS token becomes invalid (which also results in a failure to persist the TF state to S3).

IMO the resource should terminate as

[2021-07-06 07:30] rawmind0 commented on #697
Is this just happening to you with rancher-monitoring v9.4.202?? The provider should return error if the `appV2OperationWait` is returning error, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_app_v2.go#L68

[2021-07-06 07:55] rawmind0 commented on #533
Hi @armsnyder ,  the `values` argument comparison is not done as string, it's done at low level using `map[string]interface{}` and `reflect.DeepEqual`, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/schema_app_v2.go#L129

The gist link that you've attached, is showing some real diffs on some values fields, so `values` diff is not suppressed, Ex:

[code]

[2021-07-09 04:56] PrakashFromBunnings opened #698 "Is it possible to import AKS cluster via terraform-provider-rancher2 ?"
Hello Team ,

We are planning to put CI/CD pipelines for all things we do for Rancher like importing AKS cluster , assigning global group  rule etc.

I am wondering if we can use terraform-provider-rancher2 to do above work ?

[2021-07-09 07:39] jabbrwcky commented on #697
I am not quite sure if an error is returned at all, even when fixing the helm error it still hangs. Helm reports sucess for both the installation of the CRDs and the monitoring infrastructure but I get the alertmanager and prometheus in `cattle-monitoring-system` caught in a Terminationg state constantly (still investigating what is going on there).

Apparently the app install waits for alertmanag

[2021-07-09 08:17] sgran commented on #502
Is there likely to be any work even to add the `fleet workspace` parameter?  That doesn't seem hard, and we would be happy to knock up a PR if it's likely to get released.

[2021-07-09 15:49] rawmind0 commented on #502
@sgran , more than happy to accept a PR with this feature

[2021-07-14 09:09] janlauber opened #699 "cluster_auth_endpoint not default true"
When I create a rancher2 cluster with the terraform provide and doesn't mention the cluster_auth_endpoint the created cluster doesn't have authorized endpoints.
In the documentation you can see the following:
- enabled - (Optional) Enable the authorized cluster endpoint. Default true (bool)

[2021-07-14 11:18] rawmind0 commented on #699
cluster_auth_endpoint is not enabled by default, the argument is optional/computed, as it's specified at docs.

[code]

The `cluster_auth_endpoint.enabled` is a nested argument that it's true by default just if cluster_auth_endpoint is set

[2021-07-14 11:20] Jasstkn commented on #682
@rawmind0 Hi!
My case is following - I deploy monitoring via rancher2_app_v2 and for values I provide external yaml file.
Due to this changes everytime when something changes in the file (almost every time because of [problem](https://github.com/rancher/terraform-provider-rancher2/issues/576) with YAML formatting) I see huuuuge output in terraform like this
[code]

[2021-07-14 11:29] rawmind0 commented on #682
@Jasstkn , the diff field you are attaching is not significant. It should be any other diff, due to diff on annotations containing cattle.io are supressed, https://github.com/rancher/terraform-provider-rancher2/blob/ec17aecf3d86a3482bb3c33b74ac06dad4232d09/rancher2/schema_common.go#L23

As explained in the issue you are referencing, values yaml diff are checked at low level, nos as string, so just

[2021-07-14 11:52] Jasstkn commented on #682
@rawmind0 sure!
[code]
Full log is below
[log.txt](https://github.com/rancher/terraform-provider-rancher2/files/6815773/log.txt)

[2021-07-14 13:35] mikekuzak opened #700 "How to set the retention and schedule for "rancher2_app_v2" "rancher-backup""
The snipped below doesn't document how to set the retention and schedule.
If there any specific syntax for that ?

Thanks

[code]

[2021-07-14 15:26] rawmind0 commented on #682
@Jasstkn thanks for the update.. Are you migrating cluster monitoring from v1 to v2??

This seems the only change that the tf plan is calculating. App v2 annotation diff seems suppressed and no any diff at values argument..
[code]

`cluster_monitoring_input` just makes effect for cluster monitoring v1. To customize v2 monitoring you should do it in that way, https://registry.terraform.io/providers

[2021-07-14 15:30] janlauber commented on #699
Okey thanks for the information.
have a nice day!

[2021-07-14 15:30] #699 closed, assigned to nobody

[2021-07-14 15:32] Jasstkn commented on #682
@rawmind0 Thank you for your answer.
No, I'm not migrating. Monitoring was initially deployed like that. :( I don't understand what can trigger such output.
What steps can you suggest to mitigate the issue?

[2021-07-14 15:35] koboltmarky opened #701 "rancher2_cluster_sync failed with [file-deployer] is still running"
Hi,

we have the problem that the rancher2_cluster_sync resource failed with an error.

Versions:

[code]

Resource:
[code]

[code]

[2021-07-14 15:37] rawmind0 commented on #700
Not sure what you mean with rentention and schedule, but here you can find all values that you may use for rancher-backup app https://github.com/rancher/charts/blob/release-v2.5/charts/rancher-backup/rancher-backup/1.0.400/README.md#configuration

[2021-07-14 15:46] rawmind0 commented on #701
Hi @koboltmarky , is your rke cluster deploying properly?? How looks like you cluster tf definition??

[2021-07-14 15:48] rawmind0 commented on #682
What steps can you suggest to mitigate the issue?

You mean that the cluster was initially deployed with monitoring v1 enabled?? Once the plan is generated are you applying it??

[2021-07-14 15:51] mikekuzak commented on #700
@rawmind0

![image](https://user-images.githubusercontent.com/18675587/125652582-a9e6a0c3-6bef-4874-894d-eaad5b59991c.png)

[2021-07-14 15:53] koboltmarky commented on #701
@rawmind0 yes cluster is deploying properly.

rancher-cluster.tf:
https://gist.github.com/koboltmarky/a22c9092f33f2143ef7b2c1748581f24

[2021-07-14 16:08] rawmind0 commented on #700
`rancher2_app_v2.rancher-backup` is just installing the rancher backup operator. To perform backups, https://rancher.com/docs/rancher/v2.5/en/backups/back-up-rancher/#2-perform-a-backup

[2021-07-14 21:19] mikekuzak commented on #700
@rawmind0

Hi Thanks for the link, so there is no TF resource to create a backup atm ?

Thanks

[2021-07-15 06:59] Jasstkn commented on #682
Nope, I initially deployed monitoring v2 via cluster explorer view. Yes, I applied plan already few times with such output but it's still worrying me.

[2021-07-15 09:59] rawmind0 commented on #700
@mikekuzak , exactly, there isn't yet a tf resource to create/launch a backup.

[2021-07-15 10:14] #700 closed, assigned to nobody

[2021-07-15 10:56] Jasstkn commented on #682
@rawmind0 I've tried to apply the plan, it has been applied successfully. But when I run `terraform plan` right after apply, it still shows me this huge output :(

[2021-07-15 17:53] #687 closed, assigned to nobody

[2021-07-16 15:21] koboltmarky commented on #701
@rawmind0 with

[code]

it works.

[2021-07-19 15:52] git-ival opened #703 "Cluster registration fields are not being set when using Rancher master-head (Rancher 2.6)"
I’ve run into an issue during preliminary scale-testing against Rancher master-head using the terraform scaling framework. The issue is that the rancher2 provider isn't able to retrieve many of the `cluster_registration_token` fields at the time of provisioning via the scaling framework, but seem to be available when viewed in the Rancher API. Whereas using Rancher 2.5.8 populates all the expected

[2021-07-19 16:11] rawmind0 commented on #701
@koboltmarky , tf definition seems ok, beside `nodes` info that have no effect.  May be you are getting timeout at cluster creation?? What is the real cluster state when tf fails??

[2021-07-19 23:33] cgeeringh-ns opened #704 "Unable to use dataplane v2 with GKE"
Attribute datapath_provider is unavailable for GKE rancher2 deployments.

https://cloud.google.com/kubernetes-engine/docs/how-to/dataplane-v2

https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest/examples/simple_regional_beta?tab=inputs

[2021-07-20 07:39] koboltmarky commented on #701
@rawmind0 cluster state is ok after a while. Unfortunately our jenkins pipeline failed because of this.
Since we do not set the timeout, the default timeout of 30 minutes applies, right? The pipeline failed always between 3 ~ 5 minutes.

[2021-07-20 18:31] jlamillan commented on #612
Server side support for this feature is complete: https://github.com/rancher/rancher/commit/b0b0ff38d727d8287ae2b5bfee47ce3457d45539

[2021-07-22 12:28] dankeder opened #705 "Add support specifying add-on tolerations to rancher2_cluster resource"
Hi,

RKE allows specifying add-on tolerations. Can the `rancher2_cluster` resource provide similar functionality?

One use case is that we don't want to schedule CoreDNS add-on onto cordoned nodes because they may be subject to OS maintenance, reboots, etc. Currently kube-scheduler happily puts CoreDNS pods onto cordoned nodes and the cluster becomes unstable when something happens to the node.

A

[2021-07-22 15:47] rawmind0 commented on #382
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/706 to fix this issue

[2021-07-23 19:46] ricanol commented on #325
@ajchiarello I had the same problem, I thought the same way about getting the ips using the `rancher2_node_pool`, but discover a more effective way using: `rancher2_cluster_sync` and use its output to get the ips, but I specify the [nodes](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync#nodes) output along with [ip_address](https://registry.terraform.io/

[2021-07-26 10:18] rawmind0 commented on #704
This feature is not yet available at Rancher2 and it can't be added here until it is. The RFE issue should be opened at https://github.com/rancher/rancher repo.

[2021-07-26 12:02] gohumble commented on #701
Same issue here.
The cluster state shows `Waiting for [file-deployer]` when terraform returns this error, but changes to ok state after a while. Also using the default timeout.
This does not happen with every cluster created, only once in a while.

I am going to downgrade the provider and test an older version.

[2021-07-26 14:25] rawmind0 commented on #705
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/707 adding tolerations argument

[2021-07-26 15:53] rawmind0 commented on #701
I'm not able to reproduce the issue, may be caused by a race condition. `rancher2_cluster_sync` should wait until cluster condition `Updated` exists and status is `True` or `False`. This condition status should be `Unknown` in the meanwhile the cluster is transitioning.

@koboltmarky  @gohumble could you please provide the cluster `conditions` values, got from API  https://<rancher_url>/v3/cluster

[2021-07-27 09:00] gohumble commented on #701
HI @rawmind0. Here we go :)

Error was:

[code]

Conditions from the api, right after the error was returned (Think I was a second to late, as the [file-deployer] condition is no more present.):

[code]

as you can see, there is a `Updated=False` condition present. This condition is still changing, until the cluster is ready.

Here are some more updated conditions after `rancher2_cluster_sync` ret

[2021-07-27 10:03] gohumble commented on #701
Was also digging into to provider code in the meantime. Major probs. Love the work you've done here and there is a lot to learn for me!
I think I've found the line where the error is produced.
https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/config.go#L738

It seems like before this [commit](https://github.com/rancher/terraform-provider-rancher2/commit/3bd76e40da8f0951a7

[2021-07-27 10:28] gohumble commented on #701
Now I've downgraded to version `1.13.0`. Still seeing some `Updated` conditions in the api.
`rancher_cluster_sync` resource is not returning any error, as the `Cluster.State` is still at `Updating`.
This is what I've expected.

[code]

[code]

[code]

[code]

[2021-07-27 15:46] rawmind0 commented on #382
PR #706 is already merged. Fix will be available at next tfp release, v1.16.1

[2021-07-27 15:46] #382 closed, assigned to rawmind0

[2021-07-27 15:47] rawmind0 commented on #705
PR #707 is already merged. The feature will be available at next tfp release

[2021-07-27 15:47] #705 closed, assigned to rawmind0

[2021-07-27 15:59] dankeder commented on #705
That's great, thank you!

[2021-07-27 16:01] rawmind0 commented on #703
Rancher master-head is not supported by this provider, just Rancher stable versions. Anyway, found the issue cause ad submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/709 to fix it.

[2021-07-29 14:27] wc-s opened #710 "unclear documentation around `rancher2_etcd_backup`"
It's not clear whether `rancher2_etcd_backup` just takes a one-off snapshot or whether it takes periodic snapshots.

It seems to correspond to the `v3/etcdbackups` API, which should mean that it only takes one-off snapshots. However, the terraform resource / API also allows one to specify `interval_hours`, which seems to suggest that it can take periodic snapshots.

I've tried creating a `rancher2

[2021-08-02 07:17] wojtasool commented on #693
Is there any progress?

[2021-08-02 09:07] rawmind0 opened #712 "EKS v2 diff when public_access = true"
When setting `public_access = true` on eks v2 clusters, getting this diff recurrently:

[code]

To reproduce the issue, just use the docs example,   https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#creating-eks-cluster-from-rancher-v2-using-eks_config_v2-for-rancher-v25x-or-above , and set `public_access = true`

[2021-08-02 09:08] rawmind0 commented on #712
When `public_access = true` the eks service seems to be adding `public_access_sources = ["0.0.0.0/0"]` by default but this field is not set as computed field at tfp side, so it's generating a diff, a real diff. As workaround, defining `public_access_sources = ["0.0.0.0/0"]` at tf file should suppress the diff.

The diff generated with `logging_services` is distinct. It's generated randomly when ol

[2021-08-02 21:05] ifelsefi opened #713 "1.16.0 - event_rate_limit error - converting YAML to JSON: yaml: line 4: did not find expected key"
Hi

My config uses [event rate](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#event_rate_limit) limit example from your documentation:

[code]

Though that gives an error:

[code]

If I run with echo we see the issue as we `need another space` in front of burst and qps:

[code]

 So use the below where asterisks show the number of spaces present.

`configur

[2021-08-03 14:21] rawmind0 commented on #712
Submitted PR #714 to fix the issue.

[2021-08-03 14:22] rawmind0 commented on #703
PR #709 already merged. The fix will be included in next tfp release, v1.16.1

[2021-08-03 14:22] #703 closed, assigned to rawmind0

[2021-08-03 14:51] rawmind0 commented on #713
Hi @ifelsefi, thanks for reporting this. It should be a question of the markdown viewer as the proper number of spaces are defined at the file, https://github.com/rancher/terraform-provider-rancher2/blob/master/docs/resources/cluster.md#event_rate_limit

Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/715 to fix it

[2021-08-05 17:30] rawmind0 commented on #713
Merged PR https://github.com/rancher/terraform-provider-rancher2/pull/715 . Docs will be updated on next tfp release.

[2021-08-05 17:30] #713 closed, assigned to nobody

[2021-08-06 12:27] jabbrwcky commented on #697
Ok, so I found the cause of my problems: I tried to install the App on an Kubernetes 1.20 cluster running Rancher 2.5.5, which does not support K8S 1.20 yet, causing resources bein stuck in an `Unknown` state (so the error is independent of the application version).

Reverting the cluster to 1.19 resolved the issue.

Apparently the terraform provider (or rancher API client?) uses a blocking call t

[2021-08-08 16:44] #612 closed, assigned to nobody

[2021-08-09 10:03] earthquakesan commented on #701
Encountered this today, rancher2 version is set to:

[code]

[2021-08-09 10:45] rawmind0 commented on #701
@gohumble @earthquakesan , what Rancher2 version are you using?? Still not able to reproduce the issue...

[2021-08-09 13:02] gohumble commented on #701
@rawmind0 provider configuration was
[code]
for me.

Downgrad to `1.13.0` helped allot. The issue seems to be unpresent in this previous version.

[2021-08-09 13:51] rawmind0 commented on #701
@gohumble , thanks for this info, but i'm asking for Rancher version that you are using nor the tf provider.

[2021-08-09 14:24] gohumble commented on #701
@rawmind0 sorry was not attentive here. Im running rancher `v2.5.8`

[2021-08-09 16:00] earthquakesan commented on #701
@rawmind0 Rancher v2.5.7. The issue is not reproducible every time. We are creating ephemeral clusters all the time and the issue happened first time today (running Rancher for 2+ months).

Upd: we encountered this issue again today (10.08.2021) with another cluster.

[2021-08-10 17:32] serverbaboon opened #718 "Add support for K8s api verb "deletecollection""
Can support for the verb "deletecollection" be added to the rancher2_global_role and rancher2_role_template resources.

The following will fail as deletecollection is unsupported.

  rules {
    api_groups = [""]
    resources = ["services/proxy", "pods/portforward"]
    verbs=  ["create", "delete", "deletecollection", "get", "list", "patch", "update", "watch"]
  }

 It does look as though there i

[2021-08-10 19:42] m-uwh commented on #417
Hello,

I've got the same Issue. Removing the alias fixed it for me. How to update the documentation?
https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap

[2021-08-11 04:23] surenraju-zz opened #719 "How to add a user to cluster?"
From documentation I cannot find a way to add Users/Member to a cluster using rancher2_cluster.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#argument-reference

How to add members to a cluster?

[2021-08-11 08:40] rawmind0 commented on #719
For cluster, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_role_template_binding
For project, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/project_role_template_binding

[2021-08-11 10:31] rawmind0 commented on #718
Added `deletecollection` verb at PR https://github.com/rancher/terraform-provider-rancher2/pull/720

[2021-08-11 10:32] rawmind0 commented on #712
PR #714 already merged. The fix will be available at next tfp release, v1.17.0

Please, reopen issue if needed.

[2021-08-11 10:32] #712 closed, assigned to rawmind0

[2021-08-11 10:35] rawmind0 commented on #710
Updated docs at PR https://github.com/rancher/terraform-provider-rancher2/pull/717, already merged. The new docs will be available at next tfp release, v1.17.0

Please, reopen issue if required

[2021-08-11 10:35] #710 closed, assigned to nobody

[2021-08-11 10:37] rawmind0 commented on #686
Storage class has been added at PR https://github.com/rancher/terraform-provider-rancher2/pull/716, already merged. The new resource and dataosurce will be available at next tfp release, v1.17.0

Please, reopen issue if required

[2021-08-11 10:37] #686 closed, assigned to nobody

[2021-08-11 10:40] rawmind0 commented on #698
Hi @PrakashFromBunnings , this feature is not yet available at Rancher, it will be at Rancher 2.6. This provider is gonna support it when available, https://github.com/rancher/terraform-provider-rancher2/pull/711

[2021-08-11 16:04] rawmind0 commented on #718
PR #720 already merged. The `deletecollection` will be available at next tfp release, v1.17.0

[2021-08-11 16:04] #718 closed, assigned to rawmind0

[2021-08-11 16:30] rawmind0 commented on #701
@earthquakesan , yes, it's weird as just happening eventually.

Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/721 adding extra check for `Cluster.Transitioning == "yes"` when the condition is false

[2021-08-11 16:39] rawmind0 commented on #701
@gohumble @earthquakesan , could you please test it??

Attaching binaries built from PR:
* [terraform-provider-rancher2_darwin_amd64.zip](https://github.com/rancher/terraform-provider-rancher2/files/6970042/terraform-provider-rancher2_darwin_amd64.zip)
* [terraform-provider-rancher2_linux_amd64.zip](https://github.com/rancher/terraform-provider-rancher2/files/6970043/terraform-provider-rancher2_li

[2021-08-11 22:33] umeshauv opened #722 "How to setup single ssh key to access all nodes of rancher2_cluster"
I have created a rancher2_cluster with RKE template and node pool.   I want to generate and use a single ssh key to access all nodes of the cluster.  However, there is no option to set this.   The only option I see is ssh_key_path and it's behaviour is not specified in the document.  Can you please let me know how to setup single ssh key.

[2021-08-12 07:54] PrakashFromBunnings commented on #698
@rawmind0 , not sure if my question was clear or not to you.

Currently we do import AKS clusters in rancher , but we are doing that manually .

And wanted to know if we can do this by terraform module in this repo ?

[2021-08-12 08:31] rawmind0 commented on #698
@prabalsharma may be your question was not completely clear. I was talking about the specific integration with aks to import clusters, like new integrations added to [eks_config_v2](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#eks_config_v2) and [gke_config_v2](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#gke_confi

[2021-08-12 08:33] rawmind0 commented on #722
By the moment, i think this option is not supported at Rancher

[2021-08-12 12:24] YohanValette-DXC opened #723 "Is it possible to list all the clusters configured in rancher"
Hello, I manage AKS clusters on some Azure subscriptions.

I would like to have the ability to **list all the clusters handled by my rancher server** so that I can dynamically detect which AKS are not imported yet.

I had a look at the documentation and found the data source `rancher2_cluster`, but it is required to specify a cluster name.
Would it be possible to have such a data source, but with

[2021-08-12 16:12] rawmind0 commented on #723
Hi @YohanValette-DXC , by the moment, it's not possible to list all the clusters configured in rancher using this provider. As you mentioned, right now, `rancher2_cluster` datasource is designed to just return 1 cluster.

This is something that may change at some point, but not a priority at the moment. Even though, we are more than happy to review and accept PRs.

[2021-08-12 17:08] rawmind0 commented on #701
PR #721 has been merged. Fix will be available at tfp v1.17.0

Please, reopen issue if required.

[2021-08-13 07:14] earthquakesan commented on #701
Hi @rawmind0 ! As the issue is not reproducible all the time, we can not really test it =\ Will switch to 1.17 and see if the issue reoccurs after the switch.

[2021-08-14 19:10] vbuckler opened #724 "how to access api url for rancher2_cluster resource"
Hi,

Is the only way to get the api url of a rancher cluster created with `resource "rancher2_cluster"` through the `kube_config` attribute?

I want to reuse the url elsewhere, but it seems I'd have to take the yaml string and convert it to an object first. Please advise on the best practice way to achieve this, thanks for the help.

[2021-08-15 08:23] vbuckler commented on #724
I can answer my own question, it seems the kube_config file is a standardised way to access the kubernetes master.

Write the string to a file:
[code]
And then pick it up with your kubernetes provider, I'm using the plugin banzaicloud/terraform-provider-k8s.:
[code]

[2021-08-15 08:23] #724 closed, assigned to nobody

[2021-08-16 20:10] rawmind0 opened #725 "Cluster Workspace membership reset to fleet-local after Cluster update with Terraform"
We are using to Terraform to deploy our Custom Clusters then using Fleet to finalise the configuration by deploying monitoring, Logging and Istio with Fleet.

We have noticed that editing the cluster configuration such as adding updating the Kubernetes version (upgrade) , changing Kube service arguments or even just adding cluster labels cause the the Workspace that the cluster is associated with

[2021-08-16 20:39] rawmind0 commented on #725
Issue reproduced. Submitted PR #726 to fix it.

@serverbaboon, answering your [comment](https://github.com/rancher/fleet/issues/473#issuecomment-887388091).

The default value is not set by the tf provider, it's set by rancher as the cluster is being replaced by `Updated rancher2_cluster resource to replace RKE cluster API info instead of update, if rancher2_cluster.rke_config has been updated` as

[2021-08-17 13:00] wc-s opened #727 "provider doesn't update `cloud_credential_id` of `rancher2_node_template`, even when the apply seems successful"
To reproduce:
1. create a `rancher2_node_template` with some cloud credential
2. try to update the template's cloud credential to a different one
3. `terraform plan` will show the diff, `terraform apply` will seem successful, but in the end the node template's cloud credential remains the same and is not successfully changed

[2021-08-17 14:53] rawmind0 commented on #727
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/728 to fix the issue

[2021-08-17 21:53] lamroger opened #729 "invalid new value for .rke_config[0].dns[0].update_strategy[0].strategy"
[code]

Using latest version 1.17.0

[2021-08-18 14:17] koboltmarky commented on #701
@rawmind0 we have switch to 1.17.0 and then random errros happened. Ten times it works then it failed two times.
Error message:

[code]

Can you reopen the ticket please ?
We don't have the ouput of the api yet, but we try to implemented that. At the moment is is really hard to debug, maybe it would make sense to output the whole object here ? https://github.com/rancher/terraform-provider-rancher2

[2021-08-18 14:46] rawmind0 commented on #725
PR https://github.com/rancher/terraform-provider-rancher2/pull/726 already merged. Patch will be included at next tfp release 1.17.1

[2021-08-18 14:46] #725 closed, assigned to rawmind0

[2021-08-18 17:27] rawmind0 commented on #727
PR #728 already merged. Fix will be included at next tf ptovider release v1.17.1

[2021-08-18 17:27] #727 closed, assigned to rawmind0

[2021-08-19 10:12] gohumble commented on #701
@rawmind0 I've been testing the provider version`v1.17.1` today.  The error still occurs.

[code]

[2021-08-19 10:44] rawmind0 commented on #701
@gohumble , unfortunately this is expected due to 1.17.1 doesn't have any other fix for this.

The issue seems a race condition occurring at Rancher not at the tf provider. The condition should be `unknown` until the transition is finished, if not there is no chance to check the cluster state from the API. Investigating on this way.

[2021-08-21 12:37] sgran opened #730 "Stale launch template version causing inconsistent final plan"
│ Error: Provider produced inconsistent final plan
│
│ When expanding the plan for module.eks[0].rancher2_cluster.this to include new values learned so far during apply, provider "registry.terraform.io/rancher/rancher2" produced an invalid new value for
│ .eks_config_v2[0].node_groups[0].launch_template[0].version: was cty.NumberIntVal(0), but now cty.NumberIntVal(4).
│
│ This is a bug in the prov

[2021-08-23 17:03] rawmind0 commented on #730
It seems an issue managing tf modules dependencies, where the `version` value seems modified during the `rancher2_cluster`  execution. Are `module.launch_template` tasks finished before starting `rancher2_cluster` tasks?

[2021-08-24 14:03] rawmind0 commented on #701
It seems the issue is caused by a cluster state flapping.

Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/732 to fix the issue. When the condition is false, added extra check if `Condition.LastUpdateTime` > 120s,  before returning error.

[2021-08-25 13:17] lkjangir opened #733 "rancher2_app_v2 not completing helm installation"
Terraform installs helm on the target node cluster but it doesn't finish the run. It keeps running for long. I have tried the latest version of rancher provider as well but still the same issue.

## resource configuration block -
[code]

[2021-08-25 22:37] rawmind0 commented on #701
PR #732  has been merged. Fix is available at tfp v1.17.2

Please, reopen issue if required.

[2021-08-25 22:37] #701 closed, assigned to rawmind0

[2021-08-26 07:13] rawmind0 commented on #697
Thanks for your feedback @jabbrwcky , i'm glad your issue is resolved

There is no blocking call, just waiting until app V2 operation finish, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_app_v2.go#L223 . If it was stuck in `Unknown` state that was the reason.

Please, reopen the issue if required

[2021-08-26 07:13] #697 closed, assigned to nobody

[2021-08-26 07:14] rawmind0 commented on #698
Please, reopen the issue the issue if you have more questions about it

[2021-08-26 07:14] #698 closed, assigned to rawmind0

[2021-08-26 07:14] rawmind0 commented on #719
Please, reopen the issue the issue if you have more questions about it

[2021-08-26 07:14] #719 closed, assigned to nobody

[2021-08-26 07:14] rawmind0 commented on #722
Please, reopen the issue the issue if you have more questions about it

[2021-08-26 07:14] #722 closed, assigned to nobody

[2021-08-26 07:15] rawmind0 commented on #723
Please, reopen the issue the issue if you have more questions about it

[2021-08-26 07:15] #723 closed, assigned to nobody

[2021-08-26 07:19] rawmind0 commented on #733
Attached TF trace logs doesn't seems related with the resource configuration. I can't see any reference to `rancher2_app_v2. externaldns`. Is `rancher2_app_v2. externaldns` installed properly??  Is the issue just occurring for some apps??

[2021-08-26 20:57] ifelsefi opened #734 "increasing size of node groups does not trigger local-exec provisioner"
Hello,

I am triggering a bash script to run after node creation.  It works fine with `terraform apply`.   Though does not run when I modify.

Snipped of my node groups:

[code]

  When I run `terraform plan -out=modify_nodes` we get the expected output:

[code]

Yet running  apply does not trigger my scripts.  Without these the nodes are not bootstrapped properly.

[2021-08-26 21:08] ifelsefi opened #735 "eks_config_v2 - append user data to existing rancher 2.5.5 launch template"
Hi,

In order to properly bootstrap nodes using AWS autoscaler, I need to append some commands to the launch template created by Rancher.

I am running Rancher 2.5.5.

My code:

[code]

When I check the launch template created by the cluster it only shows the default data created by Rancher.

Is it not possible to do what I am trying to achieve?

Thanks!

[2021-08-26 21:52] ifelsefi commented on #735
Terraform cannot change resources it does not manage.   So it cannot modify the launch template created by Rancher.
 We need to be at Rancher >= 2.5.6 but we are at 2.5.5.

 Closing.

[2021-08-27 13:40] ifelsefi commented on #735
Actually, Terraform's passing along this data to Rancher so this should be an option.

[2021-08-27 16:25] ifelsefi commented on #735
user_data does not exist in Rancher API < 2.5.6.   Will update.

[2021-08-27 16:25] #735 closed, assigned to nobody

[2021-08-27 20:28] sgran commented on #730
Yes.  The DAG implies they must, in order to be evaluated correctly.

[2021-08-31 17:15] pneigel-ca opened #736 "rancher2_app_v2 exits with Error: Provider produced inconsistent result after apply"
## Versions:
- Terraform 0.14.11
- Rancher provider 1.17.2
- Rancher server v2.5.5

## Description
My organization is using Jenkins to manage Rancher2 app deployments. Lately we've seen an increase in jobs exiting with this error and subsequent jobs lose track of resources in s3 remote terraform state, which then attempt to create resources resulting in naming conflict. Similar issues rancher/terr

[2021-09-02 21:24] batthebee opened #738 "rancher2 bootstrap doesn't work anymore with rancher v2.6.0"
Here is my terraform script, which uses rancher v2.6.0 (latest).

[code]

I get the following error:

[code]
using rancher v2.5.9 from stable doesn't produce any error.

[2021-09-02 21:27] mitchellmaler commented on #738
You have to set the bootstrapPassword helm value for rancher 2.6 to admin which is what the provider tries to login as. this wasn't required before when deploying.
--set bootstrapPassword=admin

[2021-09-03 11:27] rawmind0 commented on #738
You may have another option here, setting `--set bootstrapPassword=ANY_PASSWORD` and then configure the `rancher2_bootstrap.current_password=ANY_PASSWORD`, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap#current_password

[2021-09-03 20:56] abhi1693 opened #739 "rancher2_app_v2 fails to install latest rancher monitoring, logging, backups and longhorn"
@rawmind0
For a newer release that uses the format `100.0.0+up1.0.0`, the `chart_version` should be provided with the value as `100.0.0%2B1.0.0` otherwise the operation fails with 500 when installing, however, it works well on upgrade using `100.0.0+up1.0.0`

[2021-09-04 04:06] bennysp opened #740 "V2 Catalog not waiting for API and V2 app not waiting on catalog creation"
I am running Rancher 2.5.9 and I am using the Terraform Rancher provider version 1.17.2 with Terraform version 1.0.6.

What is happening is that I have several catalogs that install and some that don't. Then on top of that, some apps won't install because the catalog is not fully ready right at that time. When I rerun the Terraform again, it works fine. So, I am suspecting that the catalog that fa

[2021-09-06 10:35] rawmind0 commented on #740
The provider is waiting but it seems you are getting timeout waiting for catalog client. Have you tried to configure the provider with  a higher timeout value, https://registry.terraform.io/providers/rancher/rancher2/latest/docs#timeout ??

[2021-09-06 21:39] batthebee commented on #738
Thanks, worked for me!

[2021-09-07 08:49] rawmind0 commented on #738
Glad to hear that @batthebee . Please, reopen the issue if needed.

[2021-09-07 08:49] #738 closed, assigned to nobody

[2021-09-07 23:12] bennysp commented on #740
I have tried to play with higher timeouts, but I haven’t tried the provider one admittedly. I will check.

I switched to Rancher v2.6.0 so I will report if I have the same issue and if I do, try the same timeout.

[2021-09-08 10:01] pburchard-equinix commented on #402
We have the same issue.

It's probably caused here:
https://github.com/rancher/norman/blob/afd06f533ca3ffef490c6ce0ca7898271f39467f/clientbase/ops.go#L129

When update request is marshalled **enabled: false** value is omitted because it's configured this way here:

https://github.com/rancher/rancher/blob/f7516246e8f75178c8e2a4827eb0cd25a600dcd8/pkg/client/generated/management/v3/zz_generated_local

[2021-09-08 14:50] mouellet commented on #739
I can confirm this using Ranche v2.6. Here's the error:

The `+` sign seems to be escaped...

[2021-09-10 12:57] gillarda opened #741 "rancher2_project_role_template_binding recreation loop when using user_principal_id"
## Versions

* Terraform 1.0.6
* Rancher provider 1.17.2
* Rancher server v2.4

## Description

I am trying to set permissions on projects for users originating for an OpenLDAP authentication source.
The inial creation of the `rancher2_project_role_template_binding` works fine 👍

[code]

However,  upon subsequent `terraform plan` the resource is planned for replacement as the `rancher2_project_rol

[2021-09-15 04:45] mgherman opened #742 "rancher2_cluster fails to provision against rancher 2.6.0"
Hi Folks,

Im unsure of whether this should be currently being supported, but ill ask anyway. When attempting to provision a new rancher2_cluster against a 2.6.0 Rancher, using an RKE template, the provisioning is successful, however terraform reports a failure due to the `generateKubeconfig` call returning a 503.

[code]

When provisioning a cluster without an RKE template, it is successful.

Ver

[2021-09-15 08:21] rawmind0 commented on #742
Hi @mgherman , same issue has already been reported. It should be fixed with PR https://github.com/rancher/terraform-provider-rancher2/pull/737

[2021-09-15 09:41] jmatsushita commented on #739
I confirm that I have this problem too. It means changing to `%2B` when an operation requires a replace, and changing back to `+` when it can update in place... Needless to say this is inconvenient in pipelines :)

EDIT: Unfortunately there are cases where several API calls are made in case even of update in place, in which case neither `%2B` not `+` allows to avoid the `improper constraint` error

[2021-09-15 10:49] jmatsushita commented on #739
@rawmind0 Would you accept a PR for this bug?

[2021-09-15 11:37] rawmind0 commented on #739
@jmatsushita , sure, more than happy to accept a PR for this. Thanks in advance

[2021-09-15 12:27] rawmind0 commented on #741
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/743 to fix the issue

[2021-09-15 12:33] rawmind0 commented on #740
Please reopen the issue if required.

[2021-09-15 12:33] #740 closed, assigned to nobody

[2021-09-15 12:40] rawmind0 commented on #734
Hello @ifelsefi , `local-exec` provisioner behaviour is out of the scope of this provider. Anyway, after reading local-exec provisioner docs, https://www.terraform.io/docs/language/resources/provisioners/local-exec.html , it seems that this is the expected behaviour,  `The local-exec provisioner invokes a local executable after a resource is created.`  It's saying nothing about the execution on re

[2021-09-15 12:44] rawmind0 commented on #733
Please, reopen the issue if there is any update on it and it's still happening

[2021-09-15 12:44] #733 closed, assigned to nobody

[2021-09-15 17:54] ifelsefi commented on #734
Well that would be useful feature to add!   I am closing though since notabug.

[2021-09-15 17:54] #734 closed, assigned to nobody

[2021-09-17 08:58] gillarda commented on #741
Thank you for looking into this @rawmind0 !

[2021-09-17 09:31] stefanvangastel opened #745 "Inconsistent certificate argument in rancher2_auth_config_* resources"
In the Rancher2 auth configs for FreeIPA and OpenLDAP a base64 encoded value (of a Base-64 encoded X.509 .cer) is required. For ActiveDirectory passing a non-base64 encoded value is required.

So;

[code]

Where `custom-ca.cer` is something like:

[code]

This feels very inconsistent between these resources

[2021-09-17 11:45] rawmind0 commented on #739
@jmatsushita , submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/746 to fix the issue

[2021-09-17 14:38] rawmind0 commented on #742
PR #737 alredy merged. the fix will be available at next tfp release v1.20.0

[2021-09-17 14:38] #742 closed, assigned to rawmind0

[2021-09-17 14:38] rawmind0 commented on #739
PR #746  alredy merged. the fix will be available at next tfp release v1.20.0

[2021-09-17 14:38] #739 closed, assigned to rawmind0

[2021-09-17 14:39] rawmind0 commented on #741
PR #743  alredy merged. the fix will be available at next tfp release v1.20.0

[2021-09-17 14:39] #741 closed, assigned to rawmind0

[2021-09-17 14:39] revog opened #747 "How to include self-made Audit Policy file to RKE2 Cluster with Rancher 2.6"
Hello
I have a question regarding the auditpolicy. How can I include my self made audit policy configuration? Is this possible with `additional_manifest` or how can this be achieved?
I've seen that RKE2 generates an empty file on the node located at `/etc/rancher/rke2/audit-policy.yaml`. But this gets overwritten after config changes are applied through Rancher, right?

[2021-09-17 16:00] rawmind0 commented on #747
Hello @revog ,

it should be something like
[code]

Take a look to https://github.com/rancher/rke2/issues/410

[2021-09-17 18:07] revog commented on #747
I was not talking about changing the path, but I would like to change the content of the file with TF. But indeed, I could also create the file with TF and change the path to it by `machine_global_config`.

[2021-09-18 17:04] bennysp commented on #740
Hi @rawmind0,

I have set the timeout using the 1.20.0 of terraform rancher provider and I am still seeing this issue. I am on 2.6.0 version of Rancher.

[code]

Any ideas?

[2021-09-20 12:05] abhi1693 commented on #738
@rawmind0 I'm on rancher 2.6.0 and have all the above changes in place. Today, I updated the admin password from rancher UI and terraform started throwing an `Unauthorized login` error even though I have passed the correct password. It seems like bootstrap only works until the password is not changed at all.
The error is while refreshing the state with the user for `rancher2_bootstrap.admin` when

[2021-09-20 12:49] rawmind0 commented on #738
@abhi1693 , `rancher2_bootstrap` should work in the same way on Rancher 2.6.0. If you've updated your password from the ui and you are getting `Unauthorized login` from tf provider, then something is not updated properly on you tf file. Updating `password` and `current_paasword` to the current password should work fine, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources

[2021-09-20 13:09] abhi1693 commented on #738
@rawmind0 This was all working fine. I've been on v2.6.0 since the day it came out and did not face this issue until I updated the password on the UI for the default admin user.

[code]

There hasn't been any change in our TF files at all. The only change is the password that was updated outside of terraform

[2021-09-20 13:11] rawmind0 commented on #740
Hi @bennysp , is your downstream cluster lasting more than 20 minutes to get active?? As mentioned, it seems  you are getting a timeout waiting for catalog client.

`Error: Creating Catalog V2: Timeout getting Catalog V2 Client at cluster ID c-g49sj: Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [dial tcp 127.0.0.1:6080: connect: connection refused] from [https://rancher

[2021-09-20 13:21] rawmind0 commented on #738
@abhi1693 , for sure your issue is coming from the updated password from the ui.

As mentioned, you should update your tf file with the `password` and `current_password` arguments with the actual admin password. `current_password` argument was created for this concrete purpose, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap#current_password

[2021-09-20 13:29] abhi1693 commented on #738
@rawmind0 If you see my code above, I have already provided `password` and `current_password` the exact same variable.

I just reverted to the old password and the initial login issue got fixed without making any change to the TF files. Clearly, the issue is with the provider. But after doing so, the token generated from the provider when passed to other modules is now throwing `unauthorised error

[2021-09-20 13:42] rawmind0 commented on #738
Yeah, but it's not clear what the value of this variable is.  If you reverted the old password (i guess from ui) and tfp is working fine again without making any change to the TF files, then may be the `var.admin_password` was not properly updated before, so not clear that the issue is on the provider. I don't know you tf modules structure but the token should also be updated properly once auth is

[2021-09-20 14:01] abhi1693 opened #748 "rancher2_bootstrap stops working when password is changed for admin user for rancher v2.6.0"
I have updated our TF files when rancher v2.6.0 came out and the provider has been working just fine since that day. Today, due to our security policy a user updated the password from the UI and `rancher2_bootstrap` stopped working even though the updated password was passed to both `password` and `current_password` variables in the resource.

Here is a snippet of the relevant code

provider.tf
[c

[2021-09-20 14:41] abhi1693 commented on #748
@rawmind0 As per your suggestion regarding the token being used first, I looked at the state file and it has the token info that does not exist on rancher. I think the `terraform plan` is referencing information that used to exist on rancher but does not anymore because when we updated the password we removed old API sessions.

Even though during the plan, a new token gets generated on Rancher, it

[2021-09-20 14:46] abhi1693 commented on #748
I'm stuck in a chicken and egg-like situation now. I'm unable to update the password because then bootstrapping stops working. If I revert back, the newly generated token is not used causing the plan to fail every time.

I have even tried to update the password using terraform and it fails again on bootstrapping during the planning stage.

@rawmind0  Your insight into this issue would be greatly a

[2021-09-20 15:16] rawmind0 commented on #748
@abhi1693 previous answer here, https://github.com/rancher/terraform-provider-rancher2/issues/738#issuecomment-922940166 . Have you checked you modules structure and var assignements?? Have you tested setting [token_update](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap#token_update) argument to true?? This should force the token to be updated as explained

[2021-09-20 15:27] abhi1693 commented on #748
@rawmind0

I have `token_update=true` as well but I still have the same issue. I have also tried to run terraform import on rancher2_bootstrap to download the updated information and it fails as it is not supported.

Can you try these steps

1. Using tfp, bootstrap rancher and setup any dependency like creating/updating cloud credential. Make sure that you pass the token only using the bootstrappe

[2021-09-20 16:02] rawmind0 commented on #748
That's expected. Once you reverted admin to old password, have you tested just tf applying changes on `rancher2_bootstrap` , `terraform apply -target=rancher2_bootstrap.admin` . This plan should finish fine and update tfstate properly

[2021-09-20 16:06] abhi1693 commented on #748
@rawmind0 I'll try your solution. If that's expected, what's the best way to update the password in your opinion?

[2021-09-20 16:43] rawmind0 commented on #748
What it's expected at tf is `Unless the plan succeeds and the new changes can be applied, I don't believe this would work.` due to tfstate is not updated.

If you are managing admin password from tfp, update it from the Rancher ui doesn't seems a good practice...Moreover when it's a key point for tfp to login to Rancher API. Starting from point where `rancher2_bootstrap` resource is working fine,

[2021-09-20 20:40] abhi1693 commented on #748
@rawmind0 It took a lot of manual work to revert the changes and bring back the state before the password was changed.

One last question, (this maybe out of scope for this provider), should I update the `bootstrapPassword` as well while changing the password?

[2021-09-21 07:26] wesselvdv opened #749 "[Feature] Add support for Keycloack OIDC Auth Provider"
Since Rancher 2.6 OIDC configuration is also an option for Keycloak. It would be nice if we could configure this using this provider as well.

[2021-09-21 13:29] rawmind0 commented on #748
@abhi1693 I'm sorry about manual work, but i'm glad to hear that the tfstate is fine again.

About your question around `bootstrapPassword`, this setting is just for Rancher helm chart to set the initial Rancher admin password when you install a new Rancher v2.6.x. Once Rancher is installed, the update of this setting shouldn't be required, due to the bootstrap would be already done.

[2021-09-21 14:48] jjhidalgar commented on #738
I have two issues with rancher v2.6.0. I am using both helm bootstrapPassword to a random value, and also current_password on terraform (and also password).

The issues are

1) Every now and then I get Unauthorized errors on terraform when applying. It fixes by just running apply again

2) Every time I run apply, I get this config skew:

    rancher2_bootstrap.admin will be updated in-place

And I

[2021-09-21 15:07] rawmind0 commented on #738
Not clear the 2 points you are mentioning:
1. Is it getting Unauthorized errors when applying or is it solved applying again??  is this happening first tf run, all tf run or when?? Could you please explain a little bit more??
2. What is the config skew?? What is the argument trying to be updated, `current_password`?? If it's just `current_password` to be updated, you could try removing it from the

[2021-09-21 16:27] jjhidalgar commented on #738
Sorry for not explaining with more detail.

For 1), I can not replicate it right now, I will share more info if I see it again. But basically, it showed a "Unauthorized" error when terraform was refreshing the state, but not always, only sometimes.

For 2) This is the issue:

[code]

And if I apply, and then run terraform plan/apply again, same thing. In other words, it always has a change to "app

[2021-09-21 16:35] rawmind0 commented on #738
Yeah, `current_password` should just be used for recovering bootstrap. To avoid diffs once bootstrap works, you could ignore changes as you did or you could try removing it from the bootstrap resource.

[2021-09-21 20:45] abhi1693 commented on #748
@rawmind0 Thanks for all your help. I'm closing this issue for now.

[2021-09-21 20:45] #748 closed, assigned to nobody

[2021-09-23 14:11] talex-de opened #751 "Cannot set OS Image for Node Template on Hetzner Cloud"
Hi there, I run into an issue with the `image` field when trying to setup a node template in Rancher` v2.5.9` using Terraform. It looks like the value for the operation system `image` is not being set correctly for my node template by the TF provider.

TF code looks like this:

[code]

When viewing this node pool in the Rancher web UI all fields are set correctly, excepted the `image` field which

[2021-09-24 18:49] #619 closed, assigned to nobody

[2021-09-24 18:50] wojtasool commented on #619
Ale rady present in 1.20.0

[2021-09-25 05:14] ashtonian opened #753 "migrate to 1.20 -> invalid memory address or nil pointer dereference"
Running a deployment with the new provider seemed to cause a plugin error this is the tf logs. Let me what/know if you need more info. Cleared local tf files and tried again.

[code]

[2021-09-27 21:12] ns-tbroughton commented on #704
Rancher ticket https://github.com/rancher/rancher/issues/33769

[2021-09-28 05:43] revog commented on #747
Did several tests and I can decline this. Uploaded audit policy file stays untouched and can easily referenced in `machine_global_config`argument 👍 .

[2021-09-28 05:43] #747 closed, assigned to nobody

[2021-09-28 09:59] akazakou-incomm opened #755 "cdktf: Property 'getNumberAttribute' does not exist on type 'Rancher2Provider'"
On try to deploy stack with cdktf tool based on TypeScript language it generates error:

Version: 1.20
Example
[code]

Error output:
[code]

[2021-09-28 12:57] rawmind0 commented on #753
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/756 to fix the issue. The workaround would be specify `kubernetes_version` and `subnets` on the cluster definition

[2021-09-28 14:12] mazlumtoprak opened #757 "Error importing AKS cluster with Terraform rancher2_cluster resource (aks_config_v2)"
Hey all,

We want to to import an `azurerm` created cluster with a default node pool wich has autoscaling enabled into rancher with the new version and the `aks_config_v2`. The default node pool also has been created with the azurerm provider.

When we manually import the cluster via Rancher2 UI, we have no issues, everything looks fine. While using the terraform provider, we get some errors. This

[2021-09-29 22:28] lots0logs opened #760 "Add vpc_uuid argument to rancher2_node_template.digitalocean_config"
Currently there is no way to assign nodes created with node template to a VPC. I know this has to be supported in the machine driver before it can be added here but I cannot find where to file an issue for machine driver so I'm hoping you can help.

[2021-09-30 09:09] talex-de commented on #751
Same for TF provider `rancher/rancher2`,` v1.20.0` and Rancher `v2.6` – the image is not being set correctly. Therefore the node installation fails due to an error during Docker installation.

[2021-09-30 14:03] rawmind0 commented on #760
The issue for machine driver should be opened at https://github.com/rancher/rancher repo

[2021-09-30 14:04] rawmind0 commented on #753
PR with fix merged. It will be included on next tfp release v1.20.1

[2021-09-30 14:04] #753 closed, assigned to nobody

[2021-09-30 22:26] mitchellmaler opened #762 "RoleTemplate Rule doesn't allow verb own"
We are managing our own role templates for projects and would like to add the new projects rules with the verb own. This is what the OOTB project-owner role has.

https://github.com/rancher/rancher/blob/release/v2.6/pkg/data/management/role_data.go#L267

[2021-10-01 00:10] bennysp commented on #740
@rawmind0 - It takes about 6min for the cluster itself to go into an active state. But that is where I think it is reporting active to terraform before it really is truly active.

I am assuming that if I have the Catalog V2 tied to the cluster_sync cluster ID, it should wait until it is fully ready.

I made this when I was using the 2.5.x version from Ansible because of the similar problem when I

[2021-10-01 04:31] bennysp commented on #740
@rawmind0 I saw a few errors on the nodes themselves, so I increased memory/cpu for the masters and I still see random errors. There may be some other underlying issue. I will look into more of my setup and see if there is issue there.

Thanks

[2021-10-01 19:26] braunsonm opened #763 "Allow configuring authorized users and groups"
After adding LDAP auth to Rancher, you are able to `Restrict access to only the authorized users and groups`. This does not seem possible to configure using Terraform.

Additionally since Terraform doesn't support the User Search Filter, you cannot restrict which users are able to login at all.

[2021-10-01 19:38] braunsonm commented on #763
Correction! I think the access mode is what configures this.

[2021-10-01 19:38] #763 closed, assigned to nobody

[2021-10-05 13:29] rawmind0 commented on #762
The `own` verb was already introduced with PR https://github.com/rancher/terraform-provider-rancher2/pull/731 and included at tf provider release [v1.17.2](https://github.com/rancher/terraform-provider-rancher2/releases/tag/v1.17.2)

[2021-10-05 13:36] mitchellmaler commented on #762
Oh wow, not sure how I missed that.
I’ll look into upgrading the provider then. Thanks.

[2021-10-05 13:36] #762 closed, assigned to nobody

[2021-10-05 15:37] braunsonm opened #764 "rancher2_bootstrap current_password always detects changes"
It seems with a simple config:

[code]

Subsequent runs with `terraform apply` always show the `current_password` as being updated in place even though it has not changed.

[2021-10-05 16:04] rawmind0 commented on #764
This is expected. The `current_password` argument is just to be used if admin password/token has been updated outside terraform. Once rescued, the `current_password` has to be just removed from tf file

[2021-10-05 16:12] braunsonm commented on #764
@rawmind0 Not sure I follow. If Rancher is installed using Terraform using this bootstrapped password:

[code]

You should not need to modify the .tf file after you've bootstrapped

[2021-10-05 17:56] rawmind0 commented on #764
@braunsonm you have 2 options:
* set the Rancher helm bootstrap password to `admin` and then `rancher2_bootstrap` will not require `current_password` argument.
* set `current_password` at `rancher2_bootstrap` to same used at Rancher helm chart, and once you run the bootstrap properly, remove it from tf file to avoid  updated in place at subsequent terraform apply

[2021-10-05 18:42] braunsonm commented on #764
That seems like bad design and this should be considered a bug don't you think?
- You should not be encouraging users to use the default bootstrap password `admin` when provisioning clusters that may be internet facing
- Option 2 doesn't follow Terraforms principals. You should not need to change your `.tf` files based on the state of your infrastructure to prevent noise. The value of `current_pas

[2021-10-06 00:00] rawmind0 commented on #764
No, i don't think it's a bad design nor a bug. It's simply a new feature added to rancher 2.6.0 (not stable rancher version yet) that it's not yet implemented here.  Any contribution would be appreciated

I'm not encouraging users to do nothing, just explaining the available options to bootstrap rancher 2.6.0 with the provider at the moment.

Right, Terraforms principals are not followed if you us

[2021-10-06 00:04] braunsonm commented on #764
Sorry you stated this is "expected" so that made it sound like you don't consider this as a bug and that you designed it this way? I would personally suggest not viewing the current_password as a change everytime but you mention it was done this way on purpose.

Please feel free to do what you'd like with this issue. Whether that's close it or suggest an implementation change.

[2021-10-06 13:42] simu opened #765 "Error 403 Forbidden when creating `rancher2_cluster_v2` resource with a "Standard User"'s token"
## Context

I'm provisioning an RKE2 cluster in Rancher 2.6.0 with an API token belonging to an LDAP user with role "Standard User". I can create new RKE2 clusters in the Web interface with the same user without any issues. I can also use the same API token to create a `rancher2_cluster` resource with Terraform without any problems.

Terraform version: v1.0.7
Provider Rancher2 version: v1.20.1
Ran

[2021-10-06 14:17] simu commented on #765
Looking at the provider code I found the section in `waitForClusterV2State()` where we get the forbidden error when getting the V2 cluster ID: https://github.com/rancher/terraform-provider-rancher2/blob/6704c32e373dba57e30c1a4d6409d28ac23badb7/rancher2/resource_rancher2_cluster_v2.go#L216-L219

I performed a quick experiment locally, adding the `IsNotFound() || IsForbidden()` check after calling `

[2021-10-08 01:06] rbkaspr opened #767 "rancher2_app runs indefinitely on Helm error"
I recently attempted to deploy Sonatype Nexus to an RKE2 cluster running v1.21.4+rke2r3 using the Rancher Terraform provider v1.20.0.

I had an error in my values file but rather than exiting immediately, the provider continued to attempt to create the app for nearly 10 minutes before I finally aborted the deployment. I diagnosed the underlying Helm issue by attempting a Helm install directly.

I

[2021-10-08 08:27] simu commented on #765
Testing my change (see previous comment) again, I now get the following error when trying to create an RKE2 cluster via Terraform using a token belonging to a "Standard User":

[code]

[2021-10-11 11:03] rawmind0 commented on #767
The provider is not attempting to create the app again, this behaviour is defined by Rancher2. The provider should return error if the `appV2OperationWait` is returning error, https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/resource_rancher2_app_v2.go#L68 .

[2021-10-11 15:17] rawmind0 commented on #764
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/769 adding the feature

[2021-10-11 23:06] rawmind0 commented on #765
@simu , thanks for reporting this and looking into the code.

The patch you made, was in the good direction but not enough. The provider clients should also be restarted to refresh RBAC until the standard user is able to read the cluster. I've included a fix at PR #770  https://github.com/rancher/terraform-provider-rancher2/pull/770/files#diff-f7df0599a821144eb6573b3b189435962d736692b3c14f72bd4e52

[2021-10-12 07:42] simu commented on #765
Thanks for the feedback, I intentionally included my patch as a comment because I was not sure that it was sufficient to completely fix the issue.

[2021-10-12 09:42] wojtasool commented on #693
Up

[2021-10-12 14:21] ulptsascora commented on #751
Same problem. Provider version 1.20.1 and Rancher v2.5.9.

[2021-10-12 16:33] rbkaspr commented on #767
My question here is why is it taking 10+ minutes for the provider to return an error (or just not returning an error since I had to manually abort the apply operation) when the Helm render is failing instantly?

[2021-10-12 16:56] rawmind0 commented on #767
Are you setting `wait` to `true` or `false` https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app_v2#wait ??

[2021-10-12 18:13] polivbr opened #771 "Errors when attempting to import an existing AKS cluster"
When attempting import an existing AKS cluster by creating a new AKS cluster with "imported" set to true, many unnecessary fields are populated and sent to Rancher, causing the Rancher server to error out as it does not allow changes to those properties during an import.

[2021-10-12 18:36] rbkaspr commented on #767
I am not setting `wait` so presumably it's defaulting to true.

[2021-10-12 21:30] braunsonm opened #774 "Set cloud provider in rancher_cluster_v2"
It doesn't seem possible to set a cloud provider when using custom nodes with the `rancher_cluster_v2`. From what I can tell this should be defined in the `machine_config_v2` from now on but that lacks the ability to have configs for custom nodes.

For instance I am deploying nodes on vSphere but as custom nodes instead due to issues with the vSphere provider. I would like to set the cloud provide

[2021-10-12 21:32] braunsonm commented on #774
Or perhaps this could be set in the `machine_global_config`? However this is not what the Rancher UI uses for setting the cloud provider

[2021-10-13 09:38] rawmind0 commented on #774
It's possible, it should be defined at `machine_selector_config`, same used by Rancher UI to define cloud provider

[code]

https://docs.rke2.io/advanced/#installation-on-classified-aws-regions-or-networks-with-custom-aws-api-endpoints

[2021-10-13 09:42] rawmind0 commented on #771
The example published at docs should work fine,  https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#importing-aks-cluster-from-rancher-v2-using-aks_config_v2-for-rancher-v260-or-above-tech-preview, is  not working for you?? No other field should be set and the provider should not send any other fields to Rancher.

[2021-10-13 09:44] rawmind0 commented on #767
Have you tried setting it to `false`?? May your answer is related to it

[2021-10-13 13:24] rbkaspr commented on #767
So setting `wait` explicitly to `false` seems to cause the provider to mark the app as successfully deployed even though the underlying Helm render fails, which is **not** desirable behavior. Removing the setting and applying *updates* to the app resource errors out immediately when invalid Helm is applied.

However, as this issue occurred when a new app was being applied, I'm going to tear the ap

[2021-10-13 13:52] braunsonm commented on #774
Thank you I missed the machine selector config.

[2021-10-13 13:52] #774 closed, assigned to nobody

[2021-10-13 14:17] rbkaspr commented on #767
Okay, same behavior, if I deploy from scratch with Helm render errors and `wait` unset (defaults to `true`), the app deploy just hangs rather than immediately erroring out as expected.  If I set `wait` explicitly to false, the terraform apply reports success for all resources but the app doesn't actually deploy. This is a **bug**.

[2021-10-13 14:30] rawmind0 commented on #767
This is not a bug, this is the expected behaviour, app deployment is waiting or not for app rollout, depending on the resource argument. Helm run the deployment but it can't know if you are passing good or bad values to your chart.

[2021-10-13 14:58] rbkaspr commented on #767
But under the hood Rancher is just executing a helm install command when an app is created (or at least that's the case in apps deployed manually through the Rancher UI), which should be failing immediately when the bad values cause a render error, and the app is clearly not being created, so why isn't this being propagated back to the Terraform provider?

[2021-10-13 15:46] polivbr commented on #771
That example doesn't work. Using this:

[code]

Rancher gives me the following error:

`failed to update cluster: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="PropertyChangeNotAllowed" Message="Changing property 'networkProfile.networkPlugin' is not allowed." Target="networkProfile.networkPlugin"
`

If I use a version of the

[2021-10-13 21:51] rawmind0 commented on #771
That's weird, this example is working fine to me when importing an aks cluster at rancher v2.6.0 and v2.6.1. `network_plugin` shouldn't be set. Just curiosity, what provider and Rancher versions are you using??

Anyway, the code is failing at some point as also seen at https://github.com/rancher/terraform-provider-rancher2/issues/757

Thanks for your PR. I've took a look to it and is fine it shoul

[2021-10-13 21:53] rawmind0 commented on #757
Hey @mazlumtoprak , issue reproduced. Submitted PR  https://github.com/rancher/terraform-provider-rancher2/pull/775 to fix it.

[2021-10-14 10:16] rawmind0 commented on #764
PR merged. The feature will be available at next terraform provider release, v1.21.0

[2021-10-14 10:16] #764 closed, assigned to rawmind0, sgapanovich

[2021-10-14 11:11] rawmind0 commented on #767
I think you are doing rough and simplistic assumptions about how you guess Rancher works, that at some point are not right.

As already mentioned [here](https://github.com/rancher/terraform-provider-rancher2/issues/767#issuecomment-939923030), once the app is created with an API call (async, not blocking call), an app operation is created (running the helm command) and is being checked to know its

[2021-10-14 14:01] polivbr commented on #771
That is weird. I'm running Rancher 2.6.1 with provider version 1.20.1.

Thanks for fixing up my PR. I did enough to solve my problem but am not familiar enough with the codebase to make the other changes you made.

[2021-10-14 14:25] jvaibhav123 opened #776 "Issue while creating dns global entries"
Hi,

I am facing issue while creating rancher2_global_dns resource.

[code]

The response which i got is as below

[code]

when i looked the rancher url for getting all global dns entries, the url is `https://xyz.com/v3/globalDnses`(capital D)

Just wanted to check if this is bug or not.

Environment
Terraform 1.0
Rancher 2.5.9

[2021-10-14 14:28] rawmind0 commented on #771
Agreed, it's weird. May be it's depending on the aks cluster config to import?? Anyway, PR #775 is already merged and the fix will be available at next tf provider release, v1.21.0

Sure, no problem. Thank you for reporting and your PR.

[2021-10-14 14:28] #771 closed, assigned to rawmind0

[2021-10-14 14:29] rawmind0 commented on #757
PR #775 is already merged. The fix will be available at next tf provider release, v1.21.0

[2021-10-14 14:29] #757 closed, assigned to rawmind0

[2021-10-14 14:41] rawmind0 commented on #776
Hi @jvaibhav123 , the `rancher2_global_dns.globalDns.project_ids` definition seems wrong. It's expecting project id, not project name.

May be you can try with something like,
[code]

[2021-10-14 15:15] rbkaspr commented on #767
I understand that the creation process for an app is a bit more complicated than Rancher just running `helm install`, I just didn't think the fine details added much to the discussion.

In any case, regardless of whether the intent is for the provider to use the same behavior as the UI, the observed behavior is different. If I create an app via the provider with bad configs, I either wait 10 minut

[2021-10-14 18:27] rawmind0 commented on #767
Could you provide a concrete app example to reproduce the behaviour you are talking about??

[2021-10-14 18:40] rbkaspr commented on #767
Sure, here you go:
[code]

Corresponding TF snippet:
[code]

[2021-10-14 19:31] rawmind0 commented on #767
What you provided is not an `rancher2_app_v2` resource definition. The title is mentioning app v2, and i was talking about it. What app are you talking about, `rancher2_app` or `rancher2_app_v2`??

This would be the app_v2 definition with the data you provided

[code]

Result from the provider, the app operation result

[code]

[2021-10-14 19:36] rbkaspr commented on #767
Yeah, whoops, I meant `rancher2_app`, I assume v2 is the new recommended way to go, yes?

[2021-10-14 19:48] rawmind0 commented on #767
Yes,  `rancher2_app_v2` and `rancher2_catalog_v2` are the way to go.

[2021-10-14 19:56] #767 closed, assigned to nobody

[2021-10-16 10:02] jvaibhav123 commented on #776
Thanks @rawmind0 Thanks for pointing out. Its working now.

[2021-10-16 10:02] #776 closed, assigned to nobody

[2021-10-18 09:24] rawmind0 commented on #765
PR https://github.com/rancher/terraform-provider-rancher2/pull/770 already merged. The fix will be included on next tf provider release, v1.21.0

[2021-10-18 09:24] #765 closed, assigned to rawmind0

[2021-10-18 12:27] abhi1693 opened #777 "Updating cluster_template_answers destroys the cluster"
On my cluster, I'm using RKE templates and managing `backupConfig` using the templates. Every time, I update the `cluster_template_answers`, the entire cluster is destroyed and created again.

Here is my cluster configuration
[code]

Here is my configuration for the template revision

[code]

Note: This is not the case, when I update the same cluster over API.

[2021-10-18 14:56] rawmind0 commented on #777
What is the argument that is set as updated to force new cluster?? Terraform plan/apply log??

[2021-10-18 15:51] abhi1693 commented on #777
Even a small change like updating the `backupConfig` folder name is causing the cluster to get destroyed and created again.

I have attached a log wherein, I have made only a name change for `backConfig.folder` and it creates a plan to destroy. There hasn't been any other change either with the configuration n terraform or outside it.
[plan.log](https://github.com/rancher/terraform-provider-ranche

[2021-10-18 17:54] rawmind0 commented on #777
The cluster resource is not destroyed and created again, in the log you attached.. It's just updated in place...

[code]

[2021-10-18 18:25] braunsonm opened #778 "Cannot create S3 compatible cloud credentials"
Hello,

I have an S3 compatible store I would like to write etcd snapshots to. If I create a cluster using `rancher_cluster_v2` I need to provide a `cloud_credential_name`. There currently aren't any options for `rancher2_cloud_credential` that is applicable.

I tried using an `amazonec2` cloud credential but unfortunately it errors that it cannot be found. Pretty sure there needs to be support fo

[2021-10-18 18:53] braunsonm opened #779 "Constant changes detected with registry mirrors"
Given the following:

[code]

Any subsequent `terraform apply` show the mirrors as being resorted over and over again. Perhaps this is because of the Rancher API? Or maybe how Terraform handles duplicate mirrors blocks? If it's a terraform issue can we make mirrors an array instead of multiple map blocks?

[2021-10-18 19:27] rawmind0 commented on #778
Hello @braunsonm, `cloud_credential_name` is referencing a secret name, not a `rancher2_cloud_credential` resource. A secret should be created with expected data keys: `accessKey` and `secretKey`

[2021-10-18 19:34] braunsonm commented on #778
Thanks @rawmind0 can you clarify? If you mean a `rancher2_secret_v2`, that requires the `cluster_Id` which doesn't exist yet since it's being provided to the `rancher2_cluster_v2` :)

Unless I can use a secret on the `local` cluster

[2021-10-18 20:00] rawmind0 commented on #778
I got your point, but yes
 https://github.com/rancher/rancher/blob/v2.6.1/pkg/provisioningv2/rke2/planner/s3args.go#L100
The option to enable etcd S3 backup at cluster V2 creation is nor available at Rancher UI. Take into account that this is a tech preview.

[2021-10-18 20:05] braunsonm commented on #778
So right now it's not possible to create the `rancher2_secret_v2` because of cyclic references? The code you linked is a tad confusing due to the fact that it gets `GetCloudCredentialSecret`, and accepts the same parameters as what is in the Rancher UI under `S3-Compatible Cloud Credential`

But you're saying this is not the same thing, and it is not possible to do this via the Terraform provider

[2021-10-19 13:42] dcardellino commented on #693
Having same issue... something new @rawmind0 ???

[2021-10-20 05:32] andersjohansson2021 opened #780 "Timout error when removing Node Template with Terraform."
Hi,
I receive the following:
[ERROR] timeout removing Node Template: Bad response statusCode [405]. Status [405 Method Not Allowed]. Body: [baseType=error, code=MethodNotAllow, message=Template is in use by a node.] from [https://"rancher-server"/v3/nodeTemplates/cattle-global-nt:nt-npbw6]

This is a terraform provisioned cluster.  How do i clear that node form the API so that terraform can finish

[2021-10-20 09:54] exocode opened #781 "How to close the gap server creation and bootstrapping with password"
I have created a Rancher 2.6.x server successfully via Terraform and in a Docker environment. How can I close the gap getting the `initial_password` and handle it over to the `rancher2_bootstrap`?

Yes, I can grep the password running:

`docker logs CONTAINER_ID 2>&1 | grep "Bootstrap Password:"`

But how to handle over that one, to prevent a second `terraform apply`-command?
At the moment I do a

[2021-10-20 11:16] rawmind0 commented on #778
All cloud credentials are saved as secrets at k8s. Anyway, `S3-Compatible Cloud Credential` are not supported yet by this provider. Submitted PR #782 to add support for it

[2021-10-20 11:22] rawmind0 commented on #781
As explained at docs, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/bootstrap, you have the option to set any initial password during the Rancher 2.6.x deployment, so you could set it as `initial_password` argument

[2021-10-20 11:27] rawmind0 commented on #780
Hi @andersjohansson2021, the node you mention should be provisioned by node_pool, so node_pool should be removed first.  Are you using `cluster_sync` to properly manage dependencies?? https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync#example-usage

[2021-10-20 11:59] andersjohansson2021 commented on #780
Hi @rawmind0,
Im not using that, will that ensure the deletion of all object when destroying a cluster?
Will add and test.
In the meantime do you know of any way to be remove that kind of object?
After test i conclude that the template error still remains, so i continue to dig after that template or that node that hindering the deletion of that cluster.
As said if you have any input of deleting li

[2021-10-20 13:50] rawmind0 commented on #780
Will add and test.

May help due to it used to be caused by a race condition. Also adding a cluster dependency to node_template and/or increasing node_template remove timeout.

As said if you have any input of deleting lingering objects like that i would appricate that.

Are you talking about an orphan node, or getting this error consistently with random nodes?? The rancher API should be available

[2021-10-20 13:59] andersjohansson2021 commented on #780
Awesome then ill make sure to have that  with my terraforming.

Im talking about a orphan node as i see it now. Im still kind of digging through this to see where to find the resource that still keeps that template and cluster from destruction.

[2021-10-20 15:21] braunsonm commented on #778
Thanks for being so quick on these @rawmind0 however even with one of those cloud credentials it doesn't seem to work. (created in the UI). But I don't think that's related to the provider so I made an issue here: https://github.com/rancher/rancher/issues/35163

The properties required for a v2 cluster are odd because you need to specify the endpoint/folder/etc but you ALSO specify those in the S3

[2021-10-20 15:38] exocode commented on #781
Hi @rawmind0,
Thank you for your attention

I definitly doing something wrong:

I already tried to set that `initial_password`:

[code]
BTW: when I set `initial_password` value to the password in the Rancher logs (`docker logs  container-id  2>&1 | grep "Bootstrap Password:"`) in the second run it works (terraform apply does not fail)

  I get these logs:

[code]

But at this moment, Rancher was a

[2021-10-20 16:00] rawmind0 commented on #778
Oh got it, it seems there is a possible issue at Rancher level.

In the S3-Compatible Cloud Credential you specify default endpoint/folder/etc but they can be overwritten with `etcd.s3` values

[2021-10-20 16:05] rawmind0 commented on #781
Please read the docs for installing Rancher, https://rancher.com/docs/rancher/v2.6/en/installation/resources/bootstrap-password. You are not  passing  CATTLE_BOOTSTRAP_PASSWORD env variable to rancher docker

[2021-10-20 16:22] rawmind0 commented on #779
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/783 to fix it

[2021-10-20 21:20] exocode commented on #781
ops...  😶  but... still hanging with the `--acme-domain`, but I will continue on the Rancher/Rancher repo... thank you very much!

[2021-10-20 21:20] #781 closed, assigned to nobody

[2021-10-22 07:48] Ragnored commented on #751
I found that the wrong ImageId is being generated. For example, the ImageId for Ubuntu 20.04 should be "15512617". But imageId created for any image always "0". This can be seen in the API View for Node Templates.

[2021-10-22 08:00] ulptsascora commented on #751
I also found out that it is probably a problem with the nodetemplate itself. I created manually a nodetemplate and looked in the API (v3/nodetemplates) for the Json data because as workaround I create the templates manually with curl. I found out, if I create a template with ubuntu 20.04 then the ImageID is correct (I checked the id over the Hetzner API) but the Image name is ubuntu 18.04!
So now

[2021-10-22 08:08] talex-de commented on #751
I tried different OS Images, given by name and ID. The TF provider failed in all cases for me. Always ending up with a corrupted Node Template.

If someone can give me a hint where to start searching within this TF providers code base for this issue I'm willing to hunt this down :) I'm a Golang developer but didn't have a try with TF providers yet.

[2021-10-22 08:38] Ragnored commented on #751
Workaround:

In `rancher2/schema_node_template_hetzner.go` file
Add to `type hetznerConfig struct`
[code]

And in `func hetznerConfigFields () map [string] * schema.Schema`
[code]

In `rancher2/structure_node_template_hetzner.go` file
Add in `func expandHetznercloudConfig(p []interface{}) *hetznerConfig`
[code]
This will make it possible to set ImageId in the hetzner_config of the rancher2_node_te

[2021-10-26 00:43] seatonpear commented on #693
I am having this same issue. Any update ?

[2021-10-26 10:21] kgtw opened #784 "Support labels and annotations for rancher2_cluster_v2"
The `rancher2_cluster` resource supports annotations & labels (https://github.com/rancher/terraform-provider-rancher2/issues/582), this functionality appears to be missing for the `rancher2_cluster_v2` resource.

[2021-10-26 11:59] doublethink13 opened #785 "Create a Node Template for AWS i3.xlarge"
I need to create a Node Template for an AWS instance of type i3.xlarge.

I need to have the `NVMe` mounted when a node is provisioned via a Node Pool.

How can I accomplish this?

[code]

[2021-10-26 12:01] rawmind0 commented on #693
The issue is related with the use `launch_template`. The `eks-operator` is not full filling `node group`, `image_id`, `instance_type`, etc.. Using the UI, this is done by an extra call to aws API that is getting and full filling the data before send it to the eks operator. This behaviour is complicated to be replicated here, due to the cluster resource doesn't have the aws credentials (referring c

[2021-10-26 12:09] rawmind0 commented on #784
Labels and annotations are already supported by `rancher2_cluster_v2` https://github.com/rancher/terraform-provider-rancher2/blob/master/rancher2/structure_cluster_v2.go#L91

[2021-10-26 12:14] rawmind0 commented on #785
may be using cloud-init??

[2021-10-26 12:26] kgtw commented on #784
Ok, looks like docs need updating as there is no mention of them being available for the resource.

[2021-10-26 16:09] doublethink13 commented on #785
My bad, I missed the `userdata` field on the `amazonec2_config` 😅

For future reference, if everyone needs, this script mounts the volume before the node is added to the cluster:

[code]

`lsblk` confirms this.

Also, I found the [description](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/node_template#userdata) of the `userdata` a bit misleading. Passing a string

[2021-10-26 16:09] #785 closed, assigned to nobody

[2021-10-27 08:05] akazakou-incomm commented on #755
The same for 1.21 version

[2021-10-28 15:57] sayshh opened #786 "rancher2_node_template custom_attributes not applied correctly"
I am creating a Rancher Node Template for vSphere using the `rancher2_node_template` resource. I need to have some `custom_attributes`. Below is the resource definition:

[code]

**Observations:**
1. Node template gets created, but the `key=value` pairs as defined above (also shown on documentation) don't reflect on the Rancher UI (screenshot below).
![image](https://user-images.githubusercontent.

[2021-10-30 17:08] mouellet opened #787 "Invalid provider configuration due to config.NormalizeURL returning error"
We're using a dynamic IP from an Azure Load Balancer to build an fqdn as hostname (somewhat like nip.io) when deploying the rancher server and using it as input for the rancher2 provider's `api_url` to bootstrap and configure the server.

[code]

All of this happens in the same terraform context, so the value for the provider's `api_url` is not known when running a plan.

When updating to v1.21.0,

[2021-11-02 17:31] Oats87 opened #788 "Cannot delete v2 provisioning cluster that was successfully provisioned and active at one point, but is no longer available"
If you create a v2 provisioning cluster with Rancher v2.6.2+ using Terraform, i.e.

https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2

If you delete the underlying machines or if the cluster becomes unavailable for any reason i.e. cluster-agent dies or something, you cannot delete it via Terraform because Terraform gets stuck trying to refresh the state for

[2021-11-02 18:13] ops-hummus commented on #576
Same here with the issue. Every run I need to apply changes, very annoying....Any solution so far?

[2021-11-02 20:38] mitchellmaler opened #789 "Rancher User for provider gets a new Kubeconfig token (kube_config) each time ran"
We have noticed that the user used for this provider (providing the bearer token) gets a new Kubeconfig token generated each time we run. If we run plan then it would create two (plan and apply). We grab the kube_config from the rancher2_cluster datasource or created rancher2_cluster output. Is there a reason it generates a new kube_config each time or should it be using the existing one and one s

[2021-11-03 08:48] dcardellino commented on #693
@rawmind0 Any update on this issue?

[2021-11-03 14:54] mmclane opened #790 "The terraform-provider-rancher2_v1.20.0 plugin crashed!"
When I run terraform apply I get the following output
[code]

The following in my terraform config that causes this.  In this config I am trying to connect to my rancher2 server and import this newly created EKS cluster.

[code]

So far I have not done any troubleshooting of my own but the error message said it was a bug and asked that I report it.

[2021-11-03 15:12] riuvshyn commented on #579
having similar issue with RKE on AWS `rancher2_cluster.this.cluster_registration_token` randomly is just empty...
after destroy and re-create cluster it works.

rancher 2.6.2, provider version 1.21.0, terraform 1.0.8

[2021-11-03 16:33] riuvshyn opened #791 "cluster_registration_token is randomly missing node_command which causes nodes fail to join"
rancher version: 2.6.2
provider 1.21.0
terraform 1.0.8

`cluster_registration_token` object randomly missing `node_command` field after initial apply which causes all nodes fail to join.

example of terraform state
[code]

if I re run `terraform apply` it actually updates `cluster_registration_token` attributes with values

example of terraform state after re-apply
[code]

It looks like when provi

[2021-11-04 08:25] ahmedfourti commented on #693
Same here, any update please ?

[2021-11-04 08:38] nickvth opened #792 "Add option enable_cri_dockerd in rke_config"
Please add this in the rancher2_cluster Resource under rke_config: https://rancher.com/docs/rke/latest/en/config-options/#cri-dockerd

So we can use cri_dockerd in the future.

[2021-11-04 17:49] rawmind0 commented on #790
This was addressed on provider version 1.20.1 https://github.com/rancher/terraform-provider-rancher2/issues/753

[2021-11-04 17:49] #790 closed, assigned to nobody

[2021-11-04 18:16] rawmind0 commented on #784
You are right @kgtw . We'll update docs properly.

[2021-11-04 18:57] rawmind0 commented on #787
Just to confirm, was the same confirm working fine on provider prior to v1.21.0??

[2021-11-05 09:41] #777 closed, assigned to nobody

[2021-11-05 14:20] mouellet commented on #787
Nevemind! This was due to misconfiguration from my part...

[2021-11-05 14:20] #787 closed, assigned to nobody

[2021-11-07 14:28] mhulscher opened #793 "rancher2_bootstrap attributes are empty on destroy"
I can apply the following to bootstrap a new rancher2 installation and to configure several rancher2_features. Assume the following:

[code]

[code]

However, when I set `var.enable_rancher = false` and then run `terraform apply`, I get the following error:

[code]

I expect the rancher2 provider to be able to provide `url` and `token` so that rancher2_* resources can be destroyed.

EDIT:
If I don

[2021-11-08 14:23] braunsonm commented on #778
Upstream issue has been fixed, it turns out the naming just isn't clear.

I'll close this however @rawmind0 it seems like all the arguments to `s3_config` in the `rancher2_cluster_v2` are required, even though I don't think they are in the Rancher API (only the name is required)

A release for your cloud credential would be nice!

[2021-11-08 14:23] #778 closed, assigned to rawmind0

[2021-11-08 14:49] rawmind0 commented on #793
The issue seems to be on the built tf module and how it's trying to use this tf provider

[2021-11-08 14:52] rawmind0 commented on #779
Issue #783 is already merged. The fix will be available at next tf provider release.

[2021-11-08 14:52] #779 closed, assigned to rawmind0

[2021-11-08 18:49] rawmind0 commented on #788
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/794 with a patch for it

[2021-11-08 18:50] rawmind0 commented on #791
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/794 with a fix

[2021-11-08 18:50] rawmind0 commented on #792
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/794 adding the new feature

[2021-11-08 18:51] rawmind0 commented on #784
Fixed with PR https://github.com/rancher/terraform-provider-rancher2/pull/794

[2021-11-09 13:18] lachnerd opened #795 "possible to import generic cluster"
Hi,
is it possible to import some prebuild generic k3s cluster with
terraform-provider-rancher2 like i can do with the rancher 2 UI.

I can't find any docs or examples for that.

I can only find examples generating clusters with Hardware on some cloud Providers but no cmplete import.

[2021-11-09 14:45] rawmind0 commented on #795
Have you tried with official docs?? https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster

[2021-11-10 06:55] lachnerd commented on #795
yes

"Creating Rancher v2 imported cluster"
[code]

[2021-11-10 13:07] rawmind0 commented on #795
This is what you need to create a generic imported cluster like done in UI

[code]

Then [cluster_registration_token](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#cluster_registration_token) is computed  and `command` or `insecure_command` is what you need to execute in the k8s cluster to get it imported.

Other option would be if the cluster is already im

[2021-11-10 16:25] frank-at-suse opened #796 "Updating resources in AKS cluster causes cluster to permanently remain in "Updating" state"
**Rancher Terrform Provider Version:** 1.21.0
**Rancher Server Version:** v2.6.2
**AKS k8s Version:** 1.21.2

Applying Terraform plan to create AKS cluster succeeds and it becomes Active/Usable in Rancher.  However, making changes via Terraform (in my case, updating the minimum node count of an autoscaling group) _does_ update the resource but causes the cluster to enter into a permanent "Updating

[2021-11-11 14:08] lachnerd commented on #795
ok thx i will try that, looks like i have missed that "command" attribute

[2021-11-11 18:06] chad-barensfeld-exa opened #797 "rancher2_cluster_sync state_confirm not working as expected in Rancher 2.6.2"
It seems the rancher2_cluster_sync state_confirm parameter stopped working as expected. The rancher2_cluster_sync would usually wait at least 10 minutes before completing to ensure all rancher services were working properly before deploying applications. Now it completes in ~10 seconds no matter what I set for state_confirm. This is causing issues when adding rancher2_catalog_v2, it fails in terra

[2021-11-11 18:32] shanewow opened #798 "Please add support for ecr_credential_plugin in Cluster Template resource."
Please add support for ecr_credential_plugin within the Cluster Template resource so ECR can be configured through Terraform.

Thanks!

[2021-11-11 22:51] snasovich opened #799 "rancher2_cluster_v2 resource updates for RKE2 <-> RKE1 parity enhancements"
This is an umbrella issue to track any changes necessary to rancher2 Terraform provider (https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2) related to RKE2 provisioning enhancements done as part of "RKE2 <-> RKE1 parity" efforts.

- [x] https://github.com/rancher/terraform-provider-rancher2/issues/869
- [x] https://github.com/rancher/terraform-provider-ranch

[2021-11-12 20:46] bennysp commented on #502
I have successfully used the below in the terraform and it works, as long as Rancher is deployed. However, when you install from scratch and if your Rancher install is part of the same TF folder as your k8s manifest, you will get the below error.

**Code:**
[code]

**Error:**
[code]

It appears that this is a bug in the kubernetes_manifest, as you can see in this issue:
https://github.com/hashicor

[2021-11-15 09:20] ahmedfourti commented on #693
Anyone knows if this will be resolved soon please ?

[2021-11-16 17:14] rawmind0 commented on #792
PR https://github.com/rancher/terraform-provider-rancher2/pull/794 is already merged. The feature will be available on next release.

[2021-11-16 17:14] #792 closed, assigned to nobody

[2021-11-16 17:15] rawmind0 commented on #784
PR https://github.com/rancher/terraform-provider-rancher2/pull/794 is already merged. The fix will be available on next release

[2021-11-16 17:15] #784 closed, assigned to nobody

[2021-11-16 17:15] rawmind0 commented on #791
PR https://github.com/rancher/terraform-provider-rancher2/pull/794 is already merged. The fix will be available on next release

[2021-11-16 17:15] #791 closed, assigned to nobody

[2021-11-16 17:16] rawmind0 commented on #788
PR https://github.com/rancher/terraform-provider-rancher2/pull/794 is already merged. The fix will be available on next release

[2021-11-16 17:16] #788 closed, assigned to nobody

[2021-11-16 17:29] rawmind0 commented on #798
This is not supported on https://github.com/rancher/rancher. It should be supported there before can be added here

[2021-11-16 17:49] abelnieva opened #800 "Rancher delete existing node_groups and logging_types config EKS imported cluster"
I have created EKS cluster with terraform , then imported to rancher, but rancher change the config in imported clusters, i dont want to  have rancher killing all cluster nodes

code

resource "rancher2_cluster" "cluster" {
  name                      = lower(var.cluster_name)
  description               = "Terraform EKS cluster"
  enable_cluster_monitoring = var.enable_cluster_monitoring
  eks_co

[2021-11-16 17:52] abelnieva commented on #800
#648  seems to be related

[2021-11-16 18:21] nickvth commented on #792
Great job @rawmind0

[2021-11-16 19:18] shanewow commented on #798
@rawmind0 It is implemented in the Rancher app. We have added a manual step to our deployment process to edit the template after Terraform deployment to utilize the ecr_credential_plugin and it is working for us. Would be nice if we could automate through Terraform. Thanks!

[2021-11-16 20:07] hyphloday commented on #798
I'm confused.  This seems to indicate that it is supported:
https://rancher.com/docs/rke/latest/en/config-options/private-registries/
Just not in the terraform provider as @shanewow is pointing out.

[2021-11-16 20:19] rawmind0 commented on #798
My bad on this. I was thinking on a cloud credential kind instead of private registry config. This may be added for next provider release.

[2021-11-17 08:17] sebastiankomander opened #801 "rancher2_auth_config_azuread - no groups available, group-role-mapping not working"
We use the rancher2_auth_config_azuread resource with Rancher 2.6.
The app-registration has the following permissions

- Directory.AccessAsUser.All (delegated)
- Directory.Read.All (delegated)
- Group.Read.All (delegated)
- User.Read.All (delegated)
- User.ReadBasic.All (delegated)

and some role mappings

[code]

Logging in using AzureAD works, however role assignment does not work and Rancher in

[2021-11-17 10:54] airbjorn opened #802 "rancher2_cluster: inconsistent final plan produced"
It seems, that in some cases rancher2_cluster thinks there is something to do, although it isn't.

- We are using custom cacerts for authorization.
- Even without changes, calling `terraform plan` shows that there is something to do. The plan itself exits with 0.
- When calling `terraform apply` however, we get this error:
[code]
- trace log see [tf-trace.log](https://github.com/rancher/terraform-

[2021-11-17 13:30] riuvshyn opened #1098 "Occasionally managed rke1 cluster re-provisioning fails using terraform provider"
**Rancher Server Setup**
- Rancher version: 2.6.2
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE2
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.21.5
- Cluster Type (Local/Downstream): local
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Host

[2021-11-18 11:04] dpaardenkooper opened #803 "Rancher2 Terraform provider - issues VMs on vsphere by enabled CPI/CSI helm charts"
Usecase:
Recycling of kubernetes nodes (like Master or Worker) with new VM of of the rancher UI.

Issue:
After Draining and deleting one node of the cluster, Rancher UI removes 2 workers or 2 master at the same time.
Recreates the VM's but then the "already exist message appears" as rancher tries to provision more than 1 node at the same time. The Rancher UI comes back after it finally creates the

[2021-11-18 13:51] dpaardenkooper commented on #803
wo1 error: cannot delete Pods with local storage (use --delete-local-data to override): kube-system/metrics-server-7df46f66b6-7dp75

[2021-11-18 14:05] dpaardenkooper commented on #803
Seams also to be happening without the CSi and CPI helm chart

[2021-11-18 18:03] braunsonm opened #804 "Unable to set vSphere keys on machine configs"
When creating RKE2 clusters you need to set the `Key` `disk.enableUUID` to `TRUE`. The `rancher2_machine_config_v2` provides no way to do this.

If you view the create cluster RKE2 in the UI you will see this key being set.

Is this `cfgparam` in the Terraform resource?

[2021-11-19 18:35] braunsonm opened #806 "rancher2_cluster_v2 ACE enabled does not work on RKE2"
Given:

[code]

The endpoint will not be enabled and if you download your kubeconfig there will be no ACE endpoints added.

[2021-11-19 18:35] braunsonm commented on #804
`cfgparam` is correct.

[2021-11-19 18:35] #804 closed, assigned to nobody

[2021-11-19 19:24] braunsonm opened #807 "Include node IP information in rancher2_cluster_v2 attributes"
In order to configure ACE FQDN with a load balancer, you need to know the node IPs of the machines in a Rancher cluster. For instance after making a Rancher Cluster, I want to know the control plane node IPs so I can add them to the load balancer under the ACE FQDN.

Right now this has to be done manually I believe since you need to look up the IP in the UI.

[2021-11-19 20:12] braunsonm opened #808 "rancher2_cluster_v2 does not support checking 'Delete standalone pods'"
In the Rancher UI under `Upgrade Strategy` -> Drain Nodes -> `Delete standalone pods` is an option.

This doesn't seem to be available to set using the Terraform Provider for rancher which means any upgrades with standalone pods will fail until corrected.

[2021-11-19 20:38] braunsonm opened #809 "Cannot configure member roles on rancher2_cluster_v2"
The `rancher2_cluster_v2` resource offers no way to configure Member Roles on created clusters.

[2021-11-24 08:40] wrkode commented on #800
Currently having the same issue.
Importing a cluster with `private_access= true` and `public_access=false` results in an imported EKS cluster with deleted/destroyed NodeGroup.
Tried to import the cluster with `public_access=true` and `private_access=false` and this worked.
**Rancher Version 2.6.2**
**Import Code**

[code]

[2021-11-25 10:31] riuvshyn commented on #1098
UPD: was even able to hit this error on a very first cluster on a fresh rancher installation
which might mean that this is more terraform provider issue...

[2021-11-29 12:32] AndreasDavour opened #811 "rancher2_cluster_template example does not work"
I tried to run the example from https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_template - Creating Rancher v2 RKE cluster template with upgrade strategy. For Rancher v2.4.x or above. (second example) after exchanging the local://user-XXXXX with my local admin user. It did not work and returned a nonsensical message about missing a name field that's already t

[2021-11-29 12:35] AndreasDavour commented on #811
I can see that name there! It's on the second line! If I try to add it again, terraform apply complains it's already there. I knew that.

[2021-11-29 12:52] rawmind0 commented on #811
The error you are attaching doesn't seem related with `rancher2_cluster_template` definition . As the error is saying, the name seems not defined in the `rancher2_cluster.mytest` resource.

[2021-11-29 15:29] mouellet opened #812 "`rancher2_catalog_v2`'s always shows changes made outside of Terraform on `resource_version`"
Looks like the "catalog" is pooling the helm repository regularly and the `resource_version` is constantly incremented.

[code]

This pollutes the plan and can't be ignored.

[2021-11-29 19:52] thedadams commented on #800
@wrkode I would be interested to know what the API Endpoint Access is on the cluster you are importing. You should be able to see that in AWS console by selecting the cluster in EKS and going to the "Network" tab. The information is listed under "API server endpoint access" in the lower right-hand side.

[2021-12-01 09:42] #811 closed, assigned to nobody

[2021-12-02 15:18] Sartigan opened #813 "rancher2_app_v2 values not passed to sub charts (part 2)"
I don't know if it is similar to: https://github.com/rancher/terraform-provider-rancher2/issues/545 Everything but the "global" section is passed to the app_v2 values.

**Provider version:** rancher/rancher2 v1.21.0
**Terraform Version:** 1.0.0

[code]

When I check the values.yaml from the app:

[code]

It is like the `global` section is ignored

[2021-12-07 14:11] andersjohansson2021 opened #814 "Slow ETCD perfomance when terraforming a rke cluster on openstack."
Provider version: rancher/rancher2 v1.21.0
Terraform Version: 1.0.0
I have the below terraform plan to terraform a rke cluster in Rancher ontop of openstack.
Howerver i noticed that i get a pretty large latency on my etcd nodes when terraform instead of using to gui to create the cluster. I get numbers around the 3-400s in ms on the fsync value where i should be is below 10ms at least.
In the clus

[2021-12-07 15:58] rawmind0 commented on #809
Have you tried using [cluster_role_template_binding](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_role_template_binding)??

[2021-12-07 16:14] rawmind0 commented on #808
The mentioned option is available as  https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2#force

[2021-12-07 16:26] rawmind0 commented on #801
Have you tried  adding the prefix `azuread_group://` to `rancher2_global_role_binding.admin-role-mapping.group_principal_id`??

[2021-12-07 16:32] #808 closed, assigned to nobody

[2021-12-07 16:33] #809 closed, assigned to nobody

[2021-12-07 21:47] braunsonm opened #816 "machine_config_v2: 500 error metadata.resourceVersion is required for update"
1. Create a machine_config_v2
2. Try to update it after it's been created
3. Notice 500 error stating `bad response statusCode [500]. Status [500 Internal Server Error]. Body: [code=ServerError, message=metadata.resourceVersion is required for update] from [...rke-machine-config.cattle.io.vmwarevsphereconfigs/fleet-default/nc-...]

[2021-12-07 22:50] a-blender opened #817 "Add Kubernetes version field to RKE template"
Summary:
For issue SURE-3252, there needs to be documentation to add the kubernetes_version field to the terraform definition for the RKE template. Rancher was unable to clone the RKE template from the UI which is created with terraform, and the workaround for this customer was to add the kubernetes_version field to the terraform definition. It just needs to be added to the definition, but may be

[2021-12-07 22:51] braunsonm commented on #816
This also seems to wipe out/destroy some of the configuration after the 500 error occurs.
For instance the `cloneFrom`, `datacenter` `pool`, `folder`, `network` and `datastore` get cleared causing errors on the next run.

[2021-12-08 08:38] ops-hummus commented on #576
Nothing changed? any solution?

[2021-12-08 17:02] #817 closed, assigned to a-blender

[2021-12-09 00:08] rawmind0 commented on #800
@wrkode to import an eks cluster, you shouldn't specify `public_access` nor `private_access` arguments at the resource definition. These values should be managed by eks console. Defining them here may overwrite them at eks, triggering nodeGroups recreation

[2021-12-09 12:45] rawmind0 commented on #816
The issue has been reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/819 to fix it

[2021-12-09 13:10] rawmind0 commented on #813
The global values should be passed in the same way to the app_v2, not able to reproduce the issue.

The `global.cattle.clusterId|clusterName|systemDefaultRegistry` are injected by the provider, you don't need to add them to the app_v2 values. The `clusterId` is got from `rancher2_app_v2. cluster_id ` and then got the `clusterName`. The `systemDefaultRegistry` is got from the Rancher settings, so t

[2021-12-09 13:21] rawmind0 commented on #812
The `resource_version` argument is computed and has to be synced at tfstate. Have you considered to use `-refresh-only` plan as terraform recommends,  https://www.terraform.io/docs/cli/commands/plan.html#planning-modes ??

[2021-12-09 13:34] rawmind0 commented on #803
Have you proper configured cluster [upgrade_strategy](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#upgrade_strategy) ?? Both drain errors attached seems related to a wrong cluster upgrade_strategy

[2021-12-09 14:41] bashofmann opened #820 "Can not create EKS v2 cluster with launch template"
Creating an EKS v2 cluster with a launch template results in the following error:

[code]

Tested with terraform provider 1.21.0 and Rancher 2.6.2 as well as 2.6.3-rc4.

The creation works correctly with terraform provider version 1.17.1.

Resource:

[code]

[2021-12-09 14:48] rawmind0 commented on #693
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/819 to fix this issue.

[2021-12-09 14:49] rawmind0 commented on #806
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/815 to fix this issue

[2021-12-09 14:53] rawmind0 commented on #820
PR https://github.com/rancher/terraform-provider-rancher2/pull/819 should fix this issue.

This issue is duplicated, closing in favour of https://github.com/rancher/terraform-provider-rancher2/issues/693 .

[2021-12-09 14:53] #820 closed, assigned to nobody

[2021-12-10 12:37] rawmind0 commented on #798
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/821 to add the new feature

[2021-12-10 13:01] eumel8 commented on #798
headed here from Google for the error

[code]

in a Rancher 2.6.2 RKE cluster with enabled private registry.

[code]

"Solution" to bring the cluster back from error state was to remove the private_registries entry, update the cluster, and add the entry again. Just to mention if someone runs in the same error.

[2021-12-12 18:47] korenlev opened #822 "kube_config_hash":cty.UnknownVal(cty.String)}) does not correlate with any element in actual"
name: \"sjo01\"\n  user:\n    token:
\"kubeconfig-user-k8rtcxs9k7:d6rkkhl6fzqfdsj85rrvjn95cvpqcf6jltg8pdqd75fj5l5wt65cxh\"\n\n\ncontexts:\n-
name: \"sjo01\"\n  context:\n    user: \"sjo01\"\n    cluster: \"sjo01\"\n-
name: \"sjo01-masters-1\"\n  context:\n    user: \"sjo01\"\n    cluster:
\"sjo01-masters-1\"\n- name: \"sjo01-masters-3\"\n  context:\n    user:
\"sjo01\"\n    cluster: \"sjo01-master

[2021-12-12 18:53] #822 closed, assigned to nobody

[2021-12-12 18:53] korenlev commented on #822
mistake

[2021-12-13 21:57] mikekuzak commented on #576
I have a similar issue, each time I run our CI/CD pipeline changes are reported for the v2 apps

[code]

[2021-12-13 22:20] braunsonm opened #823 "Grab kubeconfig from provisioned cluster"
Hello, this is a question or feature suggestion if not already possible.

With the rancher CLI you can get a Kubeconfig with `rancher clusters kf <name>`, is there a similar way to get a kubeconfig for the currently authenticated user with the terraform provider? Maybe even as a datasource?

The use case being that once a cluster is provisioned with the rancher terraform provider, I would like to

[2021-12-14 01:25] sgapanovich opened #824 "Can't provision a downstream RKE2 node driver cluster with a standard user token"
### Environment: ###
Rancher version: 2.6-head (confirmed it exists in 2.6.2 as well)
Rancher cluster type: HA
Docker version: 20.10

### Steps to reproduce: ###
1. Create a bearer token as a standard user
2. Use that token as `token_key` in the `provider "rancher2"` file
3. Create necessary files from docs https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2#c

[2021-12-14 14:24] rawmind0 commented on #823
Hello @braunsonm , there is already a way to do that. There is a `rancher2_cluster.kube_config` attribute that is saving cluster kubeconfig, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#kube_config

[2021-12-14 14:29] rawmind0 commented on #576
@mikekuzak , in your case, the problem seems to be at how [`rancher2_app_v2.cluster_id`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/app_v2#cluster_id) is defined (known after apply). Changes on this argument force the resource to be replaced,

[code]

[2021-12-14 14:38] rawmind0 commented on #824
Is the same RKE2 cluster deployment with the same standard user working from the Rancher UI?? Have you tested using  the `clusters-create` global role instead??

[2021-12-14 14:44] pwurbs commented on #789
Yes, this very annoying, because many tokens are created which are all valid.

[2021-12-14 19:39] braunsonm commented on #823
Perfect I don't know how I missed that. I think I just ctrl+F'd `kubeconfig`

[2021-12-14 19:39] #823 closed, assigned to nobody

[2021-12-15 18:35] sgapanovich commented on #824
Standard user can create a RKE2 cluster on UI but can't do it using terraform. No machines can't be created using a standard user token (even with `clusters-create` role added). It takes 10 min to provision but never finishes it

![machine](https://user-images.githubusercontent.com/40282141/146244233-62d39256-5a42-4021-905f-6f2f3359ebbb.jpg)

If an admin token is used you can see that it took 1 se

[2021-12-16 11:36] dcardellino commented on #693
We built the provider with the merged fix locally, but had no success building eks clusters with Rancher.
Currently I'm testing it with the provider 1.17.1 which was mentioned in https://github.com/rancher/terraform-provider-rancher2/issues/820.

Currently it look like it is working.

[2021-12-16 12:27] rawmind0 commented on #693
@dcardellino , could you please be more explicit around your test done with the PR #819 applied?? What Rancher version are you using??

[2021-12-17 01:28] brendarearden commented on #693
Available to test in v2.6.3-rc7

[2021-12-17 01:30] thedadams commented on #693
Not ready to test yet.

[2021-12-17 11:34] mouellet commented on #812
Hi @rawmind0,

I do use a `-refresh-only` before a plan, but even then an update can happen in between!

Should this argument be in the data source only? I don't see the use for such an argument in this resource, especially now that terraform shows diff for changes made outside...

[2021-12-17 15:37] nrfrush opened #825 "rancho2 provider flips monitoring enabled -> disabled (or vice versa) every run"
# Description
During a Terraform apply, Rancher will report that nothing has changed within the clusters (minus some nginx settings), but will flip enable_monitoring from true -> false (without Terraform reporting it), leading to monitoring getting disabled.

During a subsequent run, Terraform will recognize monitoring isn't enabled and then go and enable it.

Is there any way to remedy this? Is t

[2021-12-19 19:22] rmammadli opened #826 "[vSphere] Error creating machine - yaml: line 13: did not find expected '-'"
**Rancher Server Setup**
- Rancher version: 2.6.2
- Installation option: Helm Chart
   - Kubernetes Cluster and version:  RKE2
- Proxy/Cert Details: cert-manager v1.6.1

**Information about the Cluster**
- Kubernetes version: 1.20.12
- Cluster Type: Downstream
   - Infrastructure Provider: vSphere
 - VM template(s):
    - ubuntu-18.04-cloudimg-amd64
    - ubuntu-20.04-cloudimg-amd64

**Describe th

[2021-12-20 09:38] rmammadli commented on #826
This can be closed.
Cloud init file for node had some syntax issues.

[2021-12-20 09:38] #826 closed, assigned to nobody

[2021-12-20 16:58] rawmind0 commented on #825
This behaviour sounds weird. Could you please provide your cluster tf definition?? Is the `enable_monitoring` value set from a variable??

[2021-12-20 16:59] rawmind0 commented on #816
PR #819 is already merged. The fix will be included on next tfp release. Please, reopen the issue if required.

[2021-12-20 16:59] #816 closed, assigned to rawmind0

[2021-12-20 17:00] nrfrush commented on #825
@rawmind0 The value is set statically to true

Here's an excerpt on my cluster definition:
[code]

[2021-12-20 17:06] rawmind0 commented on #812
Hi @mouellet , the `resource_version` argument is required at the resource to be able to update it at k8s side when required. It's a computed argument so it's just for internal use.

[2021-12-20 17:09] rawmind0 commented on #825
@nrfrush  thanks for the update. What rancher version are you using?? Starting at Rancher 2.5, the recommended way to enable monitoring on a cluster  is using app v2, https://registry.terraform.io/providers/rancher/rancher2/latest/docs/guides/apps_marketplace#rancher-monitoring  . Have you tested with it??

[2021-12-20 17:15] rawmind0 commented on #806
PR #815 is already merged. The fix will be available at next tfp release. Please, reopen issue if required.

[2021-12-20 17:15] #806 closed, assigned to nobody

[2021-12-20 17:17] rawmind0 commented on #795
Please, reopen issue if required.

[2021-12-20 17:17] #795 closed, assigned to nobody

[2021-12-20 18:05] nrfrush commented on #825
@rawmind0 I'm on Rancher 2.4. I do have a variant of the rancher-monitoring Helm v2 chart on which I bumped versions (but nothing on the Rancher side is changing w.r.t enable_monitoring... and Terraform as explained above doesn't indicate when it's going to flip it off).

[2021-12-21 11:05] rawmind0 commented on #798
PR #821  is already merged. The new feature will be available at next tfp release. Please, reopen the issue if required.

[2021-12-21 11:05] #798 closed, assigned to rawmind0

[2021-12-21 11:06] rawmind0 commented on #824
Thanks for the update @sgapanovich . Working on this

[2021-12-22 10:21] rawmind0 commented on #824
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/827 to fix it.

[2021-12-22 12:50] mouellet commented on #812
Thanks @rawmind0, hopefully we'll have a fix for https://github.com/hashicorp/terraform/issues/28803 soon enough!

[2021-12-22 12:50] #812 closed, assigned to rawmind0

[2021-12-22 21:32] rawmind0 commented on #824
PR #827  is already included at latest tfp release v1.22.0. Please, reopen issue if needed

[2021-12-22 21:35] rawmind0 commented on #693
The fix is already included at tfp last release v1.22.0

[2021-12-23 09:39] dec5e opened #829 "data.rancher2_cluster.kube_config is empty"
After updating to v1.22.0 I started getting the error:

[code]

My code is:
[code]

v1.21.0 works as expected.

Possible breaking change might be in https://github.com/rancher/terraform-provider-rancher2/pull/794 as it changed `getClusterKubeconfig` function.

[2021-12-23 11:56] rawmind0 commented on #829
What Rancher version are you using?? I'm assuming that the mentioned cluster has local cluster auth endpoint enabled, isn't it??  Is the cluster already provisioned?? The cluster  kubeconfig would not be available at Rancher API until the cluster is [`connected`](https://github.com/rancher/terraform-provider-rancher2/pull/794/files#diff-035d1bb527d3ce1fde79a8bf6a191e1c441f7e2074f17caa106ba35a66fef

[2021-12-23 12:28] dec5e commented on #829
Rancher version is v2.5.7.
The cluster was created long time ago. "Authorized Cluster Endpoint" is enabled.

[2021-12-23 14:31] rawmind0 commented on #829
Issue reproduced. The cluster kubeconfig would not be available at Rancher API until the cluster is `connected` just for Rancher 2.6.0 and above

Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/830 to fix it

[2021-12-23 18:06] rawmind0 commented on #829
PR #830  is already merged and included at tfp v1.22.1

Please, reopen the issue if required

[2021-12-23 18:07] #829 closed, assigned to rawmind0

[2021-12-24 10:31] #234 closed, assigned to nobody

[2021-12-27 11:00] bitnik commented on #829
@rawmind0 we just hit the same problem:

[code]

We use rancher version 2.6.3 and rancher2 provider version 1.22.1. The `cluster_auth_endpoint` is enabled and the cluster is created fresh.

[2021-12-27 11:06] bitnik commented on #829
Btw there is sth confuses me; in the [changelog](https://github.com/rancher/terraform-provider-rancher2/blob/master/CHANGELOG.md#1221-december-23-2021) it says "Fix getClusterKubeconfig function to properly generate kubeconfig when rancher2_cluster.LocalClusterAuthEndpoint is enabled for Rancher **lower than v2.6.x**" but in your comment above you say that it is for Rancher 2.6.0 and **above**:

[2021-12-27 11:09] rawmind0 commented on #829
@bitnik , as mentioned here and added a note in the [docs](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster#kube_config), this is expected for Rancher 2.6.0 and above. `The cluster kubeconfig would not be available at Rancher API until the cluster is connected just for Rancher 2.6.0 and above` The Rancher API is not providing the kubeconfig until the cluster i

[2021-12-27 11:14] bitnik commented on #829
Thank you for your quick response! Sorry, I am quite new into this, I think now I understand it. What would be the solution for this, is there a way to wait until cluster is connected? Or do we simply have to plan and apply again?

[2021-12-27 16:38] rawmind0 commented on #829
@bitnik , I'd recommend you to add a `rancher2_cluster_sync` resource besides `rancher2_cluster`. This resource will wait until the cluster is `active` and it also has the [`rancher2_cluster_sync.kube_config`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync#kube_config) argument.

[2021-12-27 18:05] rawmind0 commented on #797
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/832 to fix it.

[2021-12-27 18:06] rawmind0 commented on #825
Issue reproduced. Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/832 to fix it.

[2021-12-27 18:28] rawmind0 commented on #793
That's not possible in the way that your tf module is done. The rancher2 provider is trying to get the url and token data from the  `rancher2_bootstrap` that is removed, so `rancher2_bootstrap.this is empty tuple`.  The rancher2 provider url and token conditionals are wrong

Indeed, doing a terraform destroy maintains the variable values.

The error is in your tf module code. Updating conditional

[2021-12-27 18:28] #793 closed, assigned to nobody

[2021-12-28 19:57] Jessev6 opened #833 "Error in updating helm dependencies on rancher_app_v2"
I'm trying to create a rancher_app_v2 resource from a helm chart that has a dependency on another chart, when trying to apply the plan, there's a runtime error with the following log:
[code]

I'm pretty sure the helm chart repository is set up correctly, so my guess is that the `helm dependency update` command has not been run before the chart is being applied.

Is this the case or am I missing so

[2021-12-29 10:44] bitnik commented on #829
thanks a lot for helping @rawmind0, that solved the problem!

[2021-12-29 20:04] Jessev6 commented on #833
I found the issue with the chart I'm using, it happens to exclude compressed dependencies in the .helmignore, which is the default behavior when installing chart dependencies.

[2021-12-29 20:04] #833 closed, assigned to nobody

[2021-12-30 13:42] ahmedfourti commented on #693
Many thanks, it works !

[2021-12-30 13:50] ahmedfourti opened #834 "EKS Launch Template not deleted"
Hello,

When deploying EKS on rancher using terraform, rancher creates a launch template for each node group with a static name which composed as follow : `rancher-managed-lt-{{node_group_name}}`
When deleting the cluster and its node group, the launch template is not deleted, which means after recreating another node-group with same name we get this error :
`Waiting for API to be available:Invali

[2021-12-30 16:27] dcardellino commented on #693
Confirm this. Works for me too! Thanks for solving this problem

[2021-12-30 17:15] rawmind0 commented on #693
@ahmedfourti and @dcardellino, thanks for the feedback!

Closing the issue. Please, reopen if required.

[2021-12-30 17:15] #693 closed, assigned to nobody

[2021-12-30 17:17] rawmind0 commented on #801
Please, reopen the issue if still needed.

[2021-12-30 17:17] #801 closed, assigned to nobody

[2021-12-30 17:18] rawmind0 commented on #803
Please, reopen the issue if still needed.

[2021-12-30 17:18] #803 closed, assigned to rawmind0

[2021-12-30 17:18] rawmind0 commented on #813
Please, reopen the issue if still needed.

[2021-12-30 17:18] #813 closed, assigned to rawmind0

[2022-01-03 09:04] #814 closed, assigned to nobody

[2022-01-03 09:05] andersjohansson2021 commented on #814
Solved with udevadm and "ACTION=="add|change", KERNEL=="sda", ATTR{queue/write_cache}="write through""

[2022-01-03 10:01] andersjohansson2021 opened #835 "Provider produced inconsistent final plan, produced an invalid new value for │ .rke_config[0].machine_pools[0].cloud_credential_secret_name: was cty.StringVal(""), but now │ cty.StringVal("cattle-global-data:cc-694ng")."
When terraforming a RKE2 cluster i receive the following:
│ Error: Provider produced inconsistent final plan
│
│ When expanding the plan for rancher2_cluster_v2.test-cluster to include new values learned so far during apply, provider
│ "registry.terraform.io/rancher/rancher2" produced an invalid new value for
│ .rke_config[0].machine_pools[1].cloud_credential_secret_name: was cty.StringVal(""), bu

[2022-01-03 15:19] ahmedfourti commented on #693
Solving this might create an new issue I think.

I created a new cluster with 1 node_group and 1 launch template.
Then I added another node_group and launch template and applied.

I got this error.

[code]

After applying again it worked, this is because the launch template was created during this first apply.
My terraform module creates one launch template for each node_group, here is my code :

[2022-01-03 16:06] rawmind0 commented on #693
I see what you mean @ahmedfourti , but at some point it'd be expected. The plan is failing due to the launch template doesn't exist previously and it should. As you mentioned, the apply is working fine due to the launch template is created and the values can be used by the `rancher2_cluster` resource.

To avoid this issue at plan you may try to split your tf definition/state or do a 2 steps plan,

[2022-01-03 16:09] rawmind0 commented on #797
PR #832  is already merged, the fix will be available at next tf provider release.

Please, reopen issue if required.

[2022-01-03 16:09] #797 closed, assigned to rawmind0

[2022-01-03 16:09] rawmind0 commented on #825
PR #832  is already merged, the fix will be available at next tf provider release.

Please, reopen issue if required.

[2022-01-03 16:09] #825 closed, assigned to rawmind0

[2022-01-03 16:11] ahmedfourti commented on #693
It is not the plan that is failing @rawmind0  but the apply.
The plan works fine by the way :
[code]

[2022-01-03 16:26] rawmind0 commented on #693
I meant that it's failing the plan apply not the plan calculation (and explained why). A direct terraform apply (without previous plan) is also failing??

[2022-01-03 16:29] ahmedfourti commented on #693
Direct apply is also failing. My steps:

1. terraform apply (everything looks fine)
2. yes to confirm
3. the launch template is created but when trying to create node_group, it fails with that error
4. terraform apply again works since the lauch_template is created before

[2022-01-03 16:36] rawmind0 commented on #693
The steps are not clear to me, @ahmedfourti . The error you attached is related to a terraform plan `Error: Provider produced inconsistent final plan` . What are you trying to apply, a previous calculated plan or a direct terraform apply??

[2022-01-03 16:39] ahmedfourti commented on #693
Sorry for the misunderstanding, I am directly applying.
Also I just noticed this : when adding new group to an existing cluster, the version of launch_template is set to 0, it should be set to (known after apply) and the id doesn't even appear.

[code]

[2022-01-04 17:06] rawmind0 commented on #802
Related with issue https://github.com/rancher/terraform-provider-rancher2/issues/789

[2022-01-04 17:07] rawmind0 commented on #789
Issue reproduced at Rancher v2.6.x.
Related with issue https://github.com/rancher/terraform-provider-rancher2/issues/802

[2022-01-05 09:04] ahmedfourti opened #836 "for_each in dynamic block"
Hello,

I am facing an issue using for_each loop in a dynamic block.

This is my terraform code :

[code]

And this is my input :

[code]

If I delete the node_group **ops** for example, terraform will delete all node_groups and create again the **data** node_group because the list changed. It is the same behavior if I change the order within the list
It acts like it was a count on the dynamic blo

[2022-01-05 16:53] rawmind0 commented on #789
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/837 to fix the issue

[2022-01-05 16:54] rawmind0 commented on #802
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/837 to fix the issue

[2022-01-05 20:35] sgapanovich commented on #789
### Reproduction ###

Rancher version: 2.6.3
Rancher cluster type: HA
Terraform provider rancher 2 version:  "1.21.0"

----------

New Kubeconfig token is created every time when `terraform apply` or `terraform plan` is run with the following resources
- rancher2_cluster
- rancher2_cluster_v2
- rancher2_cluster_sync
![apply and plan](https://user-images.githubusercontent.com/40282141/148284922-289

[2022-01-05 21:25] nomadgis commented on #787
@mouellet wondering if you could add what you did to correct this...

[2022-01-06 05:59] GeertvanHorrik opened #838 "Feature idea: allow refreshing of repositories"
We store our helm charts for our apps inside a GitHub repository. Whenever we make changes to the template, we go to the repository and refresh it.

Could there be something like this in the terraform provider? e.g. similar to `rancher2_cluster_sync`?

[2022-01-06 19:46] rawmind0 commented on #802
The fix has been included on new release v1.22.2. Please, reopen issue if needed

[2022-01-06 19:46] #802 closed, assigned to rawmind0

[2022-01-06 19:47] rawmind0 commented on #789
@sgapanovich  the fix has been included on new release v1.22.2.

[2022-01-06 22:35] empeekdev opened #839 "Plugin crashed after terraform apply"
Hi, we are trying to configure OKTA authentication and after `terraform apply` we encountered with the following error.

We had the similar problem with terraform-provider-rancher2 v1.21.0

[code]

The code that cause this problem

[code]

Terraform version:
[code]

terraform-provider-rancher2 version: `v1.22.2`

[2022-01-07 15:14] erSitzt opened #840 "Setting labels on a cluster resource removes "provider.cattle.io" or detects it as a change"
Hi,

i tried settings labels on a cluster (imported rke2) for use with fleet and noticed it wanted to remove the label
[code]
Because the label is automatically recreated this is detected as a change every time

[2022-01-07 15:24] erSitzt commented on #840
using
[code]
with Rancher v2.6.3

[2022-01-07 15:26] erSitzt commented on #840
same with `1.22.2`

[2022-01-07 16:12] bashofmann commented on #670
@rawmind0 Unfortunately this is still/again happening, see https://github.com/rancher/quickstart/issues/196. I can also reproduce this every 10th time or so.

[2022-01-07 17:57] sgapanovich opened #841 "Data sources create new kubeconfig token when running `terraform plan` and `terraform apply`"
### Setup: ###
Rancher version: 2.6.3
Rancher cluster type: HA
Terraform provider rancher 2 version: "1.22.2"

### Steps to reproduce: ###
1. Create a cluster using `rancher2_cluster` and/or  `rancherv2_cluster_v2` resources
2. Add data sources `rancher2_cluster` and/or  `rancher2_cluster_v2` with appropriate cluster names

#### Issue: ####
New kubeconfig token is created every time you run `terra

[2022-01-07 18:05] sgapanovich commented on #789
### Test Environment: ###
Rancher version: 2.6.3
Rancher cluster type: HA
Terraform provider rancher 2 version: "1.22.2"

----------

### Testing: ###

`rancher2_cluster` and `rancher2_cluster_sync` and `rancher2_cluster_v2`:
when running `tf plan` first time - no token is created
when running `tf apply` first time - token is created
when cluster is provisioned running `tf plan` or `tf apply` does

[2022-01-07 18:05] #789 closed, assigned to rawmind0, sowmyav27, sgapanovich

[2022-01-07 18:42] kalinon commented on #800
can confirm this issue. it was introduced after v1.13.0

[2022-01-07 18:43] kalinon commented on #800
If there is no `node_group` defined for an imported cluster, it will overwrite existing nodes with default values, which scales the ASGs to 2.

[2022-01-10 08:17] rmammadli opened #844 "[rancher2_global_role] global role not found"
Hi,

It seems that data source 'rancher2_global_role' can not obtain builtin global roles.

Please see the error below:

[code]

Code:
[code]

Terraform: v1.1.2

Provider: rancher2 v1.22.1

Thank you very much in advance!

[2022-01-12 13:20] Edge94 opened #845 "Creating custom RKE cluster failed => Error: Cluster ID c-497hl: Pre-pulling kubernetes images"
Hi,

When creating a custom RKE cluster using Terraform and rancher2 provider the terraform script fails because of network latency.
But, the cluster itself continues deploying.
We are using an Artifactory proxy to download docker images from Docker Hub and a lot of people in the company are using it :-)

It seems to be a bug in the "rancher2_cluster_sync" resource.
I think the "rancher2_cluster_s

[2022-01-14 11:42] andersjohansson2021 opened #848 "Failed to find schema"
Hi guys, im doing a terraform deploy of rke2, want to add the monitoring stack to it. But when i add a rancher2_app_v2 resource and run the script i receive the following "Bad response statusCode [404]. Status [404 Not Found]. Body: [code=NotFound, message=failed to find schema "my-cluster", baseType=error]" Anyone seen this before?

The resource looks as below:
resource "rancher2_app_v2" "monitor

[2022-01-17 10:54] bitnik opened #849 "rancher2_cluster_sync.kube_config is empty"
Versions:

- rancher version: 2.6.3
- rancher2 provider version: 1.22.2

Related code:

[code]

Error:

[code]

We had this problem before as well and it was fixed by using `rancher2_cluster_sync.kube_config` instead of `rancher2_cluster.kube_config`, see https://github.com/rancher/terraform-provider-rancher2/issues/829. It worked with rancher2 provider v1.22.1 but since we upgraded to v1.22.2 it

[2022-01-17 16:39] semaforceOne commented on #751
Same problem. Provider version 1.22.2 and Rancher 2.6.3

[2022-01-18 22:41] lapfrank12 commented on #849
Same error here, even with `rancher2_cluster_sync.kube_config`.

[2022-01-19 08:33] Edge94 commented on #849
Hi,

Same error here.

Few weeks ago I was using the old way with Rancher 2.5, but it wasn't working with Rancher 2.6 :
**rancher2_cluster.mycluster.kube_config**

After creating a Suse Rancher case, they gave me the way to use with Rancher 2.6 (getting it from the rancher2_cluster_sync resource) :
**rancher2_cluster_sync.wait_cluster.kube_config**

I was able to make it working the 5th of January

[2022-01-20 10:53] bugfest commented on #848
Instead of

`cluster_id = rancher2_cluster_v2.test-cluster.id`

Try with:

`cluster_id = rancher2_cluster_v2.test-cluster.cluster_v1_id`

[2022-01-20 12:18] andersjohansson2021 commented on #848
Awesome, that got it installed.
However first time i ran the terraform script with the change i received this message:
Getting catalog V2 ID (rancher-charts): Getting Catalog V2: Timeout getting object V2 ID rancher-charts at cluster ID c-m-xrxcqpc4: Unknown schema type [catalog.cattle.io.clusterrepo]
Re-ran the script and it went through.

[2022-01-20 18:55] stefandanaita commented on #657
Hi @rawmind0! The docker-machine-driver-hetzner library has a new version released (v3.6.0) which makes the ServerLabels public, along other things like placement groups. Any chance you would be able to update the `hetzner_config` object in the `rancher2_node_template` resource to allow setting the server_labels list and, maybe, the placement group id?

Thank you loads! At the moment creating a la

[2022-01-20 19:28] martinhmuenster opened #850 "rancher2_project_logging doesn't show up on UI"
rancher2 terraform provider, v1.21.0
Rancher running on Docker, v2.4.8
Terraform v0.13.7

Using the terraform configuration
[code]
, the apply is successful and Kafka logging is set up on my rancher instance (I can confirm that the brokers are receiving logs). However, on the Rancher project logging page (same project as configured in Terraform), **the UI does not show the updated logging configur

[2022-01-21 09:25] SebastiaanDewilde commented on #688
Hi I'm running into the same issue with provider 1.22.2. With the same setup as mentioned above.

`Error: Bad response statusCode [422]. Status [422 Unprocessable Entity]. Body: [baseType=error, code=MissingRequired, fieldName=namespaceDefaultResourceQuota, message=does not have all fields defined on a resourceQuota]`

[2022-01-25 12:47] bugfest commented on #848
You might need to wait until the cluster is ready/active. You could use rancher2_cluster_sync: https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_sync

[2022-01-25 12:50] andersjohansson2021 commented on #848
Thanks a bundle, we can actually close this. I've added the cluster_sync as you suggested. All work like a charm.

[2022-01-25 12:50] #848 closed, assigned to nobody

[2022-01-25 17:59] burgerjeffrey opened #852 "How do I remove RKE template_revisions?"
I would like to do maintenance and remove old RKE templates from my terraform code that were all created with the rancher2 terraform provider.  Has anyone done this before successfully?  I currently have 10 RKE templates with some of them being very old that I want to purge from my code and from the terraform state. Does anyone have any guidance or suggestions on doing this?

[2022-01-26 11:25] mikekuzak commented on #576
Hi, @rawmind0

Thanks for that. Is there a better way of doing this ? I'm using data "rancher2_cluster" to get the cluster id.
[code]

[2022-01-26 13:50] ravarga opened #853 "rke2_config and Harvester support missing in rancher2_cluster_v2 resource"
We want to use Terraform to deploy Guest clusters on Rancher/Harvester.

When I read the rancher2 terraform provider I found out that for Rancher v2.6.x I need the rancher2_cluster_v2 resource for this. However it lacks rke2_config and Harvester support.

When it will be available?

SURE-4001

[2022-01-26 19:12] rawmind0 commented on #844
Hi @rmammadli , i think there is a typo in your code. There isn't any builtin global role called `User-Base`, have you tried using `User Base` instead?? This should work fine.

[2022-01-26 21:30] rmammadli commented on #844
Hi @rawmind0,

thanks a lot, it works like a charm:)

[2022-01-26 21:30] #844 closed, assigned to nobody

[2022-01-27 10:16] riuvshyn opened #854 "rancher2_setting kubeconfig-token-ttl-minutes fails to apply"
provider version `1.22.1`

[code]

fails to apply with following error:
[code]

[2022-01-27 10:36] riuvshyn commented on #854
ok issue is gone in 1.22.2

[2022-01-27 10:36] #854 closed, assigned to nobody

[2022-01-27 10:59] adam-sdk opened #855 "Terraform/rancher2auth_config_github: Unauthorized 401: must authenticate"
I'm trying to configure Github authentication for rancher2 following this link : https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/auth_config_github

but when using this resource, I get 401 Unauthorized response.

here is my code :
[code]
the error is :
[code]
the error doesn't occur when i'm not using this resource. Can I have some help ? Thanks

[2022-01-27 15:33] braunsonm opened #856 "S3 Cloud Credentials does not store the cert on provisioned hosts correctly"
The S3 cloud credentials does not store the CA correctly on the VMs and as suck restores will never work.

Steps:
1. Create an s3_cloud_credential using https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cloud_credential
[code]
2. Provision an RKE2 cluster and backups using the cloud credentials
3. Backups will work fine, then trigger a restore in the UI
4. The restore

[2022-01-29 19:24] Edge94 commented on #849
Hi,

Any suggestion ?

Thanks

[2022-01-29 19:25] Edge94 commented on #845
Hi,

Any suggestion ?

Thanks

[2022-01-31 10:35] iTaybb commented on #670
The issue is happening again in rancher 2.6.3 and terraform provider v1.22.2.

[2022-01-31 14:12] rawmind0 commented on #855
This tf provider has 2 modes of working, `admin` and `bootstrap` modes. To manage any rancher2 resource (besides rancher2_bootstrap), the admin mode should be defined, please, take a look to the [doc page](https://registry.terraform.io/providers/rancher/rancher2/latest/docs) and the example section to know how to use it.

[2022-01-31 14:29] rawmind0 commented on #845
Hi @Edge94 , what it seems is that the rke deployment is failing when tries to pre pull the kubernetes images. The `rancher2_cluster_sync` should wait until the cluster is active or it's returning an error. Is this config working fine when executed from UI??

[2022-01-31 14:42] Edge94 commented on #845
Hi @rawmind0, in fact, the rke deployment is not failing. Only the rancher2_cluster_sync terraform resource, while waiting for the cluster to be active. If I run again the terraform script, it succeeds.

From UI, the cluster is deploying fine.

[2022-01-31 15:40] rawmind0 commented on #845
Yeah, the deployment is not failing at the end due to rancher is retrying. My question about the UI is more related with the cluster status until it's active. Is the cluster at some point in `Error` state at UI before got active by the rancher retry??

[2022-01-31 16:29] Edge94 commented on #845
I think so !

[2022-01-31 18:44] rawmind0 commented on #657
PR https://github.com/rancher/terraform-provider-rancher2/pull/851 is already merged. The fix will be available at next tfp release. Please reopen issue if required.

[2022-01-31 18:44] #657 closed, assigned to nobody

[2022-01-31 19:37] rawmind0 commented on #849
I was not able to consistently reproduce the issue, but it's seems there is a possible race condition, where the cluster may get `Active` condition before `Connected` condition. It should just eventually affects clusters on Rancher 2.6 with local cluster auth endpoint enabled. Working on a fix.

[2022-01-31 19:57] rawmind0 commented on #852
~~By design on Rancher, RKE template_revisions are append only. You can't remove template_revisions from ui neither.~~

[2022-01-31 23:48] burgerjeffrey commented on #852
I believe you are incorrect, you can delete RKE template revisions from the Rancher WebUI.

![image](https://user-images.githubusercontent.com/30636081/151892020-07e1782d-6d9f-4f6b-b640-17ecfa581ee8.png)

I found three methods currently to do housecleaning on these RKE template revisions:

Before any method is tried:
    1. Update IaC to remove the obsolete RKE cluster template revision(s)
    2.

[2022-02-01 07:51] andrehofman commented on #853
I want this too

[2022-02-01 08:26] alexdepalex commented on #853
Oh man, so looking forward to this feature.

[2022-02-01 13:16] PetitXander opened #857 "Vmware clone from template visual bug"
I made a terraform script to create a node template with the following code:

[code]

with the following vars file:

[code]
As you can see i want to clone from the template "ubuntu-focal-20.04-cloudimg". When I use this template it clones from the correct template. However if i look at the node template in rancher it shows whatever the first template is in the list:
![image](https://user-images.gi

[2022-02-01 15:48] ruzickap opened #858 "terraform destroy doesn't work properly for Amazon EKS cluster"
Hello.

I'm have a simple terraform code which should create + delete Amazon EKS:

[code]

When I run `terraform apply` the EKS cluster is properly created + registered to Rancher.
`terrafrom destroy` doesn't give me any error, but I can see the cluster in AWS console:

[code]

The only part of the cluster which was really deleted was "EKS" Node Group.

It looks like terraform "destroy" doesn't se

[2022-02-01 17:01] rawmind0 commented on #849
Submitted PR https://github.com/rancher/terraform-provider-rancher2/pull/859 to fix the issue.

[2022-02-01 17:08] rawmind0 commented on #852
@burgerjeffrey , you are right. My bad here, forget my previous message.

Have you tried to remove the rke template revisions from your ft file and apply??  This should work fine, beside that may be you have a weird diff showing as `template_revisions` argument is it's a tf list and the provider will try to reorder it.

[2022-02-01 17:20] kapej42 commented on #853
Yes please

[2022-02-01 17:30] rawmind0 commented on #853
Harvester is not yet supported by the provider for `rancher2_machine_config_v2`, but rke2 is already supported for [`rancher2_cluster_v2`](https://registry.terraform.io/providers/rancher/rancher2/latest/docs/resources/cluster_v2#creating-rancher-v2-amazonec2-cluster-v2)

[2022-02-01 17:34] rawmind0 commented on #858
Hi @ruzickap , the tf provider is just calling the Rancher API to create or remove the cluster. If the terraform destroy is not getting any error, may be the issue is at Rancher level. On our tests, the clusters where removed properly. Have you check your Rancher logs??

[2022-02-01 17:58] rawmind0 commented on #845
If the cluster is getting `error` state and just got `active` by the rancher retry, not so much can be done from here. The `rancher2_cluster_sync` is waiting for cluster active but failing if error is returned.

[2022-02-01 18:08] burgerjeffrey commented on #852
I currently have template revisions V5, V6, V7, V8, V9, V10 & V11.  I removed template revision V5 from the terraform code, when I go to run a terraform apply it wants to do the following:

- delete V5
- modify V6 with properties from V10
- modify V10 with properties from V11
- delete V11

when i typed yes on the terragrunt apply it deleted V6.

if i run another terraform apply, I get the followin

[2022-02-02 07:45] rawmind0 commented on #852
I'm not able to reproduce your issue. Starting with template revisions V5, V6, V7, V8, V9, V10 & V11(default). I removed template revision V5 from the terraform code. On tf apply, the provider try to reorder the list (seeing at diff messages) but properly removing the V5 template revision. Next, i added V12 properly and removes V7 and V8 also properly.

This error is produced by the (resource_ranc

[2022-02-02 09:11] ruzickap commented on #858
I'm not sure if the problem s somewhere in "terraform Rancher provider" or Rancher. Anyway I created https://github.com/rancher/rancher/issues/36353 to have it tracked in Rancher.

I have few more notes:
* I create the Amazon EKS cluster using the TF code above and everything is working fine
* If I then run `terrafrom destroy` I got the errors mentioned in: https://github.com/rancher/rancher/issue

[2022-02-02 20:07] burgerjeffrey commented on #852
Does the order of the template revisions matter if they were created and placed in terraform state with older versions of the rancher2 terraform provider?  Curious if anything changed that make the list more manageable.

[2022-02-03 08:30] Edge94 commented on #845
Could we add a retry in rancher2_cluster_sync after getting an error state from the cluster ?

[2022-02-03 10:35] rawmind0 commented on #845
I don't think this gonna solve your issue, how many retries?? Would be enough with just one??

I think would be easier that you try to improve network latency or you can pre pull docker images in your hosts before running rke command. You may use  [rancher-images.txt](https://github.com/rancher/rancher/releases/download/v2.5.10/rancher-images.txt) to pre pull required images on your hosts, if the

[2022-02-03 13:56] rawmind0 commented on #849
PR https://github.com/rancher/terraform-provider-rancher2/pull/859 has been merged. Fix will be available at next release. Please, reopen the issue if required

[2022-02-03 13:56] #849 closed, assigned to rawmind0

[2022-02-03 15:48] adam-sdk commented on #855
thank you for your answer , found the solution on this topic https://github.com/hashicorp/terraform/issues/27934 .
As said by @[kriswuollett] on the topic , I had to split my 2 stacks :
 one stack for bootstrap  the infra and another stack for using the config.

[2022-02-03 15:48] #855 closed, assigned to nobody

[2022-02-03 15:55] rawmind0 commented on #852
The template revisions are saved in a tf list so the order matters, but the provider is ordering it when it's modified to minimize it.

[2022-02-04 06:13] frouzbeh commented on #442
@ppiccolo Hi, I’m doing the same way for rke2 custom cluster. But I’m having trouble to find a way making sure the nodes are active. Something similar to cluster_sync but for nodes. Do you happen to have any suggestions? Thanks

[2022-02-07 08:06] Edge94 commented on #845
Hi @rawmind0, I'm not able to improve the network latency because it's managed by network admins. And I think the main network latency is about a docker hub proxy that is overloaded.

Pre-pulling images is painful because we need to update the images list each time we have a new version.

I suggest adding a new parameter to set the retries number. By default, no retry (current behavior).

[2022-02-11 06:55] guangbochen opened #862 "[FEATURE] The Terraform provider for Harvester should provide a bootstrap feature (similar to rancher2) to setup a password and automatically download the configuration"
**Is your feature request related to a problem? Please describe.**
The Terraform provider for Harvester does not implement a bootstrapping method that can be used after an automatic installation of Harvester. This means, a manual process should happen where a user connects to the UI or a node and gets the KUBECONFIG. This is unfortunate, as the whole process should be more automated.
Suppose someo

[2022-02-11 14:38] digi691 opened #863 "rancher2_certificate should support ECDSA Certificates"
Looking at the source it seems structure_certificate.go only supports rsa.

https://github.com/rancher/terraform-provider-rancher2/blob/8a9c0e4022f659b823fb076a1cf0ae2325208fa3/rancher2/structure_certificate.go#L4

[2022-02-11 15:05] digi691 commented on #863
The Error when trying to use an ECDSA private key

[code]

[2022-02-11 19:38] mikekuzak commented on #576
@rawmind0
Hi Raul,

Do you think this will do the trick ?

[code]

[2022-02-11 22:19] a-blender commented on #800
I believe the fix to https://github.com/rancher/rancher/issues/36128 fixes this issue. If no `node_group` is defined in terraform for an imported cluster, Rancher no longer removes existing node groups.

This has been solved in all KEv2 operators.

[2022-02-11 22:19] #800 closed, assigned to a-blender

[2022-02-16 06:37] frouzbeh commented on #835
Any update on this? I'm seeing the same issue.
[code]

[2022-02-16 07:58] andersjohansson2021 commented on #835
@frouzbeh I had too use an older version as stated above. That solved the issue for me. But having said that this bug need to be adressed for the provider.

[2022-02-16 18:32] frouzbeh commented on #835
@andersjohansson2021 Thank you, yes I tested with older version and it works, but as I remember older version had another issue with kube-config generation function which is fixed in 1.22.2. I hope they fix it soon.

[2022-02-16 22:10] frouzbeh commented on #835
@rawmind0 Would you please take a look at this issue. We really would like to make this work.

[2022-02-17 14:57] leonsteinhaeuser opened #865 "[ feature request ] hetzner cloud firewalls"
Hi there,

when I tried to set up a node template and furthermore tried to configure a firewall rule for a specific node template, I found out that this is currently not possible.

As a workaround, I attached a label to the node and used a label selector on the firewall side instead.

Since this is not the way I want to configure firewall rules for nodes, I would appreciate the ability to set the

[2022-02-18 13:58] riuvshyn commented on #1098
this is still actual issue, please consider reopening it

[2022-02-18 14:00] riuvshyn opened #867 "Occasionally managed rke1 cluster re-provisioning fails using terraform provider"
**Rancher Server Setup**
- Rancher version: 2.6.2
- Installation option (Docker install/Helm Chart):
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE2
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: 1.21.5
- Cluster Type (Local/Downstream): local
   - If downstream, what type of cluster? (Custom/Imported or specify provider for Host

[2022-02-18 15:07] herrbpl commented on #834
Yes, have same issue

[2022-02-22 13:00] empeekdev opened #868 "rancher2_cluster_logging resource doesn’t configure log streaming"
**Rancher Server Setup**

-   Rancher version: 2.6.3
-   Installation option: Helm Chart
-   If Helm Chart, Kubernetes Cluster and version: RKE1
-   Proxy/Cert Details:

**Cluster info:**

- Kube version: v1.20.12
- Cluster type: custom downstream cluster based on EC2 instances.

Hi, we used `rancher2_cluster_logging` terraform resource to configure log streaming to AWS Opensearch  from one of the

[2022-02-23 22:18] jakefhyde opened #869 "[FEATURE] rke2/k3s Rotate Certificates"
Implement certificate rotation according to https://github.com/rancher/rancher/issues/35343

[2022-02-23 22:20] jakefhyde opened #870 "[FEATURE] rke2/k3s Rotate Encryption Keys"
Implement encryption key rotation according to https://github.com/rancher/rancher/issues/35436

[2022-02-24 14:56] herrbpl opened #871 "Rancher_app and rancher_app_v2 configuration drift for structurally equal values.yaml string"
Rancher app resource uses values or values_yaml input as a string, causing configuration drift on structrually and datawise equal input.

in addition, rancher_app_v2 seems to format input internally and use formatted value to compare with user provided value.

Using yalmencode function output
as resource input always causes drift for me.

Initially thought to solve it to try format input as needed

[2022-02-24 16:59] jakefhyde opened #872 "[FEATURE] rke2/k3s Etcd Snapshot Restore"
Implement etcd snapshot restore according to https://github.com/rancher/rancher/issues/34417

[2022-02-24 17:02] jakefhyde opened #873 "[FEATURE] rke2/k3s Drain Before Delete"
Implement rke2/k3s "Drain Before Delete" according to https://github.com/rancher/rancher/issues/35274

[2022-02-24 22:41] jakefhyde opened #874 "[FEATURE] rke2/k3s self healing node pools"
Implement rke2/k3s self healing node pools according to https://github.com/rancher/rancher/issues/35275

[2022-02-25 11:48] 02bensch opened #875 "Error when creating rancher2_machine_config_v2 using Azure"
Problem:
When using `rancher2_cluster_v2` with `rke_config` that references a `rancher2_machine_config_v2` using `azure_config` an error occurs, also when using an empty machine config.

Error:
`Error: Invalid address to set: []string{"azure_config", "0", "private_address_only"}`

Adding the parameter `private_address_only` also gives an error, because the parameter is not expected in the `rancher

[2022-02-25 16:00] stefandanaita opened #877 "Is the project still maintained?"
Hello Rancher team! Some of us recently learned that @rawmind0 (who's been doing most of the maintenance) is not part of the organisation anymore.

Some of us have been waiting more than a month for a new release that include some of the feature/fixes that have been merged in the meanwhile. The last one was on the 6th of January 😢

Now that rawmind0 is not maintaining the project anymore, is there